<div id="listTable">
    <% collection.forEach(function(item, index){ %>

    <div class="compactView" data-id="<%=item._id%>">
        <div class="checkboxRow">
            <label class="_customCHeckbox">
                <input type="checkbox" value="<%=item._id%>"
                <% if (item.notRemovable) { %>
                class="checkbox notRemovable" disabled='disabled'
                <% } else {%>
                class="checkbox"
                <% } %>
                />
                <span></span>
            </label>
        </div>
        <div class="compactRowWrap">
            <div class="compactRow">
                <div class="supplier firstName"><%=item.name%></div>
            </div>
            <div class="compactRow">
                <div class="supplier"><%=item.description%></div>
            </div>
            <div class="compactRow">
                <div class="date"><%= item.createdBy.date %></div>
            </div>
        </div>
    </div>
    <% }) %>
</div>