<% products.forEach(function(product){ %>
<tr class="productItem" data-id="<%=product.product ? product.product._id : 'err'%>">
    <td data-name="productName"><a class="productsDd" href="javascript:;"><%=product.product ? product.product.name : '- - -' %></a></td>
    <% if (forSales) {%>
    <td data-name="jobs" data-content="<%=product.jobs._id%>">
        <a id="jobs" href="javascript:;"><%=product.jobs.name%></a>
    </td>
    <% } else {%>
    <td data-name="productDescr" class="<%=editable  ? 'editable' : ''%>"><span><%=product.description%></span></td>
    <% } %>
    <td data-name="quantity" class=""><span><%=product.quantity%></span></td>
    <% var editable = model.workflow && model.workflow.name !== 'Invoiced' && model.workflow.name !== 'Paid'%>
    <td data-name="price" class="<%= editable ? 'editable' : ''%> forNum">
        <% if(editable) { %>
        <input id="editInput" maxlength="9" size=7 type="text" value="<%=product.unitPrice%>" />
        <% } else { %>
        <span><%=product.unitPrice%></span>
        <% } %>
    </td>
    <td class="taxes"><span><%=product.taxes%></span></td>
    <td class="amount"><span><%=currencySplitter(product.subTotal.toFixed(2))%></span></td>
</tr>
<% }); %>