<div class="form-holder">
    <form method="post" action="" id="createCategoryForm" class="form">
        <fieldset>
            <div class="inner">
                <div class="half-block left">
                    <dl class="department-info">
                        <dt><label>Department Name</label></dt>
                        <dd><input type="text" class="title-input blueback" name="categoryName" id="categoryName"
                                   maxlength="32" placeholder="Category Name" required/><input type="text" hidden
                                                                                               required/></dd>
                    </dl>
                </div>
                <div class="half-block left">
                    <dl class="department-info">
                        <dt><label for="parentCategory">Parent Category</label></dt>
                        <dd>
                            <a id="parentCategory" class="current-selected" href="javascript:;"></a>
                        </dd>
                    </dl>
                </div>
                <div class="clearfix">
                </div>
            </div>
        </fieldset>
    </form>
</div>
