<% invoiceCollection.forEach(function(Invoice, index){ %>
<tr data-id="<%=Invoice._id%>">
    <td class = "notForm"><input type="checkbox" value="<%=Invoice._id%>" class="checkbox" /></td>
    <td><%=startNumber + index + 1%></td>
    <td><%=(Invoice.supplierId.name)? Invoice.supplierId.name.first+' '+Invoice.supplierId.name.last:' - - - '%></td>
    <td><%=Invoice.invoiceDate%></td>
    <td><%=Invoice.supplierInvoiceNumber%></td>
    <td><%=(Invoice.salesPerson.name && Invoice.salesPerson.name != null)? Invoice.salesPerson.name.first+' '+Invoice.salesPerson.name.last:' - - - '%></td>
    <td><%=Invoice.dueDate%></td>
    <td><%=Invoice.paymentInfo.balance%></td>
    <td><%=Invoice.paymentInfo.untaxed%></td>
    <td><%=Invoice.paymentInfo.total%></td>
    <td></td>

</tr>
<% }) %>
