<% invoiceCollection.forEach(function(Invoice, index){ %>
<tr data-id="<%=Invoice._id%>">
    <td class = "notForm"><input type="checkbox" value="<%=Invoice._id%>" class="checkbox" /></td>
    <td><%=startNumber + index + 1%></td>
    <td><%=(Invoice.supplierId.name)? Invoice.supplierId.name.first+' '+Invoice.supplierId.name.last:' - - - '%></td>
    <td><%=Invoice.invoiceDate%></td>
    <td><%=Invoice.supplierInvoiceNumber%></td>
    <td><%=(Invoice.salesPerson.name && Invoice.salesPerson.name != null)? Invoice.salesPerson.name.first+' '+Invoice.salesPerson.name.last:' - - - '%></td>
    <td><%=Invoice.dueDate%></td>
    <td><%=Invoice.paymentInfo.balance%></td>
    <td class="unTaxed"><%=(Invoice.paymentInfo) ? Invoice.paymentInfo.untaxed.toFixed(2) : '0.00'%></td>
    <td class="total"><%=(Invoice.paymentInfo) ? Invoice.paymentInfo.total.toFixed(2) : '0.00'%></td>
    <td></td>

</tr>
<% }) %>
