<div class="form-holder">
    <form method="post" action="" class="form _manualEntry">
        <fieldset>
            <div class="inner">
                <div class="topInputHolder">
                    <h2>Manual Entry <a href="javascript:;" class="btn blue slim plus right" title="Create Journal" id="createBtn" style="display: block;">New Journal</a></h2>

                </div>
            </div>
            <div class="half-block left">
                <dl>
                    <dt class="group">
                        <label>Date</label>
                    </dt>
                    <dd>
                        <input id="date" readonly/>
                    </dd>
                    <dt class="group">
                        <label>Source Document</label>
                    </dt>
                    <dd>
                        <a class="current-selected" id="sourceDocumentDd">Select</a><a id="employeesDd" class="current-selected">Select</a>
                    </dd>

                </dl>

            </div>
            <div class="half-block right">
                <dl>
                    <dt class="group">
                        <label>Journal</label>
                    </dt>
                    <dd>
                        <a class="current-selected" id="journalsDd">Select</a>
                    </dd>
                    <dt class="group">
                        <label>Currency</label>
                    </dt>
                    <dd>
                        <a class="current-selected" id="currencyDd">Select</a>
                    </dd>
                </dl>

            </div>
            <div class="clearfix">
                <table class="list">
                    <thead>
                    <tr>
                        <th>Debit Account</th>
                        <th>Credit Account</th>
                        <th>Debit</th>
                        <th>Credit</th>
                    </tr>
                    <tbody class="enableTableOdd">
                    <tr id="dataTr">
                        <td id="debitAccountDd">
                            <!--<a id="debitAccountDd" class="errorContent current-selected">Select</a>--></td>
                        <td id="creditAccountDd">
                            <!--<a id="creditAccountDd" class="errorContent current-selected">Select</a>--></td>
                        <td class="editable money" data-type="input" id="debit">0</td>
                        <td class="editable money" data-type="input" id="credit">0</td>
                    </tr>
                    </tbody>
                    </thead>
                </table>
            </div>
        </fieldset>
    </form>
</div>