<% quotations.forEach(function(quotation, index){ %>
<tr data-id="<%=quotation._id%>">
    <td class = "notForm"><input type="checkbox" value="<%=quotation._id%>" class="checkbox" /></td>
    <td><%=startNumber + index + 1%></td>
    <td><%=quotation.name%></td>
    <td><%=quotation.orderDate%></td>
    <td><%=(quotation.supplier) ? quotation.supplier.fullName : ''%></td>
    <td><%=quotation.expectedDate%></td>
    F<td class="unTaxed"><%=(quotation.paymentInfo) ? quotation.paymentInfo.unTaxed.toFixed(2) : '0'%></td>
    <td class="total"><%=(quotation.paymentInfo) ? quotation.paymentInfo.total.toFixed(2) : '0'%></td>
    <td><%=quotation.workflow ? quotation.workflow.name: ''%></td>
</tr>
<% }) %>
