<% invoiceCollection.forEach(function(invoice, index){ %>
<tr data-id="<%=invoice._id%>"
<%if (invoice.workflow && invoice.workflow.status === 'Cancelled') { %>
class="canceledListItem"
<%}%>>
<td class = "notForm"><input type="checkbox" value="<%=invoice._id%>" class="checkbox" /></td>
<td><%=startNumber + index + 1%></td>
<td><%=(invoice.supplier && invoice.supplier.name)? invoice.supplier.name.first+' '+invoice.supplier.name.last:' - - - '%></td>
<td><%=invoice.invoiceDate%></td>
<td><%=invoice.paymentDate%></td>
<td><%=(invoice.salesPerson)? invoice.salesPerson.name.first+' '+invoice.salesPerson.name.last:''%></td>
<td><%=invoice.dueDate%></td>
<td class="currency"><%=invoice.paymentInfo.balance%></td>
<td class="unTaxed currency"><%=(invoice.paymentInfo) ? invoice.paymentInfo.unTaxed : '0.00'%></td>
<td class="total currency"><%=(invoice.paymentInfo) ? invoice.paymentInfo.total : '0.00'%></td>
<td id='<%=invoice._id%>'>
    <%if(invoice.workflow){%>
    <%if(invoice.workflow.status !== 'Done'){%>
    <a href="javascript:;" class="stageSelect <%=invoice.workflow.status.toLowerCase().replace(' ', '')%>"><%=invoice.workflow.name%></a>
    <% } else {%>
    <span class="done"><%=invoice.workflow.name%></span>
    <%}%>
    <% } else {%>
    <span> </span>
    <%}%>
</td>
</tr>
<% }) %>
