.alert {
    padding: 15px 15px 15px 35px;
    position: relative;
    &:before {
        position: absolute;
        top: 15px;
        left: 15px;
        font-family: 'FontAwesome';
    }
}
.alert-danger {
    &:before {
        content: '\f071';
    }
}
.alert-success {
    &:before {
        content: '\f05d';
    }
}
