<div>
    <table class="list payRoll-list">

        <thead>

            <tr>
                <th><span>#</span></th>
                <th><input type="checkbox" id="check_all"/></th>
                <th class="oe_sortable_sub" data-sort="employee.name">Complete Name<span
                        class="arrow down">7</span><span
                        class="arrow up">v</span></th>
                <th>Month</th>
                <th class="oe_sortable_sub" data-sort="baseSalary">Base Sallary<span class="arrow down">7</span><span
                        class="arrow up">v</span></th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>Cash</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>Card</th>
                <th>Total difference</th>
            </tr>
        <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th class="oe_sortable_sub" data-sort="calc.onCash">Calc<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable_sub" data-sort="paid.onCash">Paid<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable_sub" data-sort="diff.onCash">Diff<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable_sub" data-sort="calc.onCard">Calc<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable_sub" data-sort="paid.onCard">Paid<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable_sub" data-sort="diff.onCard">Diff<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th>&nbsp;</th>
        </tr>
        </thead>

        <tbody id="payRoll-listTable">
        <!--<tr>
            <td id="payRoll-Table" colspan="12">
                <div class="scrollit">
                    <table class="list" id="payRoll-listTable">
                        <colgroup class="borders">
                            <col width="2%">
                            <col width="2%">
                            <col width="20%">
                            <col width="5%">
                            <col width="5%">
                            <col width="5%">
                            <col width="5%">
                            <col width="5%">
                            <col width="5%">
                            <col width="5%">
                            <col width="5%">
                            <col width="7.4%">
                        </colgroup>
                    </table>
                </div>
            </td>
        </tr>-->
        </tbody>
        <tfoot id="payRoll-listTotal"></tfoot>
    </table>
</div>
