<div>
    <table class="list payRoll-list">
        <colgroup class="borders">
            <col width="2%">
            <col width="2%">
            <col width="10%">
            <col width="5%">
            <col width="5%">
            <col width="5%">
            <col width="5%">
            <col width="5%">
            <col width="5%">
            <col width="5%">
            <col width="5%">
            <col width="5%">
        </colgroup>

        <thead>
        <tr>
            <th rowspan="2"><span>#</span></th>
            <th rowspan="2"><input type="checkbox" id="check_all<%=_id%>"/></th>
            <th rowspan="2" class="oe_sortable_sub" data-sort="employee.name">Complete Name<span
                    class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th rowspan="2">Month</th>
            <th rowspan="2" class="oe_sortable_sub" data-sort="baseSalary">Base Sallary<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th colspan="3">Cash</th>
            <th colspan="3">Card</th>
            <th rowspan="2">Total difference</th>
        </tr>
        <tr>
            <th class="oe_sortable_sub" data-sort="calc.onCash">Calc<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable_sub" data-sort="paid.onCash">Paid<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable_sub" data-sort="diff.onCash">Diff<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable_sub" data-sort="calc.onCard">Calc<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable_sub" data-sort="paid.onCard">Paid<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable_sub" data-sort="diff.onCard">Diff<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
        </tr>
        </thead>
        <tbody id="payRoll-listTable"></tbody>
        <tfoot id="payRoll-listTotal"></tfoot>
    </table>
</div>
