<div id="timeLineBody" class="noteMainContainer timeNote">
    <%_.each(response, function(val,key){ %>
    <% var login = val.editedBy ? (App.currentUser._id === val.editedBy._id) ? 'You': val.editedBy.login : '' %>

    <div id="<%=val._id%>" class="_activitiesListItem">

        <div class="_activityListInfo">
            <span><b class="textBlue"><%= val.changedField%></b></span>
            <%if (val.prevValue){%>
            <span class="changedFieldName"> changed  <span>from <b class="textBlue"><%= val.prevValue %></b></span><span> to </span></span>
            <%} else {%>
            <span class="changedFieldName">added </span>
            <%}%>
            <span><b class="textBlue"><%= val.newValue %></b></span>
            <span class="textGrey">by <%= login %></span>
            <span class="dateNote"><%=val.date%></span>
        </div>

        <div class="_activityListTitle">
            <p class="_activityDescription"><%= val.name%></p>
        </div>
    </div>
    <%}) %>
</div>
