<%type = type && type==='next7days'? 'Next 7 days': type%>
<div id="<%=type%>" class="_dateListElement showmoreDiv">
    <span class="dateListElementTitle"><%=type %><span class="countCircle <%= type ==='overdue' ? 'red' : '' %>"><%=' ' +data.length%></span></span>
    <% data.forEach(function(task, index){ %>
        <% if(task.workflow.status !== 'done') { %>

        <div data-index="<%=index%>" data-id="<%= task._id%>" class="stage-<%=(task.workflow) ? task.workflow.status.toLowerCase() : ''%> dateListItem">
            <div class="dateListCheckboxWrap">
                <input type="checkbox" class="custom-checkbox" id="check<%= task._id%>" data-sequence="<%= task.sequence %>"/>
                <label for="check<%= task._id%>" class="checkboxWrap circle-wrap">
                    <div class="circle-line">
                        <div class="line"></div>
                    </div>
                    <div class="circle-line">
                        <div class="line"></div>
                    </div>
                    <div class="check-wrap">
                        <div class="check"></div>
                    </div>
                </label>
            </div>
            <div class="dateListBody">
                <div class="dateListHeader">
                    <span data-color="<%=(task.category) ?task.category.color : ''%>" class="_tagSmall"><%=(task.category) ? task.category.name : ''%></span>
                    <span class="dateListDescription"><%=task.description%></span>
                </div>

                <div class="dateListFooter">
                    <span class="listFooterDate"><%=task.dueDate%></span>

                    <% if (task.assignedTo){%>
                    <span class="textGrey">for</span>
                    <span class="textBlue"><%=(task.assignedTo) ?  task.assignedTo.name.first + ' ' + task.assignedTo.name.last : ''%></span>
                    <% }%>
                </div>
            </div>
        </div>
        <% } %>
    <% }) %>
    <span class="showmore"  style="<%= data.length > 5 ? 'display:block' : '' %>" >Show More</span>
    <span class="hideList">Hide</span>
</div>
