<!--<div>
    <div class="filterButton">
        <span class="text">Stage</span>
        <div class="arrow">
            7
        </div>
    </div>
    <ul class="filter-check-list">
      <li><input type="checkbox"  value="null" checked="checked"><span>Undefinded</span></li>
	</ul>-->
<div id="searchContainer"></div>
<div class="_taskListWrap">
    <div id="dateList" class="_taskListDateBlock _borderRight"></div>
    <div id="activities" class="_taskListActivitiesBlock">
        <h3 class="_activityHolderTitle">Recent Activities</h3>
        <div id="activityHolder" class="_activityHolder"></div>
    </div>
</div>