<tr id="false" data-id="<%=cid%>">
    <td class = "notForm"><input type="checkbox"  value="<%=cid%>" class="checkbox" /></td>
    <td><%=cid%></td>
    <td data-type="input"></td>
    <td data-type="input"></td>
    <td data-type="input"></td>
    <td data-content="date" class="editable">
        <div>

        </div>
        <input id="<%=payment._id%>date" type="text" class="date" value="" />
    </td>
    <td data-type="input"></td>
    <td class="total"></td>
    <td data-type="input"></td>
    <td data-type="input"></td>
</tr>