<h3><!--<%=contentType%>-->Customer Payments</h3>
<div id="createBtnHolder">
    <a href="javascript;" class="icon edit left" title="Edit" id="top-bar-editBtn">4</a>
    <a href="javascript;" class="icon save left" title="Save" id="top-bar-saveBtn">c</a>
    <a href="javascript;" class="icon remove left" title="Remove" id="top-bar-deleteBtn">x</a>
    <!--<a href="javascript;" class="icon remove left" title="Remove"  id="top-bar-deleteBtn">x</a>-->
</div>

<div id="template-switcher" class="right">
    <ul class="btn-list">
<!--        <li><a href="javascript;" class="changeContentView icon icon-btn dark <%= (viewType == 'thumbnails') ? 'selected' : ''%>" data-view-type="thumbnails" id="thumbBtn">k</a></li>-->
        <li><a href="javascript;" class="changeContentView icon icon-btn dark <%= (viewType == 'list') ? 'selected' : ''%>" data-view-type="list" id="listBtn">i</a></li>
        <li><a href="javascript;" class="changeContentView icon icon-btn dark <%= (viewType == 'form') ? 'selected' : ''%>" data-view-type="form" id="formBtn">m</a></li>
    </ul>
</div>