<div class="pagination">
    <div class="countOnPage">
        <div>
                <span>
                    <span id="grid-start"></span>
                    -
                    <span id="grid-end"></span>
                    of
                    <span id="grid-count"></span>
                    items, show&nbsp
                </span>
        </div>
        <div class="pageList">
            <a class="itemsNumber" href="javascript;">50</a>
            <a class="itemsNumber" href="javascript;">200</a>
            <a class="itemsNumber" href="javascript;">500</a>
            <a class="itemsNumber" href="javascript;">all</a>
        </div>
    </div>
    <div class="nextPrev">
        <div>
            <button id="firstShowPage" class="fa fa-angle-double-left" type="button" disabled="disabled"></button>
            <button id="previousPage" class="fa fa-angle-left" type="button" disabled="disabled"></button>
        </div>
        <div>
            <div>
                <span>Page</span>
            </div>
            <div>
                <div>
                    <input id="currentShowPage" type="text">
                </div>
                <div class="allPage">
                    <button class="currentPageList fa fa-angle-up"></button>
                    <ul id="pageList" class="allNumberPerPage"></ul>
                </div>
            </div>
        </div>
        <div>
            <span>
                of
                <span id="lastPage"></span>
            </span>
        </div>
        <div>
            <button id="nextPage" type="button" class="fa fa-angle-right" disabled="disabled"></button>
            <button id="lastShowPage" type="button" class="fa fa-angle-double-right" disabled="disabled"></button>
        </div>
    </div>
</div>