<div class="pagination">
    <div class="countOnPage">
        <div>
                <span>
                    <span id="gridStart"></span>
                    -
                    <span id="gridEnd"></span>
                    of
                    <span id="gridCount"></span>
                    items, show&nbsp
                </span>
        </div>
        <div class="pageList">
            <a class="itemsNumber" href="javascript:;">25</a>
            <a class="itemsNumber" href="javascript:;">50</a>
            <a class="itemsNumber" href="javascript:;">100</a>
            <a class="itemsNumber" href="javascript:;">200</a>
        </div>
    </div>
    <div class="nextPrev">
        <div>
            <button id="firstShowPage" class="first_ShowPage fa fa-angle-double-left" type="button" disabled="disabled"></button>
            <button id="previousPage" class="previous_Page fa fa-angle-left" type="button" disabled="disabled"></button>
        </div>
        <div>
            <div>
                <span>Page</span>
            </div>
            <div>
                <div>
                    <input id="currentShowPage" class="current_ShowPage" type="text">
                </div>
                <div class="allPage">
                    <button class="currentPageList fa fa-angle-up"></button>
                    <ul id="pageList" class="allNumberPerPage"></ul>
                </div>
            </div>
        </div>
        <div>
            <span>
                of
                <span id="lastPage"></span>
            </span>
        </div>
        <div>
            <button id="nextPage" type="button" class="next_Page fa fa-angle-right" disabled="disabled"></button>
            <button id="lastShowPage" type="button" class="last_ShowPage fa fa-angle-double-right" disabled="disabled"></button>
        </div>
    </div>
</div>