<div id="searchContainer"></div>
<div class="_tableChartOfAccountWrap">
    <table class="list stripedList">
        <colgroup>
            <col width="42px">
            <col width="25%">
            <col width="25%">
            <col width="25%">
            <col width="25%">
        </colgroup>
        <thead>
        <tr>
            <th>
                <label class="_customCHeckbox">
                    <input type="checkbox" id="checkAll"/>
                    <span></span>
                </label>
            </th>
            <th class="oe_sortable" data-sort="code">Code<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="account">Account<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="payMethod.currency">Currency<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <!--<th class="oe_sortable" data-sort="budgeted">Is Budgeted<span class="arrow down"></span><span
                    class="arrow up"></span></th>-->
            <th class="oe_sortable" data-sort="category.fullName">Type<span class="arrow down"></span><span
                    class="arrow up"></span></th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd">

        </tbody>
    </table>
</div>