<div id="searchContainer"></div>
<div>
    <table class="list">
        <thead>
        <tr>
            <th class="centerCell"><input type="checkbox" id="check_all"/></th>
            <th>#</th>
            <th class="oe_sortable" data-sort="_id">Code<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="account">Account<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="type">Type<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="accountType">Account Type<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
        </tr>
        </thead>
        <tbody id="chartOfAccount" class="enableTableOdd">

        </tbody>
    </table>
</div>