<% collection.forEach(function(chart, index){ %>
<%if (!chart.subAccount) {%>
<tr data-id="<%=chart._id%>" data-index="0">
    <td class="notForm">
        <label class="_customCHeckbox">
            <input type="checkbox" value="<%=chart._id%>" class="checkbox listCB"/>
            <span></span>
        </label>
    </td>
    <td data-type="input" class="editable" data-content="code"><%=chart.code%></td>
    <td data-type="input" class="editable" data-content="account"><%=chart.account%></td>
    <td><%=chart.payMethod && chart.payMethod.currency ? chart.payMethod.currency : '---'%></td>
<!--
    <td data-type="input" data-content="budgeted"><input data-type="checkbox" type="checkbox" class="checkBudget" id="budgeted" <%=chart.budgeted ? 'checked' : ''%>></td>
-->
    <td data-content="category" ><a class="current-selected" id="accountsCategory" data-id="<%=chart.category ? chart.category._id : null%>"><%=chart.category ? chart.category.fullName : 'Select'%></a></td>
</tr>
<%}%>
<% }) %>
