<% collection.forEach(function(chart, index){ %>
<tr data-id="<%=chart._id%>">
    <td class="notForm centerCell"><input type="checkbox" value="<%=chart._id%>" class="checkbox listCB"/></td>
    <td data-content="number"><%=index + 1%></td>
    <td data-type="input" class="editable" data-content="code"><%=chart.code%></td>
    <td data-type="input" class="editable" data-content="account"><%=chart.account%></td>
    <td data-type="input" class="editable" data-content="type"><%=chart.type%></td>
    <td class="editable" data-content="accountType"><%=chart.accountType%></td>
</tr>
<% }) %>
