<div>
    <table class="list _projectTableLeftAlign tableFixed _invoiceTable">
        <colgroup>
            <col width="200px">
            <!--<col width="200px">-->
            <!--<col width="10%">-->
            <col width="50px">
            <col width="50px">
            <col width="50px">
            <col width="50px">
            <col width="30px">
        </colgroup>
        <thead>
        <tr class="productListItemsColumns _deleteHeader">
            <th class="width20" data-sort="Product">
                Item name
            </th>
            <th class="width20" data-sort="quantity">
                Quantity
            </th>
            <th class="width20" data-sort="onHand">
                Source
            </th>
            <th class="width20" data-sort="destination">
                Destination
            </th>
            <th class="width20" data-sort="after">
                After
            </th>
            <th class="deleteCell"></th>
        </tr>
        </thead>
        <tbody id="tbodyProducts">
        <tr></tr>

        <tr>
            <td class="invisible_border">&nbsp;</td>
        </tr>
        <tr>
            <td class="invisible_border">&nbsp;</td>
        </tr>
        </tbody>
        <tr class="hidden" id="newItem">
            <td class="addProductItem">
                <a href="javascript:;">Add an item</a>
            </td>

        </tr>
    </table>
    <div class="clearfix"></div>
    <div id="totalAmountContainer" class="_totalAmountContainer _createPopup">
    </div>
</div>

