<table class="_productTable">
    <colgroup>
        <col width="150px">
        <!--<col width="200px">-->
        <!--<col width="10%">-->
        <col width="100px">
        <col width="100px">
        <col width="100px">
        <col width="200px">

        <!--<col width="100px">-->
    </colgroup>
    <thead>
    <tr class="_simpleHeader">
        <th>
            SKU
        </th>
        <th>
            Product
        </th>
        <th>
            Ordered
        </th>
        <th>
            Receive now
        </th>
        <th>
            Location
        </th>
    </tr>
    </thead>
    <tbody id="tbodyProducts">

    <%products.forEach(function(elem){%>
    <tr class="productItem deleteRow" id="<%=elem._id%>" data-id="<%=elem.warehouse ? elem.warehouse._id : ''%>">

        <td data-name="productName">

                <span id="productsDd" href="javascript:;" data-id="<%= elem.product ? elem.product._id : ''%>">

                    <%=elem.product && elem.product.info ? elem.product.info.SKU : '' %>
                </span>


        </td>
        <td data-name="description">
            <%= elem.product ? elem.product.name : ''%>
        </td>
        <td data-name="ordered">
            <input id="ordered" class="quantity statusInfo" maxlength="9" value="<%=elem.quantity%>" size=7 type="text"
                   readonly/>
        </td>
        <td data-name="newShip">
            <div class="receiveLocation">
                <div>
                    <input id="newShip" class="quantity" maxlength="9" value="<%=elem.quantity%>" size=7 type="text"/>
                    into
                    <a class="current-selected" id="locationDd" href="javascript:;"
                       data-id="<%= elem.location ? elem.location._id : ''%>">
                        <%=elem.location ? elem.location.name: 'Select' %>
                    </a>
                </div>
            </div>

        </td>
    </tr>
    <%})%>

    <tr>
        <td class="invisible_border">&nbsp;</td>
    </tr>
    </tbody>
</table>
<div class="clearfix"></div>
<div id="totalAmountContainer" class="_totalAmountContainer _createPopup">

</div>