// Grid
%container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @include em(padding-left, ($gutter-width / 2));
  @include em(padding-right, ($gutter-width / 2));
}

%colFloat {
  float: left;
}

%noIndent {
  margin: 0;
  padding: 0;
}

// Clearfix
%clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

%text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}