@import "../utilities/_color_theme.scss";

.btn {
  display: inline-block;
  padding: 0 12px !important;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid $btnBorderColor;
  background-color: $btnBgColor;
  outline: 0!important;
  box-shadow: none!important;
  height: 32px;
  line-height: 30px!important;
  border-radius: 3px;
  min-width: 70px;

  &.plus {
    &:before {
      content: "\e90f";
      margin-right: 6px;
      font-family: $icon-font;
    }
  }

  &.icon-download {
    &:before {
      font-size: 18px;
    }
  }

  &:hover {
    cursor: pointer;
    background: $btnTextColor;
    background-position: 0;
    text-decoration: none;
    transition: all .3s;

    span, a {
      color: $black;
      text-decoration: none;
    }
  }

  &.slim {
    height: 26px;
    line-height: 24px !important;
  }

  &.green {
    color: #FFF;
    background-color: #32c5d2;
    border-color: #32c5d2;

    &:hover {
      background-color: #26a1ab;
      border-color: #2499a3;
      text-decoration: none;
    }
  }

  &.blue {
    color: #fff !important;
    background-color: #7eadcc !important;
    border-color: #7eadcc !important;

    &.plus {
      &:before {
        color: #fff;
      }
    }

    //&:hover {
    //  background-color: #4d5a75 !important;
    //  border-color: #4d5a75 !important;
    //  text-decoration: none !important;
    //}
  }

  &.border {
    background-color: #fff;
    color: #000;

    &Green {
      background-color: #fff;
      border-color: #32c5d2;
      color: #32c5d2;

      &:hover {
        background-color: #32c5d2;
        border-color: #32c5d2;
        color: #fff;
      }
    }

    &Blue {
      background-color: #fff;
      border-color: #3e88b9;
      color: #3e88b9;

      &:hover {
        background-color: #3e88b9;
        border-color: #3e88b9;
        color: #fff;
        text-decoration: none;
      }
    }
  }

  &.btnSave {
    background: #3291c8;
    color: $white;
    border-color: transparent;

    span,
    a {
      color: $white;
    }

    &:hover {
      background: #2d82b4;

      span,
      a {
        color: $white;
      }
    }
  }

  &.btnSuccess {
    border-color: #3E7F42;

    &:hover {
      background: #3E7F42;

      span, a {
        color: #CDCDCD;
      }
    }
  }

  &.btnAttention {
    border-color: #A22A2D;

    &:hover {
      background: #A22A2D;
      span, a {
        color: #CDCDCD;
      }
    }
  }

  &.btnDisable {
    background: none;
    color: #000;
    border: 1px solid $btnBorderColor;

    &:hover {
      background: none;
    }
  }

  span, a {
    padding: 0 !important;
    color: $black;
  }
}
#createBtnHolder{
  .export{
    float: left;
    display: flex;
     li .btn{
       margin-right: 10px;
       height: 26px;
       line-height: 22px !important;
     }
     li:last-child .btn{
       margin-right: 0px;
     }
  }
}

.btnsBlock {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  .btn {
    float: left;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.editorTab {
  .btn {
    min-width: 66px;
  }
}

.btnAdd {
  border: 1px solid transparent;
  background: darken(#66B5D4, 15%);
  padding: 0 6px;
  color: #f4f4f4;
  line-height: 19px;

  &:hover {
    text-decoration: none;
    background: darken(#66B5D4, 25%);
  }
}

.backToSettings{
  position: absolute;
  right: 12px;
  top: 6px;
}

.closePayrollList{
  float: right;
  right: 55px;
}

.quotationsButtonsWrap {
  margin-bottom: 10px;
}