$circleSize_1: 16px;
$circleSize_2: 8px;
input[type="radio"]._circleRadioRadiance {
  display: none !important;

  + label {
    position: relative;
    display: inline-block;
    height: $circleSize_1;
    width: $circleSize_1;
    background-color: transparent;
    border: 2px solid #7eadcc;
    border-radius: 50%;

    &:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      height: $circleSize_2;
      width: $circleSize_2;
      background-color: transparent;
      border-radius: 50%;
      transition: all .2s ease-in-out;
      transform: scale(2,2);
    }

    &:before {
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      height: $circleSize_1;
      width: $circleSize_1;
      border: 2px solid rgba(#7eadcc, .3);
      border-radius: 50%;
      transition: all .3s ease-in-out;
      transform: none;
    }
  }
  &:checked {
    + label {
      &:after {
        top: 2px;
        left: 2px;
        height: $circleSize_2;
        width: $circleSize_2;
        background-color: #7eadcc;
        transform: none;
      }

      &:before {
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        height: $circleSize_1;
        width: $circleSize_1;
        border: 2px solid transparent;
        transform: scale(1.8,1.8);
      }
    }
  }
}

._circleRadioRadianceLabel {
  float: left;
  margin-right: 15px;
  cursor: pointer;
}

._circleRadioRadianceWrap {
  padding: 10px 0 10px 10px;
  margin-left: -10px;
  line-height: $circleSize_1;
}

.radioContainer {
  width: 175px;
  margin: 0 auto;
}

.canReadAndWrite {

  ._circleRadioRadianceWrap {

    ._circleRadioRadianceLabel {
      float: left;
      //top: 5px;
    }
  }
}

.profile-create {
  ._circleRadioRadianceWrap {
    padding: 5px 0 5px 10px;
  }
  ._newSelectListWrap {
    line-height: 26px;
  }
}

._configureEmailPolicy {
  ._circleRadioRadianceWrap {
    position: relative;
    padding: 10px 0 10px 35px;

    ._circleRadioRadianceLabel {
      position: absolute;
      top: 15px;
      left: 10px;
    }
  }
}

.circleRadioForPersons {
  ._circleRadioRadianceWrap:first-child {
    padding-top: 0;
  }
  margin-bottom: 10px;
}

._circleRadioGroup {
  display: flex;
  margin-bottom: 20px;

  ._circleRadioRadianceWrap {
    margin-right: 20px;
    padding-top: 0;

    label {
      cursor: pointer;
    }
  }
}