@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fd9hsz');
  src:  url('fonts/icomoon.eot?fd9hsz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fd9hsz') format('truetype'),
    url('fonts/icomoon.woff?fd9hsz') format('woff'),
    url('fonts/icomoon.svg?fd9hsz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rect-icon:before {
  content: "\e900";
}
.icon-arrows-icon:before {
  content: "\30";
}
.icon-facebook2-icon:before {
  content: "\66";
}
.icon-linkedin2-icon:before {
  content: "\6c";
}
.icon-rect2-icon:before {
  content: "\6d";
}
.icon-kanban-icon:before {
  content: "\72";
}
.icon-skype2-icon:before {
  content: "\73";
}
.icon-add-icon:before {
  content: "\e901";
}
.icon-close-icon:before {
  content: "\e902";
}
.icon-checked-icon:before {
  content: "\e903";
}
.icon-checked2-icon:before {
  content: "\e904";
}
.icon-close2-icon:before {
  content: "\e905";
}
.icon-chevronR-icon:before {
  content: "\e906";
}
.icon-chevronL-icon:before {
  content: "\e907";
}
.icon-download-icon:before {
  content: "\e908";
}
.icon-filter-icon:before {
  content: "\e909";
}
.icon-filter2-icon:before {
  content: "\e90a";
}
.icon-tiles2-icon:before {
  content: "\e90b";
}
.icon-search-icon:before {
  content: "\e90c";
}
.icon-lock-icon:before {
  content: "\e90d";
}
.icon-unlock-icon:before {
  content: "\e90e";
}
.icon-plus-icon:before {
  content: "\e90f";
}
.icon-search2-icon:before {
  content: "\e910";
}
.icon-star-icon:before {
  content: "\e911";
}
.icon-caret-down-icon:before {
  content: "\e912";
}
.icon-users-icon:before {
  content: "\e001";
}
.icon-user-add-icon:before {
  content: "\e002";
}
.icon-user-check-icon:before {
  content: "\e003";
}
.icon-user-delete-icon:before {
  content: "\e004";
}
.icon-user-icon:before {
  content: "\e005";
}
.icon-social-facebook:before {
  content: "\e00b";
}
.icon-credit-card-icon:before {
  content: "\e025";
}
.icon-speech-icon:before {
  content: "\e02c";
}
.icon-puzzle-icon:before {
  content: "\e02d";
}
.icon-picture-icon:before {
  content: "\e032";
}
.icon-layers-icon:before {
  content: "\e034";
}
.icon-globe-icon:before {
  content: "\e037";
}
.icon-folder-alt-icon:before {
  content: "\e039";
}
.icon-docs-icon:before {
  content: "\e040";
}
.icon-diamond-icon:before {
  content: "\e043";
}
.icon-call-out-icon:before {
  content: "\e046";
}
.icon-call-in-icon:before {
  content: "\e047";
}
.icon-call-end-icon:before {
  content: "\e048";
}
.icon-calculator-icon:before {
  content: "\e049";
}
.icon-briefcase-icon:before {
  content: "\e04b";
}
.icon-wrench-icon:before {
  content: "\e052";
}
.icon-trash-icon:before {
  content: "\e054";
}
.icon-tag-icon:before {
  content: "\e055";
}
.icon-pencil-icon:before {
  content: "\e05f";
}
.icon-note-icon:before {
  content: "\e060";
}
.icon-list-icon:before {
  content: "\e067";
}
.icon-tiles-icon:before {
  content: "\e06a";
}
.icon-graph-icon:before {
  content: "\e06b";
}
.icon-calendar-icon:before {
  content: "\e075";
}
.icon-chart-icon:before {
  content: "\e077";
}
.icon-arrow-up-circle-icon:before {
  content: "\e078";
}
.icon-arrow-right-circle-icon:before {
  content: "\e079";
}
.icon-arrow-left-circle-icon:before {
  content: "\e07a";
}
.icon-arrow-down-circle-icon:before {
  content: "\e07b";
}
.icon-bubble-icon:before {
  content: "\e07d";
}
.icon-mail-icon:before {
  content: "\e086";
}
.icon-folder-icon:before {
  content: "\e089";
}
.icon-attach-icon:before {
  content: "\e093";
}
.icon-refresh:before {
  content: "\e098";
}
.icon-settings:before {
  content: "\e09a";
}
.icon-menu-icon:before {
  content: "\e601";
}
.icon-arrow-down-icon:before {
  content: "\e604";
}
.icon-arrow-left-icon:before {
  content: "\e605";
}
.icon-arrow-right-icon:before {
  content: "\e606";
}
.icon-arrow-up-icon:before {
  content: "\e607";
}
.icon-instagram-icon:before {
  content: "\e609";
}
.icon-linkedin-icon:before {
  content: "\e60a";
}
.icon-google-icon:before {
  content: "\e60d";
}
.icon-skype-icon:before {
  content: "\e60f";
}



