.textLightGrey {
  color: #c5c7c7;
}
.textBlue {
  color: #27a0cd;
}

._multiEllipsis {
  overflow: hidden;
  height: 37px;
  line-height: 25px;

  &:before {
    content: "";
    float: left;
    width: 5px;
    height: 38px;
  }
  &.open {
    height: auto;
    ._ellipsisShowMore {
      display: none;
    }
    ._ellipsisCloseBtn {
      display: block;
      float: right;
      background-color: #7eadcc;
      color: #fff;
      font-size: 12px;
      height: 20px;
      line-height: 20px;
      padding: 0 10px;
      border-radius: 3px;
      cursor: pointer;
    }
  }

  > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
  }

  > p {
    -ms-word-break: break-all;
    word-break: break-all;
  }

  ._ellipsisShowMore {
    display: block;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    position: relative;
    top: -14px;
    height: 14px;
    left: 100%;
    float: right;
    width: 68px;
    padding-right: 5px;
    margin-left: -68px;
    background-color: #7eadcc;
    color: #fff;
    line-height: 13px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
  }
  ._ellipsisCloseBtn {
    display: none;
  }
}

/*Copied from less/generals/loader*/
#loading {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
/*End Copied */

._pms-tr {
  background-color: #f1f3f1;
  td {
    height: 25px !important;
  }

}

//------ state ------

.text {
  &UnderlineHover {
    &:hover {
      text-decoration: underline !important;
    }
  }
}

.fired {
  background-color: rgba(235, 0, 4, 0.73) !important;
  color: #fff!important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.blueText {
  color: #3e88b9;
}

.textGrey {
  color: #9a9a9e;
}

//------ end stat.Took from less/state/state.less that was deleted------

// invoiceChart styles from/less/tmp
.totalBySales {
  background-color: #045986;
  td {
    text-align: left !important;
    font-size: 13px !important;
  }
}
.paidBySales {
  background-color: #1d96c2;
  td {
    text-align: left !important;
    font-size: 13px !important;
  }
}
.revenueBySales {
  background-color: #A19015;
  td {
    text-align: left !important;
    font-size: 13px !important;
  }
}

//less/tmp jobDash
tr.redBorder {
  background-color: red;
}

//firedEmployees less/tmp
li.fired {
  background-color: rgba(235, 0, 4, 0.73);
}













