/*== Begin Input type number =============*/
input {
  &:not([type="checkbox"], ._animate) {

    &.inputField {
      height: 34px;
      width: 100%;
      border: 0;
      border-bottom: 1px solid #a0a9b4;
      border-radius: 0!important;
      color: #868e97;
      font-size: 14px;
      margin-bottom: 30px;
      outline: 0 !important;
      box-shadow: none !important;
    }

    &.inputBordered {
      width: 100%;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857;
      color: #555;
      display: block;
      background-color: #fff;
      border: 1px solid #c2cad8;
      border-radius: 0!important;
      -webkit-transition: border-color ease-in-out .15s;
      transition: border-color ease-in-out .15s;
      outline: 0!important;

      &:focus {
        border-color: #93a1bb;
      }
    }
  }

  &:not(.hasDatepicker) {
    &:disabled {
      cursor: not-allowed;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {-moz-appearance: textfield;}

.inputBlock {
  width: 100%;

  > label {
    line-height: 25px;
  }
}


.ui-spinner {
  position: relative;
  padding: 0;
  display: block;
  //overflow: hidden;
  > input:not([type="checkbox"]) {
    max-width: 100%;
  }
  .ui-spinner-input {
    float: left;
    border: none;
  }
  span {
    display: block;
    width: 8px;
    height: 8px;
    text-align: center;
    padding: 0;
  }

  .ui-spinner-up {
    position: absolute;
    right: 8px;
    top: 3px;
    padding: 0;
    cursor: pointer;
    font-size: 8px;
    line-height: 8px;
    &:hover {
      text-decoration: none;
      color: #71bbec;//@mainText-color-selected + #333;
    }
  }
  .ui-spinner-down {
    position: absolute;
    padding: 0;
    right: 8px;
    bottom: 4px;
    cursor: pointer;
    font-size: 8px;
    line-height: 8px;
    &:hover {
      text-decoration: none;
      color: #71bbec;//@mainText-color-selected + #333;
    }
  }
}

._animateInputBox {

  .ui-spinner .ui-spinner-input {
    float: none;
    border-bottom: 1px solid #c8c8d3;
  }

  &._withSeparator {
    display: flex;
    align-items: center;

    ._locationSeparator {
      color: #c8c8d3;
      font-size: 18px;
    }
  }

  &._socialWrap {
    display: flex;

    .social {
      position: static;
      margin: 0;
    }
  }

  &._kanban {
    margin-top: 10px;
  }

  &._staticData {
    display: flex;

    ._staticInfo {
      width: 100%;
    }
  }

  &._withTime {
    ._inputWrap {
      display: flex;
    }

    .hasWickedpicker {
      height: 26px;
      border: 0;
      border-bottom: 1px solid #c8c8d3;
      cursor: pointer;
    }
  }
}

.disable_input_style {
  cursor: pointer;
  text-align: right;

  input {
    height: 19px;
    margin: 0;
    border: none !important;
    width: 100%;
    min-width: 100%;

    &:focus {
      outline: none !important;
      box-shadow: none !important;
      border: none !important;
    }
  }
}

textarea,
select {
  width: 100%;
  padding: 0 4px; //big cells in BonusType
  border: 1px solid #c8c8d3;
  background-color: inherit;
  color: $mainText-color;
}

textarea {
  &._noteTextarea {
    padding: 5px 8px;
    border-radius: 2px;
  }
}

input {
  &:not([type="checkbox"]) {
    width: 100%;
    padding: 0 4px; //big cells in BonusType
    border: 1px solid #c8c8d3;
    background-color: inherit;
    color: $mainText-color;

    &.monthPicker {
      width: auto;
      line-height: 24px;
    }

  }
  &[readonly] {
    border: 0;
  }
}

.form-holder {

  form {

    ._inputIconWrap {
      position: relative;
      z-index: 1;
      //display: inline-block;

      input[type="text"] {
        padding-right: 20px;
      }
    }
  }
}

._inputIconWrap {

  > input {
    position: relative;
    z-index: 999;

    &:focus {
      border-color: #7eadcc !important;
    }

    + label {

      &:after {
        position: absolute;
        top: 3px;
        right: 6px;
        z-index: 1;
        line-height: normal;
        font: {
          family: $iconFont;
          size: 16px;
        }
        visibility: hidden;
        color: transparent;
        transition: color .1s ease-in-out
      }
    }

    &:active,
    &:focus {

      + label {

        &:after {
          visibility: visible;
          color: #7eadcc;
        }
      }
    }

    &#first,
    &#firstName,
    &#last,
    &#lastName,
    &#jobPositionInput,
    &#first,
    &#login,
    &#last {

      + label {
        &:after {
          content: '\f007';
        }
      }
    }

    &#confirmpassword,
    &#password {

      + label {
        &:after {
          content: '\e910';
        }
      }
    }

    &#dateBirth,
    &#StartDate,
    &#EndDateTarget,
    &#nextAction,
    &#expectDate,
    &#orderDate  {
      + label {
        &:after {
          content: '\e075';
        }
      }
    }

    &#emailInput,
    &#email,
    &#personalEmail,
    &#workEmail {
      + label {
        &:after {
          content: '\f0e0';
        }
      }
    }

    &#skype {
      + label {
        &:after {
          content: '\f17e';
          font-size: 18px;
          right: 4px;
        }
      }
    }

    &#LI {
      + label {
        &:after {
          content: '\e900';
        }
      }
    }

    &#FB {
      + label {
        &:after {
          content: '\f082';
          font-size: 18px;
          right: 3px;
        }
      }
    }

    &#addressInput,
    &#cityInput,
    &#stateInput,
    &#street,
    &#city,
    &#applicationsEditStreet,
    &#applicationsEditCity,
    &#applicationsEditState,
    &#employeeEditStreet,
    &#employeeEditCity,
    &#employeeEditState,
    &#state {
      + label {
        &:after {
          content: '\e901';
          right: 3px;
        }
      }
    }

    &#mobileInput,
    &#mobile {
      + label {
        &:after {
          content: '\e902';
          right: 3px;
        }
      }
    }

    &#phoneInput,
    &#phone {
      + label {
        &:after {
          content: '\f095';
        }
      }
    }
  }
}

.inputDateActionBlock {

  .timepicker {
    height: 34px;
    padding: 6px;
    border: 1px solid #c2cad8;
    cursor: pointer;
  }
}

._inputsList {
  display: flex;
  align-items: center;

  > input[type="text"] {
    height: 22px;

    &:nth-child(n+2) {
      border-left: 0;
    }
  }
}

.avatar,
._forCheckBox {
  + ._animateInputBox,
  + ._animateSelectBox{
    margin-top: 20px;
  }
}

._animateInputBox {
  position: relative;
  min-height: 26px;
  margin-bottom: 15px;

  &._currency {
    display: flex;

    ._currencyValue {
      padding: 0 5px;
      color: #5f92b3;
      font-family: $semibold-font-family;
    }
  }

  ._staticLabel {
    position: absolute;
    top: -8px;
    left: 0;
    z-index: 1;
    color: #7eadcc;
    font-size: 10px;
  }

  ._staticInfo {
    display: block;
    height: 26px;
    padding: 4px 10px 5px 0;
    border: none;
    border-bottom: 1px solid #c8c8d3;
    transition: all .2s ease-in-out;
    @include rem('font-size', 13px);
  }

  .changePassword {
    margin-top: 10px;

    span {
      color: #fff !important;
    }
  }
}

._animateHealthBox {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  ._healthLabel {
    color: #3e88b9;
  }
}

._attachmentBox {

  ._attachmentLabel {
    color: #4081ad;
  }

  ._attachContainer {
    margin-top: 5px;

    ._attachItem {
      display: flex;
      align-items: center;
      padding-bottom: 2px;
      border-bottom: 1px dashed #c8c8d3;
    }
  }

  [class^="icon-"],
  [class*=" icon-"] {
    margin: 0 4px 2px 0;
    font-size: 22px;
    color: #c8c8d3;
  }

  ._attachInfo {
    color: #364150;
  }
}

input,
textarea {
  &._animate {
    display: block;
    padding: 5px 10px 5px 0;
    border: none;
    color: #666682;
    border-bottom: 1px solid #c8c8d3;
    box-shadow: 0 1px 0 0 transparent;
    transition: all .2s ease-in-out;
    @include rem('font-size', 13px);

    &[readonly],
    &[readonly]:focus{
      border-bottom: 1px solid #c8c8d3;
      box-shadow: 0 1px 0 0 transparent;
    }

    &:focus,
    &:hover,
    &:active {
      outline: none;
    }

    &:focus {
      border-bottom-color: #7eadcc;
      box-shadow: 0 1px 0 0 #7eadcc;
    }
  }
}

input {
  &._animate {

    &:focus {

      + label {
        color: #4081ad;
        transform: translateY(-12px);
        @include rem('font-size', 11px);
      }
    }

    &:valid,
    &[placeholder] {
      + label {
        color: #4081ad;
        transform: translateY(-12px);
        @include rem('font-size', 11px);
      }
    }

    &:-webkit-autofill{
      + label {
        color: #4081ad;
        transform: translateY(-12px);
        @include rem('font-size', 11px);
      }
    }
  }
}

textarea {
  &._animate {
    height: 130px;
    width: 100%;
    padding: 0 10px 5px 0;
    margin-top: 5px;

    &:focus,
    &:valid,
    &[placeholder] {
      + label {
        color: #4081ad;
        transform: translateY(-14px);
        @include rem('font-size', 11px);
      }
    }

    &._medium {
      height: 90px;
    }
  }
}


._animateTextareaBox.withAttach {
  textarea {
    &._animate {
      height: 140px;
      padding-right: 15px;
    }
  }
}


label._animate {
  position: absolute;
  top:0;
  left: 0;
  color: #999;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  backface-visibility: hidden;
  @include rem('font-size', 12px);
}


._newSelectListWrap._singleSelectBox {
  position: relative;
  display: block;
  padding: 0 24px 0 10px;
  border: none;
  border-bottom: 1px solid #c8c8d3;
  font-size: 13px;
  color: #999 !important;

  .current-selected {
    position: static;
    display: block;
    min-height: 26px;
    padding: 6px 0;
    line-height: 1;
    text-align: left;
    color: #666682;

    &:hover {
      text-decoration: none;
    }

    &:after {
      content: '\f107';
      position: absolute;
      display: inline-block;
      right: 0;
      bottom: 0;
      height: 25px;
      width: 25px;
      line-height: 25px;
      text-align: center;
      font-family: "erp-icons";
      font-size: 18px;
    }
  }
}


._animateSelectBox {
  position: relative;
  margin-bottom: 15px;

  &._additionalInputWrap {
    display: flex;

    ._newSelectListWrap {
      flex-grow: 1;
      min-width: 100px;
      padding: 0 25px 0 0;

      .current-selected {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    ._additionalInput {
      flex-shrink: 0;

      > input {
        width: 80px;
        height: 26px;
      }
    }
  }

  &._withImage {
    padding-right: 50px;

    ._dataImg {
      position: absolute;
      top: -10px;
      right: 0;
      width: 45px;
      border-radius: 50%;
    }
  }

  ._selectTitle {
    position: absolute;
    top: -9px;
    left: 0;
    color: #7eadcc;
    font-size: 10px;
    user-select: none;
  }

  ._newSelectListWrap {
    position: relative;
    display: block;
    padding: 0 20px 0 0;
    border: none;
    border-bottom: 1px solid #c8c8d3;
    font-size: 13px;
    color: #999 !important;

    .current-selected {
      position: static;
      display: block;
      min-height: 26px;
      padding: 6px 0;
      line-height: 1;
      text-align: left;
      color: #666682;

      &:hover {
        text-decoration: none;
      }

      &:after {
        content: '\f107';
        position: absolute;
        display: inline-block;
        right: 0;
        bottom: 0;
        height: 25px;
        width: 25px;
        line-height: 25px;
        text-align: center;
        font-family: $icon-font;
        @include rem('font-size', 18px);
      }
    }
  }
}

._animateSelectBox,
._animateInputBox {
  + ._animateTextareaBox {
    margin-top: 23px;
  }
}

._animateTextareaBox {
  position: relative;
  margin-bottom: 15px;

  &.offsetTop {
    margin-top: 25px;
  }

  .counter-wrap {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 2px 0;
  }

  label._animate {
    top: -5px;
    user-select: none;
  }
}

._checkboxWrap {
  display: flex;
  margin-bottom: 27px;

  ._checkboxContainer {
    display: flex;
    align-items: center;

    + ._checkboxContainer {
      margin-left: 50px;
    }
  }
}

.searchTagWrap {
  position: relative;
  display: inline-block;

  > ._positioned {
    position: absolute;
    top: 7px;
    right: 7px;
    color: #c8c8d3;
    font-size: 16px;
  }

  .searchTagInput {
    padding-right: 28px;
  }
}

//circle checkbox start

$size: 24px;
$border: 2px;
$border-color: #7eadcc;
$beforeWidth: 11px;
$afterWidth: 18px;
$height: 2px;
$translate: 17px;

.custom-checkbox {
  display: none;

  //&:checked {
  //
  //  + label {
  //    .circle-line {
  //
  //      .line {
  //        opacity: 0;
  //        transition: transform .3s ease, opacity .1s ease .3s;
  //      }
  //
  //      &:nth-child(1) {
  //
  //        .line {
  //          transform: rotate(135deg);
  //        }
  //      }
  //
  //      &:nth-child(2) {
  //
  //        .line {
  //          transform: rotate(-135deg);
  //        }
  //      }
  //    }
  //
  //    .check {
  //      &:before,
  //      &:after {
  //        transition: all .3s ease .5s;
  //      }
  //
  //      &:before {
  //        width: $beforeWidth;
  //      }
  //
  //      &:after {
  //        width: $afterWidth;
  //      }
  //    }
  //
  //    .check-wrap {
  //      transform: translateY($translate);
  //    }
  //  }
  //}
}

.circle-wrap {
  position: relative;
  display: block;
  width: $size;
  height: $size;
  cursor: pointer;
  user-select: none;

  &.checked {
    .circle-line {

      .line {
        opacity: 0;
        transition: transform .3s ease, opacity .1s ease .3s;
      }

      &:nth-child(1) {

        .line {
          transform: rotate(135deg);
        }
      }

      &:nth-child(2) {

        .line {
          transform: rotate(-135deg);
        }
      }
    }

    .check {
      &:before,
      &:after {
        transition: all .3s ease .5s;
      }

      &:before {
        width: $beforeWidth;
      }

      &:after {
        width: $afterWidth;
      }
    }

    .check-wrap {
      transform: translateY($translate);
    }
  }

  .circle-line {
    position: absolute;
    top: 0;
    width: $size / 2;
    height: $size;
    overflow: hidden;

    .line {
      position: absolute;
      top: 0;
      width: $size;
      height: $size;
      transition: all .3s ease .6s;
    }

    &:nth-child(1) {
      left: 0;

      .line {
        left: 0;
        border: {
          width: $border;
          style: solid;
          color: $border-color transparent transparent $border-color;
          radius: 50%;

        }
        transform: rotate(-45deg);
      }
    }

    &:nth-child(2) {
      right: 0;

      .line {
        right: 0;
        border: {
          width: $border;
          style: solid;
          color: $border-color $border-color transparent transparent;
          radius: 50%;
        }
        transform: rotate(45deg);
      }
    }
  }
}

.check-wrap {
  position: absolute;
  left: calc(50% - 3px);
  transform: none;
  transition: all .3s ease .3s;
}

.check {
  $half: ($height / 2);
  $check-color: $border-color;

  position: absolute;
  top: 0;
  left: 0;
  height: $height;
  width: $height;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    height: $height;
    border-radius: $height / 2;
    transition: all .3s ease;
  }

  &:before {
    left: 0;
    width: 2px;
    background-color: $check-color;
    transform: rotate(-135deg);
    transform-origin: $half;
  }

  &:after {
    left: 0;
    width: 2px;
    background-color: $check-color;
    transform: rotate(-45deg);
    transform-origin: $half;
  }
}

//circle checkbox end