//from main.less 622
.ui-datepicker{
  table.ui-datepicker-calendar {
    tr {
      th {
        padding: .7em .3em;
        text-align: center;
        color: #000000; //@mainText-color;
        font-family: $semibold-font-family; //@fontSemiBold;
      }

      td {
        width: 15px;
        height: 20px;
        padding: 1px;

        a {
          color: #000000; //@data-font-color; not sure that it right color
        }
        a, span {
          display: block;
          height: 26px;
          width: 26px;
          line-height: 26px;
          //padding: .4em;
          margin: 0 auto;
          text-align: center;

          &:hover {
            text-decoration: none;
            background-color: #7eadcc;
            color: #fff;
            transition: all .2s ease;
          }
          &.ui-state-active {
            background-color: #7eadcc;
            color: #fff;
          }
        }

        &.ui-state-disabled {
          opacity: .35;
          span {
          }
        }
      }
    }
  }
}

.vacation-list {
  font-family: inherit;
  text-shadow: none;
  margin: 30px 0;
  width: 100%;
  .V, .P, .S, .E {
    color: #ffffff //@vacantion-tabs-color;
  }

  .vacation_input {
    .editing {
      width: 100%;
    }
  }

  td {
    padding: 0 5px;
  }

  td, th {
    cursor: pointer;
    line-height: 20px;
    height: 20px;
    font-size: 12px;

    input, input:focus {
      width: 50%;
      text-align: center;
      outline: none;
      outline-offset: 0;
      display: none;
      cursor: pointer;
      border: 1px solid transparent;
      margin: 0 auto;
    }

    input:focus {
      border: none !important;
      outline: none !important;
      box-shadow: none;
    }
  }
  thead {
    th {
      position: relative;
      border: 1px solid #7f7f80; //@border-color-main;
      &#legandCaption {
        text-align: left;
      }
      &.month .newSelectList {
        width: 100px;
        margin-left: auto;
        margin-right: auto;
        //left: ~"calc(50% - 50px)";
        left: calc(50% - 50px);
      }
      &.sortDn:after {
        content: "\00a0\25BE";
      }
      &.sortUp:after {
        content: "\00a0\25B4";
      }
      #monthSelect, #yearSelect {
        font-size: 30px;
        line-height: 50px;
      }
    }
  }

  tbody, tfoot {
    td {
      border: 1px solid #7f7f80; //@border-color-main;
      text-align: center;
      color: #000; //@mainText-color;

      &.notForm {
        padding-left: 10px;
        line-height: 10px;
        input {
          display: block;
          width: 100%;
        }
      }
      &.employee {
      }
    }
  }

  tfoot {
    tr {

      td {
        color: #000; //@mainText-color;
      }
    }
  }
  tbody {
    .employee, .department, .totalDays {
      color: #4d5a75;//@name-text-color;
    }
    .employee {
      text-align: right !important;
      .fa {
        display: none;
        font-size: 12px;
      }

      &:hover {
        .fa {
          display: inline;
        }
      }
    }

  }

  #caption, .borders, thead, tbody, tfoot {
    border: 1px solid #7f7f80; //@border-color-main;
  }
  #caption, .subHeaderHolder {
    th {
      color: #000000;//@vacantion-header-holder;
    }
    .subMarker {
      color: #fff; //@vacantion-tabs-color;
    }
  }
}

.vacation-list,
.salary-list,
.subSalary-list {
  .newSelectList {
    color: #000;
  }
  tbody {
    tr {
      td {
        & > div {
          float: right;

          a {
            font-size: 12px;
            line-height: 20px;
          }
        }
        &:nth-child(2) {
          text-align: left;
        }
      }
    }
  }
}

.groupsAndUser {
  display: none;
  width: 100%;
  border: 1px solid #CCC;
  margin: 10px 0 30px 0;

  tr {
    &:nth-child(2n+1) {
      background: #F5F5F5;
    }

    th {
      background-color: #4B4B4A;
      color: white;
      text-align: left;
      height: 20px;
      padding: 0 5px;
    }

    td {
      text-align: left;
      padding: 0 10px;
      height: 20px;
    }

    td.text-right {
      text-align: right;
    }
  }
}

#modulesAccessTable {
  display: none;

  tr {
    th {
      text-align: center;
      vertical-align: top;
      padding: 8px 0;

      input[type="checkbox"] {
        margin-top: 5px;
      }
    }

    &.child {
      display: none;

      &.visible {
        display: table-row;
      }
    }

    &.parent {
      border-color: #fff;
      background-color: #ecf1f5;

      td {
        font-family: $semibold-font-family;
        color: #2b3643;
      }
    }
  }

  td {
    text-align: center;

    &.mname {
      text-align: left;
    }
  }
}

.salary-list {
  tbody#listTable {
    .subRow {
      &:hover {
        background-color: transparent;
      }
    }
  }
}

.ui-dialog {
  .list2 {
    thead, tbody {
      td {
        text-align: left;
        line-height: 1;
        height: 20px;
      }
    }
    thead {
      th {
        padding-top: 5px;
      }
    }
  }
}

.invisible_border {
  border: 1px solid transparent !important;
}

.hireFireTable {
  margin-bottom: 10px;
}

.report-list {
  tr {
    td {
      &:first-child {
        padding: 0;
      }
    }
  }
}

.forCaption {
  color: #ffffff !important; //@forCaption-text-color !important;
  background-color: #7eadcc; //@forCaption-color;
}

.grid {
  min-width: 100%;
  font-size: 11px;
  border-bottom: 1px solid #7f7f80; //@border-color-main;
  background-color: #ffffff; //@bg-main;
  tr {
    color: #4d5a75; // @captionsColor;
    th span {
      padding-right: 6px;
      text-align: right;
      height: 25px;
      line-height: 25px;
      display: block;
      color: #b4bcc8 //@list-color-text;
    }

    td {
      border-top: 1px solid  #7f7f80; //@border-color-main;
      &.createTd {
        cursor: pointer;
      }
    }

    td,
    th {
      border-bottom: 1px solid #7f7f80; //@border-color-main;
      border-top: 1px solid #7f7f80; //@border-color-main;
      border-left: 1px solid #7f7f80; //@border-color-main;
    }

    td span {
      height: 21px;
      padding: 0 7px;
      line-height: 20px;
      display: block;

      &.view {
        overflow: hidden;
        line-height: 16px;
      }
    }

    &.employeeProjects {
      display: none;
    }

    td, th {
      &.checkDashboard {
        width: 30px;
        min-width: 30px;
      }
      &.employee {
        min-width: 140px;
        width: 140px;
        position: relative;
        padding-right: 20px;

        span {
          white-space: nowrap;
        }

        .icon {
          position: absolute;
          top: 1px;
          right: 10px;
          //font-size: 14px;
          font-size: 8px;
          line-height: 21px;
          cursor: pointer;
          width: 12px;
          text-align: center;
          &:before {
            //content: '\e90f';
            //content: '\e912';
          }
        }
      }
      &.dayOfMonth {
        min-width: 27px;
      }

      &.activeHead {
        border: 1px solid #3e88b9; //@border-color-selected;
        border-bottom: none;
        display: table-cell;
      }
    }

    td {
      &.dashboardWeek {
        width: 107px;
        min-width: 107px;
        background-color: #ffffff; //@bg-main;

        input {
          background-color: #bdd7ee;
        }

        &.isLead span {
          line-height: 16px;
          padding: 2px;
        }
        &.dgreen, &.green, &.brown, &.yellow,
        &.pink, &.red{
          color: #fff; //@inactivate;
        }
        &.dgreen {
          background: #2d5d30;//@overWork;
        }

        &.green {
          background: #3e7f42;//@normalWork;
        }

        &.brown {
          background: #5cb85c;
        }

        &.yellow {
          background: #f9a203;//@littleWork;
        }

        &.pink {
          background: #cc5457//@oneWorkDay;
        }
        &.red {
          background-color: #e55253;//@free;
          border-bottom: 1px solid #7f7f80; //@border-color-main;
          border-left: 1px solid #7f7f80; //@border-color-main;
        }

        &.active {
          border-left: 1px solid #3e88b9 !important;//@border-color-selected !important;
          border-right: 1px solid #3e88b9 !important;//@border-color-selected !important;
          display: table-cell;
        }
        &.inactive {
          span.view {
            background-color: #fff; //@inactivate;
            color: #fff; //@inactivate;
            span {
              display: none;
            }
          }
        }
        span {
          position: relative;
          padding: 0;

          .label {
            padding: 0;
            height: 100%;
            line-height: 16px;
            letter-spacing: 1px;
            font-size: 11px;
          }

          span {
            height: 100%;
            line-height: 20px;
            letter-spacing: 1px;
            font-size: 11px;
          }

          &.viewCount {
            position: relative;
            left: 0;
            top: 0;
            width: 30px;
            padding: 0;
            text-align: center;
            float: left;
            height: 21px;
            background-color: #bdd7ee;
            color: white;
          }

          &.vacationHours {
            text-align: center;
            position: absolute;
            display: block;
            right: 0;
            width: 100%;
          }
        }
      }
      &.withVacation {
        span {
          line-height: 20px !important;
          position: relative;
          padding: 0;
          span.vacation {
            position: absolute;
            float: left;
            padding: 0;
            padding-right: 3px;
            background-color: #3c86e0;//@vacation;
            color:  #000000;//@overiewText-color;
            text-align: center;
            &.size40 {
              width: 50%;
            }
            &.size8 {
              width: 20%;
            }
            &.size16 {
              width: 40%;
            }
            &.size24 {
              width: 60%;
            }
            &.size32 {
              width: 60%;
            }
            &.sizeFull {
              width: 100%;
            }
          }

          &.vacationHours {
            &.size40 {
              width: 50%;
            }
            &.sizeNaN {
              width: 50%;
            }
            &.size0 {
              width: 0;
            }
            &.size8 {
              width: 40%;
            }
            &.size16 {
              width: 40%;
            }
            &.size24 {
              width: 60%;
            }
            &.size32 {
              width: 80%;
            }
            &.sizeFull {
              width: 100%;
            }
          }
        }
        &.inactive {
          span.viewCount {
            background-color: silver;
            color: silver;
          }
        }

      }

      span.projectItem {
        @extend %text-overflow;
        padding-left: 30px;
        text-align: center;
        width: 105px;
        padding-right: 0;
      }
      span.projectHours {
        display: block;
        position: absolute;
        width: 30px;
        padding: 0;
        text-align: center;
        border-right: 1px solid #7f7f80;//@border-color-main;
      }
    }

    &.group {
      color: #000000; //@mainText-color;
      cursor: pointer;
      td {
        background-color: #ffffff !important; //@dashBoard-bg-group-color !important;
      }
      span {
        text-align: left;

      }
    }
  }

  tr:nth-child(2n+1) td {
    background-color: #ededed;//@dashBoard-bg-color;
  }

  &.attendance {
    .V, .P, .S, .E, .vacation, .personal, .sick, .education{
      color: #ffffff;
    }

    tr:first-child, .borderRight {
      border-right: 1px solid #7f7f80;//@border-color-main;
    }
    th {
      border: 1px solid #7f7f80;//@border-color-main;
      background-color: #4c5975;
      color: #fff;
    }

    tr {
      border-bottom: none;

      td {
        border-left: 1px solid #7f7f80;//@border-color-main;
      }

      td:first-child {
        min-width: 100px;
        border-left: 1px solid #7f7f80;//@border-color-main;
        border-right: 1px solid #7f7f80;//@border-color-main;
      }

      td:nth-child(7n+1) {
        border-right: 1px solid #7f7f80;//@border-color-main;
      }
    }

    .vacation {
      background-color: #a32a2c;
    }
    .personal {
      background-color: #fba302;
    }
    .sick {
      background-color: #3e88b9;//@tilte-color;
    }
    .education {
      background-color: #1ebbea;//@forInfo-caption-color;
    }
    .weekend {
      color: #ccc;
    }
  }
  &.dashBoardMargin {
    margin-bottom: 45px;
  }
}

//from projectinfo.less .Main.css 1224
#forInfo {
  overflow: hidden;

  &._projectsTablesWrap {
    min-width: 650px;

    .current-selected {
      line-height: 26px;
    }
  }

  .forInfo-half-block {

    &.left {
      width: 65%;
      margin-right: 1%;
    }

    &.right {
      width: 34%;
    }
  }

  .tableProjects {
    margin-bottom: 10px;

    .forCaption {
      line-height: 28px;

      &:last-child {
        padding: 0 10px 0 0;
      }

      &:first-child {
        text-align: left;
        padding: 0 0 0 10px;
      }
    }

    .remove {
      min-width: 10px;
      border-left: 1px solid #7f7f80; //@border-color-main;
      border-right-width: 0;
      cursor: pointer;
    }

    .report {
      min-width: 10px;
      border-left: 1px solid #7f7f80; //@border-color-main;
      border-right-width: 0;
      cursor: pointer;
    }
    
    .editableJobs {
      input {
        width: 115px;
      }
      .icon-checked {
        color: #7eadcc;
        margin: 0 0 0 5px;
      }
    }
    
    .expand {
      border-left-width: 0;
      text-align: center;
      font-size: 14px;
      cursor: pointer;
    }

    .procent {
      //add procent
      position: relative;
      padding-right: 20px;
      &::before {
        content: '%';
        display: block;
        width: 5px;
        height: 5px;
        position: absolute;
        right: 13px;
      }
    }

    .subRow {
      background: none;
      &:hover {
        background: none;
      }

      td {
        &:first-child {
          border-left: 1px solid transparent;
        }
        &:last-child {
          border-right: 1px solid transparent;
        }
      }
    }
  }
  #jobsItem{
    border-bottom: 1px solid #d7d7d7 !important;
  }

  .innerTableProject {
    padding: 5px 0 5px 20px;
    .list > thead tr{
      border-top: 0;
    }
    .list > tfoot tr {
      border-bottom: 0;
    }
    .innerTableProject-footer {
      td {
        border-width: 0;
      }
    }
  }

  &.accounting {
    .accounting-half-block {
      width: 50%;
    }
    .accounting-fourth-block {
      width: 25%;
    }
    th {
      .fa {
        display: inline-block;
        font-size:17px;
        line-height: 23px;
        height: 100%;
        text-decoration: none;
      }
    }
    td {

      span{
        @extend %text-overflow;
        display: inline-block;
        width: 99%;
        line-height: 20px;
      }
      a {
        &.fa {
          margin-right: 10px;
        }
      }
    }
  }
}




//from mein.less 4927
.hrTop {
  tr {
    td {
      vertical-align: top;
      text-align: right;
      &.vcenter {
        vertical-align: middle;
      }
      &:first-child span {
        border-bottom: none;
        background-color: inherit;
      }
    }
    &.double {
      span {
        height: 40px;
        min-width: 130px;
        line-height: 15px;
        padding: 5px 8px 5px 8px;
        border-bottom: none;
        position: relative;
        &.large {
          line-height: 29px;
        }
        &.top, &.bottom {
          padding: 0 3px !important;
          height: 19px;
          line-height: 19px;
          border-bottom: none;
          position: absolute;
          left: 0px;
          width: 30px;
          text-align: right;
          border-right: 1px solid #7f7f80;
        }
        &.top {
          top: 0px;
          border-bottom: 1px solid #7f7f80;

        }
        &.bottom {
          top: 20px;
        }
        &:last-child {
          //padding: 5px 8px 5px 8px;
          padding: 0;
          border-bottom: none;
          word-break: break-word;
        }
      }
    }
  }
}

.hrTop tr td {
}

.hrTop tr td.vcenter {
}

//from mein.less 5026

.grid-conatiner {
  .statisticsAtten {
    margin-top: 10px;
    table {
      width: 100%;

      tr {

        &.footerRow {
          border-bottom: 1px solid #4c5975;
          td {
            span {
              min-height: 10px;
              content: " ";
            }
          }
        }

        td {
          border-right: 1px solid #4c5975;

          &:last-child {
            border: none;
          }

          .item {

            .title {
              text-align: center;
              font-size: 14px;
              margin-bottom: 5px;
              color: $black;
            }
            .countDays {
              font-size: 20px;
              color: #ffffff;
              width: 126px;
              padding: 5px;
              text-align: center;
              margin: 0 auto;

              &.leave,
              &.working {
                background-color: #36384e;
              }
              &.vacation {
                background-color: #e55253 //@capacityColorVacation;
              }
              &.personal {
                background-color: #f9a203;
              }
              &.sick {
                background-color: #3e88b9 //@tilte-color;
              }
              &.education {
                background-color: #3e7f42 //@capacityColorEducation;
              }

              /*for vacationDashboard*/

              &.free {
                background-color: #a22a2d //@free;
              }
              &.almostFree {
                background-color: #cc5457 //@oneWorkDay;
              }
              &.partiallyBusy {
                background-color: #f9a203 // @littleWork;
              }
              &.fullyBusy {
                background-color: #3e7f42 //@normalWork;
              }
              &.overWorked {
                background-color: #2d5d30;
              }
            }
            .lastTime {
              text-align: center;
              margin-top: 10px;
              color: $black;
            }
            .percent {
              text-align: center;
              color: #eb759e;
            }
          }
        }
      }
    }

    .percent {
      text-align: center;
      color: #eb759e;
    }

    &.stick {
      background-color: #fff;
      padding-top: 10px;
    }
  }

  table {
    .grid {
      border-color: #7f7f80;
    }
  }
}

//from main.less 5967
.invoiceChart-legend-box {
  position: relative;
  .list {
    thead {
      th {
        text-align: center;

        &.rotated {
          transform: rotate(-90deg);
          padding: 20px 0;
          height: 60px;
        }
      }
    }
    tbody {
      .boldInvoiced, .boldPaid {
        background-color: #565658;
        td {
          color:  #fff;//@whiteText;
        }
      }
      .revenueBySales, .totalBySales,
      .paidBySales {
        td {
          color: #fff; //@whiteText;
        }
      }
    }
  }
  .chartContainer {
    .domain {
      stroke: #000000 !important; //@main-color-svg !important;
    }
  }
}

//will adding horizontal scrolling to
//the table who has biggest width than monitor(needed wrapper for the table)
.tableResponsive {
  min-height: .01%;
  overflow: auto;
  width: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  &New {
    min-height: .01%;
    width: 100%;
  }
}

.payRoll-list-wrap{
  border-top: 1px solid #d7d7d7;
}
.payRollHolder + .payRoll-list{
  & > thead tr{
    border-top: 0;
  }
  & > tbody tr:last-child{
    border-bottom: 0;
  }
}

.payRoll-list {
  width: 100%;
  min-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;

  th, td {
    @extend %text-overflow;
  }
  tr thead tr{
    border-top: none;
    border-bottom: 1px solid #d7d7d7;
  }

  tbody > tr {
    border-top:none;
    thead tr{
      border-top: 0;
    }
    tr {
      border-top: 1px solid #d7d7d7;
      &:first-child {
        //border-top: 0;
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }

  tfoot {
    margin-right: 17px;
    td {
      border-color: transparent;
      padding-right: 20px;
    }
  }
  tbody {
    tr:hover {
      background: none;
    }
  }

  #payRoll-Table {
    padding: 0;
    .datePicker {
      padding: 0;
      input {
        &:not([disabled]) {
          outline: 1px solid #66b5d4 !important;
        }
        &:focus {
          outline: 1px solid #66b5d4 !important;
        }
      }
    }
    .mainRow td{
      border:none;
    }
    #payRoll-TableBody {
      td{
        //border-top: 1px solid #d7d7d7;
      }
    }
    .scrollit {
      display: block;
      height: calc(100vh - 2010px);
      overflow-x: hidden;
    }
  }

  ._payRoll-TableBody
  td{
    border: 1px solid #d7d7d7;
  }
}

.payRoll-expenses {
  //для позиционирования label в ui-dialog
  width: 70% !important;
  margin: 0 auto;
  padding-top: 25px !important;
  //overflow: hidden;

  .payRoll-name {
    //float: left;
    padding-right: 5px;
  }

  .payRoll-edit {
    float: right;
  }

  .payRoll-edit, .payRoll-name {
    margin-bottom: 15px;
  }
}

.payRoll-expenses{
  dd, dt{
    display: inline-block;
    line-height: 23px;
    width: 40%;
    float: left;
  }
  dd + dt{
    clear: both;
  }
  dd {
    width: 60%;
  }
}


.payRollHolder {
  margin-top: 0 !important;
}


.totalContainer {
  margin: 15px 20px 0 0;
  text-align: right;

  color: #000000;
  font-size: 14px;
  dd, dt{
    display: inline-block;
    line-height: 23px;
    font-size: 14px;
    //width: 40%;
    //float: left;
  }
  dd{
    width: 65%;
    .newSelectList{
      left: 50%;
      margin-left: -100%;
    }
  }
}

#searchContainer {
  &.payRoll {
    margin: 0 0 10px;
  }
}

@media (min-width: 920px) {
  table.payRoll-list {
    #payRoll-Table {
      .scrollit {
        height: calc(100vh - 290px);
      }
    }
  }
}

/*22.09 added from _main.less*/
#profileTableWrapper {
  width: calc(100% - 170px);

  > table {
    width: calc(100% - 20px);
    margin: 0 0 0 20px;

    thead {
      tr {
        border-top: 1px solid #7f7f80;
      }
      th:first-of-type {
        width: auto;
      }
    }
  }
  tr.child {
    td {
      &:first-child {
        padding-left: 30px;
      }
    }
  }
}

//.deleteRow {
//  &:hover {
//    .fa-trash-o {
//      display: inline-block;
//    }
//  }
//  .fa-trash-o {
//    display: none;
//  }
//}

/*28.09 added from modules/acounting*/
._acountingTableBlock {
  flex-grow: 1;
  //overflow: auto;

  .list {
    thead {
      tr {
        background-color: #f7f7f7;
        border-top: 0;
      }
    }

    tr {
      &:hover {
        .goToEdit,
        .goToRemove {
          visibility: visible;
        }
      }

      td, th {
        overflow: hidden;
        text-align: left;

        &:first-child {
          padding-left: 30px;
        }
      }
    }

    .goToEdit,
    .goToRemove {
      visibility: hidden;
    }
  }
}


/*03.10.16 added from forms.scss*/

td.source  .dropDown {
  padding: 4px;
  color: #0a92bd;
  font-size: 9px;
}

td.source {
  cursor: pointer;
}

tr.greyBorder {
  background-color: #d7d7d7;
}

table .currenr-selected {
  font-size: 12px;
}

table {
  .icon-caret-down {
    padding-right: 5px;
    position: relative;
  }

  .icon-caret-down:before {
    position: absolute;
    font-size: 7px;
  }
  td.source{
    .icon-caret-down{
      padding-right: 10px;

      &:before {
        top: 3px;
        right: -5px;
      }
    }
  }
}

