<div id="searchContainer"></div>
<div class="_tableWriteOff">
<table class="list stripedList">
    <colgroup>
        <col width="42px">
        <col width="42px">
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <col width="20%">
    </colgroup>
    <thead>
    <tr>
        <th class="centerCell">
            <label class="_customCHeckbox">
                <input type="checkbox" id="checkAll"/>
                <span></span>
            </label>
        </th>
        <th class="centerCell">N</th>
        <th class="oe_sortable" data-sort="name">WriteOff Number<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th class="oe_sortable" data-sort="project.name">Project<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th class="oe_sortable" data-sort="journal.name">Journal<span class="arrow down"></span><span
                class="arrow up"></span></th>

        <th class="oe_sortable" data-sort="paymentInfo.total">Total<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th class="oe_sortable" data-sort="invoiceDate">WriteOff Date<span class="arrow down"></span><span
                class="arrow up"></span></th>
    </tr>
    </thead>
    <tbody id="listTable" class="enableTableOdd"></tbody>
    <tfoot id="listTotal">
    <tr>
        <td colspan="5">Total</td>
        <td class="money"><span id="total"></span></td>
        <td></td>
    </tr>
    </tfoot>
</table>
 </div>