<div class="panel-heading _customDashboardPanel">
    <span class="chartName"><%=name%></span>
    <div class="panelHeadingDescr">
        <div>
            <button class="removeChart floatRight" aria-label="Close">
                <span class="fa fa-times" aria-hidden="true"></span>
            </button>
            <button class="editChart floatRight" aria-label="Close">
                <span class="fa fa-pencil" aria-hidden="true"></span>
            </button>
        </div>
        <span>From:  <span id="startDate"> <%=startDate%></span></span>
        <span>To:  <span id="endDate"> <%=endDate%></span></span>
    </div>
</div>
<div class="chartHolder"></div>