<div class="panel-heading _customDashboardPanel">
    <span class="chartName"><%=name%></span>
    <div class="panelHeadingDescr">
        <div>
            <!-- <button class="btn editChart floatRight" aria-label="Close">
                 <span class="icon-pencil2" aria-hidden="true"></span>
             </button>-->
        </div>
        <!-- <span>From:  <span id="startDate"> <%=startDate%></span></span>
         <span>To:  <span id="endDate"> <%=endDate%></span></span>-->
        <div id="dateFilter" class="vocationFilter _filterDropDownWrap"></div>
        <a id="viewAll" class="_viewAll" href="">View All</a>
    </div>
    <button class="editChart" aria-label="Edit" title="Edit Chart">
        <span class="icon-pencil2" aria-hidden="true"></span>
    </button>
    <button class="removeChart" aria-label="Close" title="Remove Chart">
        <span class="icon-close3" aria-hidden="true"></span>
    </button>
</div>
<div class="chartHolder"></div>