<% for(var i = 0; i < collection.length; i++) {%>
<%var item = collection[i];%>
<tr data-id="<%=item._id%>">
    <td><%=utcDateToLocaleDate(item.date)%></td>
    <td><%=item.sourceDocument.model%></td>
    <td><%=item.sourceDocument && item.sourceDocument.name ? item.sourceDocument.name: ''%></td>
    <%for (var j = 0; j < accounts.length; j ++){%>
    <% var accountId = accounts[j]._id; %>
    <%if (item && item.account && item.account._id === accountId) {%>
    <td data-id="<%= item.account._id %>" data-value="<%= item.debit || item.credit * (-1)%>" data-level="<%=i + 1%>"
        class="money"><%=item.debit ?currencySplitter((item.debit / 100).toFixed(2)) : currencySplitter(((item.credit *
        (-1)) / 100).toFixed(2))%>
    </td>
    <td data-id="<%= item.account._id %>" data-level="<%=i + 2%>" class="balance money"></td>
    <% } else { %>
    <td data-id="<%= accountId %>" data-value="0" data-level="<%=i + 1%>"></td>
    <td data-id="<%= accountId %>" data-value="0" data-level="<%=i + 2%>" class="balance money"></td>
    <% } %>
    <% } %>
</tr>
<% } %>