<div id="searchContainer"></div>
<table class="list stripedList">
    <colgroup>
        <col width="42px">
        <col width="42px">
        <col width="180px">
        <col width="180px">
        <col width="120px">
    </colgroup>
    <thead>
    <tr>
        <th class="centerCell"><input type="checkbox" id="checkAll"/></th>
        <th class="centerCell">N</th>
        <th class="oe_sortable" data-sort="name">Product Name<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th class="oe_sortable" data-sort="info.productType">Product Type<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th class="oe_sortable" data-sort="info.salePrice">Sale Price<span class="arrow down"></span><span
                class="arrow up"></span></th>
    </tr>
    </thead>
    <tbody id="listTable" class="enableTableOdd"></tbody>
</table>