<% paymentCollection.forEach(function(payment, index){ %>
<tr data-id="<%=payment._id%>">
    <td class="notForm"><input type="checkbox" value="<%=payment._id%>" class="checkbox"/></td>
    <td><%=startNumber + index + 1%></td>
    <td><%=payment.date%></td>
    <td><%=(payment.name) ? payment.name : ''%></td>
    <td><%=payment.period%></td>
    <td><%=(payment.paymentMethod) ? payment.paymentMethod.name : ''%></td>
    <td class="total"><%=(payment.paidAmount) ? currencySplitter(payment.paidAmount) : '0.00'%></td>
    <td><%=(payment.differenceAmount) ? currencySplitter(payment.differenceAmount) : '0.00'%></td>
    <!--<td id='<%=payment._id%>' data-content="workflow" class="editable">
        <a href="javascript:;" class="currentSelected <%= payment.workflow === 'Paid' ? 'done' : 'new'%>"><%=payment.workflow ? payment.workflow: 'Draft'%></a>
    </td>-->
</tr>
<% }) %>
