<div class="_tablePayrollPaymentsWrap">
    <table class="list stripedList">
        <colgroup>
            <col width="42px">
            <col width="42px">
            <col width="16%">
            <col width="23%">
            <col width="23%">
            <col width="15%">
            <col width="23%">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell">
                <label class="_customCHeckbox">
                    <input type="checkbox" id="checkAll"/>
                    <span></span>
                </label>
            </th>
            <th class="centerCell">N</th>
            <th class="oe_sortable" data-sort="date">Payment Date<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="number">Number<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="paymentPeriod">Payment Period<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="paidAmount">Paid<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="difference">Difference<span class="arrow down"></span><span
                    class="arrow up"></span></th>
        </tr>
        </thead>
        <tbody id="listTable"></tbody>
        <tfoot id="listTotal"></tfoot>
    </table>
</div>