<% collection.forEach(function(account, index){ %>
<tr data-id="<%=account._id ? account._id._id : null%>" class="mainTr">
    <td class="expand"><span class="icon-caret-right"></span></td>
    <td><%=account._id ? account._id.name : ''%></td>
    <td></td>
    <td class="money" data-id="debit" data-value="<%=account.debit / 100%>"><%=currencySplitter((account.debit / 100).toFixed(2))%>
    </td>
    <td class="money" data-id="credit" data-value="<%=account.credit / 100%>">
        <%=currencySplitter((account.credit / 100).toFixed(2))%>
    </td>
    <td class="money <%= parseInt((account.debit - account.credit).toFixed(2), 10) < 0 ? 'redText' : '' %>">
        <%=currencySplitter(((account.debit - account.credit) / 100).toFixed(2))%>
    </td>
</tr>

<%account.root.forEach(function(account){%>
<tr data-main="<%=account._id && account._id.category ? account._id.category._id : ''%>" data-account="<%=account._id && account._id._id ? account._id._id : null%>" class="childTr hidden">
    <td class="expand centerCell"><span class="icon-caret-right"></span></td>
    <td><%=account._id && account._id.name ? account._id.name : ''%></td>
    <td></td>
    <td class="money" data-id="debit"><%=currencySplitter((account.debit / 100).toFixed(2))%>
    </td>
    <td class="money" data-id="credit">
        <%=currencySplitter((account.credit / 100).toFixed(2))%>
    </td>
    <td class="money <%= parseInt((account.debit - account.credit).toFixed(2), 10) < 0 ? 'redText' : '' %>">
        <%=currencySplitter(((account.debit - account.credit) / 100).toFixed(2))%>
    </td>
</tr>
<%})%>
<% }) %>