<div id="searchContainer"></div>
<div id="glReport">
    <table class="list gl-list">
        <thead>
        <tr id="caption">
            <th class="centerCell">Expand</th>
            <th>Account</th>
            <th>Date</th>
            <th class="countable" data-id="debit">Debit</th>
            <th class="countable" data-id="credit">Credit</th>
            <th>Balance</th>
        </tr>
        </thead>

        <tbody id="listTable" class="enableTableOdd"></tbody>
        <tfoot id="glReportFooter">
        <tr>
            <td colspan="3">Total</td>
            <td id="debitTotal"></td>
            <td id="creditTotal"></td>
            <td id="balanceTotal"></td>
        </tr>
        </tfoot>
    </table>
</div>