<h3 class="formTitle">About <%=name.first%></h3>
<div class="person-info">
    <div class="avatar">
        <div class="upload">Edit
            <input type="file"
                   value="Edit"
                   id="inputImg">
        </div>
        <canvas id="avatar"
                width="140"
                height="140">
        </canvas>
    </div>

    <div class="_animateInputBox">
        <input class="_animate editable"
               data-id="name_first"
               value="<%=name.first%>"
        />
        <label class="_animate">Name</label>
    </div>
    <div class="_animateInputBox">
        <input class="_animate editable"
               data-id="website"
               value="<%=website%>"
               required/>
        <label class="_animate">Website</label>
    </div>
    <div class="_animateInputBox">
        <input class="_animate editable _socialContact"
               data-id="email"
               value="<%=email%>"
               required/>
        <label class="_animate">Email</label>
    </div>
    <div class="_animateInputBox">
        <input class="_animate editable _socialContact"
               data-id="social_LI"
               value="<%=social.LI%>"
               required/>
        <label class="_animate">LinkedIn</label>
    </div>
    <div class="_animateInputBox">
        <input class="_animate editable _socialContact"
               data-id="social_FB"
               value="<%=social.FB%>"
               required/>
        <label class="_animate">Facebook</label>
    </div>
    <div class="_animateInputBox">
        <input class="_animate editable"
               data-id="phones_phone"
               value="<%=phones.phone%>"
               required/>
        <label class="_animate">Phone</label>
    </div>
    <div class="_animateInputBox">
        <input class="_animate editable"
               data-id="phones_mobile"
               value="<%=phones.mobile%>"
               required/>
        <label class="_animate">Mobile</label>
    </div>
    <div class="_animateSelectBox">
        <div class="inputBox _newSelectListWrap">
            <label class="_selectTitle">Assigned To</label>
            <a class="current-selected assignName"
               href="javascript:;"
               id="salesPersonDd"
               data-id="salesPurchases_salesPerson">
                <%=(salesPurchases.salesPerson) ? salesPurchases.salesPerson.name.first + ' ' + salesPurchases.salesPerson.name.last : 'Select'%>
            </a>
        </div>
    </div>
    <div class="social">
        <% if (social.FB){%><a class="facebook" href="<%=social.FB%>"></a><%}%>
        <% if (social.LI){%><a class="linkedin" href="<%=social.LI%>"></a><%}%>
        <% if (skype){%><a class="skype" href="skype:<%=skype%>?call"></a><%}%>
        <div class="clearfix"></div>
    </div>

    <div class="separateBlock">Billing Address</div>

    <div class="_animateInputBox">
        <input class="_animate editable"
               data-id="address_street"
               value="<%=address.street%>"
               required/>
        <label class="_animate">Street</label>
    </div>
    <div class="_animateInputBox">
        <input class="_animate editable"
               data-id="address_city"
               value="<%=address.city%>"
               required/>
        <label class="_animate">City</label>
    </div>
    <div class="_animateInputBox">
        <input class="_animate editable"
               data-id="address_state"
               value="<%=address.state%>"
               required/>
        <label class="_animate">State</label>
    </div>
    <div class="_animateInputBox">
        <input class="_animate editable"
               data-id="address_zip"
               value="<%=address.zip%>"
               required/>
        <label class="_animate">Zip</label>
    </div>

    <div class="_animateSelectBox">
        <span class="_selectTitle">Country</span>
        <div  class="inputBox _newSelectListWrap">
            <a class="current-selected"
               href="javascript:;"
               data-id="address_country"
               id="country"
               data-value="<%=address.country%>">
                <%=address.country || 'Select'%>
            </a>
        </div>
    </div>

    <div class="separateBlock">Shipping Address</div>

    <div class="_animateInputBox">
        <input class="_animate editable"
               data-id="shippingAddress_name"
               value="<%=shippingAddress.name%>"
               required/>
        <label class="_animate">Full Name</label>
    </div>
    <div class="_animateInputBox">
        <input class="_animate editable"
               data-id="shippingAddress_street"
               value="<%=shippingAddress.street%>"
               required/>
        <label class="_animate">Street</label>
    </div>
    <div class="_animateInputBox">
        <input class="_animate editable"
               data-id="shippingAddress_city"
               value="<%=shippingAddress.city%>"
               required/>
        <label class="_animate">City</label>
    </div>
    <div class="_animateInputBox">
        <input class="_animate editable"
               data-id="shippingAddress_state"
               value="<%=shippingAddress.state%>"
               required/>
        <label class="_animate">State</label>
    </div>
    <div class="_animateInputBox">
        <input class="_animate editable"
               data-id="shippingAddress_zip"
               value="<%=shippingAddress.zip%>"
               required/>
        <label class="_animate">Zip</label>
    </div>
    <div class="_animateSelectBox">
        <span class="_selectTitle">Country</span>
        <div class="inputBox _newSelectListWrap">
            <a class="current-selected"
               href="javascript:;"
               id="shippingCountry"
               data-id="shippingAddress_country"
               data-value="<%=shippingAddress.country%>">
                <%=shippingAddress.country || 'Select'%>
            </a>
        </div>
    </div>
    <div id="salesPurchases-container"></div>
</div>
<div class="cropImages form" style="display:none;">
    <div class="formTitle">
        <h3 class="left">Crop Images</h3>

        <div class="clearfix"></div>
    </div>
    <br/>

    <div class="image_input" style="float: left;margin-right: 20px;"></div>
    <img class="image_output"/>

    <div class="clearfix"></div>
</div>
<div class="propertyEditBtn" id="formBtnBlock">

    <a href="javascript:;" id="saveBtn" class=" btn blue btnSave">Save</a>

    <a href="javascript:;" id="cancelBtn" class="btn ">Cancel</a>
</div>