<div class="form-holder">
    <form method="post" action="" id="createEmployeeForm" class="form">
        <fieldset>
            <div class="inner">
                <ul class="dialog-tabs">
                    <li><a class="active" href="javascript:;">Main</a></li>
                    <li><a href="javascript:;">Sales & Purchases</a></li>
                    <li><a href="javascript:;">Assignees</a></li>
                </ul>
                <div class="clearfix"></div>
                <div class="dialog-tabs-items">
                    <div class="dialog-tabs-item active">
                        <div class="avatar">
                            <div class="upload">
                                Edit
                                <input type="file" value="Edit" id="inputImg" accept="image/*">
                            </div>
                            <canvas id="avatar" width="140" height="140"></canvas>
                        </div>
                        <div class="avatarInfoContainer">
                            <div class="half-block left">
                                <dl class="person-info">
                                    <dt><label for="companyName">Company</label></dt>
                                    <dd><input type="text" class="title-input" name="name" placeholder="Name" id="companyName"
                                               required maxlength="32"/></dd>
                                    <dt><label for="website">Website </label></dt>
                                    <dd><input type="text" name="website" id="website" placeholder="e.g. wwww.site.com"
                                               maxlength="32"/></dd>
                                    <dt><label for="email">Email </label></dt>
                                    <dd><input type="text" name="email" id="email" placeholder="e.g. email@site.com"
                                               maxlength="48"/></dd>
                                    <dt><label for="LI">LinkedIn</label></dt>
                                    <dd><input type="text" id="LI" placeholder="LinkedIn"
                                               maxlength="256"/></dd>
                                    <dt><label for="FB">Facebook</label></dt>
                                    <dd><input type="text" id="FB" placeholder="Facebook"
                                               maxlength="256"/></dd>
                                    <dt><label for="phone">Phone </label></dt>
                                    <dd><input type="text" name="phone" id="phone" placeholder="Phone number"
                                               maxlength="20"/></dd>
                                    <dt><label for="mobile">Mobile </label></dt>
                                    <dd><input type="text" name="mobile" id="mobile" placeholder="Mobile number"
                                               maxlength="20"/></dd>
                                    <!--<dt><label for="departmentDd">Assigned to</label></dt>
                                    <dd>
                                        <a id="departmentDd" class="current-selected" href="javascript:;"></a>
                                    </dd>-->

                                </dl>
                            </div>
                            <div class="half-block left">
                                <dl class="person-info">
                                    <dt><label for="street">Street </label></dt>
                                    <dd><input type="text" class="address" name="street" id="street"
                                               placeholder="Street..." maxlength="32"/></dd>
                                    <dt><label for="city">City </label></dt>
                                    <dd><input type="text" class="address" name="city" id="city" placeholder="City"
                                               maxlength="32"/></dd>
                                    <dt><label for="state">State </label></dt>
                                    <dd><input type="text" class="address" name="state" id="state" placeholder="State"
                                               maxlength="32"/></dd>
                                    <dt><label for="zip">Zip </label></dt>
                                    <dd><input type="text" class="address" name="zip" id="zip" placeholder="Zip"
                                               maxlength="32"/></dd>
                                    <dt><label for="countryInputCreate">Country </label></dt>
                                    <dd><input type="text" class="address" name="country" id="countryInputCreate"
                                               placeholder="Country" maxlength="32"/></dd>
                                </dl>
                            </div>
                        </div>
                        <div class="clearfix">
                        </div>
                        <div id="details-dialog">
                            <div class="cropImages form" style="display:none;">
                                <div class="formTitle">
                                    <h3 class="left">Crop Images</h3>

                                    <div class="clearfix"></div>
                                </div>
                                <br/>

                                <div class="image_input" style="float: left;margin-right: 20px;"></div>
                                <img class="image_output"/>

                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="dialog-tabs-item">
                        <div id="salesPurchases-container"></div>
                    </div>
                    <div class="dialog-tabs-item">
                        <div class="assignees-container"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </fieldset>
    </form>
</div>
