<ul>
    <% collection.forEach(function(item){ %>
    <li  data-id="<%= item._id %>"  class="propertyBox">
        <div class="propertyImg">
            <img src="https://static.hsappstatic.net/salesImages/static-1.38/avatars/default-company-avatar.gif" title="property" alt="property">
        </div>
        <div class="propertyBody">
            <span class="propertyNameList"><%= item.fullName || ' ' %></span>
            <span ><%= item.website || ' ' %></span>
        </div>
    </li>
    <% }) %>

</ul>
<a href="javascript:;" id="newCustomer" class="createNewTag">Create New Company</a>
