<div id="searchContainer"></div>
<div class="_tablePayoutWrap">
    <table class="list stripedList">
        <colgroup>
            <col width="42px">
            <col width="18%">
            <col width="17%">
            <col width="13%">
            <col width="13%">
            <col width="13%">
            <col width="13%">
            <col width="13%">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell">
                <label class="_customCHeckbox">
                    <input type="checkbox" id="checkAll"/>
                    <span></span>
                </label>
            </th>
            <th class="oe_sortable" data-sort="supplier.name.first">Employee<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="paymentRef">Bonus Type<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="year">Year<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="month">Month<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="paidAmount">Paid<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="paidAmount">Amount<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <!--<th class="oe_sortable" data-sort="workflow">Status<span class="arrow down"></span><span class="arrow up"></span></th>-->
            <th class="oe_sortable sortDn" data-sort="date">Date of Paid<span class="arrow down"></span><span
                    class="arrow up"></span></th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
        <tfoot id="listTotal"></tfoot>
    </table>
</div>