.label-success {
  background-color: #5cb85c;
}

.label-warning {
  background-color: #f0ad4e;
}

.label-danger {
  background-color: #d9534f;
}

.hidden {
  display: none !important;
}

.fired {
  background-color: rgba(235, 0, 4, 0.73) !important;
  color: #fff!important;
}