<div class="form-holder">
    <form class="form" data-id="<%=_id%>">
        <div class="inner">

            <div class="avatar">
                <img class="person" src="<%=imageSrc%>" />
            </div>
            <div class="floatAvatar">
                <h2><%=login%></h2>
                <div class="half-block left">
                    <div class="half-block left">
                        <p><label>Email</label></p>
                        <p><label>Profile</label></p>
                    </div>
                    <div class="half-block left">
                        <p><%=email%></p>
                        <p><%=profile.profileName%></p>
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    </form>
</div>
