<div class="noteWrapper attachWrapper">
    <!--  <label>Attachments</label>-->

    <form enctype="multipart/form-data" id="<%= elementId %>" action="" method="POST">

        <div id="attachBody">
            <ul class="attachContainer">
                <% if (attachments){ attachments.reverse();
                _.each(attachments, function(data,key){ %>
                <li class="attach attachFile_<%=data['_id'] %>"><a href="download/<%=data.shortPas%>"><%=data.name %></a>
                    (<%=data.size %>) <%=data.uploaderName %> <%=moment(data.uploadDate).format('DD MMM, YYYY, H:mm:ss')
                    %>
                    <a id="<%=data['_id'] %>" href="javascript:;" class="deleteAttach">Delete</a>
                </li>
                <% }); attachments.reverse();} %>
            </ul>
        </div>

        <div class="input-file" style="display: none">
            <span>Attach</span>
            <input type="file" value="Choose File" id="inputAttach" class="inputAttach" name="attachfile"
                   multiple="multiple">

        </div>
        <div class="progress" style="float:left;">
            <div class="bar">
                <span class="status"></span>
            </div>
        </div>
    </form>


</div>

