<div class="attachments"></div>
<div class="noteWrapper">
    <%if (needNotes) {%>
    <label>Note</label>
    <div class="addNote">
        <div>
            <label>Note Content</label>
            <div class="area_holder counterWrap">
                <textarea id="noteArea" placeholder="Add a Note" maxlength="500"></textarea>

                <div class="counter-wrap">
                    <span class="counter-label">Characters left:</span>
                    <span class="counter-value" id="counterValue">500</span>
                </div>

                <a href="javascript:;" class="attach_file">
                    <span class="icon-attach"></span>
                </a>
            </div>
            <div>
                <a class="addTitle" href="javascript:;">Add a title</a>
            </div>

            <div class="title-wrapper">
                <label>Note Title</label>
                <input type="text" id="noteTitleArea" value="" maxlength="64">
            </div>

            <div class="buttons">
                <!--<input type="submit" id="addNote" class="btn" value="Save">-->
                <buttom class="btn" id="addNote">
                    <span>Save</span>
                </buttom>
                <buttom class="btn" id="cancelNote">
                    <span>Cancel</span>
                </buttom>
                <!--<a href="javascript:;" id="cancelNote">Cancel</a>-->

                <div class="clearfix">
                </div>
            </div>
            <input type="hidden" id="getNoteKey" value="">
        </div>
        <div class="clearfix"></div>

    </div>
    <%}%>
    <div class="clearfix"></div>

    <div id="noteBody" class="">
        <% if (notes && notes.length) { %>
            <% notes = notes || [];%>
            <% notes.reverse();
            _.each(notes, function(val, key){ %>
        <%if (!val.history && !val.attachment && !val.pay) {%>

            <div id="<%=val['_id'] %>" class="noteContainer noteInner">
                <div class="noteTitle">
                    <span><%=val.title ? val.title.replace(/</g,"&#60;").replace(/>/g,"&#62;") : '' %></span>
                </div>
                <div class="noteText"><%=val.note? val.note.replace(/</g,"&#60;").replace(/>/g,"&#62;").replace(/\n/g,"<br/>") : '' %>
                </div>
                <div>
                    <div>
                        <a class="name" href="javascript:;">
                            <%=val['author']%> </a>
                        <span class="dateNote"><%=val['date'] %></span>
                        <%if (needNotes) {%>
                    </div>

                    <div class="noteBtn">
                      <span>
                        <a href="javascript:;"
                           id="edit_<%=val['_id']%>"
                           data-id="<%=val['_id']%>"
                           class="btn editDelNote editNote">Edit</a>
                      </span>

                      <span>
                        <a href="javascript:;" id="del_<%=val['_id']%>" data-id="<%=val['_id']%>" class="editDelNote btn ">Del</a>
                      </span>

                    </div>
                    <%}%>
                </div>
            </div>
            <div class="clearfix"></div>
        <% } %>

            <% }); notes.reverse(); %>
        <% } %>
    </div>
</div>
