<div class="form-holder" id="addGroupDialog">
    <div class="formTitle">
        <h3 class="left">Choose Groups</h3>

        <div class="clearfix"></div>
    </div>

    <div class="groupsChooser">
        <div class="left">
            <ul id="sourceGroups" class="source">

            </ul>
        </div>
        <div class="left">
            <div class="swich"></div>
        </div>
        <div class="left">
            <ul id="targetGroups" class="target">

            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>