<div class="form-holder" id="addUseDialog">
    <div class="formTitle">
        <h3 class="left">Choose Users</h3>

        <div class="clearfix"></div>
    </div>
    <div class="groupsChooser">
        <div class="left">
            <ul id="sourceUsers" class="source">

            </ul>
        </div>
        <div class="left">
            <div class="swich"></div>
        </div>
        <div class="left">
            <ul id="targetUsers" class="target">

            </ul>
        </div>
    </div>

    <div class="clearfix"></div>
</div>