<div id="listTable">
    <% collection.forEach(function(item, index){ %>
    <div class="compactView" data-id="<%=item._id%>">
        <div class="compactRowWrap">
            <div class="compactRow">
                <div class="supplier firstName"><%=item.customer ? item.customer.name : ''%></div>
            </div>

            <div class="compactRow">
                <div class="supplier firstName"><%=item.name%></div>
            </div>
            <div class="compactRow">
                <div class="date"><%= item.date || '' %></div>
            </div>
        </div>
        <% }) %>
    </div>
</div>
