<div class="form-holder _newForm">
    <h4 class="_dialogMainTitle"><%=title%></h4>
    <div class="_formWrap">
        <div class="_formBlock">
            <div class="_animateSelectBox">
                <span class="_selectTitle">Month</span>
                <div class="_newSelectListWrap">
                    <a id="month" class="current-selected" data-id="<%=month%>"><%=month%></a>
                </div>
            </div>
            <div class="_animateSelectBox">
                <span class="_selectTitle">Year</span>
                <div class="_newSelectListWrap">
                    <a id="year" class="current-selected" data-id="<%=year%>"><%=year%></a>
                </div>
            </div>
        </div>
    </div>
</div>
