<div class="form-holder">
    <div class="clearfix"></div>
    <h3 class="borderBottom">Process Payroll</h3>
    <div class="clearfix"></div>

    <div class="payRoll-expenses _payRollFormVisible">
        <dl>
            <dt><label class="payRoll-name" for="month">Month</label></dt>
            <dd><a id="month" class="current-selected" data-id="<%=month%>"><%=month%></a></dd>

            <dt><label class="payRoll-name" for="year">Year</label></dt>
            <dd><a id="year" class="current-selected" data-id="<%=year%>"><%=year%></a>
            </dd>
        </dl>
    </div>
</div>