<% personsCollection.forEach(function(person, index){ %>
<tr data-id="<%=person._id%>">
    <td class="notForm centerCell"><input type="checkbox" value="<%=person._id%>" class="checkbox" /></td>
    <td class="centerCell"><%=startNumber + index + 1%></td>
    <td><%=person.name.first.substr(0,15)%></td>
    <td><%=person.name.last%></td>
    <td><%=person.email%></td>
    <td class = "notForm"><a href="skype:<%=person.phones.phone%>?call"><%=person.phones.phone%></a></td>
    <td><%=person.address.country%></td>
    <td><%=(person.createdBy&&person.createdBy.date)?(person.createdBy.date + ((person.createdBy.user)?(' (' + person.createdBy.user.login + ')'):'')):''%></td>
    <td><%=(person.editedBy&&person.editedBy.date)?( person.editedBy.date + ((person.editedBy.user) ?(' (' + person.editedBy.user.login + ')') : '')):''%></td>
</tr>
<% }) %>
