<div id="searchContainer"></div>
<div>
    <table class="list task-list">
        <col width="2%">
        <col width="2%">
        <col width="10%">
        <col width="10%">
        <col width="2%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="10%">


        <thead>
        <tr>
            <th class="notForm centerCell"><input type="checkbox" id="check_all"/></th>
            <th class="centerCell">N</th>
            <th class="oe_sortable" data-sort="name.first">First Name<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="name.last">Last Name<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="email">Email<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="phones.phone">Phone<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="address.country">Country<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="createdBy.date">Created By<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable sortDn" data-sort="editedBy.date">Edited By<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>
