<div id="searchContainer"></div>
<div class="_tablePersonsWrap">
    <table class="list stripedList">
        <colgroup>
          <col width="42px">
          <col width="12%">
          <col width="10%">
          <col width="15%">
          <col width="14%">
          <col width="10%">
          <col width="10%">
          <col width="14%">
          <col width="15%">
        </colgroup>
        <thead>
        <tr>
          <th class="notForm centerCell">
            <label class="_customCHeckbox">
              <input type="checkbox"
                     id="checkAll"/>
              <span></span>
            </label>
          </th>
          <th class="oe_sortable"
              data-sort="name.first">First Name
            <span class="arrow down"></span>
            <span class="arrow up"></span>
          </th>
          <th class="oe_sortable"
              data-sort="name.last">Last Name
            <span class="arrow down"></span>
            <span class="arrow up"></span>
          </th>
          <th class="oe_sortable"
              data-sort="email">Email
            <span class="arrow down"></span>
            <span class="arrow up"></span>
          </th>
          <th class="oe_sortable"
              data-sort="phones.phone">Phone
            <span class="arrow down"></span>
            <span class="arrow up"></span>
          </th>
          <th class="oe_sortable"
              data-sort="address.country">Country
            <span class="arrow down"></span>
            <span class="arrow up"></span>
          </th>
          <th class="oe_sortable"
              data-sort="channel.channelName">Channel
            <span class="arrow down"></span>
            <span class="arrow up"></span>
          </th>
          <th class="oe_sortable"
              data-sort="createdBy.date">Created By
            <span class="arrow down"></span>
            <span class="arrow up"></span>
          </th>
          <th class="oe_sortable sortDn"
              data-sort="editedBy.date">Edited By
            <span class="arrow down"></span>
            <span class="arrow up"></span>
          </th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>