<div class="groupName ">
    <span id="<%= filterViewName %>"><%= groupName %></span>
</div>
<div id="<%= filterViewName %>Container" class="ulContent hidden">
    <% if (paginationBool){%>
    <input style="width: 90%" id="<%=filterViewName%>Input" placeholder="Search" \>
    <%}%>
    <ul id="<%=filterViewName%>Ul" class="filterValues">
    </ul>
    <% if (paginationBool){%>
    <li class="miniStylePagination">
        <a class="prev" href="javascript:;">&lt;Prev</a>
        <span class="counter"></span>
        <a class="next" href="javascript:;">Next&gt;</a>
    </li>
    <%}%>
</div>