<div class="groupName <%=status ? 'checkedGroup' : ''%>">
    <span id="<%=groupViewName%>"><%=groupName%></span>
</div>
<div id="<%=groupViewName%>Container" class="ulContent<%=groupStatus ? ' hidden' : ''%>">
    <ul id="<%=groupViewName%>Ul" class="filterValues">
    </ul>
    <% if (paginationBool){%>
    <li class="miniStylePagination">
        <a class="prev" href="javascript:;">&lt;Prev</a>
        <span class="counter"></span>
        <a class="next" href="javascript:;">Next&gt;</a>
    </li>
    <%}%>
</div>