<div class="listWrap quotationsList">
    <div class="listContentWrap">
        <div class="listContentTitle">
            <div class="dropDown">
                <a id="sortBy" class="icon-list5 dropBtn"></a>
                <ul>
                    <li class="oe_sortable" data-sort="name">
                        <span class="dropContent">Name</span>
                        <span class="sortArrow"></span>
                    </li>
                    <li class="oe_sortable" data-sort="supplier.name.last">
                        <span class="dropContent">Supplier</span>
                        <span class="sortArrow"></span>
                    </li>
                    <li class="oe_sortable" data-sort="paymentInfo.total">
                        <span class="dropContent">Payment Total</span>
                        <span class="sortArrow"></span>
                    </li>
                    <li class="oe_sortable" data-sort="paymentInfo.unTaxed">
                        <span class="dropContent">Payment UnTaxed</span>
                        <span class="sortArrow"></span>
                    </li>
                    <li class="oe_sortable" data-sort="orderDate">
                        <span class="dropContent">Date</span>
                        <span class="sortArrow"></span>
                    </li>
                </ul>
            </div>
            <div id="searchContainer"></div>
        </div>
        <div id="listContent" class="listContent">

        </div>
        <div id="listPagination"></div>
    </div>
    <div class="formContentWrap">
        <div class="formContentTitle">
            <span class="closeBtn"></span>
        </div>
        <div id="formContent" class="formContent">

        </div>
    </div>
</div>