<table id="listTable">
    <% quotations.forEach(function(quotation, index){ %>
    <% var currency =(quotation.currency && quotation.currency._id ? quotation.currency._id.symbol : '')%>

    <tr class="compactView" data-id="<%=quotation._id%>">
        <td class="checkboxRow">
            <label>
                <input type="checkbox" value="<%=quotation._id%>" class="checkbox"/>
            </label>
        </td>
        <td>
            <div class="compactRowWrap">
                <div class="compactRow">
                    <div class="quotationsNameLeftBar firstName"><%- quotation.name%></div>
                    <div><%= quotation.supplier.name.last %></div>
                </div>
                <div class="compactRow">
                    <div><%= quotation.orderDate %></div>
                </div>
                <div class="compactRow">
                    <div class="total"><%=currency %><%=(quotation.paymentInfo) ? currencySplitter(quotation.paymentInfo.total) : '0'%></div>
                    <div class="unTaxed"><%=currency %><%=(quotation.paymentInfo) ? currencySplitter(quotation.paymentInfo.unTaxed) : '0'%></div>
                </div>
            </div>
        </td>
    </tr>
    <% }); %>
</table>