<div class="form-holder _newForm">
    <form method="post" action="" id="createProfileForm">
        <h4 class="_dialogMainTitle">Create new profile</h4>
        <div class="_formWrap _enlargedItemMargin">
            <div class="_formBlock">
                <div class="_animateInputBox">
                    <input type="text"
                           class="_animate"
                           id="profileName"
                           required
                           autofocus
                           maxlength="12"/>
                    <label class="_animate">Profile Name</label>
                </div>
                <div class="_animateInputBox">
                    <input type="text"
                           class="_animate"
                           id="profileDescription"
                           required
                           maxlength="32"/>
                    <label class="_animate">Description</label>
                </div>
                <div class="_animateSelectBox">
                    <span class="_selectTitle">Base Profile: </span>
                    <div class="_newSelectListWrap">
                        <a id="profilesDd"
                           class="current-selected"
                           href="javascript:;">Select assigner
                        </a>
                    </div>
                </div>
                <div class="_formRow">
                    <div class="_circleRadioRadianceWrap">
                        <input type="radio"
                               name="group"
                               value="base"
                               checked
                               id="baseProfile"
                               class="_circleRadioRadiance"/>
                        <label for="baseProfile" class="_circleRadioRadianceLabel"></label>
                    </div>
                    <label for="baseProfile">Use base profile and edit privileges</label>
                </div>
                <div class="_formRow">
                    <div class="_circleRadioRadianceWrap">
                        <input type="radio"
                               name="group"
                               value="new"
                               id="newProfile"
                               class="_circleRadioRadiance"/>
                        <label for="newProfile" class="_circleRadioRadianceLabel"></label>
                    </div>
                    <label for="newProfile">Create new profile from scratch</label>
                </div>
            </div>
        </div>
    </form>
</div>
