<div class="form-holder _newForm productForm routingCreate">
    <form method="post" action="" id="createEmployeeForm" class="form">
        <h4 class="_dialogMainTitle">Add New Routing</h4>

        <div class="dialog-tabs-items mainTabs">
            <div class="dialog-tabs-item mainTabs active">
                <div class="_formWrap _enlargedItemMargin">
                    <div class="_formBlock _equal">
                        <div class="_animateInputBox _withInfo">
                            <input type="text"
                                   class="_animate"
                                   id="nameRouting"
                                   autofocus
                                   required
                                   maxlength="32" />
                            <label class="_animate">Routing Name</label>
                            <span></span>
                        </div>
                        <div id="operationsContainer">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

