<div class="_profitWrap">
    <div id="searchContainer"></div>
    <div class="containerContent">
        <div class="_profitTableWrap">
            <div class="_profitTitle">ORDINARY INCOME / EXPENSES</div>
            <div class="_profitContent">
                <table class="list tableFixed">
                    <colgroup>
                        <col span="1" width="20px">
                        <col span="2" width="50%">
                        <col span="1" width="50%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th colspan="4" class="_profitSubTitle">Income</th>
                    </tr>
                    </thead>
                    <tbody id="listTableIncome" class="enableTableOdd"></tbody>
                    <tfoot>
                    <tr>
                        <td colspan="3" class="text-left ">Total Income</td>
                        <td class="money textRight" id="incomeFooter"></td>
                    </tr>
                    </tfoot>
                </table>
                <table class="list tableFixed">
                    <colgroup span="4">
                        <col span="1" width="20px">
                        <col span="2" width="50%">
                        <col span="1" width="50%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th colspan="4" class="_profitSubTitle">Cost of Goods Sold</th>
                    </tr>
                    </thead>
                    <tbody id="listTableCogs" class="enableTableOdd"></tbody>
                    <tfoot>
                    <tr>
                        <td colspan="3">Total COGS</td>
                        <td class="money textRight" id="cogsFooter"></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="_profitSumBlock _profitSubTitle">
                <span>Gross Profit</span>
                <span class="money textRight" id="grossProfit"></span>
            </div>
            <div class="_profitContent">
                <table class="list tableFixed">
                    <colgroup span="4">
                        <col span="1" width="20px">
                        <col span="2" width="50%">
                        <col span="1" width="50%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th colspan="4" class="_profitSubTitle">Expenses</th>
                    </tr>
                    </thead>
                    <tbody id="listTableExpenses" class="enableTableOdd"></tbody>
                    <tfoot>
                    <tr>
                        <td colspan="3">Total Expenses</td>
                        <td class="money textRight" id="expFooter"></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="_profitTableWrap">
            <div class="_profitSumBlock _profitTitle">
                <span>NET ORDINARY INCOME</span>
                <span id="netOrdinaryIncome"></span>
            </div>
        </div>

        <div class="_profitTableWrap">
            <div class="_profitTitle">OTHER INCOME / EXPENSES</div>
            <div class="_profitContent">
                <table class="list tableFixed">
                    <colgroup span="4">
                        <col span="1" width="20px">
                        <col span="2" width="50%">
                        <col span="1" width="50%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th colspan="4" class="_profitSubTitle">Taxes</th>
                    </tr>
                    </thead>
                    <tbody id="listTableTaxes" class="enableTableOdd"></tbody>
                    <tfoot>
                    <tr>
                        <td colspan="3">Total Taxes</td>
                        <td class="money textRight" id="taxesFooter"></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="_profitSumBlock _profitSubTitle">
                <span>Total Other</span>
                <span class="money textRight" id="totalOther"></span>
            </div>
        </div>

        <div class="_profitTableWrap">
            <div class="_profitSumBlock _profitTitle">
                <span>NET INCOME</span>
                <span id="netIncome"></span>
            </div>
        </div>

        <div class="_profitTableWrap">
            <div class="_profitTitle">DIVIDENDS</div>
            <table class="list tableFixed">
            <colgroup span="4">
                <col span="1" width="20px">
                <col span="2" width="50%">
                <col span="1" width="50%">
            </colgroup>
            <thead>
            <tr>
                <th colspan="4" class="_profitSubTitle">Dividends</th>
            </tr>
            </thead>
            <tbody id="listTableDividends" class="enableTableOdd"></tbody>
            <tfoot>
            <tr>
                <td colspan="3">Total Dividends</td>
                <td class="money textRight" id="dividendsFooter"></td>
            </tr>
            </tfoot>
        </table>
        </div>

        <div class="_profitTableWrap">
            <div class="_profitSumBlock _profitTitle">
                <span>RETAINED EARNINGS</span>
                <span id="income"></span>
            </div>
        </div>


    </div>
</div>