<div id="searchContainer"></div>
<div>
    <div>
        <table class="list gl-list">
            <colgroup span="4">
                <col span="1" width="10%">
                <col span="2" width="25%">
                <col span="1" width="40%">
            </colgroup>
            <thead>
            <tr>
                <th colspan="4"
                    class="forCaption" style="text-align: left;">
                    GROSS PROFIT
                </th>
            </tr>

            <tr id="caption">
                <th class="centerCell">Expand</th>
                <th>Account</th>
                <th>Date</th>
                <th class="countable" data-id="debit">Amount</th>
            </tr>
            </thead>
            <tfoot>
            <td colspan="4" id="grossFooter"></td>
            </tfoot>
            <tbody id="listTableGrossFit" class="enableTableOdd"></tbody>
        </table>

    </div>
    <br/>
    <br/>
    <div>
        <table class="list gl-list">
            <colgroup span="4">
                <col span="1" width="10%">
                <col span="2" width="25%">
                <col span="1" width="40%">
            </colgroup>
            <thead>
            <tr>
                <th colspan="4"
                    class="forCaption" style="text-align: left;">
                    EXPENSES
                </th>
            </tr>
            <tr id="captionExpenses">
                <th class="centerCell">Expand</th>
                <th>Account</th>
                <th>Date</th>
                <th class="countable" data-id="debit">Amount</th>
            </tr>
            </thead>
            <tfoot>
            <td colspan="4" id="expFooter"></td>
            </tfoot>
            <tbody id="listTableExpenses" class="enableTableOdd"></tbody>
        </table>
    </div>

    <br/>
    <br/>
    <div>
        <table class="list gl-list">
            <colgroup span="4">
                <col span="3" width="20%">
                <col span="1" width="40%">
            </colgroup>
            <thead>
            </thead>
            <tbody id="total">
            <tr>
                <td colspan="3" id="totalSumm"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>