<tr class="productItem deleteRow _productRow" id="<%=elem._id%>">

    <td data-name="productName" class="text-left">
        <div class="_animateSelectBox">
            <div class="_newSelectListWrap">
                <a class="current-selected"
                   id="productsDd"
                   href="javascript:;"
                   data-id="<%= elem.product ? elem.product._id : ''%>">

                    <%=elem.product ? elem.product.name : 'Select Product' %>
                </a>
            </div>
        </div>
    </td>
    <td>
        <textarea class="productDescr _productDescription"
                  placeholder="Select Product as first"
                  disabled><%= elem.product && elem.product.info ? elem.product.info.description :  ''%></textarea>
    </td>
    <td data-name="onHand">
        <input id="onHand"
               class="quantity statusInfo _productInput"
               maxlength="9"
               value="<%=elem.inStock%>"
               size=7
               type="text"
               readonly/>
    </td>
    <td data-name="cost">
        <input id="cost"
               class="number statusInfo _productInput"
               maxlength="9"
               value="<%=elem.cost%>"
               size=7
               type="text"/>
    </td>
    <td data-name="newOnHand">
        <input id="newOnHand"
               class="number quantity statusInfo _productInput"
               maxlength="9"
               value="<%=elem.onHand%>"
               size=7
               type="text"/>
    </td>

    <td data-name="adjusted">
        <input id="adjusted"
               class="number quantity statusInfo _productInput"
               maxlength="9"
               value="<%=elem.onHand ? 0 : ''%>"
               size=7
               type="text"/>
    </td>
    <td class="deleteCell centerCell">
        <span title="Delete" class="icon-close5 removeJob"></span>
    </td>
</tr>