<tr class="productItem deleteRow" id="<%=elem._id%>">

    <td data-name="productName" class="">
        <div class="_newSelectListWrap">
        <a class="current-selected" id="productsDd" href="javascript:;" data-id="<%= elem.product ? elem.product._id : ''%>">

            <%=elem.product ? elem.product.name : 'Select' %>
        </a>

        <div class="jobsWescWrap">
            <textarea class="productDescr"><%= elem.product && elem.product.info ? elem.product.info.description :  ''%></textarea>
        </div>

    </td>
    <td data-name="onHand">
        <input id="onHand" class="quantity statusInfo" maxlength="9" value="<%=elem.inStock%>" size=7 type="text" readonly/>
    </td>
    <td data-name="cost">
        <input id="cost" class="number statusInfo" maxlength="9" value="<%=elem.cost%>" size=7 type="text"/>
    </td>
    <td data-name="newOnHand">
        <input id="newOnHand" class="number quantity statusInfo" maxlength="9" value="<%=elem.onHand%>" size=7 type="text"/>
    </td>

    <td data-name="adjusted">
        <input id="adjusted" class="number quantity statusInfo" maxlength="9" value="<%=elem.onHand ? 0 : ''%>" size=7 type="text"/>
    </td>
    <td class="deleteCell centerCell">
        <span title="Delete" class="icon-close5 removeJob"></span>
    </td>
</tr>