<table class="list _projectTableLeftAlign tableFixed _invoiceTable">
    <colgroup>
        <col width="200px">
        <!--<col width="200px">-->
        <col width="100px">
        <col width="120px">

        <col width="100px">
        <col width="100px">
        <col width="30px">
    </colgroup>
    <thead>
    <tr class="productListItemsColumns _deleteHeader">
        <th class="width20" data-sort="Product">
            Product
        </th>
        <th class="width20" data-sort="unitPrice">
            On Hand
        </th>
        <th class="width20" data-sort="taxes">
            Cost (per unit add)
        </th>
        <th class="width20" data-sort="taxes">
            New Value
        </th>
        <th class="width20" data-sort="subtotal">
            Quantity Adjusted
        </th>
        <th class="deleteCell"></th>
    </tr>
    </thead>
    <tbody id="tbodyProducts">
    <tr></tr>

    <tr>
        <td class="invisible_border">&nbsp;</td>
    </tr>
    <tr>
        <td class="invisible_border">&nbsp;</td>
    </tr>
    </tbody>
    <tr class="hidden" id="newItem">
        <td class="addProductItem">
            <a href="javascript:;">Add an item</a>
        </td>

    </tr>
</table>
<div class="clearfix"></div>
<div id="totalAmountContainer" class="_totalAmountContainer _createPopup">

</div>