<table class="_productTable">
    <colgroup>
        <col width="180px">
        <col width="100%">
        <col width="70px">
        <col width="120px">
        <col width="74px">
        <col width="120px">
        <col width="30px">
    </colgroup>
    <thead>
    <tr class="productListItemsColumns _deleteHeader">
        <th class="text-left" data-sort="Product">
            Product
        </th>
        <th>Info</th>
        <th data-sort="unitPrice">
            On Hand
        </th>
        <th data-sort="taxes">
            Cost (per unit add)
        </th>
        <th data-sort="taxes">
            New Value
        </th>
        <th data-sort="subtotal">
            Quantity Adjusted
        </th>
        <th class="deleteCell"></th>
    </tr>
    </thead>
    <tbody id="productList"></tbody>
    <tr class="hidden" id="newItem">
        <td class="addProductItem">
            <a href="javascript:;" class="btn blue slim">Add an item</a>
        </td>
    </tr>
</table>
<div id="totalAmountContainer" class="_totalAmountContainer _createPopup"></div>
