<div class="_breadcrunmbs">
    <a href="#easyErp/settingsOverview">Settings Overview</a>
    <span class="_breadcrunmbItem"> / Product Configurations</span>
</div>
<div class="form-holder tabsHolder">
    <div class="inner">
        <ul class="dialog-tabs _forOverview">
            <li>
                <a href="javascript:;" class="active">Warehouse</a>
            </li>
            <li>
                <a href="javascript:;">Price Lists</a>
            </li>
            <li>
                <a href="javascript:;">Product Types</a>
            </li>
            <li>
                <a href="javascript:;">Product Options</a>
            </li>
            <li>
                <a href="javascript:;">Product Categories</a>
            </li>
            <li>
                <a href="javascript:;">Shipping Methods</a>
            </li>
        </ul>
        <div class="clearfix"></div>
        <div class="dialog-tabs-items">
            <div class="dialog-tabs-item active" id="warehouseTab">
            </div>
            <div class="dialog-tabs-item" id="priceListsTab">
            </div>
            <div class="dialog-tabs-item" id="productTypesTab">
            </div>
            <div class="dialog-tabs-item" id="productOptionsTab">
            </div>
            <div class="dialog-tabs-item" id="productCategoriesTab">
            </div>
            <div class="dialog-tabs-item" id="shippimhMethodTab">
            </div>
        </div>
    </div>
</div>

