<div id="listTable">
    <% orders.forEach(function(order, index){ %>
    <% var currency =(order.currency && order.currency._id ? order.currency._id.symbol : '')%>

    <div data-id="<%=order._id%>"
         class="compactView _compactView <% (order.workflow && order.workflow.status === 'Done') ? 'notEditable' : '' %>">
        <div class="checkboxRow willHidden">
            <label class="_customCHeckbox">
                <input type="checkbox"
                       value="<%=order._id%>"
                        <% if (!order.removable) { %>
                        class="checkbox notRemovable" disabled='disabled'
                        <% } else {%>
                        class="checkbox"
                        <% } %>
                        />
                <span></span>
            </label>
        </div>
        <div class="compactRowWrap">
            <div class="compactRow">
                <div class="firstName _growed _mainTitle"><%- order.name%></div>
                <div class="_static willHidden"><%= order.supplier && order.supplier.name ? order.supplier.name.last : 'Not selected'%></div>
            </div>
            <div class="compactRow willHidden">
                <div class="_static"><%= order.orderDate %></div>
            </div>
            <div class="compactRow">
                <div class="_growed total"><%=currency%> <%=(order.paymentInfo) ? currencySplitter(order.paymentInfo.total) : '0.00'%></div>
                <div class="_static willHidden"><%=order.workflow ? order.workflow.name: 'Undefinded'%></div>
            </div>
        </div>
    </div>
    <% }) %>
</div>