<div class="form-holder _dialogWrap">
    <div class="_dialogMainTitle">Currency Code</div>
    <div class="_dialogBlock">
        <div class="_dialogRow"><a class="current-selected" id="allCurrencies" href="javascript:;">Select</a></div>
        <div class="_dialogRow">Symbol</div>
        <div class="_dialogRow"><input id="currencySymbol" value=""></div>
        <div class="_dialogRow">Decimal Places</div>
        <div class="_dialogRow"><input id="decPlaces" type="number" value="0" readonly></div>
    </div>
</div>

