<div class="form-holder">
    <div class="half-block left">
        <dl>
            <dt><label for="paymentMethodName">Name</label></dt>
            <dd>
                <input id="paymentMethodName" value="<%=model.name%>">
            </dd>
            <dt><label for="currency">Currency</label></dt>
            <dd class="_newSelectListWrap">
                <a href="javascript:;" class="current-selected" id="currency" data-id="<%=model.currency%>"><%=model.currency%></a>
            </dd>
        </dl>
    </div>
    <div class="half-block left">
        <dl>
            <dt><label for="bankName">Bank</label></dt>
            <dd>
                <input id="bankName" value="<%=model.bank%>">
            </dd>

            <!--<dt><label for="owner">Name</label></dt>
            <dd>
                <span id="owner" data-id="<%=model.owner%>"><%=model.owner%></span>
            </dd>-->
            <dt><label for="account">Account</label></dt>
            <dd>
                <input id="account" value="<%=model.account%>">
            </dd>
            <dt><label for="chartAccount">Chart of Account</label></dt>
            <dd class="_newSelectListWrap">
                <a href="javascript:;" class="current-selected" id="chartAccount" data-id="<%=model.chartAccount ? model.chartAccount._id : null%>"><%=model.chartAccount ? model.chartAccount.name : 'Select'%></a>
            </dd>
        </dl>
    </div>



    <div class="clearfix"></div>
</div>
  
