<div class="accounting-half-block left">
    <table class="list tableProjects tableFixed">
        <colgroup>
            <col width="25%"/>
            <col width="15%"/>
            <col width="20%"/>
            <col width="20%"/>
            <col width="10%"/>
            <col width="10%"/>
        </colgroup>
        <thead>
        <tr>
            <th colspan="5" class="forCaption">Bank Accounts</th>
            <th class="forCaption">
                <a href="javascript:;" class="fa fa-angle-down"></a>
                <a href="javascript:;" class="btnAdd" title="Create" id="top-bar-createBtn">Add</a>
            </th>
        </tr>
        <tr class="forToggle">
            <th>Name</th>
            <th>Bank</th>
            <th>Account</th>
            <th>Chart of Account</th>
            <th>Currency</th>
            <th></th>
        </tr>
        </thead>
        <tbody class="forToggle">
        <% collection.forEach(function(elem,index){ %>

        <tr data-id="<%= elem._id%>">
            <td><span><%=elem.name %></span></td>
            <td><span><%=elem.bank %></span></td>
            <td><span><%=elem.account %></span></td>
            <td><span><%=elem.chartAccount ? elem.chartAccount.name : '' %></span></td>
            <td><span><%=elem.currency %></span></td>
            <td>
                <a href="javascript:;" class="fa fa-pencil-square-o" aria-hidden="true"></a>
                <a href="javascript:;" class="fa fa-trash-o" aria-hidden="true"></a>
            </td>
        </tr>


        <% }) %>

        </tbody>
    </table>
</div>




