<div class="half-block left">
    <h3>Bank Accounts</h3>
    <a href="javascript:;" class="fa fa-plus" title="Create" id="top-bar-createBtn"></a>

    <table>
        <tbody>
        <% collection.forEach(function(elem,index){ %>

            <tr data-id="<%= elem._id%>" >
                <td ><%=elem.name %></td>
                <td ><%=elem.bank %></td>
                <td ><%=elem.account %></td>
                <td ><%=elem.currency %></td>

            </tr>


        <% }) %>

        </tbody>
    </table>
</div>


