<tr id="false" data-id="<%=cid%>" class="edited">
    <td data-content="number"><%=cid%></td>
    <td class="notForm"><input type="checkbox" value="<%=cid%>" class="checkbox" /></td>
    <td class="editable" data-content="employee"><%=employee ? employee.name : ''%></td>
    <td data-content="dataKey"  class="editable"><%=month + '/' + year%></td>
    <td class="editable" data-content="paymentType"><%=type.name%></td>
    <td data-cash="<%=calc%>" data-type="input" class="editable autoCalc cash calc money" data-content="onCash"><%=calc%></td>
    <td data-cash="<%=paid%>" data-type="input" class="editable autoCalc cash paid money" data-content="onCash"><%=paid%></td>
    <td data-cash="<%=diff%>" data-content="onCash" class="diff money"><%=diff%></td>
</tr>