<h3><%=contentType%></h3>
<div class="createBtnHolder">
    <a href="javascript;" class="fa fa-plus" title="Create" id="top-bar-createBtn"></a>
    <!--<a href="javascript;" class="fa fa-wrench" title="Edit" id="top-bar-editBtn"></a>-->
    <a href="javascript;" class="fa fa-check" title="Copy" id="top-bar-saveBtn"></a>
    <a href="javascript;" class="fa fa-times" title="Remove" id="top-bar-deleteBtn"></a>
    <a href="javascript;" class="fa fa-plus-square" title="Generate" id="top-bar-generate"></a>
    <a href="javascript;" class="" title="Copy Row" id="top-bar-copy">Copy</a>
</div>
