<h3>Payroll Expenses</h3>
<div class="createBtnHolder" class="btnsBlock">
    <!--<a href="javascript:;" class="fa fa-plus" title="Create" id="top-bar-createBtn"></a>-->
    <!--<a href="javascript:;" class="fa fa-times" title="Remove" id="top-bar-deleteBtn"></a>-->
    <span class="btn blue slim" id="top-bar-generate">Process Payroll</span>
    <span class="btn blue slim" id="top-bar-recount" style="display: none">Reconcile Payroll</span>
    <!--<button id="top-bar-copy" class="btn">-->
    <!--<span>Copy</span>-->
    <!--</button>-->
    <span class="btn blue slim" id="topBarPaymentGenerate">Pay</span>
    <span class="btn blue slim" id="top-bar-recountAll">Reconcile Payroll</span>
</div>
