<h3>Payroll Expenses</h3>
<div class="createBtnHolder">
    <a href="javascript;" class="fa fa-plus" title="Create" id="top-bar-createBtn"></a>
    <a href="javascript;" class="fa fa-check" title="Copy" id="top-bar-saveBtn"></a>
    <a href="javascript;" class="fa fa-times" title="Remove" id="top-bar-deleteBtn"></a>
    <button id="top-bar-generate" class="btn">
        <span>Generate</span>
    </button>
    <button id="top-bar-copy" class="btn">
        <span>Copy</span>
    </button>
    <button id="topBarPaymentGenerate" class="btn">
        <span>Pay</span>
    </button>
</div>
