<div id="searchContainer"></div>
<div class="_tableProjectsWrap">
    <table class="list stripedList">
        <colgroup>
            <col width="42px">
            <col width="11%">
            <col width="11%">
            <col width="10%">
            <col width="12%">
            <col width="11%">
<!--
            <col width="145px">
-->
            <col width="8%">
            <col width="7%">
            <col width="15%">
            <col width="15%">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell">
                <label class="_customCHeckbox">
                    <input type="checkbox" id="checkAll"/>
                    <span></span>
                </label>
            </th>
            <th class="oe_sortable" data-sort="name">Project Name<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="customer.name">Contact<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="StartDate">Start Date<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="EndDate">Actual End Date<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="TargetEndDate">Target End Date<span class="arrow down"></span><span
                    class="arrow up"></span></th>
          <!--  <th class="oe_sortable" data-sort="progress">Progress<span class="arrow down"></span><span
                    class="arrow up"></span></th>-->
            <th class="oe_sortable" data-sort="workflow.name">Status<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="health">Health<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable sortDn" data-sort="createdBy.date">Created By<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="editedBy.date">Edited By<span class="arrow down"></span><span
                    class="arrow up"></span></th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>
