<div id="searchContainer"></div>
<div>
    <table class="list task-list">
        <thead>
        <tr>
            <th><input type="checkbox" id="check_all"/></th>
            <th>N</th>
            <th class="oe_sortable" data-sort="projectName">Project Name<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="customer.name">Contact<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="StartDate">Start Date<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="EndDate">Actual End Date<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="TargetEndDate">Target End Date<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="progress">Progress<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="workflow">Status<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="health">Health<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="createdBy.date">Created By<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable sortDn" data-sort="editedBy.date">Edited By<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
        </tr>
        </thead>
        <tbody id="listTable"></tbody>
    </table>
</div>
