<div>
    <table class="list payRoll-list">
        <colgroup class="borders" span="8">
            <col span="1" width="2%">
            <col span="1" width="2%">
            <col span="1" width="27%">
            <col span="1" width="7%">
            <col span="1" width="7%">
            <col span="1" width="7%">
            <col span="1" width="7%">
            <col span="1" width="7%">
        </colgroup>
        <thead>
        <tr>
            <th><a id="expandAll">#</a></th>
            <th></th>
            <th class="oe_sortable_sub" data-sort="employee.name">Complete Name<span
                    class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th>Month</th>

            <th class="oe_sortable_sub" data-sort="type">Payment Type<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>

            <th class="oe_sortable_sub" data-sort="calc">Calc<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable_sub" data-sort="paid">Paid<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable_sub" data-sort="diff">Diff<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td id="payRoll-Table" colspan="8">
                <div class="scrollit">
                    <table class="list enable_hover" id="payRoll-listTable">
                        <colgroup class="borders" span="8">
                            <col span="1" width="2%">
                            <col span="1" width="2%">
                            <col span="1" width="27%">
                            <col span="1" width="7%">
                            <col span="1" width="7%">
                            <col span="1" width="7%">
                            <col span="1" width="7%">
                            <col span="1" width="7%">
                        </colgroup>
                        <tbody id="payRoll-TableBody">
                        <% var total = 0;%>
                        <% collection.forEach(function(model, index){ %>

                        <tr data-id="<%=model._id%>">
                            <td data-content="number"><%=index+1%></td>
                            <td class="notForm centerCell"><input id="<%=model._id%>" type="checkbox"
                                                                  value="<%=model._id%>" class="checkbox"/></td>
                            <td class="editable" data-content="employee"><%=model.employee ? model.employee.name :
                                ''%>
                            </td>
                            <td data-content="dataKey"><%=model.month + '/' + model.year%></td>
                            <td class="editable" data-content="paymentType"><%=model.type.name%></td>

                            <td data-type="input" class="editable autoCalc cash calc money" data-content="onCash"
                                data-cash="<%=model.calc%>">
                                <%=currencySplitter(model.calc.toString())%>
                            </td>

                            <td data-type="input" data-content="onCash" data-cash="<%=model.paid%>" class="autoCalc cash paid
                               <% if (model.paid) {%>
                               money"><%=currencySplitter(model.paid.toString())%>
                            </td>
                            <%} else {%>
                            "></td>
                            <%}%>

                            <td data-content="onCash" data-cash="<%=model.diff%>" class="diff
                                <% if (model.diff < 0) { %>
                                negativeMoney"><%=currencySplitter((model.diff * (-1)).toString())%>
                            </td>
                            <%} else {%>
                            money"><%=currencySplitter(model.diff.toString())%></td>
                            <%}%>

                            <%total += model.diff;%>
                        </tr>

                        <% }) %>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        </tbody>
        <tfoot id="payRoll-listTotal"></tfoot>

    </table>
    <div class="totalContainer">
            <span data-id="value" class="totalName">
                Total Amount
            </span>
            <span data-id="value" class="money" id="total" data-cash="<%=total * (-1)%>">
                <%=currencySplitter((total * (-1)).toFixed(2))%>
            </span>
    </div>
</div>
