<% var total = 0;%>
<% collection.forEach(function(model, index){ %>

<tr data-id="<%=model._id%>">
    <td data-content="number"><%=index+1%></td>
    <td class="notForm centerCell"><input id="<%=model._id%>" type="checkbox"
                                          value="<%=model._id%>" class="checkbox"/></td>
    <td class="editable" data-content="employee"><%=model.employee ? model.employee.name :
        ''%>
    </td>
    <td data-content="dataKey"><%=model.month + '/' + model.year%></td>
    <td class="editable" data-content="paymentType"><%=model.type.name%></td>

    <td data-type="input" class="editable autoCalc cash calc money" data-content="onCash"
        data-cash="<%=model.calc%>">
        <%=currencySplitter(model.calc.toString())%>
    </td>

    <td data-type="input" data-content="onCash" data-cash="<%=model.paid%>" class="autoCalc cash paid
                               <% if (model.paid) {%>
                               money"><%=currencySplitter(model.paid.toString())%>
    </td>
    <%} else {%>
    "></td>
    <%}%>

    <td data-content="onCash" data-cash="<%=model.diff%>" class="diff
                                <% if (model.diff < 0) { %>
                                negativeMoney"><%=currencySplitter((model.diff * (-1)).toString())%>
    </td>
    <%} else {%>
    money"><%=currencySplitter(model.diff.toString())%></td>
    <%}%>

    <%total += model.diff;%>
</tr>

<% }) %>