<div class="form-holder">
    <form method="post" action="" class="form" id="invoiceForm">
        <fieldset>
            <div class="inner">
                <div class="half-block left">
                    <dl class="opp-info">

                        <dt><label for="supplierId">Supplier</label></dt>
                        <dd>
                            <a id="supplierId" data-id="<%=(model.supplierId)?model.supplierId._id:''%>" class="current-selected" href="javascript:;"><%=(model.supplierId)?(model.supplierId.name.first+" "+model.supplierId.name.last):"Select"%></a>
                        </dd>

                        <dt><label for="fiscal_pos">Fiscal Position</label></dt>
                        <dd>
                            <a id="fiscal_pos" data-id="" class="current-selected" href="javascript:;">Select</a>
                        </dd>

                        <dt><label for="source_document">Source Document</label></dt>
                        <dd>
                            <input type="text" id="source_document" value="<%=(model.sourceDocument) ? model.sourceDocument : ''%>" placeholder="Source Document"  maxlength="32"/>
                        </dd>

                        <dt><label for="supplier_invoice_num">Supplier Invoice Number</label></dt>
                        <dd>
                            <input type="text" id="supplier_invoice_num" value="<%=(model.supplierInvoiceNumber) ? model.supplierInvoiceNumber : ''%>" placeholder="Supplier Invoice Number"  maxlength="32"/>
                        </dd>

                        <dt><label for="payment_reference">Payment Reference</label></dt>
                        <dd>
                            <a id="payment_reference_2" data-id="" class="current-selected" href="javascript:;">Select</a>
                        </dd>

                        <dt></dt>
                        <dd>
                            <input type="text" id="payment_reference" value="<%=(model.paymentReference) ? model.paymentReference : ''%>" placeholder="Payment Reference"  maxlength="32"/>
                        </dd>



                    </dl>
                </div>
                <div class="half-block left">
                    <dl class="opp-info">

                        <dt><label for="invoice_date">Invoice Date </label></dt>
                        <dd>
                            <input type="text" class="date" id="invoice_date" value="<%=(model.invoiceDate) ? model.invoiceDate : ''%>" maxlength="32" placeholder="Invoice Date" readonly />
                        </dd>

                        <dt><label for="due_date">Due Date </label></dt>
                        <dd>
                            <input type="text" class="date" id="due_date" value="<%=(model.dueDate) ? model.dueDate : ''%>" maxlength="32" placeholder="Due Date" readonly />
                        </dd>

                        <dt><label for="account">Account</label></dt>
                        <dd>
                            <a id="account" data-id="" class="current-selected" href="javascript:;">Select</a>
                        </dd>

                        <dt><label for="journal">Journal</label></dt>
                        <dd>
                            <a id="journal" data-id="" class="current-selected" href="javascript:;">Select</a>
                        </dd>

                    </dl>
                </div>
                <div class="clearfix"></div>
                <ul class="dialog-tabs">
                    <li><a class="active" href="javascript:;">Invoice</a></li>
                    <li><a href="javascript:;">Other Info</a></li>
                    <li><a href="javascript:;">Payments</a></li>
                </ul>
                <div class="clearfix"></div>
                <div class="dialog-tabs-items">
                    <div class="dialog-tabs-item active">
                        <div id="invoiceItemsHolder">

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="dialog-tabs-item">
                        <div class="other-info-container">
                            <div class="half-block left">
                                <dl class="opp-info">
                                    <dt><label for="bank_account">Bank Account</label></dt>
                                    <dd>
                                        <a id="bank_account" href="javascript:;">Select</a>
                                    </dd>

                                    <dt><label for="responsible">Responsible</label></dt>
                                    <dd>
                                        <a id="responsible" href="javascript:;">Select</a>
                                    </dd>

                                    <dt><label for="payment_terms">Payment Terms</label></dt>
                                    <dd>
                                        <a id="payment_terms" href="javascript:;">Select</a>
                                    </dd>
                                </dl>
                            </div>
                            <div class="half-block left">
                                <dl class="opp-info">
                                    <dt><label >Journal Entry</label></dt>
                                    <dd></dd>

                                    <dt><label for="force_period">Force Period</label></dt>
                                    <dd>
                                        <a id="force_period" href="javascript:;">Select</a>
                                    </dd>

                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="dialog-tabs-item">
                        <div class="pauments-container">
                            <table class="list">
                                <thead>
                                <tr class="oe_list_header_columns">
                                    <th class="oe_sortable" data-sort="payment_date">Payment&nbsp;Date<span class="arrow down">7</span><span class="arrow up">v</span></th>
                                    <th class="oe_sortable" data-sort="journal_entry">Journal&nbsp;Entry<span class="arrow down">7</span><span class="arrow up">v</span></th>
                                    <th class="oe_sortable" data-sort="reference">Reference<span class="arrow down">7</span><span class="arrow up">v</span></th>
                                    <th class="oe_sortable" data-sort="name">Name<span class="arrow down">7</span><span class="arrow up">v</span></th>
                                    <th class="oe_sortable" data-sort="journal">Journal<span class="arrow down">7</span><span class="arrow up">v</span></th>
                                    <th class="oe_sortable" data-sort="debit">Debit<span class="arrow down">7</span><span class="arrow up">v</span></th>
                                    <th class="oe_sortable" data-sort="credit">Credit<span class="arrow down">7</span><span class="arrow up">v</span></th>
                                    <th class="oe_sortable" data-sort="amount_currency">Amount&nbsp;Currency<span class="arrow down">7</span><span class="arrow up">v</span></th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr>
                                    <td colspan="9">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="9">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="9">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="9">
                                        &nbsp;
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </fieldset>
    </form>
</div>
