<% products.forEach(function(product){ %>
<tr class="productItem" data-id="<%=product.product ? product.product._id : 'err'%>">
    <td data-name="productName">
        <a class="productsDd" href="javascript:;"><%=product.product ? product.product.name : '- - -' %></a>
    </td>
    <% if (forSales) {%>
    <td data-name="jobs" class="jobs">
        <a class="" id="jobs" href="javascript:;"> <%=product.jobs ? product.jobs.name : ' --- '%></a>
    </td>
    <% } else { %>
    <td data-name="productDescr">
        <span class="">
            <%=product.description ? product.description : ' '%>
        </span>
    </td>
    <% } %>
    <td data-name="quantity" class="">
        <span>
            <%=product.quantity%>
        </span>
    </td>
    <td data-name="price" class="">
        <span>
            <%=product.unitPrice ? currencySplitter(product.unitPrice.toString()): ''%>
        </span>
    </td>
    <td class="taxes">
        <span>
            <%=product.taxes ? currencySplitter(product.taxes.toString()): ''%>
        </span>
    </td>
    <td class="amount">
        <span>
            <%=product.subTotal ? currencySplitter(product.subTotal.toString()): ''%>
        </span>
    </td>
</tr>
<% }); %>