<div class="form-holder _newForm">
    <form method="post" action="" id="sendEmailForm">
        <h4 class="_dialogMainTitle">Email Invoice</h4>
        <div class="_formWrap _enlargedItemMargin">
            <div class="_formBlock">
                <div class="_animateInputBox">
                    <input type="text"
                           id="To"
                           class="_animate"
                           value="<%= emails.To %>"
                           multiple
                           required/>
                    <label for="To" class="_animate">To:</label>
                </div>
                <div class="_animateInputBox">
                    <input type="text"
                           class="_animate"
                           id="Cc"
                           multiple
                           required/>
                    <label for="Cc" class="_animate">Cc:</label>
                </div>
                <%if (attachments.length){%>
                <div class="_attachmentBox">
                    <span class="_attachmentLabel">Attachments:</span>
                    <ul id="Attachments-list" class="_attachContainer">
                        <% attachments.forEach(function(att) { %>
                        <li>
                            <a href="download/<%=att.shortPas%>">
                                <span class="icon-attach"></span>
                                <span class="_attachInfo"><%=att.name %></span>
                            </a>
                        </li>
                        <% }); %>
                    </ul>
                </div>
                <%}%>
            </div>
        </div>
    </form>
</div>