<div>
    <div>
        <table class="list">
    <thead>
    <tr class="oe_list_header_columns">
        <th class="oe_sortable" data-sort="Product">Product<span
                class="arrow down">7</span><span class="arrow up">v</span></th>
        <th class="oe_sortable" data-sort="description">Description<span
                class="arrow down">7</span><span class="arrow up">v</span></th>
        <th class="oe_sortable" data-sort="account">Account<span class="arrow down">7</span><span
                class="arrow up">v</span></th>
        <th class="oe_sortable" data-sort="analyticAccount">Analytic Account<span class="arrow down">7</span><span
                class="arrow up">v</span></th>
        <th class="oe_sortable" data-sort="assetCategory">Asset Category<span class="arrow down">7</span><span
                class="arrow up">v</span></th>
        <th class="oe_sortable" data-sort="quantity">Quantity<span
                class="arrow down">7</span><span class="arrow up">v</span></th>
        <th class="oe_sortable" data-sort="unitPrice">Unit Price<span
                class="arrow down">7</span><span class="arrow up">v</span></th>
        <th class="oe_sortable" data-sort="taxes">Taxes<span class="arrow down">7</span><span
                class="arrow up">v</span></th>
        <th class="oe_sortable" data-sort="amount">Amount<span
                class="arrow down">7</span><span class="arrow up">v</span></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
    </tr>
    </tfoot>
    <tbody>
    <tr>
        <td colspan="9" class="">
            <a href="#">Add an item</a>
        </td>
    <tr>
        <td colspan="9">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td colspan="9">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td colspan="9">
            &nbsp;
        </td>
    </tr>
    </tr>
    </tbody>
</table>
        <div class="clearfix"></div>
    </div>
    <div>
        <div class="half-block left">
            <table class="list">
                <thead>
                <tr class="oe_list_header_columns">
                    <th class="oe_sortable" data-sort="taxDescription">Tax&nbsp;Description<span
                            class="arrow down">7</span><span class="arrow up">v</span></th>
                    <th class="oe_sortable" data-sort="taxAccount">Tax&nbsp;Account<span
                            class="arrow down">7</span><span class="arrow up">v</span></th>
                    <th class="oe_sortable" data-sort="analyticAccount">Analytic&nbsp;account<span class="arrow down">7</span><span
                            class="arrow up">v</span></th>
                    <th class="oe_sortable" data-sort="base">Base<span class="arrow down">7</span><span
                            class="arrow up">v</span></th>
                    <th class="oe_sortable" data-sort="amount">Amount<span class="arrow down">7</span><span
                            class="arrow up">v</span></th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                </tr>
                </tfoot>
                <tbody>
                <tr>
                    <td colspan="6" class="">
                        <a href="#">Add an item</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        &nbsp;
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="half-block right">
            <table border="0" cellpadding="0" cellspacing="0" class="right oe_right">
                <tbody>
                <tr>
                    <td>
                        <label class="" data-original-title="" title="">
                            Subtotal
                        </label>
                    </td>
                    <td class="" colspan="1" width="99%">
                        <span class=""><span class="">0.00</span>€</span>
                    </td>
                </tr>
                <tr class="">
                    <td class="" colspan="1" width="1%">
                        <label class="" data-original-title="" title="">Tax</label>
                        <button type="button" class="">
                            <span>(update)</span>
                        </button>
                    </td>
                    <td class="" colspan="1" width="99%">
                                    <span class="oe_form_field oe_form_field_float oe_form_field_monetary">
                                        <span class="oe_form_char_content">0.00</span>€</span>
                    </td>
                </tr>
                <tr class="">
                    <td class="" colspan="1" width="50%">
                        <div class="">
                            <label class="" data-original-title="" title="">Total</label>

                        </div>
                    </td>
                    <td class="" colspan="1" width="50%">
                        <span class=""><span class="">0.00</span>€</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="" data-original-title="" title="">
                            Balance
                        </label>
                    </td>
                    <td class="" colspan="1" width="99%">
                        <span><span>0.00</span>€</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>