<% products.forEach(function(product){ %>
<tr class="productItem" data-id="false">
    <td data-name="productName">
        <%if(editable) {%>
        <a class="current-selected productsDd" href="javascript:;"><%=product.product.name%></a>
        <%} else {%>
        <a href="#easyErp/Product/form/<%=product.product._id%>"><%=product.product.name%></a>
        <%}%>
    </td>
    <td data-name="productDescr">
        <span>
            <%=product.description%>
        </span>
    </td>
    <td data-name="scheduledDate">
        <span class="datepicker">
            <%=product.scheduledDate%>
        </span>
        <input type="text" class="datepicker notVisible">
    </td>
    <td data-name="quantity">
        <span>
            <%=product.quantity%>
        </span>
    </td>
    <td data-name="price">
        <span>
            <%=product.unitPrice%>
        </span>
    </td>
    <td class="taxes">
        <span>
            <%=product.taxes%>
        </span>
    </td>
</tr>
<% }); %>
