<tr class="productItem" data-id="false">
    <td data-name="productName">
        <a class="current-selected productsDd" href="javascript:;">select</a>
    </td>
    <td data-name="productDescr">
        <span>

        </span>
    </td>
    <td data-name="quantity">
        <span>

        </span>
    </td>
    <td data-name="price">
        <span>

        </span>
    </td>
    <td class="taxes">
        <span>

        </span>
    </td>
    <td class="amount">
        <span>

        </span>
    </td>
</tr>

