<h3>Invoice</h3>
<div id="createBtnHolder">
    <a href="javascript;" class="fa fa-plus" title="Create" id="top-bar-createBtn"></a>
    <a href="javascript;" class="fa fa-wrench" title="Edit" id="top-bar-editBtn"></a>
    <a href="javascript;" class="fa fa-times" title="Remove" id="top-bar-deleteBtn"></a>
    <a href="javascript;" class="fa fa-check" title="Save" id="top-bar-saveBtn"></a>
</div>

<div id="template-switcher" class="right">
    <ul class="btn-list">
        <li><a href="javascript;"
               class="changeContentView icon icon-btn dark <%= (viewType == 'list') ? 'selected' : ''%>"
               data-view-type="list" id="listBtn">i</a></li>
        <li><a href="javascript;"
               class="changeContentView icon icon-btn dark <%= (viewType == 'form') ? 'selected' : ''%>"
               data-view-type="form" id="formBtn">m</a></li>
    </ul>
</div>