<%var currencySymb = model.currency ? model.currency.symbol : '$'%>
<div class="noMargin noPadding">
    <div class="_invoiceTemplate _payments noMargin">
        <div class="ribbon">
            <div class="ribbon-inner ribbon-green">
                <%=(model.workflow && !model.refund) ? model.workflow : 'Refunded'%>
            </div>
        </div>

        <%if (!model.refund && model._type !== 'expensesInvoicePayment') {%>
        <span class="btn blue refund">Refund</span>
        <%}%>

        <div class="extractPdf">
            <div class="_templateHeader">
                <% if (App && App.organizationSettings) {%>
                <div class="_headerLeftPart">
                    <div class="_orgName"><b><%=App.organizationSettings.name%></b></div>
                    <div class="_orgLabel"><%=addressMaker(App.organizationSettings.address)%></div>
                </div>
                <% } %>
                <div class="_headerRightPart">
                    <div class="_entityBlock">
                        <div class="_entityTitle">
                            <%if (!model.refund) {%>
                            <%=model.order ? '<Pr></Pr>epayment' : 'Payment'%> <%=model.name || ''%>
                            <%} else {%>
                            Refund <%=model.name || ''%>
                            <%}%>
                        </div>
                    </div>
                    <div class="_entityBlock">
                        <div class="_entityNumber">Source Document <b><%=model.order && model.order._id? model.order.name :model.invoice.name%></b></div>
                    </div>
                </div>
            </div>
            <div class="_templateDateBlock">
                <div class="_rightPart">
                    <table class="_templateDateTable tableFixed">
                        <colgroup>
                            <col width="60%">
                            <col width="40%">
                        </colgroup>
                        <tbody>
                        <tr>
                            <td class="_dateLeftPart">
                                <div class="_billingBlock">
                                    <div class="_billingTitle">Bill to</div>
                                    <div class="_billingCustomerName"><%=(model.supplier &&
                                        model.supplier.name)?model.supplier.name.first + ' ' + model.supplier.name.last:""%>
                                    </div>
                                    <%if (model.supplier && model.supplier.address) {%>
                                    <div class="_orgLabel"><%=addressMaker(model.supplier.address)%></div>
                                    <%}%>
                                </div>
                            </td>
                            <td class="_dateRightPart">
                                <table class="tableFixed">
                                    <colgroup>
                                        <col width="100%">
                                        <col width="100px">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td>Payment Date :</td>
                                        <td><%=model.date%></td>
                                    </tr>
                                    <tr>
                                        <td>Bank Account:</td>
                                        <td><%=model.paymentMethod ? model.paymentMethod.name: ''%></td>
                                    </tr>
                                    <tr>
                                        <td>Account:</td>
                                        <td><%=model.bankAccount ? model.bankAccount.name : ''%></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <table class="_templateTable tableFixed">
                <colgroup>
                    <col width="30px">
                    <col width="33.333%">
                    <col width="33.333%">
                    <col width="33.333%">
                </colgroup>
                <thead>
                <tr>
                    <th>#</th>
                    <th>Type</th>
                    <th>Account</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td><b>Paid Amount</b></td>
                    <td></td>
                    <td><b><%=currencySymb%><%=(model.paidAmount) ? currencySplitter(model.paidAmount) : ''%></b></td>
                </tr>
                <%if (model.bankExpenses && model.bankExpenses.amount) {%>
                <tr>
                    <td>2</td>
                    <td><b>Bank Expenses</b></td>
                    <td><b><%=currencySymb%><%=(model.bankExpenses && model.bankExpenses.account) ? currencySplitter(model.bankExpenses.account.name) : ''%></b></td>
                    <td><b><%=currencySymb%><%=(model.bankExpenses) ? currencySplitter(model.bankExpenses.amount) : ''%></b></td>
                </tr>
                <%}%>
                <%if (parseFloat(model.differenceAmount)) {%>
                <tr>
                    <td>3</td>
                    <td><b>Difference Amount</b></td>
                    <td></td>
                    <td><b><%=currencySymb%><%=(model.differenceAmount) ? currencySplitter(model.differenceAmount) : ''%></b></td>
                </tr>
                <%}%>
                </tbody>
            </table>

        </div>
        <div class="clearfix"></div>
        <div class="_templatePaymentInfo">
            <table class="templateBottomTable tableFixed">
                <colgroup>
                    <col width="80px">
                    <col width="120px">
                    <col width="135px">
                </colgroup>
                <thead>
                <tr>
                    <th><b>Payment details</b></th>
                    <th></th>
                    <th><b>Other information</b></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><p>Name of Beneficiary</p></td>
                    <td><p><%=model.paymentMethod ? model.paymentMethod.owner : ''%></p></td>
                    <td rowspan="5">
                        <p><%=App.organizationSettings ? App.organizationSettings.contactName :
                            ''%></p>
                        <p><%=App.organizationSettings ? App.organizationSettings.address.phone :
                            ''%></p>
                        <p><%=App.organizationSettings ? App.organizationSettings.website :
                            ''%></p>
                        <p><%=App.organizationSettings && App.organizationSettings.contact &&
                            App.organizationSettings.contact.email && App.organizationSettings.contact ?
                            App.organizationSettings.contact.email : 'info@thinkmobiles.com'%></p>
                    </td>
                </tr>
                <tr>
                    <td><p>Bank</p></td>
                    <td><p><%=model.paymentMethod ? model.paymentMethod.bank : ''%></p></td>
                </tr>
                <tr>
                    <td><p>Bank Address</p></td>
                    <td><p><%=model.paymentMethod ? model.paymentMethod.address : ''%></p></td>
                </tr>
                <tr>
                    <td><p>IBAN</p></td>
                    <td><p><%=model.paymentMethod ? model.paymentMethod.account : ''%></p></td>
                </tr>
                <tr>
                    <td><p>SWIFT Code</p></td>
                    <td><p><%=model.paymentMethod ? model.paymentMethod.swiftCode : ''%></p></td>
                </tr>
                </tbody>
            </table>
            <p>
                <span class="red">Dear Customer, be informed that total amount for services do not include bank fee.Please pay attention for it when you make your payment</span>
            </p>
            <p class="_noticeText">
                <b>Payment should be made by bank transfer or check made payable to <%=App.organizationSettings ?
                    App.organizationSettings.contactName.toUpperCase() :
                    ''%></b>.
            </p>
        </div>
    </div>
</div>