<div class="_timeCardLegendWrap">
    <span>Vacation</span>
    <span class="V _legendEl">V</span>
    <span>Personal</span>
    <span class="P _legendEl">P</span>
    <span>Sick</span>
    <span class="S _legendEl">S</span>
    <span>Education</span>
    <span class="E _legendEl">E</span>
    <span>Holyday</span>
    <span class="H _legendEl">H</span>
</div>
<div id="searchContainer" class="projectTimeCardCustomSearch _timeCardSearch"></div>
<div class="_tableWtrackWrap">
    <table class="list stripedList">
        <colgroup>
            <col width="42px">
            <col width="5%">
            <col width="8%">
            <col width="12%">
            <col width="10%">
            <col width="8%">
            <col width="8%">
            <col width="5%">
            <col width="6%">
            <col width="5%">
            <col width="5%">
            <col width="4%">
            <col width="4%">
            <col width="4%">
            <col width="4%">
            <col width="4%">
            <col width="4%">
            <col width="4%">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell">
                <label class="_customCHeckbox">
                    <input type="checkbox" id="checkAll"/>
                    <span></span>
                </label>
            </th>
            <th class="centerCell">Type</th>
            <th class="oe_sortable" data-sort="jobs.name">
                Sprint<span class="arrow down"></span><span class="arrow up"></span>
            </th>
            <th class="oe_sortable" data-sort="project.name">
                Project<span class="arrow down"></span><span class="arrow up"></span>
            </th>
            <th class="oe_sortable" data-sort="customer.name.first">
                Customer<span class="arrow down"></span><span class="arrow up"></span>
            </th>
            <th class="oe_sortable" data-sort="employee.name.first">
                Employee<span class="arrow down"></span><span class="arrow up"></span>
            </th>
            <th class="oe_sortable" data-sort="department.name">
                Department<span class="arrow down"></span><span class="arrow up"></span>
            </th>
            <th class="oe_sortable" data-sort="year">
                Year<span class="arrow down"></span><span class="arrow up"></span>
            </th>
            <th class="oe_sortable" data-sort="month">
                Month<span class="arrow down"></span><span class="arrow up"></span>
            </th>
            <th class="oe_sortable" data-sort="week">
                Week<span class="arrow down"></span><span class="arrow up"></span>
            </th>
            <th class="oe_sortable" data-sort="worked">
                Hours<span class="arrow down"></span><span class="arrow up"></span>
            </th>
            <th class="oe_sortable" data-sort="Mo">
                Mo<span class="arrow down"></span><span class="arrow up"></span>
            </th>
            <th class="oe_sortable" data-sort="Tu">
                Tu<span class="arrow down"></span><span class="arrow up"></span>
            </th>
            <th class="oe_sortable" data-sort="We">
                We<span class="arrow down"></span><span class="arrow up"></span>
            </th>
            <th class="oe_sortable" data-sort="Th">
                Th<span class="arrow down"></span><span class="arrow up"></span>
            </th>
            <th class="oe_sortable" data-sort="Fr">
                Fr<span class="arrow down"></span><span class="arrow up"></span>
            </th>
            <th class="oe_sortable" data-sort="Sa">
                Sa<span class="arrow down"></span><span class="arrow up"></span>
            </th>
            <th class="oe_sortable" data-sort="Su">
                Su<span class="arrow down"></span><span class="arrow up"></span>
            </th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
        <tfoot id="listFooter">
        <tr>
            <td colspan="10">Total</td>
            <td><span id="hours">0</span></td>
            <td><span id="monHours">0</span></td>
            <td><span id="tueHours">0</span></td>
            <td><span id="wedHours">0</span></td>
            <td><span id="thuHours">0</span></td>
            <td><span id="friHours">0</span></td>
            <td><span id="satHours">0</span></td>
            <td><span id="sunHours">0</span></td>
        </tfoot>
    </table>
</div>
