<div id="searchContainer"></div>
<div>
    <table class="list task-list">
        <thead>
            <tr>
                <th><input type="checkbox" id="check_all" /></th>
                <th>N</th>
                <th class="oe_sortable" data-sort="project.projectmanager.name">
                    Assigned<span class="arrow down">7</span><span class="arrow up">v</span>
                </th>
                <th class="oe_sortable" data-sort="project.projectName">
                    Project<span class="arrow down">7</span><span class="arrow up">v</span>
                </th>
                <th class="oe_sortable" data-sort="project.workflow">
                    Project Status<span class="arrow down">7</span><span class="arrow up">v</span>
                </th>
                <th class="oe_sortable" data-sort="project.customer">
                    Customer<span class="arrow down">7</span><span class="arrow up">v</span>
                </th>
                <th class="oe_sortable" data-sort="employee.name">
                    Employee<span class="arrow down">7</span><span class="arrow up">v</span>
                </th>
                <th class="oe_sortable sortDn" data-sort="department.departmentName">
                    Department<span class="arrow down">7</span><span class="arrow up">v</span>
                </th>
                <th class="oe_sortable" data-sort="year">
                    Year<span class="arrow down">7</span><span class="arrow up">v</span>
                </th>
                <th class="oe_sortable" data-sort="month">
                    Month<span class="arrow down">7</span><span class="arrow up">v</span>
                </th>
                <th class="oe_sortable" data-sort="week">
                    Week<span class="arrow down">7</span><span class="arrow up">v</span>
                </th>
                <th class="oe_sortable" data-sort="rate">
                    Rate<span class="arrow down">7</span><span class="arrow up">v</span>
                </th>
                <th class="oe_sortable" data-sort="worked">
                    Hours<span class="arrow down">7</span><span class="arrow up">v</span>
                </th>
                <th class="oe_sortable" data-sort="1">
                    Mo<span class="arrow down">7</span><span class="arrow up">v</span>
                </th>
                <th class="oe_sortable" data-sort="2">
                    Tu<span class="arrow down">7</span><span class="arrow up">v</span>
                </th>
                <th class="oe_sortable" data-sort="3">
                    We<span class="arrow down">7</span><span class="arrow up">v</span>
                </th>
                <th class="oe_sortable" data-sort="4">
                    Th<span class="arrow down">7</span><span class="arrow up">v</span>
                </th>
                <th class="oe_sortable" data-sort="5">
                    Fr<span class="arrow down">7</span><span class="arrow up">v</span>
                </th>
                <th class="oe_sortable" data-sort="6">
                    Sa<span class="arrow down">7</span><span class="arrow up">v</span>
                </th>
                <th class="oe_sortable" data-sort="7">
                    Su<span class="arrow down">7</span><span class="arrow up">v</span>
                </th>
                <th class="oe_sortable" data-sort="isPaid">
                    Status<span class="arrow down">7</span><span class="arrow up">v</span>
                </th>
                <th class="oe_sortable" data-sort="revenue">
                    Revenue<span class="arrow down">7</span><span class="arrow up">v</span>
                </th>
                <th class="oe_sortable" data-sort="cost">
                    Cost<span class="arrow down">7</span><span class="arrow up">v</span>
                </th>
                <th>
                    Profit
                </th>
                <th class="oe_sortable" data-sort="amount">
                    Amount<span class="arrow down">7</span><span class="arrow up">v</span>
                </th>
            </tr>
        </thead>
        <tbody id="listTable"></tbody>
        <tfoot id="listFooter">
            <tr>
                <td colspan="12"></td>
                <td><span id="hours">0</span></td>
                <td><span id="monHours">0</span></td>
                <td><span id="tueHours">0</span></td>
                <td><span id="wedHours">0</span></td>
                <td><span id="thuHours">0</span></td>
                <td><span id="friHours">0</span></td>
                <td><span id="satHours">0</span></td>
                <td><span id="sunHours">0</span></td>
                <td></td>
                <td><span id="revenue" class="money">0</span></td>
                <td><span id="cost" class="money">0</span></td>
                <td><span id="profit" class="money">0</span></td>
                <td><span id="amount" class="money">0</span></td>
                <td></td>
            </tr>
        </tfoot>
    </table>

    <div class="pagination">
        <div class="countOnPage">
            <div>
                <span>
                    <span id="grid-start"></span>
                    -
                    <span id="grid-end"></span>
                    of
                    <span id="grid-count"></span>
                    items
                </span>
            </div>
            <div class="pageList">
                <button id="itemsButton">
                    <span id="itemsNumber"></span>
                </button>
                <ul class="allNumberPerPage">
                    <li>
                        <a class="itemsNumber" href="javascript;">5</a>
                    </li>
                    <li>
                        <a class="itemsNumber" href="javascript;">10</a>
                    </li>
                    <li>
                        <a class="itemsNumber" href="javascript;">20</a>
                    </li>
                    <li>
                        <a class="itemsNumber" href="javascript;">50</a>
                    </li>
                    <li>
                        <a class="itemsNumber" href="javascript;">100</a>
                    </li>
                </ul>
            </div>
            <span>Per Page</span>
        </div>
        <div class="nextPrev">
            <div>
                <button id="firstShowPage" class="icon" type="button" disabled="disabled">88</button>
                <button id="previousPage" class="icon" type="button" disabled="disabled">8</button>
                <div>
                    <span>Page</span>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <input id="currentShowPage" type="text">
                    </div>
                    <div class="allPage">
                        <button class="currentPageList icon">v</button>
                        <ul id="pageList" class="allNumberPerPage"></ul>
                    </div>
                </div>
            </div>
            <div>
                <span>
                    of
                    <span id="lastPage"></span>
                </span>
            </div>
            <button id="nextPage" type="button" class="icon" disabled="disabled">9</button>
            <button id="lastShowPage" type="button" class="icon" disabled="disabled">99</button>
        </div>
    </div>
</div>
