<tr class="deleteRow item" data-id="" data-error="true">

    <td data-name="description" class="description">
        <div>
            <div class="jobsWescWrap _newSelectListWrap">
                <textarea class="productDescr" maxlength="200"></textarea>
            </div>
        </div>
    </td>
    <td data-name="account" class="account">
        <div class="_newSelectListWrap">
            <span class="accountDd" data-content="accountDd" data-id=""></span>
        </div>
    </td>
    <td data-name="account" class="taxCodeLine">
        <div class="_newSelectListWrap">
            <a class="current-selected taxCode" data-content="taxCode" href="javascript:;" data-id="">Select</a>
        </div>
    </td>
    <td data-name="quantity">
        <div>
            <input id="quantity" class="quantity statusInfo forNum" maxlength="9" size=7 type="text" value="1"/>
        </div>
    </td>
    <td data-name="price" class="price">
        <div>
            <span class="currencySymbol"></span>
            <input id="editInput" class="statusInfo forNum" maxlength="9" size=7 type="text" value="0"/>
        </div>
    </td>
    <td data-name="taxes" class="taxes">
        <div>
            <span class="currencySymbol"></span><span class="sum"></span>
        </div>
    </td>
    <td data-name="subtotal" class="subtotal">
        <div>
            <span class="currencySymbol"></span><span class="sum"></span>
        </div>
    </td>
    <td class="deleteCell centerCell">
        <span title="Delete" class="icon-close5 removeJob"></span>
    </td>
</tr>