<% var firstProduct = true %>
<% products.forEach(function(product){ %>
<% var colorRow = (product.quantity === product.shipped) ? '' : (product.onHand || (product.quantity === product.fulfilled))  ? 'green' : 'red' %>
<%var rowSpan = product.product ? 2 : 0;%>
<%var colSpan = 0;%>
<tr data-id="<%=product._id%>" data-hand="<%=product.onHand || 0%>"
    <%if (product.product) {%>
    class="productItem"
    <%} else {%>
    id='shippingRow'
<%}%>
>
    <%if (!expense) {%>
    <td data-name="productName" class="width20" rowspan="<%=rowSpan%>">
        <div class="_newSelectListWrap">
            <% if (notEditable) { %>
            <%if (product.product) {%>
            <span class="productsDd" data-content="productsDd"
                  data-id="<%= product && product.product ? product.product._id : null%>"><%=product && product.product&& product.product.info ? product.product.info.SKU || product.product.name : '' %>
            </span>
            <% } else {%>
            <span id="shippingDd" data-id="<%=shippingMethod ? shippingMethod._id : null%>"><%=shippingMethod ? shippingMethod.name : 'Shipments'%></span>
            <% } %>
            <%} else {%>
                <%if (product.product) {%>
                <a class="<%= product.allocated || product.fulfilled ? '' : 'current-selected'%> productsDd"
                   data-content="productsDd" href="javascript:;"
                   data-id="<%= product && product.product ? product.product._id : null%>"><%=product && product.product &&
                    product.product.info ? product.product.info.SKU || product.product.name : '' %></a>
                <% } else {%>
                <a href="javascript:;" id="shippingDd" class="current-selected" data-id="<%=shippingMethod ? shippingMethod._id : null%>"><%=shippingMethod ? shippingMethod.name : 'Shipments'%></a>
                <% } %>
            <% } %>
        </div>
        <%colSpan++;%>
    </td>
    <%}%>
    <td data-name="description" class="text-overflow jobs selectJobTd" rowspan="<%=rowSpan%>">
        <div>
            <div class="jobsWescWrap _newSelectListWrap">
                <textarea class="productDescr" <%=notEditable ? 'readonly' : ''%>><%= product.description %></textarea>
            </div>
        </div>
        <%colSpan++;%>
    </td>
    <td data-name="account" class="account">
        <div class="_newSelectListWrap">
            <%colSpan++;%>
            <%var account = forSales ? product.creditAccount : product.debitAccount%>
            <%var taxes = (product.taxes && product.taxes.length && product.taxes[0])  || null;%>
            <%var accountName = product.product ? account ? account.name : '' : App && App.organizationSettings && App.organizationSettings.shipping ? App.organizationSettings.shipping.name: '';%>
            <%var accountId = product.product ? account ? account._id : null : App && App.organizationSettings && App.organizationSettings.shipping ? App.organizationSettings.shipping._id: null;%>
           <span class="accountDd" data-content="accountDd"
                 data-id="<%=accountId%>"><%=accountName || ''%></span>
            <!--<% if (notEditable) { %>
            <span class="accountDd" data-content="accountDd"
                  data-id="<%=accountId%>"><%=accountName || ''%></span>
            <%} else {%>
            <a class="current-selected accountDd" data-content="accountDd" href="javascript:;"
               data-id="<%=accountId%>"><%=accountName || 'Select'%></a>
            <% } %>-->
        </div>
    </td>
    <td data-name="taxCode" class="taxCodeLine">
        <%colSpan++;%>
        <% if (channel) {%>
        <ul class="_taxList">
            <% product.taxes.forEach(function(tax){ %>
            <li class="taxLines" data-code="<%= tax.taxCode ? tax.taxCode._id : null %>"><%= tax.taxCode ? tax.taxCode.fullName: ''%></li>
            <% }); %>
        </ul>
        <%} else {%>
        <% if (notEditable) { %>
        <span class="taxCode" data-content="taxCode"
              data-id="<%=(taxes && taxes.taxCode) ? taxes.taxCode._id : null%>"><%=(taxes && taxes.taxCode) ? taxes.taxCode.fullName : ''%></span>
        <%} else {%>
        <div class="_newSelectListWrap">
            <a class="current-selected taxCode" data-content="taxCode" href="javascript:;"
               data-tax="<%= (taxes && taxes.taxCode) ? taxes.taxCode.rate : null %>"
               data-id="<%=(taxes && taxes.taxCode) ? taxes.taxCode._id : null%>"><%=(taxes && taxes.taxCode) ? taxes.taxCode.fullName : 'Select'%></a>
            <% } %>
        </div>
        <%}%>
    </td>
    <td data-name="quantity" class="<%=!forSales ? 'editable' : ''%> forNum">
        <%colSpan++;%>
        <div>
            <% if (notEditable) { %>
            <span><%=product.quantity%></span>
            <% } else { %>
            <input id="quantity" class="quantity statusInfo forNum" <%=!product.product ? 'disabled' : ''%> maxlength="9" size=10 type="text"
                   value="<%=product.quantity%>"/>
            <% } %>
        </div>
    </td>
    <td data-name="price" class="<%=notEditable  ? '' : 'editable'%> forNum">
        <%colSpan++;%>
        <div>
            <% if(notEditable) { %>
            <span class="currencySymbol"><%=(currency && currency._id ? currency._id.symbol : '') %></span>
            <span><%=currencySplitter(product.unitPrice.toString())%></span>
            <% } else { %>
            <span class="currencySymbol"><%=(currency && currency._id ? currency._id.symbol : '') %></span>
            <input
                    id="editInput" class="statusInfo" maxlength="9" size=7 type="text"
                    value="<%=currencySplitter(product.unitPrice.toString())%>"/>

            <%} %>
        </div>
    </td>
    <td data-name="taxes">
        <%colSpan++;%>
        <%if (channel) {%>
        <ul class="_taxList">
            <% product.taxes.forEach(function (tax) {%>
            <li>
                <span class="currencySymbol"><%=(currency && currency._id ? currency._id.symbol : '') %></span><span
                    class="sum"><%= tax ?  currencySplitter(tax.tax.toString()) : ''%></span>
            </li>
            <%});%>
        </ul>
        <%} else {%>
        <div>
            <span class="currencySymbol"><%=(currency && currency._id ? currency._id.symbol : '') %></span><span
                class="sum"><%= taxes ?  currencySplitter(taxes.tax.toString()) : ''%></span>
        </div>
        <%}%>
    </td>
    <td data-name="subtotal" class="subtotal">
        <%colSpan++;%>
        <div>
            <span class="currencySymbol"><%=(currency && currency._id ? currency._id.symbol : '') %></span><span
                class="sum"><%= product.subTotal ? currencySplitter(product.subTotal.toString()) : ''%></span>
        </div>
    </td>
    <td></td>
</tr>
<%if (rowSpan) {%>
<tr class="info" data-id="<%=product._id%>">
    <td colspan="<%=colSpan - 2%>" class="fullfilledHolder <%if (product.product) {%>
       <%=colorRow%> scuItemHolder
    <%}%>>">
        <div class="fullfilledWrap">
            <% if (forSales && product.product){ %>
            <div class="scuList">
                <% if (product.goodsNotes && product.goodsNotes.length){%>
                Goods Out Notes:
               <% product.goodsNotes.forEach(function(elem,ind){%>
                <%var filter = {name: {key: '_id',value: []}};%>
                <%filter.name.value.push(elem._id);%>
                <%var href = '/#easyErp/goodsOutNotes/tform/'+ elem._id + '/p=1/c=50/filter=' +
                encodeURIComponent(JSON.stringify(filter));%>
                <a href="<%=href%>"><%=ind !== 0 ? ', ' + elem.name || '___' : elem.name%></a><span><%=' (' + elem.quantity + ')'%></span>
                <%})} %>
            </div>
            <div class="fullfilledInfo">
                <% if (product.fulfilled === product.quantity) { %>
                <span class=""><span id="fullfilled"><%=(product.fulfilled || 0)%></span> fulfilled,<%=(product.inStock || 0)  + ' in Stock, ' + (product.onHand || 0) + ' on Hand' %></span>
                <% } else { %>
                <input type="number" id="allocated" class="_alocated" <%=availableVisible ? ' title="To allocate products enter required amount and press Save button or click Allocate all"' : 'disabled  title="To allocate products go back to Order"'%> value="<%=product.allocated || 0%>"/><span>allocated,</span>
                <span class=""><span id="fullfilled"><%=(product.fulfilled || 0)%></span>  fulfilled,<%=(product.inStock || 0)  + ' in Stock, ' + (product.onHand || 0) + ' on Hand' %></span>
                <%}%>
            </div>

            <%} else {%>
            <%if (!expense && product.product) {%>
            <div class="fullfilledInfo">
                <span class=""><span id="fullfilled"><%=(product.fulfilled || 0)%></span> received, <%=(product.inStock || 0)  + ' in Stock, ' + (product.onHand || 0) + ' on Hand' %></span>
            </div>
            <%}%>
            <%}%>
        </div>
    </td>

    <% if (!firstProduct && !product.allocated && !product.fulfilled && !product.goodsNotes.length) { %>
        <td class="deleteCell centerCell">
            <span title="Delete" class="icon-close5 removeProduct"></span>
        </td>
    <% } else { firstProduct = false } %>
</tr>
<%}%>
<tr>
    <td colspan="9" class="addProductItem"></td>
</tr>
<% }); %>
<%if(!notEditable) {%>
<tr>
    <td colspan="9" class="addProductItem">
        <a href="javascript:;">Add an item</a>
    </td>
</tr>
<%}%>

