<tr class="productItem deleteRow "
    data-id=""
    data-error="true">
    <td data-name="productName"
        class="product text-left"
        rowspan="2">
        <div class="_animateSelectBox">
            <div class="_newSelectListWrap">
                <a class="current-selected productsDd"
                   data-content="productsDd"
                   href="javascript:;"
                   data-id="">Select SKU</a>
            </div>
        </div>
    </td>
    <td data-name="description"
        class="description"
        rowspan="2">
        <div class="jobsWescWrap">
            <textarea class="_animate productDescr"
                      maxlength="200"
                      placeholder="Write Order info"></textarea>
        </div>
    </td>
    <td data-name="account"
        class="account">
        <span class="accountDd"
              data-content="accountDd">Acount info is empty..</span>
    </td>
    <td data-name="account"
        class="taxCodeLine">
        <div class="_animateSelectBox">
            <div class="_newSelectListWrap">
                <a class="current-selected taxCode"
                   data-content="taxCode"
                   href="javascript:;"
                   data-id="">Select</a>
            </div>
        </div>
    </td>
    <td data-name="quantity">
        <input id="quantity"
               class="_animate  quantity statusInfo forNum"
               maxlength="9"
               size=7
               type="text"
               required
        <%if (project) {%>
        disabled
        <%}%> />
    </td>
    <% if (!writeOff){
    currencyClassVal = curSymbol;
    %>
    <td data-name="price" class="price">
        <input id="editInput"
               class="_animate  statusInfo forNum"
               required
               maxlength="9"
               size=7
               type="text"/>
    </td>
    <td data-name="taxes"
        class="taxes">
        <span class="sum _staticInfo"></span>
    </td>
    <td data-name="subtotal"
        class="subtotal">
        <span class="sum _staticInfo"></span>
    </td>
    <% }%>
    <td class="deleteCell centerCell">
        <span title="Delete"
              class="icon-close5 removeJob"></span>
    </td>
</tr>
<tr class="info">
    <td colspan="6" class="fullfilledHolder scuItemHolder">
        <div class="fullfilledWrap">
            <div class="fullfilledInfo"></div>
        </div>
    </td>
</tr>