<div class="_editAllocateAll">
    <%if (!notEditable && forSales) {%>
    <div class="_tipsWrap">
        <span class="btn slim" id="selectShippingMethod">Add Shipping Method</span>
        <span class="tips icon-info" data-id="selectShippingMethod"></span>
    </div>
    <div class="_tipsWrap">
        <span class="btn slim" id="resetPrices">Reset Prices</span>
        <span class="tips icon-info" data-id="resetPrices"></span>
    </div>
    <%}%>
</div>
<table class="_productTable">
    <colgroup>
        <%if (writeOff) {%>
        <col width="15%">
        <col width="30%">
        <col width="40%">
        <col width="15%">
        <%} else if (expense) {%>
        <col width="180px">
        <col width="100px">
        <col width="100px">
        <col width="70px">
        <col width="80px">
        <col width="80px">
        <col width="80px">
        <col width="30px">
        <% } else { %>
        <col width="160px">
        <col width="180px">
        <col width="180px">
        <col width="160px">
        <col width="80px">
        <col width="80px">
        <col width="80px">
        <col width="80px">
        <col width="30px">
        <% } %>
    </colgroup>
    <thead>
    <tr class="_deleteHeader">
        <%if (!expense){%>
        <th class="text-left" data-sort="Product">SKU</th>
        <%}%>
        <th data-sort="description">Info</th>
        <th data-sort="account">Account</th>
        <th>Tax Code</th>
        <th data-sort="quantity">Quantity</th>
        <th data-sort="unitPrice">Unit Price</th>
        <th data-sort="taxes">Taxes</th>
        <th data-sort="subtotal">Subtotal</th>
        <th class="deleteCell"></th>
    </tr>
    </thead>
    <tbody id="productList">
    <tr>
        <%if (!expense){%>
        <td colspan="<%=writeOff ? 4 : 8%>" class="addProductItem text-left">
            <a href="javascript:;" class="btn blue slim">Add an item</a>
        </td>
        <%} else {%>
        <td colspan="7" class="addProductItem text-left">
            <a href="javascript:;" class="btn blue slim">Add an item</a>
        </td>
        <%}%>
    </tr>
    </tbody>
</table>
<div id="totalAmountContainer" class="_totalAmountContainer _createPopup"></div>