<tr data-id="<%=model._id%>">
    <td class="notForm centerCell"><input type="checkbox" value="<%=model._id%>" class="checkbox"/></td>
    <td class="centerCell"><%=model.startNumber%></td>
    <td><%=(model && model.assigned) ? model.assigned.name.first + ' ' + model.assigned.name.last : ''%></td>
    <td><%=(model.supplier && model.supplier.name) ? model.supplier.name.first + ' ' + model.supplier.name.last : ''
        %>
    </td>
    <td><%=model.invoice ? model.invoice.name : ''%></td>
    <td><%=(model.paymentMethod) ? model.paymentMethod.name : ''%></td>
    <td class="total money <%= model.paidAmount != model.invoiced ? 'red' :''%>"><%=currencySplitter(model.invoiced)%>
    </td>
    <td class="totalPaidAmount money <%= model.paidAmount != model.invoiced ? 'red' :''%>">
        <%=currencySplitter(model.paidAmount)%>
    </td>
    <td data-type="dtPicker" class="editable date" data-content="date">
        <%=model.date%>
    </td>
</tr>
