<% paymentCollection.forEach(function(payment, index){ %>
<tr data-id="<%=payment._id%>">
    <td class="notForm centerCell"><input type="checkbox" value="<%=payment._id%>" class="checkbox"/></td>
    <td class="centerCell"><%=startNumber + index + 1%></td>
    <td><%=(payment.number) ? payment.number : ''%></td>
    <td><%=payment.paymentRef%></td>
    <td><%=payment.supplier.fullName%></td>
    <td><%=(payment.journal) ? payment.journal : ''%></td>
    <td class="total"><%=(payment.paidAmount) ? payment.paidAmount : '0.00'%></td>
    <!--<td id='<%=payment._id%>'>-->
    <!--<a href="javascript:;" class="stageSelect"><%=payment.workflow ? payment.workflow.name: 'Undefinded'%></a>-->
    <!--</td>-->
    <td><%=payment.date%></td>

</tr>
<% }) %>
