<div id="searchContainer"></div>
<div class="_tablePurchasePaymentsWrap">
    <table class="list stripedList">
        <colgroup>
            <col width="42px">
            <col width="18%">
            <col width="18%">
            <col width="16%">
            <col width="12%">
            <col width="12%">
            <col width="12%">
            <col width="12%">
            <col width="12%">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell">
                <label class="_customCHeckbox">
                    <input type="checkbox" id="checkAll"/>
                    <span></span>
                </label>
            </th>
            <th class="oe_sortable" data-sort="assigned.name.first">Assigned<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="supplier.name.first">Company<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="invoice.name">Source Document<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="paymentMethod.name">Bank account<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="paidAmount">Paid<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="bankExpenses.amount">Bank Expenses<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable sortDn" data-sort="date">Payment Date<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="refund">Type<span class="arrow down"></span><span
                    class="arrow up"></span></th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
        <tfoot id="listTotal">
        <tr>
            <td colspan="5">Total</td>
            <td><span id="totalPaidAmount" class="money">0.00</span></td>
            <td></td>
        </tr>
        </tfoot>
    </table>
</div>