<div class="form-holder">
    <div class="clearfix"></div>
    <h3>Cash Transfer</h3>
    <div class="clearfix"></div>
    <form method="post" action="" id="createJournalForm" class="form">
        <dl class="journal-info">

            <dt><label for="date">Date</label></dt>
            <dd><input id="date" name="date" value="" readonly></dd>

            <dt><label>From</label></dt>
            <dd>
                <a id="debitAccount" class="current-selected" href="javascript:;">Select</a>
            <dt><label>Balance</label></dt>
            <dd>
                <span id="maxAmount" class=""></span>
            </dd>
            </dd>

            <dt><label>To</label></dt>
            <dd>
                <a id="creditAccount" class="current-selected" href="javascript:;">Select</a>
            </dd>
            <dt><label>Amount</label></dt>
            <dd>
                <input id="amount" value="0" class=""/> <span id="currency"></span>
            </dd>
        </dl>
    </form>
</div>