<div class="form-holder">
    <div class="clearfix"></div>
    <h3 class="borderBottom">Cash Transfer</h3>
    <div class="clearfix"></div>
    <form method="post" action="" id="createJournalForm" class="createJournalForm form">
        <dl class="journal-info">
            <dt><label for="date">Date</label></dt>
            <dd><input id="date" name="date" value="" readonly></dd>

            <dt><label>From</label></dt>
            <dd class="cashBalanceRow">
                <a id="debitAccount" class="current-selected" href="javascript:;">Select</a>
                <label class="cashBalance">Balance</label>
                <span id="maxAmount" class=""></span>
            </dd>

            <dt><label>To</label></dt>
            <dd><a id="creditAccount" class="current-selected" href="javascript:;">Select</a></dd>

            <dt><label>Amount</label></dt>
            <dd><input id="amount" value="0" class=""/> <span id="currency"></span></dd>
        </dl>
    </form>
</div>