<div class="headRow">
    <div class="divCell left-cell th">
        <span>Paid wTrack</span>
    </div>
    <div class="monthContainer">

    </div>

    <div class="divCell th"><span>YTD</span></div>
    <div class="divCell th th-trend"><span>Trend</span></div>
</div>
<% employees.forEach(function(employee){ %>
<div id="<%= employee._id %>" class="divRow">
    <div class="divCell left-cell">
                    <span><%= employee.name.first + " " + employee.name.last %>
                    </span>
    </div>
    <div data-id="<%= employee._id%>">

    </div>

    <div class="divCell chart_mini trend">
    </div>

</div>
<% }) %>
<div data-content="totalPaidBySales" class="divRow totalPaid">

</div>