<div class="divCell left-cell">
    <span>
        <%= totalName %>
    </span>
</div>
<% monthArr.forEach(function(monthObject){ %>
<div class="divCell">
    <% if (perMonth[monthObject.year*100 + monthObject.month]){%>
    <span>
        <%= perMonth[monthObject.year*100 + monthObject.month] ? currencySplitter(perMonth[monthObject.year*100 + monthObject.month].toFixed()) : '&nbsp'%>
    </span>
    <%} else {%>
    <span><%= '&nbsp'%></span>
    <% }%>
</div>
<% }) %>
<div class="divCell">

      <span>
        <%= globalTotal ? currencySplitter(globalTotal.toFixed()) : '&nbsp'%>
      </span>

</div>