<div class="divCell left-cell">
    <span>
        <%= totalName %>
    </span>
</div>
<% monthArr.forEach(function(monthObject){ %>
<div class="divCell">
    <% if (bySalesByDepPerWeek[monthObject.year*100 + monthObject.month] === 0) {%>
    <span>
        <%='&nbsp'%>
    </span>
    <%} else {%>
    <span>
        <%= bySalesByDepPerWeek[monthObject.year*100 + monthObject.month] ? bySalesByDepPerWeek[monthObject.year*100 + monthObject.month].toFixed(2) : '&nbsp'%>
    </span>
    <% } %>
</div>
<% }) %>
<div class="divCell">
    <% if (globalTotal === 0) { %>
      <span>
        <%='&nbsp'%>
      </span>
    <% } else { %>
      <span>
        <%= globalTotal ? globalTotal : '&nbsp'%>
      </span>
    <% } %>
</div>