<div class="divCell left-cell">
    <span>
        Total Revenue
    </span>
</div>
<% weeksArr.forEach(function(weekObject){ %>
<div class="divCell">
    <span class="<%= bySalesByDepPerWeek[weekObject.week] ? '' : ''%>">
        <%= bySalesByDepPerWeek[weekObject.week] ? currencySplitter(bySalesByDepPerWeek[weekObject.week].toFixed(2)) : '&nbsp'%>
    </span>
</div>
<% }) %>
<div class="divCell">
    <span class="<%= globalTotal ? '' : ''%>">
        <%= globalTotal ? currencySplitter(globalTotal.toFixed(2)) : '&nbsp'%>
    </span>
</div>