<div class="headRow">
    <div class="divCell th left-cell">
        <span><%=headName%></span>
    </div>
    <div id="revenueBySales" class="revenueBySales">
    </div>
    <div class="monthContainer">
    </div>

    <div class="divCell th"><span>YTD</span></div>
    <div class="divCell th th-trend"><span>Trend</span></div>
</div>
<% departments.forEach(function(department){ %>
<div class="divRow" >
    <div data-value="<%= department.name %>" class="divCell left-cell" data-cont="<%=content%>">
        <span class="rowChecked">+</span><span class="clickToShow"><%= department.name %></span>

    </div>
    <div data-id="<%= department.name%>" id="<%= department.name%>">

    </div>


</div>

<% department.employees.forEach(function(employee){ %>
<div class="divRow subRow" data-value="<%= department.name + 'bonus'%>" data-val="<%=content%>">
    <div class="divCell left-cell" data-val="<%=content%>">

        <span class="bonusCell"><%= employee.name%></span>
    </div>


</div>
<% }); %>
</div>
<% }) %>
<div data-content="<%=content%>" class="divRow <%=className%>">

</div>