<div class="headRow">
    <div class="divCell th left-cell">
        <span>All Bonus</span>
    </div>
    <div id="revenueBySales" class="revenueBySales">
    </div>
    <div class="monthContainer">
    </div>

    <div class="divCell th"><span>YTD</span></div>
    <div class="divCell th th-trend"><span>Trend</span></div>
</div>
<% employees.forEach(function(employee){ %>
<div id="<%= employee._id %>" class="divRow">
    <div data-value="<%= employee._id %>" class="divCell left-cell">
        <span>+</span><span class="clickToShow"><%= employee.name %></span>

    </div>
    <div data-id="<%= employee._id%>">

        </div>


</div>

    <% employee.bonus.forEach(function(bonus){ %>
<div class="divRow subRow" data-value="<%= employee._id + 'bonus'%>">
    <div class="divCell left-cell">

        <span class="bonusCell"><%= bonus %></span>
            </div>


    </div>
    <% }); %>
</div>
<% }) %>
<div data-content="<%=content%>" class="divRow <%=className%>">

</div>