<tr data-id="<%=model._id%>">
    <td class="notForm"><input type="checkbox" value="<%=model._id%>" class="checkbox"/></td>
    <td><%=model.startNumber%></td>
    <td><%=(model.supplier._id) ? (model.supplier.name.first + ' ' + model.supplier.name.last) : ''%></td>
    <td><%=model.paymentRef%></td>
    <td data-type="input" class="editable" data-content="year"><%=model.year%></td>
    <td data-type="input" class="editable" data-content="month"><%=model.month%></td>
    <td class="totalAmount money"><%=currencySplitter(model.paidAmount)%></td>

    <td class="totalPaid money"><%=currencySplitter(model.paid)%></td>
    <td data-type="dtPicker" class="editable date" data-content="date">
        <%=model.date%>
    </td>
    <!--<td data-content="workflow" class="editable"><a href="javascript:;" class="currentSelected <%= model.workflow === 'Paid' ? 'done' : 'new'%>"><%=model.workflow%></a></td>-->
</tr>