<div id="searchContainer"></div>
<div>
    <table class="list payment-list">
        <col width="2%">
        <col width="2%">
        <col width="15%">
        <col width="10%">
        <col width="15%">
        <col width="10%">
        <col width="10%">
        <col width="5%">
        <col width="10%">
        <col width="10%">

        <thead>
        <tr>
            <th class="centerCell"><input type="checkbox" id="check_all" /></th>
            <th class="centerCell">N</th>
            <th class="oe_sortable" data-sort="supplier.name.first">Employee<span class="arrow down">7</span><span class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="paymentRef">Bonus Type<span class="arrow down">7</span><span class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="year">Year<span class="arrow down">7</span><span class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="month">Month<span class="arrow down">7</span><span class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="paidAmount">Paid<span class="arrow down">7</span><span class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="paidAmount">Amount<span class="arrow down">7</span><span class="arrow up">v</span></th>
            <!--<th class="oe_sortable" data-sort="workflow">Status<span class="arrow down">7</span><span class="arrow up">v</span></th>-->
            <th class="oe_sortable" data-sort="date">Date of Paid<span class="arrow down">7</span><span class="arrow up">v</span></th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
        <tfoot id="listTotal"></tfoot>
    </table>
</div>