<h3><%=contentType%></h3>
<div id="template-switcher" class="right">
    <ul class="btn-list">
        <li><a href="javascript;" class="changeContentView icon icon-btn dark <%= (viewType == 'list') ? 'selected' : ''%>" data-view-type="list" id="listBtn">i</a></li>
        <!--<li><a href="javascript;" class="changeContentView icon icon-btn dark <%= (viewType == 'thumbnails') ? 'selected' : ''%>" data-view-type="thumbnails" id="thumbBtn">k</a></li>-->
        <li><a href="javascript;" class="changeContentView icon icon-btn dark <%= (viewType == 'form') ? 'selected' : ''%>" data-view-type="form" id="formBtn">m</a></li>
    </ul>
</div>