<div class="formTitle">
    <h3>Contact</h3>
</div>
<%if (property) {%>
<div class="propertyContainer">

    <div class="propertyBox">
        <div class="propertyImg">
            <img alt=""
                 src="<%=property.imageSrc || 'https://static.hsappstatic.net/salesImages/static-1.38/avatars/default-avatar.gif'%>"/>
        </div>
        <div class="propertyBody">
            <a class="propertyFullName" href="<%='/#easyErp/Persons/tform/'+ property._id%> "><%=property.fullName%></a>
            <a href="javascript:;"><%=property.email%></a>
        </div>

        <a href="javascript:;" class="removeProperty" title="Remove Contact" id="removeProperty">
            <span class="icon-close3" aria-hidden="true"></span>
        </a>
    </div>

</div>
<%} else { %>
<a class="_circleIconBtn icon-plus" title="Add Contact" id="addProperty"></a>
<%}%>