<div class="grid-conatiner">
    <table class="grid" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th>
                    <span>#</span>
                </th>
                <th>
                    <span>#</span>
                </th>
                <th>
                    <span>#</span>
                </th>
                <% weeks.forEach(function(week){ %>
                    <td id="<%= week.number %>">
                        <span><%= week.date (week.number) %></span>
                    </td>
                <% }) %>
            </tr>
        </thead>
        <tbody id="dashboardBody">

        </tbody>
    </table>
</div>