<% forEach(function(department){ %>
    <tr data-id="<%= department %>" class="head-row">
        <td>
            <span>&nbsp</span>
        </td>
        <td colspan="17">
            <span>
                <%= department.department %>
            </span>
        </td>

    </tr>
    <% department.employeeData.forEach(function(employee, index){ %>
        <tr class="<%= department %>">
            <td>
                <span>
                    <%=index + 1%>
                </span>
            </td>
            <td>
                <span>
                    <%= employee.get('employee') %>
                </span>
            </td>
            <td>
                <span>
                    &nbsp
                </span>
            </td>
        </tr>

    <% }) %>
<% }) %>