<tr>
<tr class="headerRow">
    <td colspan="6">
        <span>&nbsp;</span>
    </td>
</tr>
    <td>
        <div class="item">
            <div class="title">Free</div>
            <div class="free countDays">
                <%= free ? free : 0 %>
            </div>

        </div>
    </td>
    <td>
        <div class="item">
            <div class="title">Almost Free</div>
            <div class="almostFree countDays">
                <%= almostFree ? almostFree : 0 %>
            </div>

        </div>
    </td>
    <td>
        <div class="item">
            <div class="item">
                <div class="title">Partially in Work</div>
                <div class="partiallyBusy countDays">
                    <%= partiallyBusy ? partiallyBusy : 0 %>
                </div>
            </div>
        </div>
    </td>
    <td>
        <div class="item">
            <div class="title">Fully in Work</div>
            <div class="fullyBusy countDays">
                <%= fullyBusy ? fullyBusy : 0 %>
            </div>
        </div>
    </td>
    <td>
        <div class="item">
            <div class="title">Overworked</div>
            <div class="overWorked countDays">
                <%= overworked ? overworked : 0 %>
            </div>
        </div>
    </td>
    <td>
        <div class="item">
            <div class="title">Freed next Week</div>
            <div class="dgreen freedNextWeek countDays">
                <%= freedNextWeek ? freedNextWeek : 0 %>
            </div>
        </div>
    </td>
</tr>
<tr class="footerRow">
    <td colspan="6">
        <span>&nbsp;</span>
    </td>
</tr>