<h3>Dashboard Vacation</h3>
<ul class="dateFilter">
    <li>
        <span id="startTime">10/30/15</span> - <span id="endTime">10/30/15</span>
        <i class="fa fa-caret-down"></i>
    </li>
    <li>
        <ul class="frameDetail">
            <li class="customTime">
                    <span>
                        <label for="startDate">From </label><input readonly type="text" id="startDate">
                        <label for="endDate">To</label><input readonly type="text" id="endDate">
                    </span>
            </li>
            <li class="buttons">
                <button id="updateDate">Update</button>
                <a id="cancelBtn">Cancel</a>
            </li>
        </ul>
    </li>
</ul>
<div id="searchContainer"></div>