<h3>Dashboard Vacation</h3>
<ul class="dateFilter">
    <li>
        <span id="startTime">10/30/15</span> - <span id="endTime">10/30/15</span>
        <i class="fa fa-caret-down"></i>
    </li>
    <li>
        <ul class="frameDetail">
            <li class="customTime">
                    <span>
                        <label>From <input readonly type="text" id="startDate"> </label>
                        <label>To <input readonly type="text" id="endDate"></label>
                    </span>
            </li>
            <li class="buttons">
                <button id="updateDate">Update</button>
                <a id="cancelBtn">Cancel</a>
            </li>
        </ul>
    </li>
</ul>