<div id="searchContainer"></div>
<div class="_tableWrap _tableOrderList">
    <div class="_tableWrap">

        <table class="list stripedList">
            <colgroup>
                <col width="42px">
                <col width="50%">
                <col width="49%">
            </colgroup>
            <thead>
            <tr>
                <th class="centerCell">
                    <label class="_customCHeckbox">
                        <input type="checkbox" id="checkAll"/>
                        <span></span>
                    </label>
                </th>
                <th class="oe_sortable"
                    data-sort="name">Name
                    <span class="arrow down"></span>
                    <span class="arrow up"></span>
                </th>
                <th class="oe_sortable"
                    data-sort="createdBy.date">Created By
                    <span class="arrow down"></span>
                    <span class="arrow up"></span>
                </th>
            </tr>
            </thead>
            <tbody id="listTable" class="enableTableOdd"></tbody>
        </table>
    </div>
</div>