<% orderCollection.forEach(function(order, index){ %>
<tr data-id="<%=order._id%>">
    <td class = "notForm"><input type="checkbox" value="<%=order._id%>" class="checkbox" /></td>
    <td><%=startNumber + index + 1%></td>
    <td><%=order.customerRef.substr(0,7)%></td>
    <td><%=order.orderDate%></td>
    <td><%=order.customer%></td>
    <td><%=order.expectedDate%></a></td>
    <td><%=order.sourceDocument%></td>
    <td><%=order.untaxed%></td>
    <td><%=order.total%></td>
    <td><%=order.status%></td>
</tr>
<% }) %>