<% orderCollection.forEach(function(quotation, index){ %>
<tr data-id="<%=quotation._id%>">
    <td class = "notForm"><input type="checkbox" value="<%=quotation._id%>" class="checkbox" /></td>
    <td><%=startNumber + index + 1%></td>
    <td><%=quotation.name%></td>
    <td><%=quotation.orderDate%></td>
    <td><%=(quotation.supplier) ? quotation.supplier.fullName : ''%></td>
    <td><%=quotation.expectedDate%></td>
    <td><%=(quotation.paymentInfo) ? quotation.paymentInfo.unTaxed : '0'%></td>
    <td><%=(quotation.paymentInfo) ? quotation.paymentInfo.total : '0'%></td>
    <td><%=quotation.workflow%></td>
</tr>
<% }) %>
