<div id="searchContainer"></div>
<div>
    <table class="list order-list">
        <col width="2%">
        <col width="2%">
        <col width="10%">
        <col width="10%">
        <col width="12%">
	    <col width="10%">
	    <col width="8%">
	    <col width="5%">
	    <col width="10%">

        <thead>
            <tr>
                <th class="centerCell"><input type="checkbox" id="check_all" /></th>
                <th class="centerCell">N</th>
                <th class="oe_sortable" data-sort="name">Reference<span class="arrow down">7</span><span class="arrow up">v</span></th>
                <th class="oe_sortable" data-sort="supplier">Supplier<span class="arrow down">7</span><span class="arrow up">v</span></th>
                <th class="oe_sortable" data-sort="expectedDate">Expected Date<span class="arrow down">7</span><span class="arrow up">v</span></th>
                <!--<th class="oe_sortable" data-sort="sourceDocument">Source Document<span class="arrow down">7</span><span class="arrow up">v</span></th>-->
                <th class="oe_sortable" data-sort="paymentInfo.unTaxed">Untaxed<span class="arrow down">7</span><span class="arrow up">v</span></th>
                <th class="oe_sortable" data-sort="paymentInfo.total">Total<span class="arrow down">7</span><span class="arrow up">v</span></th>
                <th class="oe_sortable" data-sort="workflow">Status<span class="arrow down">7</span><span class="arrow up">v</span></th>
                <th class="oe_sortable" data-sort="orderDate">Order Date<span class="arrow down">7</span><span class="arrow up">v</span></th>
            </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
        <tfoot id="listTotal"></tfoot>
    </table>
</div>
