<tr class="componentItem deleteRow" data-id="" data-error="true">
    <td data-name="productName"
        class="product text-left"
        rowspan="2">
        <div class="_animateSelectBox">
            <div class="_newSelectListWrap">
                <a class="current-selected componentsDd"
                   data-content="product"
                   href="javascript:;">Select Component</a>
            </div>
        </div>
    </td>
    <td data-name="description"
        class="description">
        <div class="jobsWescWrap">
            <textarea class="_animate componentDescr"
                      maxlength="200"
                      data-name="info"
                      placeholder="Write Component info"></textarea>
        </div>
    </td>
    <td data-name="quantity">
        <input data-name="quantity"
               class="_animate  quantity statusInfo forNum"
               maxlength="9"
               size=7
               type="text"
               value="1"
               required
        />
    </td>
    <td class="deleteCell centerCell">
        <span title="Delete"
              class="icon-close5 removeJob"></span>
    </td>
</tr>
<tr class="info">
    <td colspan="6" class="fullfilledHolder scuItemHolder">
        <div class="fullfilledWrap">
            <div class="fullfilledInfo"></div>
        </div>
    </td>
</tr>
