<table class="_productTable">
    <colgroup>
        <col width="277px">
        <col width="317px">
        <col width="277px">
        <col width="30px">
    </colgroup>
    <thead>
    <tr class="_deleteHeader">
        <th class="text-left" data-sort="Component">Components</th>
        <th data-sort="description">Info</th>
        <th data-sort="quantity">Quantity</th>
        <th class="deleteCell"></th>
    </tr>
    </thead>
    <tbody id="ComponentList">

    <tr>
        <td colspan="7" class="addProductItem text-left">
            <a href="javascript:;" class="btn blue slim">Add an item</a>
        </td>
    </tr>
    </tbody>
</table>
