<div id="searchContainer"></div>
<div>
    <table class="list task-list">
        <col width="2%">
        <col width="2%">
        <col width="40%">
        <col width="50%">
        <col width="6%">

        <thead>
        <tr>
            <th><input type="checkbox" id="check_all"/></th>
            <th>N</th>
            <th class="oe_sortable" data-sort="name">Product Name<span class="arrow down">7</span><span class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="info.productType">Product Type<span class="arrow down">7</span><span class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="info.salePrice">Sale Price<span class="arrow down">7</span><span class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort=""><span class="arrow down">7</span><span class="arrow up">v</span></th>
        </tr>
        </thead>
        <tbody id="listTable"></tbody>
    </table>
</div>
