<div class="_cashFlowWrap">
    <div id="searchContainer"></div>
    <div class="containerContent">
        <div class="_cashFlowTableWrap">
            <table class="list preventHover">
                <thead>
                <tr>
                    <th class="_profitTitle"></th>
                    <th colspan="2" class="_profitTitle">Cash flows from operating activities</th>
                    <th class="_profitTitle"></th>
                </tr>

                <!--<tr id="captionOperating">-->
                <!--<th>Account</th>-->
                <!--<th class="countable" data-id="debit">Amount</th>-->
                <!--</tr>-->
                </thead>

                <tbody id="listTableOperating" class="enableTableOdd"></tbody>

                <tfoot>
                <tr>
                    <td colspan="4" class="money" id="operatingFooter"></td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="_cashFlowTableWrap">
            <table class="list preventHover">
                <thead>
                <tr>
                    <th class="_profitTitle"></th>
                    <th colspan="2" class="_profitTitle">Cash flows from investing activities</th>
                    <th class="_profitTitle"></th>
                </tr>
                <!--<tr id="captionInvesting">-->
                    <!--<th>Account</th>-->
                    <!--<th class="countable" data-id="debit">Amount</th>-->
                <!--</tr>-->
                </thead>
                <tbody id="listTableInvesting" class="enableTableOdd"></tbody>
                <tfoot>
                <tr>
                    <td colspan="4" class="money" id="investingFooter"></td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="_cashFlowTableWrap">
            <table class="list preventHover">
                <thead>
                <tr>
                    <th class="_profitTitle"></th>
                    <th colspan="2" class="_profitTitle">Cash flows from financing activities</th>
                    <th class="_profitTitle"></th>
                </tr>
                <!--<tr id="captionFinancing">-->
                    <!--<th>Account</th>-->
                    <!--<th class="countable" data-id="debit">Amount</th>-->
                <!--</tr>-->
                </thead>
                <tbody id="listTableFinancing" class="enableTableOdd"></tbody>
                <tfoot>
                <tr>
                    <td colspan="4" class="money" id="financingFooter"></td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="_totalCashFlow">
            <table class="list preventHover">
                <thead>
                <tr>
                    <th class="_profitTitle"></th>
                    <th colspan="2" class="_profitTitle">Net Cash Flow</th>
                    <th class="_profitTitle"></th>
                </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                <tr>
                    <td colspan="4" class="money" id="totalCashFlow"></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>