<div id="searchContainer"></div>
<div class="containerContent">
    <div>
        <table class="list gl-list">
            <colgroup span="4">
                <col span="1" width="10%">
                <col span="2" width="25%">
                <col span="1" width="40%">
            </colgroup>
            <thead>
            <tr>
                <th colspan="4"
                    class="forCaption" style="text-align: left;">
                    Cash flows from operating activities
                </th>
            </tr>

            <tr id="captionOperating">
                <th class="centerCell">Expand</th>
                <th>Account</th>
                <th>Date</th>
                <th class="countable" data-id="debit">Amount</th>
            </tr>
            </thead>
            <tfoot>
            <td colspan="4" id="operatingFooter"></td>
            </tfoot>
            <tbody id="listTableOperating" class="enableTableOdd"></tbody>
        </table>

    </div>
    <br/>
    <br/>
    <div>
        <table class="list gl-list">
            <colgroup span="4">
                <col span="1" width="10%">
                <col span="2" width="25%">
                <col span="1" width="40%">
            </colgroup>
            <thead>
            <tr>
                <th colspan="4"
                    class="forCaption" style="text-align: left;">
                    Cash flows from investing & extraordinary activities
                </th>
            </tr>
            <tr id="captionInvesting">
                <th class="centerCell">Expand</th>
                <th>Account</th>
                <th>Date</th>
                <th class="countable" data-id="debit">Amount</th>
            </tr>
            </thead>
            <tfoot>
            <td colspan="4" id="investingFooter"></td>
            </tfoot>
            <tbody id="listTableInvesting" class="enableTableOdd"></tbody>
        </table>
    </div>
    <br/>
    <br/>
    <div>
        <table class="list gl-list">
            <colgroup span="4">
                <col span="1" width="10%">
                <col span="2" width="25%">
                <col span="1" width="40%">
            </colgroup>
            <thead>
            <tr>
                <th colspan="4"
                    class="forCaption" style="text-align: left;">
                    Cash flows from financing activities
                </th>
            </tr>
            <tr id="captionFinancing">
                <th class="centerCell">Expand</th>
                <th>Account</th>
                <th>Date</th>
                <th class="countable" data-id="debit">Amount</th>
            </tr>
            </thead>
            <tfoot>
            <td colspan="4" id="financingFooter"></td>
            </tfoot>
            <tbody id="listTableFinancing" class="enableTableOdd"></tbody>
        </table>
    </div>

</div>