<div class="form-holder">
    <fieldset>
        <div class="inner">
            <ul class="dialog-tabs _btnsBlockFixed" data-class="mainTabs">
                <li class="right">
                    <button id="editButton" class="btn slim" title="Edit">
                        <span class="icon-pencil2"></span>
                    </button>
                    <button id="exportToPdf" class="btn slim " title="Download in PDF format">
                        <span class="icon-pdf"></span>
                    </button>
                    <button class="btn slim attach_file" id="attachment_file" title="Attach">
                        <span class="icon-attach"></span>
                    </button>
                    <%if(model.workflow && model.workflow.status !== 'Cancelled'){%>
                    <%if(model.workflow.status === 'New'){%>
                    <%if(model.approved){%>
                    <%if(!model.emailed){%>
                    <button class="btn slim sendEmail">
                        <span>Send email</span>
                    </button>
                    <%} else {%>
                    <button class="btn slim sendEmail">
                        <span>Resend email</span>
                    </button>
                    <%}%>
                    <button class="btn slim newPayment">
                        <span>Create Payment</span>
                    </button>
                    <%} else {%>
                    <%if(isFinancial){%>
                    <button class="btn slim sendEmail">
                        <span>Send email</span>
                    </button>
                    <button class="btn slim newPayment">
                        <span>Create Payment</span>
                    </button>
                    <button class="btn slim approve">
                        <span>Approve</span>
                    </button>
                    <%} else {%>
                    <span>Draft</span>
                    <%}%>
                    <%}%>
                    <%} else if(model.workflow.status === 'Done'){%>
                    <% if(paidAndNotApproved) {%>
                    <button class="btn slim approve">
                        <span>Approve</span>
                    </button>
                    <%}%>
                    <%} else {%>
                    <%if(model.approved){%>
                    <button class="btn slim newPayment">
                        <span>Create Payment</span>
                    </button>
                    <%} else {%>
                    <%if(isFinancial){%>
                    <button class="btn slim sendEmail">
                        <span>Send email</span>
                    </button>

                    <button class="btn slim newPayment">
                        <span>Pay</span>
                    </button>
                    <button class="btn slim approve">
                        <span>Approve</span>
                    </button>
                    <%} else {%>
                    <span>Draft</span>
                    <%}%>
                    <%}%>
                    <%}%>
                    <%} else {%>
                    <button class="btn slim borderRed setDraft">
                        <span>Set Draft</span>
                    </button>
                    <%}%>
                </li>
            </ul>
            <div class="clearfix"></div>
            <div class="_templateInvoiceWrp">
                <div id="templateDiv" class="_templateDiv"></div>
                <div class="addingInfoWrp">
                    <div id="historyDiv" class="_pureTemplate"></div>
                    <div id="attachments" class="invoiceAttachments"></div>
                </div>
            </div>

            <div id="payments-container" class="paymentsContainer"></div>
            <div class="clearfix"></div>
        </div>
    </fieldset>
</div>
