<div id="listTable">
    <% invoices.forEach(function(invoice, index){%>
    <% var currency =(invoice.currency && invoice.currency._id) ? invoice.currency._id.symbol : ''%>

    <div class="compactView" data-id="<%=invoice._id%>">
        <div class="checkboxRow">
            <label class="_customCHeckbox">
                <input type="checkbox" value="<%=invoice._id%>"
                       class="checkbox <%=invoice.removable ? '' : 'notRemovable'%>" <%if (!invoice.removable) { %>
                disabled="disabled"
                <% } %>/>
                <span></span>
            </label>
        </div>
        <div class="compactRowWrap">
            <div class="compactRow">
                <div class="firstName"><%=invoice.name%></div>
                <div class="supplier"><%=invoice.supplier && invoice.supplier.name ? invoice.supplier.name.first + '
                    ' + invoice.supplier.name.last : ''%>
                </div>
            </div>
            <div class="compactRow">
                <div class="balance"><%=currency %><%=currencySplitter(invoice.paymentInfo.balance)%></div>
                <div class="total"><%=currency %><%=(invoice.paymentInfo) ?
                    currencySplitter(invoice.paymentInfo.total) : '0.00'%>
                </div>
                <div class="status"><%if(invoice.workflow){%>
                    <%if(invoice.workflow.status === 'In Progress'){%>
                    <span class="<%= invoice.workflow.status.toLowerCase().replace(' ', '') %>"><%= invoice.workflow.name %></span>
                    <% } else {%>
                    <%if(invoice.approved){%>
                    <span class="<%=invoice.workflow.name.toLowerCase()%>"><%=invoice.workflow.name%></span>
                    <% } else {%>
                    <span class="notApproved">Not Approved</span>
                    <%}%>
                    <%}%>
                    <% } else {%>
                    <span> </span>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
    <% }) %>
</div>