<% orderCollection.forEach(function(order, index){ %>
<tr data-id="<%=order._id%>"
<%if (order.workflow && order.workflow.status === 'Cancelled') { %>
class="canceledListItem"
<%}%>>
<td class = "notForm"><input type="checkbox" value="<%=order._id%>" class="checkbox" /></td>
<td><%=startNumber + index + 1%></td>
<td><%=order.project ? order.project.projectName : '------'%></td>
<td><%=order.orderDate%></td>
<td><%=(order.supplier) ? order.supplier.name : '------'%></td>
<td><%=(order.project) ? order.project.projectmanager.name : '------'%></td>
<td class="total"><%=(order.paymentInfo) ? order.paymentInfo.total.toFixed(2) : '0'%></td>
<td id='<%=order._id%>'>
    <a href="javascript:;" class="stageSelect"><%=order.workflow ? order.workflow.name: 'Undefinded'%></a>
</td>
</tr>
<% }) %>