<div class="form-holder">
  <form method="post" action="" id="createJobPositionForm" class="form">
    <fieldset>
      <div class="inner">
        <ul class="dialog-tabs">
          <li><a class="active" href="javascript:;">Main</a></li>
          <li><a href="javascript:;">Assignees</a></li>
        </ul>
        <div class="clearfix"></div>
        <div class="dialog-tabs-items">
          <div class="dialog-tabs-item active">
	        <div class="half-block left">
			  <dl class="job-create-info">
				<dt><label for="name">Job Name </label></dt><dd><input type="text" class="title-input blueback" name="name" id="name" placeholder="e.g. Manager" required maxlength="32"/></dd>
				<dt><label for="departmentDd">Department</label></dt>
				<dd>
				  <a id="departmentDd" class="current-selected" href="javascript:;"></a>
				</dd>

			  </dl>
			</div>
	        <div class="half-block left">
			  <dl class="job-create-info">

				<dt><label for="expectedRecruitment">Expected in Recruitment</label></dt><dd><input type="text" name="expectedRecruitment" id="expectedRecruitment" class="onlyNumber" value="0" maxlength="4"/></dd>
				<dt><label for="workflowsDd">Stage</label></dt>
				<dd>
				  <a id="workflowsDd" class="current-selected" href="javascript:;"></a>
				</dd>
			  </dl>
			</div>
            <div class="clearfix"></div>
	        <div class="half-block left">
			  <dl class="job-create-info">
				<dt><label for="description">Job Description</label></dt><dd><textarea maxlength="1000" placeholder="Description" id="description"></textarea></dd>
			  </dl>
			</div>
	        <div class="half-block left">
			  <dl class="job-create-info">
				<dt><label for="requirements">Requirements </label></dt><dd><textarea maxlength="1000" placeholder="Requirements" id="requirements"></textarea></dd>
				
			  </dl>
			</div>
            <div class="clearfix"></div>
          </div>
          <div class="dialog-tabs-item">
			<div class="assignees-container"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </fieldset>
  </form>
  <div class="clearfix"></div>
</div>
