<div class="_breadcrunmbs">
    <a href="#easyErp/settingsOverview">Settings Overview</a>
    <span class="_breadcrunmbItem"> / Accounting</span>
</div>
<div class="form-holder">
    <ul class="dialog-tabs _forOverview">
        <li>
            <a href="javascript:;" class="active">Currency</a>
        </li>
        <li>
            <a href="javascript:;">Currency Rates</a>
        </li>
        <li>
            <a href="javascript:;" class="">Bank Accounts</a>
        </li>
        <li>
            <a href="javascript:;" class="">Payment Terms</a>
        </li>
        <li>
            <a href="javascript:;">Taxes</a>
        </li>
        <li>
            <a href="javascript:;">Default Settings</a>
        </li>
        <li>
            <a href="javascript:;">Accounting Categories</a>
        </li>
        <li>
            <a href="javascript:;">Expenses Categories</a>
        </li>
    </ul>
    <div class="dialog-tabs-items">
        <div class="dialog-tabs-item active" id="currencyTab">
        </div>
        <div class="dialog-tabs-item" id="ratesTab">
        </div>
        <div class="dialog-tabs-item" id="paymentMethodTab">
        </div>
        <div class="dialog-tabs-item" id="paymentTermsTab">
        </div>
        <div class="dialog-tabs-item" id="taxesTab">
        </div>
        <div class="dialog-tabs-item" id="defaultsTab">
        </div>
        <div class="dialog-tabs-item" id="accountingCategoriesTab">
        </div>
        <div class="dialog-tabs-item" id="expensesCategoriesTab">
        </div>
    </div>
</div>

