<div class="container-full dashboard-card-wrap">
    <div class="row">
        <div class="col m-6 ">
            <div class="dashboard-card">
                <h3 class="card-title">Who created most leads?</h3>
                <div class="chartTopBox">
                    <div class="legend-box small">
                        <div class="total">
                            <div class="square" style="background: linear-gradient(to left, #ACC7F2, #FFA17F); opacity: 1">
                            </div>
                            <div class="text">
                                Not converted
                            </div>
                        </div>
                        <div class="opportunities">
                            <div class="square" style="background: linear-gradient(to left, #6b456c, #98aac4)">
                            </div>
                            <div class="text">
                                Opportunities
                            </div>
                        </div>
                    </div>
                    <div id="LeadsBySaleDateFilter" class="vocationFilter _filterDropDownWrap"></div>
                    <!--<div class="vocationFilter _filterDropDownWrap">
                        <ul class="dateFilterLeadsBySale ">
                            <li class="dateRangeLeadsBySale">
                                <span class="icon-calendar"></span>
                                <span id="startTimeLeadsBySale"><%= startDateLeadsBySale%></span> - <span id="endTimeLeadsBySale"><%= endDateLeadsBySale%></span>
                                <span class="fa fa-angle-down"></span>
                            </li>
                            <li>
                                <ul class="frameDetail _filterDropDownBody hidden">
                                    <li id="thisMonthLeadsBySale"
                                        class="filterValues checked checkedValue"
                                        data-type="leadsSale"
                                        data-name="thisMonth">
                                        This Month
                                    </li>
                                    <li id="thisYearLeadsBySale"
                                        class="filterValues checked"
                                        data-type="leadsSale"
                                        data-name="thisYear">
                                        This Financial Year
                                    </li>
                                    <li class="listLine"></li>
                                    <li id="lastMonthLeadsBySale"
                                        class="filterValues checked"
                                        data-type="leadsSale"
                                        data-name="lastMonth">
                                        Last Month
                                    </li>
                                    <li id="lastQuarterLeadsBySale"
                                        class="filterValues checked"
                                        data-type="leadsSale"
                                        data-name="lastQuarter">
                                        Last Quarter
                                    </li>
                                    <li id="lastYearLeadsBySale"
                                        class="filterValues checked"
                                        data-type="leadsSale"
                                        data-name="lastYear">
                                        Last Financial Year
                                    </li>
                                    <li class="listLine"></li>
                                    <li id="customLeadsBySale"
                                        class="_filterArrow filterValues checked"
                                        data-type="leadsSale"
                                        data-name="custom">
                                        Custom Dates
                                    </li>
                                    <li class="customTimeLeadsBySale customTime hidden">
                                        <div class="customTimeItem">
                                            <label for="startDateLeadsBySale">Start Date: </label>
                                            <input readonly type="text" id="startDateLeadsBySale">
                                        </div>
                                        <div class="customTimeItem">
                                            <label for="endDateLeadsBySale">End Date: </label>
                                            <input readonly type="text" id="endDateLeadsBySale">
                                        </div>
                                    </li>
                                    <li class="buttons">
                                        <button id="updateDateLeadsBySale" class="btn">
                                            <span>Update</span>
                                        </button>
                                        <button id="cancelBtnLeadsBySale" class="btn">
                                            <span>Cancel</span>
                                        </button>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>-->
                </div>
                <svg class="chart salesChart"></svg>
           </div>
        </div>
        <div class="col m-6">
            <div class="dashboard-card">
                <h3 class="card-title">Leads</h3>
                <div id="LeadsDateFilter" class="vocationFilter _filterDropDownWrap"></div>
                <!--<div class="vocationFilter _filterDropDownWrap">
                    <ul class="dateFilterLeads">
                        <li class="dateRangeLeads">
                            <span class="icon-calendar"></span>
                            <span id="startTimeLeads"><%= startDateLeads%></span> - <span id="endTimeLeads"><%= endDateLeads%></span>
                            <span class="fa fa-angle-down"></span>
                        </li>
                        <li>
                            <ul class="frameDetail _filterDropDownBody hidden">
                                <li id="thisMonthLeads" class="leads filterValues checked checkedValue" data-type="leads">
                                    This Month
                                </li>
                                <li id="thisYearLeads" class="leads filterValues checked" data-type="leads">This Financial
                                    Year
                                </li>
                                <li class="listLine"></li>
                                <li id="lastMonthLeads" class="leads filterValues checked" data-type="leads">Last Month</li>
                                <li id="lastQuarterLeads" class="leads filterValues checked" data-type="leads">Last
                                    Quarter
                                </li>
                                <li id="lastYearLeads" class="leads filterValues checked" data-type="leads">Last Financial
                                    Year
                                </li>
                                <li class="listLine"></li>
                                <li id="customLeads" class="_filterArrow leads filterValues checked" data-type="leads">
                                    Custom Dates
                                </li>
                                <li class="customTimeLeads customTime hidden">
                                    <div class="customTimeItem">
                                        <label for="startDate">Start Date: </label>
                                        <input readonly type="text" id="startDateLeads">
                                    </div>
                                    <div class="customTimeItem">
                                        <label for="endDate">End Date: </label>
                                        <input readonly type="text" id="endDateLeads">
                                    </div>
                                </li>
                                <li class="buttons">
                                    <button id="updateDateLeads" class="btn">
                                        <span>Update</span>
                                    </button>
                                    <button id="cancelBtnLeads" class="btn">
                                        <span>Cancel</span>
                                    </button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>-->
                <div data-type="Leads" class="choseDateItem">
                    <div class="item active" data-item="createdBy">Created By</div>
                    <div class="item" data-item="assignedTo">Assigned To</div>
                </div>
                <div class="legend-box">
                    <div class="converted left">
                        <div class="square" style="background: #FEA281">
                        </div>
                        <div class="text">
                            Converted Leads
                        </div>
                    </div>

                    <div class="unconverted left">
                        <div class="square" style="background: #ACC7F2">
                        </div>
                        <div class="text">
                            Unconverted Leads
                        </div>
                    </div>

                    <div class="convertRate left">
                        <div class="square" style="background: #ACC7F2">
                        </div>
                        <div class="text">
                            Opportunity Conversion Rate
                        </div>
                    </div>
                </div>
                <svg class="leadsBarChart"></svg>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m-6">
            <div class="dashboard-card">
                <h3 class="card-title">Leads by names</h3>
                <div class="leadsTop align-left">
                    <div id="LeadsByNameDateFilter" class="vocationFilter _filterDropDownWrap"></div>
                    <!--<div class="vocationFilter _filterDropDownWrap">
                        <ul class="dateFilterLeadsByName">
                            <li class="dateRangeLeadsByName">
                                <span class="icon-calendar"></span>
                                <span id="startTimeLeadsByName"><%= startDateLeadsByNames%></span> - <span id="endTimeLeadsByName"><%= endDateLeadsByNames%></span>
                                <span class="fa fa-angle-down"></span>
                            </li>
                            <li>
                                <ul class="frameDetail _filterDropDownBody hidden">
                                    <li id="thisMonthLeadsByName" class="leadsName filterValues checked checkedValue"
                                        data-type="leadsName">This Month
                                    </li>
                                    <li id="thisYearLeadsByName" class="leadsName filterValues checked" data-type="leadsName">This
                                        Financial Year
                                    </li>
                                    <li class="listLine"></li>
                                    <li id="lastMonthLeadsByName" class="leadsName filterValues checked" data-type="leadsName">Last
                                        Month
                                    </li>
                                    <li id="lastQuarterLeadsByName" class="leadsName filterValues checked" data-type="leadsName">
                                        Last Quarter
                                    </li>
                                    <li id="lastYearLeadsByName" class="leadsName filterValues checked" data-type="leadsName">Last
                                        Financial Year
                                    </li>
                                    <li class="listLine"></li>
                                    <li id="customLeadsByName" class="_filterArrow leadsName filterValues checked"
                                        data-type="leadsName">Custom Dates
                                    </li>
                                    <li class="customTimeLeadsByName customTime hidden">
                                        <div class="customTimeItem">
                                            <label for="startDateLeadsByName">Start Date: </label>
                                            <input readonly type="text" id="startDateLeadsByName">
                                        </div>
                                        <div class="customTimeItem">
                                            <label for="endDateLeadsByName">End Date: </label>
                                            <input readonly type="text" id="endDateLeadsByName">
                                        </div>
                                    </li>
                                    <li class="buttons">
                                        <button id="updateDateLeadsByName" class="btn">
                                            <span>Update</span>
                                        </button>
                                        <button id="cancelBtnLeadsByName" class="btn">
                                            <span>Cancel</span>
                                        </button>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>-->
                    <div data-type="LeadsByName" class="choseDateItem">
                        <div class="item active" data-item="leadsBySales">Assigned To</div>
                        <div class="item" data-item="qualifiedBy">Qualified By</div>
                        <div class="item" data-item="qualifiedFrom">Qualified From</div>
                    </div>
                </div>
                <svg class="leadsByNameBarChart"></svg>
            </div>
        </div>
        <div class="col m-6">
            <div class="dashboard-card">
                <h3 class="card-title">Sales by country</h3>
                <div class="filterWrap salesTab">
                    <div id="SalesByCountryDateFilter" class="vocationFilter _filterDropDownWrap"></div>
                    <!--<div class="vocationFilter _filterDropDownWrap small">
                        <ul class="dateFilter">
                            <li class="dateRange">
                                <span class="icon-calendar"></span>
                                <span id="startTime"><%= startDate%></span> - <span id="endTime"><%= endDate%></span>
                                <span class="fa fa-angle-down"></span>
                            </li>
                            <li>
                                <ul class="frameDetail _filterDropDownBody hidden">
                                    <li id="thisMonth" class="filterValues checked checkedValue" data-type="">This Month</li>
                                    <li id="thisYear" class="filterValues checked" data-type="">This Financial Year</li>
                                    <li class="listLine"></li>
                                    <li id="lastMonth" class="filterValues checked" data-type="">Last Month</li>
                                    <li id="lastQuarter" class="filterValues checked" data-type="">Last Quarter</li>
                                    <li id="lastYear" class="filterValues checked" data-type="">Last Financial Year</li>
                                    <li class="listLine"></li>
                                    <li id="custom" class="_filterArrow filterValues checked" data-type="">Custom Dates</li>
                                    <li class="customTime customTime hidden">
                                        <div class="customTimeItem">
                                            <label for="startDate">Start Date: </label>
                                            <input readonly type="text" id="startDate">
                                        </div>
                                        <div class="customTimeItem">
                                            <label for="endDate">End Date: </label>
                                            <input readonly type="text" id="endDate">
                                        </div>
                                    </li>
                                    <li class="buttons">
                                        <button id="updateDate" class="btn">
                                            <span>Update</span>
                                        </button>
                                        <button id="cancelBtn" class="btn">
                                            <span>Cancel</span>
                                        </button>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>-->
                </div>
                <div class="dashboardGraphicsWrap">
                    <div class="halfWidth">
                        <svg class="salesByCountryBarChart"></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>