<div class="form-holder">

    <form method="post" action="" id="createPersonsForm" class="form">
        <fieldset>
            <div class="inner">
                <ul class="dialog-tabs" data-class="mainTabs">
                    <li><a class="active" href="javascript:;">Main</a></li>
                    <li><a href="javascript:;">Assignees</a></li>
                    <li class="right">
                        <%if(model.workflow && model.workflow.status !== 'Cancelled'){%>
                        <button class="red confirmOrder">
                            <span>Confirm Order</span>
                        </button>
                        <button class="red cancelQuotation">
                            <span>Cancel</span>
                        </button>
                        <%} else {%>
                        <button class="red setDraft">
                            <span>Set Draft</span>
                        </button>
                        <%}%>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <div class="dialog-tabs-items mainTabs">
                    <div class="dialog-tabs-item mainTabs active">
                        <div class="topInputHolder">
                            <%if(visible) {%>
                            <h2>Request for Quotation</h2>
                            <%}%>
                            <div class="half-block left">
                                <dl class="person-info">
                                    <dt><label for="supplierDd">

                                        <%if(model.supplier){%>
                                          <%if (App.currentDb === 'weTrack') {%>
                                            Customer
                                          <% } else { %>
                                            Supplier
                                          <% } %>
                                        <% } %>
                                    </label></dt>
                                    <dd>
                                        <a id="supplierDd" class="current-selected" href="javascript:;" data-id="<%=model.supplier._id%>"><%=model.supplier.name%></a>
                                    </dd>

                                    <%if (App.currentDb === 'weTrack') {%>
                                    <dt><label for="projectDd">Project</label></dt>
                                    <dd>
                                        <a id="projectDd" class="current-selected" href="javascript:;" data-id="<%=model.project._id%>"><%=model.project.projectName%></a>
                                    </dd>
                                    <% } %>
                                </dl>
                            </div>
                            <div class="half-block left">
                                <dl class="person-info">
                                    <dt><label for="orderDate">Order Date</label></dt>
                                    <dd>
                                        <input class="extrainfo" type="text" name="orderDate" id="orderDate" placeholder="Order Date" value="<%=model.orderDate%>">
                                    </dd>
                                    <dt><label for="deliveryDd">Deliver To</label></dt>
                                    <dd>
                                        <%if(model.deliverTo){%>
                                            <a id="deliveryDd" class="current-selected" href="javascript:;" data-id="<%=model.deliverTo._id%>"><%=model.deliverTo.name%></a>
                                        <%} else {%>
                                            <a id="deliveryDd" class="current-selected" href="javascript:;" data-id="">Select</a>
                                        <%}%>
                                    </dd>
                                </dl>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <ul class="dialog-tabs" data-class="childTabs">
                            <li><a class="active" href="javascript:;">Products</a></li>
                            <!--<li><a href="javascript:;">Bid</a></li>-->
                            <li><a href="javascript:;">Deliveries & Invoices</a></li>
                        </ul>
                        <div class="clearfix"></div>
                        <div class="dialog-tabs-items childTabs">
                            <div class="dialog-tabs-item childTabs active">
                                <div id="productItemsHolder">

                                </div>
                            </div>
                            <!-- <div class="dialog-tabs-item">
                                 <div class="bid-container">
                                     <div class="half-block left">
                                         <dl class="opp-info">
                                             <dt><label for="bidReceivedOn">Bid Received On</label></dt>
                                             <dd>
                                                 <span id="bidReceivedOn">

                                                 </span>
                                             </dd>
                                             <dt><label for="bidValidUntill">Bid Valid Until</label></dt>
                                             <dd><input id="bidValidUntill" placeholder="" type="text"
                                                        readonly/></dd>
                                         </dl>
                                     </div>
                                 </div>
                             </div>-->
                            <div class="dialog-tabs-item childTabs">
                                <div class="delivery-invoices-container">
                                    <div class="half-block left">
                                        <dl class="quotation-info">
                                            <dt><label for="expectedDate">Expected Date</label></dt>
                                            <dd><input id="expectedDate" placeholder="" type="text" readonly value="<%=model.expectedDate%>"/>
                                            </dd>
                                            <dt><label for="destination">Destination</label></dt>
                                            <dd>
                                                <%if(model.destination){%>
                                                    <a id="destination" class="current-selected"
                                                       href="javascript:;" data-id="<%=model.destination._id%>"><%=model.destination.name%></a>
                                                <%} else {%>
                                                    <a id="destination" class="current-selected" href="javascript:;" data-id="">Select</a>
                                                <%}%>
                                            </dd>
                                            <dt><label for="incoterm">Incoterm</label></dt>
                                            <dd>
                                                <%if(model.incoterm){%>
                                                    <a id="incoterm" class="current-selected" href="javascript:;" data-id="<%= model.incoterm._id%>"><%=model.incoterm.name %></a>
                                                <%} else {%>
                                                    <a id="incoterm" class="current-selected" href="javascript:;" data-id="">Select</a>
                                                <%}%>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="half-block left">
                                        <dl class="quotation-info">
                                            <dt><label for="invoicingControl">Invoicing Control</label></dt>
                                            <dd>
                                                <%if(model.invoiceControl){%>
                                                    <a id="invoicingControl" class="current-selected" href="javascript:;" data-id="<%= model.invoiceControl._id %>"><%=model.invoiceControl.name%></a>
                                                <%} else {%>
                                                    <a id="invoicingControl" class="current-selected" href="javascript:;" data-id="">Select</a>
                                                <%}%>
                                            </dd>
                                            <!--<dt><label for="invoiceReceived">Invoice Received</label></dt>-->
                                            <!-- <dd><input id="invoiceReceived" type="checkbox" class="checkbox left" disabled></dd>-->
                                            <dt><label for="paymentTerm">Payment Term</label></dt>
                                            <dd>
                                                <%if(model.paymentTerm){%>
                                                    <a id="paymentTerm" class="current-selected"
                                                       href="javascript:;" data-id="<%= model.paymentTerm._id %>"><%= model.paymentTerm.name %></a>
                                                <%} else {%>
                                                    <a id="paymentTerm" class="current-selected" href="javascript:;" data-id="">Select</a>
                                                <%}%>
                                            </dd>
                                            <dt><label for="fiscalPosition">Fiscal Position</label></dt>
                                            <dd>
                                                <a id="fiscalPosition" class="current-selected" href="javascript:;">Select</a>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="dialog-tabs-item mainTabs">
                        <div class="assignees-container"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </fieldset>
    </form>
    <div class="clearfix"></div>
</div>