<div class="form-holder">
    <div id="convert-dialog-form">
        <div id="createCustomerOrNot">
            <div class="_circleRadioRadianceWrap">
                <label for="yes">Create a new customer</label>
                <input type="radio"
                       value="true"
                       name="createNewCustomer"
                       class="_circleRadioRadiance"
                       id="yes">
                <label for="yes" class="_circleRadioRadianceLabel"></label>
            </div>
            <div class="_circleRadioRadianceWrap">
                <label for="no">Do not create a new customer</label>
                <input type="radio"
                       value=""
                       name="createNewCustomer"
                       class="_circleRadioRadiance"
                       id="no"
                       checked>
                <label for="no" class="_circleRadioRadianceLabel"></label>
            </div>
        </div>
    </div>
    <form id="leadForm" data-id="<%=model._id%>">
        <div id="workflowProgress" class="workflowProgress"></div>
        <div class="_openForm">
            <div class="_inputColumn">
                <div class="aboutHolder">
                    <div class="formTitleWrap">
                        <h3 class="formTitle">About </h3>
                        <span class="btn blue slim" id="convertToOpportunity">Convert to Opportunity</span>
                    </div>
                    <div class="person-info">
                        <div class="_animateInputBox">
                            <input class="_animate editable"
                                   id="name"
                                   value="<%=model.name%>"
                                   required/>
                            <label class="_animate">Name</label>
                        </div>
                        <div class="_animateInputBox">
                            <span class="_staticLabel">Close Date</span>
                            <div class="inputBox">
                                <input class="_animate extrainfo"
                                       type="text"
                                       name="Close Date"
                                       id="expectedClosing"
                                       value="<%=model.expectedClosing || ''%>"
                                       placeholder="Close Date"
                                       readonly="">
                            </div>
                        </div>
                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Assigned To</span>
                            <div class="inputBox _newSelectListWrap">
                                <a class="current-selected assignName"
                                   href="javascript:;"
                                   id="salesPersonDd"
                                   data-id="salesPerson"><%= model.salesPerson && model.salesPerson.name ?
                                    model.salesPerson.name.first + ' ' + model.salesPerson.name.last : 'Select'%>
                                </a>
                            </div>
                        </div>
                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Priority</span>
                            <div class="inputBox _newSelectListWrap">
                                <a class="current-selected assignName"
                                   href="javascript:;"
                                   id="priorityDd"
                                   data-id="priority">
                                    <%= model.priority%>
                                </a>
                            </div>
                        </div>
                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Source</span>
                            <div class="inputBox _newSelectListWrap">
                                <a class="current-selected assignName"
                                   href="javascript:;"
                                   id="sourceDd"
                                   data-id="source">
                                    <%=model.source || 'Select'%>
                                </a>
                            </div>
                        </div>

                        <div class="separateBlock">Contacts</div>

                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Person</span>
                            <div class="inputBox _newSelectListWrap">
                                <a class="current-selected assignName"
                                   href="javascript:;"
                                   id="customerDd"
                                   data-id="customer">
                                    <%=model.customer ? model.customer.fullName : 'Select'%>
                                </a>
                            </div>
                        </div>
                        <div class="_animateInputBox">
                            <input class="_animate editable"
                                   id="contactName_first"
                                   value="<%=model.contactName.first%>"
                                   required/>
                            <label class="_animate">First Name</label>
                        </div>
                        <div class="_animateInputBox">
                            <input class="_animate editable"
                                   id="contactName_last"
                                   value="<%=model.contactName.last%>"
                                   required/>
                            <label class="_animate">Last Name</label>
                        </div>
                        <div class="_animateInputBox">
                            <input class="_animate editable"
                                   id="jobPosition"
                                   value="<%=model.jobPosition%>"
                                   required/>
                            <label class="_animate">Job Position</label>
                        </div>
                        <div class="_animateInputBox">
                            <span class="_staticLabel">Date of Birth</span>
                            <div class="inputBox">
                                <input type="text"
                                       class="_animate extrainfo"
                                       id="dateBirth"
                                       name="Date of Birth"
                                       placeholder="Date of Birth"
                                       value="<%=model.dateBirth || ''%>"
                                       readonly=""
                                       required>
                            </div>
                        </div>
                        <div class="_animateInputBox">
                            <input class="_animate editable"
                                   id="email"
                                   value="<%=model.email%>"
                                   required/>
                            <label class="_animate">Email</label>
                        </div>
                        <div class="_animateInputBox">
                            <input class="_animate editable"
                                   id="phones_phone"
                                   value="<%=model.phones.phone%>"
                                   required/>
                            <label class="_animate">Phone</label>
                        </div>
                        <!--<div class="propertyFormList">
                            <label>Mobile</label>
                            <div  class="inputBox">
                                <input class="editable"  id="phones_mobile" value="<%=model.phones.mobile%>"/>
                            </div>
                        </div>-->
                        <div class="_animateInputBox _socialWrap">
                            <input class="_animate editable" id="skype" value="<%=model.skype%>" required/>
                            <label class="_animate">Skype</label>
                            <div class="social">
                                <% if (model.skype){%>
                                <a class="skype" href="skype:<%=model.skype%>?call"></a>
                                <%}%>
                            </div>
                        </div>
                        <div class="_animateInputBox _socialWrap">
                            <input class="_animate editable urlValue _socialContact" id="social_LI"  value="<%=model.social.LI%>" required/>
                            <label class="_animate">LinkedIn</label>
                            <div class="social">
                                <% if (model.social.LI){%><a class="linkedin" href="<%=model.social.LI%>"></a><%}%>
                            </div>
                        </div>
                        <!-- <div class="propertyFormList">
                             <label>Facebook</label>
                             <div  class="inputBox">
                                 <input class="editable"  id="social_FB" value="<%=model.social.FB%>"/>
                             </div>
                         </div>-->
                        <div class="separateBlock">Company</div>

                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Company</span>
                            <div class="inputBox _newSelectListWrap">
                                <a class="current-selected assignName"
                                   href="javascript:;"
                                   id="companyDd"
                                   data-id="company">
                                    <%=model.company ? model.company.fullName : 'Select'%>
                                </a>
                            </div>
                        </div>
                        <div class="_animateInputBox">
                            <input class="_animate editable"
                                   id="tempCompanyField"
                                   value="<%=model.tempCompanyField%>"
                                   required/>
                            <label class="_animate">Name</label>
                        </div>
                        <div class="_animateInputBox">
                            <input class="_animate editable"
                                   id="address_street"
                                   value="<%=model.address.street%>"
                                   required/>
                            <label class="_animate">Street</label>
                        </div>
                        <div class="_animateInputBox">
                            <input class="_animate editable"
                                   id="address_city"
                                   value="<%=model.address.city%>"
                                   required/>
                            <label class="_animate">City</label>
                        </div>
                        <div class="_animateInputBox">
                            <input class="_animate editable"
                                   id="address_state"
                                   value="<%=model.address.state%>"
                                   required/>
                            <label class="_animate">State</label>
                        </div>
                        <div class="_animateInputBox">
                            <input class="_animate editable"
                                   id="address_zip"
                                   value="<%=model.address.zip%>"
                                   required/>
                            <label class="_animate">Zip</label>
                        </div>
                        <div class="_animateSelectBox">
                            <label class="_selectTitle">Country</label>
                            <div class="inputBox _newSelectListWrap">
                                <a class="current-selected"
                                   href="javascript:;"
                                   id="address_country"
                                   data-id="address_country"
                                   data-value="<%=model.address.country%>">
                                    <%=model.address.country || 'Select'%>
                                </a>
                            </div>
                        </div>

                        <div class="tags-container propertyFormList"></div>
                    </div>
                    <div class="propertyEditBtn" id="formBtnBlock">

                        <a href="javascript:;" id="saveBtn" class="btn blue btnSave">Save</a>

                        <a href="javascript:;" id="cancelBtn" class="btn">Cancel</a>
                    </div>
                </div>
                <div class="attachments"></div>
            </div>
            <div class="_noteColumn">
                <div class="notes">
                    <div class="followers right"></div>
                </div>
            </div>
        </div>
    </form>
</div>
