<div id="createBtnHolder">
    <a href="javascript;" class="fa fa-plus" title="Create" id="top-bar-createBtn"></a>
    <a href="javascript;" class="fa fa-times" title="Remove" id="top-bar-deleteBtn"></a>
    <h3>Weekly Scheduler</h3>
</div>

<div id="searchContainer"></div>
<div>
    <table class="list task-list">
        <thead>
        <tr>
            <th class="centerCell"><input type="checkbox" id="check_all"/></th>
            <th class="centerCell">N</th>
            <th class="oe_sortable" data-sort="name">
                Name<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable" data-sort="worked">
                Hours<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable" data-sort="Mo">
                Mo<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable" data-sort="Tu">
                Tu<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable" data-sort="We">
                We<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable" data-sort="Th">
                Th<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable" data-sort="Fr">
                Fr<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable" data-sort="Sa">
                Sa<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable" data-sort="Su">
                Su<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>
