<div class="loginWrapper row bsReset">
    <div id="slider" class="col m-6 bsReset sliderWrap">
        <img src="" alt="" class="logo">
        <div id="backstretch" class="sliderContainer"></div>
    </div>
    <div class="loginContent col m-6">
        <div class="loginContainer">
            <div class="row bsReset">
                <div class="loginWrapper row">
                    <div class="col s-6">
                        <h1 id="titleForm" class="loginTitle float-left">Login to account</h1>
                        <%
                        currentDb = currentDb || 'production';
                        var validDb = currentDb ? !!dbs[currentDb] : false;
                        var dbNames = Object.keys(dbs);
                        var firstDb = dbNames[0];
                        %>
                    </div>
                    <div class="col s-6 float-right">
                        <div class="selectDd">
                            <span id="selectedDb" class="selectedDb" data-id="<%= validDb ? currentDb : firstDb %>"><%= validDb ? currentDb + ' (' + dbs[currentDb].url + ')' : firstDb +' (' + dbs[firstDb].url + ')'%></span>
                            <ul id="dbs" class="float-right">
                                <% for(var i = dbNames.length-1; i>=0; i-- ){
                                var dbName = dbNames[i];
                                %>
                                <li data-id="<%=dbName%>"
                                <%if(dbName === currentDb) {%>class="selected"<%}%>><%=dbName%> (<%=dbs[dbName].url%>)
                                </li>
                                <%}%>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="error hidden">Such user doesn't registered</div>
            <form id="loginForm" class="loginWrap" action="javascript:;">
                <div class="row">
                    <div class="col s-6">
                        <input type="text" placeholder="Username or Email" class="ulogin inputField" name="ulogin"
                               value="<%-login || ''%>"
                               autofocus
                               maxlength="60"/>
                    </div>
                    <div class="col s-6">
                        <input type="password" placeholder="Password" id="upass" name="upass" class="inputField"
                               value="<%-password || ''%>" maxlength="60"/>
                    </div>
                </div>
                <div class="formActions">
                    <div class="row">
                        <div class="col xs-5 s-4">
                            <label class="switchLabel rememberCheckWrap" for="switchElement">
                                <input type="checkbox" name="switch" class="rememberCheck" id="switchElement" checked>
                                Remember me
                                <span></span>
                            </label>
                        </div>
                        <div class="col xs-7 s-8 align-right loginForgot">
                            <a id="forgotPass" class="forgotPass" href="javascript:;">Forgot Password?</a>
                            <a class="login-button btn blue" href="javascript:;">Sign In</a>
                        </div>
                    </div>
                </div>
                <input type="submit" class="right hidden" value="">
            </form>
            <form id="forgotPassword" class="forgotWrap hidden" action="javascript:;">
                <p class="forgotDescription">Enter your e-mail address below to reset your password.</p>

                <div class="formGroup">
                    <input type="text" placeholder="Username or Email" class="ulogin inputBordered" name="ulogin"
                           value="" autofocus
                           maxlength="60"/>
                </div>
                <div class="formActions">
                    <a id="backToLogin" class="forgot-button btn btnRounded blue" href="javascript:;">Back</a>
                    <a class="submitButton btn blue float-right" href="javascript:;">Submit</a>
                </div>
                <input type="submit" class="right hidden" value="">
            </form>
        </div>
        <p class="loginCopyright">Copyright © ThinkMobiles 2015</p>
    </div>
</div>
