<div class="form-holder">
    <form method="post" action="" class="form" id="stockCorrection">
        <fieldset>
            <div class="inner">

                <div class="clearfix"></div>

                <div class="topPanel">
                    <h2>Goods-In for order <span id="name" >#<a class="blue" href="javascript:;"><%=model.name%></a></span></span></h2>
                    <div class="clearfix"></div>
                    <input id="date" class="_inputBordered " readonly/>

                    <!--<div class="_dialogRow">Shipping method</div>
                    <div class="_dialogRow wrapper"><a class="current-selected" id="shippingMethods" href="javascript:;">Select</a></div>
                    <div class="_dialogRow">Shipping Cost</div>
                    <div class="_dialogRow"><input id="shippingCost" value="<%=model && model.shippingExpenses ? (model.shippingExpenses.amount / 100).toFixed(2) : 0%>"></div>
-->
                </div>
                <dt><label for="warehouseDd">Warehouse</label></dt>
                <dd>
                    <a id="warehouseDd" class="current-selected" href="javascript:;" data-id="<%=model.warehouse ? model.warehouse._id : ''%>"><%=model.warehouse ? model.warehouse.name : 'Select'%></a>
                </dd>



                <div class="clearfix"></div>

                <div id="productItemsHolder" class="_SkuItemsHolder">

                </div>
                <div id="goodsHolder" class="_goodsHolder">
                </div>
                <div class="clearfix"></div>
            </div>
        </fieldset>
    </form>
</div>