<div class="form-holder">
    <form method="post" action="" class="form" id="invoiceForm">
        <fieldset>
            <div class="inner">
                <ul class="dialog-tabs" data-class="mainTabs">
                    <li><a class="active" href="javascript:;">Main</a></li>
                    <li><a href="javascript:;">Assignees</a></li>
                    <li class="right">
                        <%if(model.workflow.status !== 'Done'){%>
                            <button class="btn newPayment">
                                <span>Pay</span>
                            </button>
                        <%}%>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <div class="dialog-tabs-items mainTabs">
                    <div class="dialog-tabs-item mainTabs active">
                        <div class="half-block left">
                            <dl class="opp-info">
                                <dt><label for="currencyDd">Currency</label></dt>
                                <dd>
                                    <a id="currencyDd" data-id="<%= model.currency._id._id %>" href="javascript:;"><%= model.currency._id.name %></a>
                                </dd>
                            </dl>
                        </div>
                        <div class="half-block left">
                            <dl class="opp-info">
                                <dt><label for="invoice_date">Invoice Date</label></dt>
                                <dd>
                                    <input type="text" class="date" id="invoice_date"
                                           value="<%=(model.invoiceDate) ? model.invoiceDate : ''%>" maxlength="32"
                                           placeholder="Invoice Date" readonly/>
                                </dd>

                                <dt><label for="due_date">Due Date</label></dt>
                                <dd>
                                    <input type="text" class="date
                                            <% if (!model.dueDate) {%>
                                              errorContent"
                                    <% } else { %>
                                    "
                                    <% } %>
                                    id="due_date" value="<%=(model.dueDate) ? model.dueDate : ''%>" maxlength="32"
                                    placeholder="Due Date" readonly />
                                </dd>
                            </dl>
                        </div>
                        <div class="clearfix"></div>
                        <ul class="dialog-tabs" data-class="childTabs">
                            <li><a class="active" href="javascript:;">Invoice</a></li>
                            <li><a href="javascript:;">Other Info</a></li>
                            <li><a href="javascript:;">Payments</a></li>
                        </ul>
                        <div class="clearfix"></div>
                        <div class="dialog-tabs-items childTabs">
                            <div class="dialog-tabs-item childTabs active">
                                <div id="invoiceItemsHolder">

                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="dialog-tabs-item childTabs">
                                <div class="other-info-container">
                                    <div class="half-block left">
                                        <dl class="opp-info">
                                            <dt><label for="bank_account">Bank Account</label></dt>
                                            <dd>
                                                <a id="bank_account" href="javascript:;">Select</a>
                                            </dd>

                                            <dt><label for="salesPerson">Responsible</label></dt>
                                            <dd class="_newSelectListWrap">
                                                <a id="salesPerson" class="current-selected"
                                                   href="javascript:;">Select</a>
                                            </dd>

                                            <dt><label for="payment_terms">Payment Terms</label></dt>
                                            <dd class="_newSelectListWrap">
                                                <a id="payment_terms" class="current-selected" href="javascript:;">Select</a>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="half-block left">
                                        <dl class="opp-info">

                                            <dt><label for="force_period">Force Period</label></dt>
                                            <dd>
                                                <a id="force_period" href="javascript:;">Select</a>
                                            </dd>

                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="dialog-tabs-item childTabs">
                                <div id="payments-container"></div>
                            </div>
                        </div>
                    </div>
                    <div class="dialog-tabs-item mainTabs">
                        <div class="assignees-container"></div>
                    </div>
                </div>

            </div>
        </fieldset>
    </form>
</div>
