<% products.forEach(function(product){ %>
<tr class="productItem" data-id="<%=product.product ? product.product._id : 'err'%>">
    <td data-name="productName">
        <a class="productsDd" href="javascript:;"><%=product.product ? product.product.name.first + ' ' +
            product.product.name.last : '- - -' %></a>
    </td>
    <% if (forSales) {%>
    <td data-name="jobs" class="jobs">
        <a class="" id="jobs" href="javascript:;"> <%=product.jobs ? product.jobs.name : ' --- '%></a>
    </td>
    <% } else { %>
    <td data-name="productDescr">
        <span class="">
            <%=product.description ? product.description : ' '%>
        </span>
    </td>
    <% } %>
    <%var currencyClassVal;%>
    <%currencyClassVal = currencyClass(products.currency._id)%>
    <td data-name="price" class="<%=currencyClassVal%>"><span><%=product.unitPrice ? currencySplitter(product.unitPrice.toString()): ''%></span>
    </td>
    <%var taxes = (product.taxes && product.taxes.length && product.taxes[0]) || null;%>
    <td class="taxes <%=currencyClassVal%>">
        <% product.taxes.forEach(function (tax) {%>

        <span><%=(product.currency && product.currency._id ? product.currency._id.symbol : '') %></span><span
            class="sum"><%= tax ?  currencySplitter(tax.tax.toString()) : ''%></span>
        <%});%>
    </td>
    <td class="amount <%=currencyClassVal%>"><span><%=product.subTotal ? currencySplitter(product.subTotal.toString()): ''%></span>
    </td>
</tr>
<% }); %>