<tr class="productItem" data-id="false">
    <td data-name="Shareholder" class="errorContent" data-content="employeesDd">
        <a class="current-selected" data-id="employeesDd" href="javascript:;">select</a>
    </td>
    <td data-name="productDescr">
        <span>
            <input type="text" class="statusInfo" maxlength="40" size="15">
        </span>
    </td>
    <td data-name="price">
        <span>
            <input type="text" class="statusInfo" maxlength="9" size="7" value="0">
        </span>
    </td>
    <td class="taxes">
        <span>

        </span>
    </td>
    <td class="amount">
        <span>

        </span>
    </td>
</tr>

