<div class="inner" data-id="<%=model._id%>" data-sequence="<%=model.sequence%>">
    <div class="task-header">
        <!--<div class="right">
            <p class="right bold"><%=model.deadline%></p>
        </div>-->

        <div class="left">
            <div class="left"><span id="shortDesc<%=model._id%>"><%=model.project.projectShortDesc%></span>-<%=model.taskCount%>&nbsp;|&nbsp;
            </div>
            <div class="taskSelect left">
                <a id="priority_<%=model._id%>" data-id="<%=model.priority%>" class="current-selected" href="javascript:;"><%=model.priority%></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="task-content">
        <div class="info">
            <p id="summary<%=model._id%>"><%=model.summary%></p>
            <% _.each(model.tags,function(tag){ %>
            <% });%>
        </div>
        <div data-id="<%=model.assignedTo?model.assignedTo._id:''%>" class="avatar-small right"><img class="person"
                                                                                                     src=""
                                                                                                     alt="<%=(model.assignedTo) ? model.assignedTo.name.first + ' ' + model.assignedTo.name.last : ''%>"/>
        </div>

        <div class="bottom taskSelect">
            <a id="type_<%=model._id%>" data-id="<%=model.type%>" class="current-selected bold" href="javascript:;"><%=model.type%></a>
            <ul class="newSelectList hidden">
                <li class="Task" id="Task">Task</li>
                <li class="Bug" id="Bug">Bug</li>
                <li class="Feature" id="Feature">Feature</li>
            </ul>
        </div>
        <div class="clearfix">
        </div>
    </div>
</div>
