<div id="searchContainer"></div>
<table class="kanban">
    <tbody>
    <tr>
        <% workflowsCollection.forEach(function(workflow, index){ %>
        <td class="column" data-index="<%=index%>" data-status="<%=workflow.status%>" data-name="<%=workflow.name%>"
            id="<%=workflow._id%>">
            <div class="columnNameDiv task <%=workflow.name.toLowerCase().replace(' ', '')%>">
                <h2 class="columnName">
                    <span class="text"><%=workflow.name%></span>
                    <span class="fold-unfold">8</span>
                </h2>
            </div>
        </td>
        <% }) %>
    </tr>
    </tbody>
</table>
