<div id="unlinkedProductsTopBar" class="top-bar">
    <!--<div id="createBtnHolder" class="btnsBlock">
        <a href="javascript:;" class="btn blue slim" title="Save" id="unlinked-saveBtn">Save</a>
    </div>-->
</div>
<br>
<div class="_integrationProductsTable">
    <table class="list  stripedList">
        <colgroup>
            <col width="200px">
            <col width="200px">
            <col width="200px">
        </colgroup>
        <thead>
        <tr>
            <th>Product name</th>
            <th>Product SKU</th>
            <th>Linked ERP product</th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
        <tfoot id="listTotal"></tfoot>
    </table>
</div>