<div class="form-holder">
    <form method="post" action="" class="form" id="invoiceForm">
        <fieldset>
            <div class="clearfix"></div>
            <br>
            <h3 class="_dialogTableTitle"><%= name ? 'Update' : 'New'%> <%= type %> Structure Element</h3>
            <div class="clearfix"></div>
            <br>
            <div class="half-block left">
                <span>Name: </span>
                <input id="structureComponentName " maxlength="40" size="40" type="text" value="<%= name || ''%>">
            </div>
            <div class="half-block right">
                <dl class="opp-info">
                    <dt><label for="<%= type %>TypeDd">Type</label></dt>
                    <dd class="_newSelectListWrap">
                        <span>
                            <a id="<%= type %>TypeDd" class="current-selected" data-id="<%= componentType ? componentType._id : '' %>"
                               href="javascript:;"><%= componentType ? componentType.name : 'Select' %></a>
                        </span>
                    </dd>
                    <dt><label for="minRange">Min Range</label></dt>
                    <dd><input id="minRange" value="0"/></dd>
                    <dt><label for="maxRange">Max Range</label></dt>
                    <dd><input id="maxRange" value="0"/></dd>
                </dl>
            </div>
            <br>
            <br>
            <br>
            <br>
            <span>Formula: </span>
            <br>
            <br>
            <span id="formula"></span><span><a href="javascript:;" id="addFormulaElement">...</a></span>
        </fieldset>
    </form>
</div>
