<div id="createBtnHolder">
    <a href="javascript;" class="fa fa-plus" title="Create" id="top-bar-createBtn"></a>
    <h3><%= type %></h3>
</div>

<div id="searchContainer"></div>
<div>
    <table class="list task-list">
        <thead>
        <tr>
            <th class="centerCell">N</th>
            <th>
                Name
            </th>
            <th>
                Comment
            </th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>
