<div class="form-holder">
    <form id="changePassword" action="" method="post">
        <dl class="person-info">
            <dt><label for="old_password">Old Password</label></dt>
            <dd><input type="password" name="old_password" id="old_password" required maxlength="32"/></dd>
            <dt><label for="new_password">New Password</label></dt>
            <dd><input type="password" name="new_password" id="new_password" required maxlength="32"/></dd>
            <dt><label for="confirm_new_password">Confirm New Password</label></dt>
            <dd><input type="password" name="confirm_new_password" id="confirm_new_password" required maxlength="32"/>
            </dd>
        </dl>
    </form>
    <div class="clearfix"></div>
</div>