<div class="form-holder _newForm">
    <form id="changePassword" action="" method="post">
        <h4 class="_dialogTitlePositioned">Change password</h4>
        <div class="_formWrap">
            <div class="_formBlock">
                <div class="_animateInputBox">
                    <input type="password"
                           name="old_password"
                           class="_animate"
                           id="old_password"
                           required
                           autofocus
                           maxlength="60"/>
                    <label for="old_password" class="_animate">Old Password</label>
                </div>
                <div class="_animateInputBox">
                    <input type="password"
                           name="new_password"
                           class="_animate"
                           id="new_password"
                           required
                           maxlength="60"/>
                    <label for="old_password" class="_animate">New Password</label>
                </div>
                <div class="_animateInputBox">
                    <input type="password"
                           name="confirm_new_password"
                           class="_animate"
                           id="confirm_new_password"
                           required
                           maxlength="60"/>
                    <label for="old_password" class="_animate">Confirm New Password</label>
                </div>
            </div>
        </div>
    </form>
</div>