<div class="linkedProduct">
    <div class="form-holder productForm">
        <form class="form">
            <div class="row">
                <div class="col m-6">
                    <div class="searchContainer">
                        <div class="_searchContWrap">
                            <label for="searchProducts">Search for the matching ERP product to link this product to</label>
                            <input type="text" id="searchProducts" class="_searchInput" placeholder="Name | SKU"/>
                            <button id="searchBtn" class="_searchBtn">Search</button>
                        </div>
                        <ul id='productsForLink' class="_productsForBundle"></ul>
                    </div>
                </div>
                <div class="col m-6">
                    <div class="_linkedProductTitle">Linked Product:</div>
                    <div class="_linkedProduct" id='linkedProduct'></div>
                </div>
            </div>
        </form>
    </div>
</div>

