<div class="form-holder _schedulePay _dialogWrap">
    <form method="post" action="" class="form" id="scheduledPayForm">
        <h3 class="_dialogMainTitle">Edit Scheduled Pay</h3>
        <div class="_listModal">
            <div class="_modalList">
                <div class="container">
                    <div class="row">
                        <div class="col m-4">
                            <div class="_modalLabel">
                                <label for="scheduledPayName">Name: </label>
                            </div>
                        </div>
                        <div class="col m-8">
                            <div class="_modalSelect">
                                <input id="scheduledPayName"
                                       maxlength="40"
                                       size="40"
                                       type="text"
                                       value="<%= model.name %>">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>