<div class="form-holder _dialogWrap _taxBoxWrp">
    <div class="_dialogMainTitle">Edit <%=model.fullName%></div>

    <div class="half-block left">
        <div class="_dialogBlock">
            <div class="_dialogRow">Code</div>
            <div class="_dialogRow"><input id="code" maxlength="3" value="<%=model.code%>"/></div>
            <div class="_dialogRow">Name</div>
            <div class="_dialogRow"><input id="name" maxlength="16" value="<%=model.name%>"/></div>
            <div class="_dialogRow">Rate</div>
            <div class="_dialogRow"><input id="rate" class="forNum" maxlength="5" disabled
                                           value="<%=(model.rate * 100).toFixed(2)%>"/><span
                    class="fontSemiBold">%</span></div>
            <div class="_dialogRow">Country</div>
            <div class="_dialogRow check_wrap">
                <a class="current-selected" id="country" href="javascript:;" data-id="<%=model.country || null%>"><%=model.country
                    || 'Select'%></a>
            </div>
            <div class="_dialogRow">
                <label for="default">
                    <label class="_customCHeckbox flex">
                        <input id="default" class="checkbox" type="checkbox" <%=model.isDefault ? 'checked'
                        : ''%>/>
                        <span></span>
                        <span>Default</span>
                    </label>
                    <!--<span>Default</span>-->
                </label>
            </div>

        </div>

    </div>
    <div class="half-block right _taxCommentWrp">
        <div class="_dialogBlock">
              <span>
                  Tax codes (eg "T" or "N") are used across EasyERP for sales, products and accounting.
              </span>
        </div>
    </div>
</div>