<% tasksCollection.forEach(function(task, index){ %>
<tr data-index="<%=index%>" data-id="<%= task._id%>" class="stage-<%=(task.workflow) ? task.workflow.status.toLowerCase() : ''%>">
    <td><input type="checkbox" value="<%=task._id%>" class="checkbox" /></td>
    <td><%=startNumber + index + 1%></td>
    <td><%=(task.project) ? task.project.projectShortDesc : ''%><%=task.taskCount%></td>
    <td><%=task.summary%></td>
    <td>
        <a href="javascript:;" data-id="<%=task.project._id%>" class="project"><%=task.project.projectName%></a>
    </td>
    <td id='stages_<%=task._id%>'>
        <a href="javascript:;" class="stageSelect"><%=(task.workflow) ? task.workflow.name : 'Undefinded'%></a>
    </td>
    <td><%=(task.assignedTo) ? task.assignedTo.name.first + ' ' + task.assignedTo.name.last : ''%></td>
    <td><%=task.estimated%></td>
    <td><%=task.logged%></td>
    <td id='type_<%=task._id%>'>
        <a id="<%=task._id%>" class="stageSelectType" href="javascript:;"><%=task.type%></a>
        <ul class="newSelectList hidden">
            <li class="Task" id="Task">Task</li>
            <li class="Bug" id="Bug">Bug</li>
            <li class="Feature" id="Feature">Feature</li>
        </ul>
    </td>
    <td><progress name="taskProgress" max="100" value="<%=task.progress%>" /></td>
	<td><%=task.createdBy.user?(task.createdBy.date + ' (' + task.createdBy.user.login + ')'):(task.createdBy.date?task.createdBy.date:'')%></td>
	<td><%=(task.editedBy&&task.editedBy.date)?( task.editedBy.date + ((task.editedBy.user) ?(' (' + task.editedBy.user.login + ')') : '')):''%></td>
</tr>
<% }) %>
