<!--<div>
    <div class="filterButton">
        <span class="text">Stage</span>
        <div class="arrow">
            7
        </div>
    </div>
    <ul class="filter-check-list">
      <li><input type="checkbox"  value="null" checked="checked"><span>Undefinded</span></li>
	</ul>-->
<div id="searchContainer"></div>
<table class="list task-list">
    <thead>
    <tr>
        <th>
            <input type="checkbox" id="check_all"/>
        </th>
        <th>N</th>
        <th>TaskID</th>
        <th class="oe_sortable" data-sort="summary">Task Summary<span class="arrow down">7</span><span class="arrow up">v</span>
        </th>
        <th>Project</th>
        <th>Status</th>
        <th>Assigned to</th>
        <th class="oe_sortable" data-sort="estimated">Estimated<span class="arrow down">7</span><span
                class="arrow up">v</span></th>
        <th class="oe_sortable" data-sort="logged">Logged<span class="arrow down">7</span><span
                class="arrow up">v</span></th>
        <th>Type</th>
        <th class="oe_sortable" data-sort="progress">Progress<span class="arrow down">7</span><span
                class="arrow up">v</span></th>
        <th class="oe_sortable" data-sort="createdBy.date">Created By<span class="arrow down">7</span><span
                class="arrow up">v</span></th>
        <th class="oe_sortable sortDn" data-sort="editedBy.date">Edited By<span class="arrow down">7</span><span
                class="arrow up">v</span></th>
    </tr>
    </thead>
    <tbody id="listTable"></tbody>
</table>
</div>
