<div id="channelNameContainer" class="_integrationForm _channelNameContainer" data-type="<%= type || ''%>">
    <div class="mainContent">
        <div class="channelImg <%= type || ''%>"
             data-content="channelImage"
             id="channelImgContainer">
        </div>
        <div data-content="channelInfo" class="_listModal">
            <div class="_modalList">
                <div class="_modalLabel">
                    <label for="channelName">Channel Name</label>
                </div>
                <div class="_modalSelect">
                    <input type="text" id="channelName" placeholder="Channel Name">
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>