<div class="_warehouseWrap _integrationForm">
    <div id="channelNameContainer" class="_listModal">
        <div class="channelImg"
             data-content="channelImage"
             id="channelImgContainer">
        </div>
        <div data-content="channelInfo">
            <div class="_modalLabel">
                <label>Channel Name</label>
            </div>
            <div class="_modalSelect">
                <input id="channelName"
                       type="text"
                       placeholder="Channel Name"
                       value="<%= channelName %>"
                       maxlength="30"
                >
            </div>
        </div>

    </div>

    <div id="channelInfoContainer">

        <div class="_listModal">
            <h3 id="settingsName"><span class="channelType"><%= type.toUpperCase()%></span></h3>
            <% if (type !== 'etsy'){
                var placeHolder = 'http://mymagento.com';
                var apiPlaceHolder = 'apiuser';
                var apiNameLabel = 'User Name';

                if (type === 'shopify') {
                    placeHolder = 'http://testshopify.myshopify.com';
                    apiPlaceHolder = 'apikey';
                    apiNameLabel = 'API key';
                }
            %>
            <div class="_modalList">
                <div class="_modalLabel">
                    <label>Base URL</label>
                </div>
                <div class="_modalSelect">
                    <input id="baseURL"
                           type="text"
                           placeholder= "Example: <%= placeHolder%>"
                           value="<%= credentials && credentials.baseUrl%>"
                    >
                </div>
            </div>

            <div class="_modalList">
                <div class="_modalLabel">
                    <label><%= apiNameLabel%></label>
                </div>
                <div class="_modalSelect">
                    <input id="apiuser"
                           type="text"
                           placeholder="Example: <%= apiPlaceHolder%>"
                           value="<%= credentials && credentials.username%>"
                    >
                </div>
            </div>
            <div class="_modalList">
                <div class="_modalLabel">
                    <label>Password</label>
                </div>
                <div class="_modalSelect">
                    <input id="apipassword"
                           type="password"
                           placeholder="Example: apipassword"
                    >
                </div>
            </div>
            <% } else {%>
            <div class="_modalList">
                <div class="_modalLabel">
                    <label>Shop Name</label>
                </div>
                <div class="_modalSelect">
                    <input id="apishop"
                           type="text"
                           placeholder="Example: etsyStore"
                           value="<%= credentials && credentials.username%>"
                    >
                </div>
            </div>
            <div class="_modalList">
                <div class="_modalLabel">
                    <label>KEYSTRING</label>
                </div>
                <div class="_modalSelect">
                    <input id="apiuser"
                           type="text"
                           placeholder="Example: keystring"
                           value="<%= credentials && credentials.username%>"
                    >
                </div>
            </div>
            <div class="_modalList">
                <div class="_modalLabel">
                    <label>SHARED SECRET</label>
                </div>
                <div class="_modalSelect">
                    <input id="apipassword"
                           type="password"
                           placeholder="Example: shared secret"
                    >
                </div>
            </div>
            <% }%>

            <div class="clearfix"></div>
        </div>


        <dl class="_listModal">
            <h3 id="channelWarehouse">FOR IMPORT FROM <span class="channelType"><%= type.toUpperCase()%></span> USE:
            </h3>
            <div class="_modalList">
                <dt class="_modalLabel">
                    <label>Warehouse</label>
                </dt>
                <dd class="_modalSelect">
                    <a id="warehouse"
                       class="current-selected"
                       href="javascript:;"
                       data-id="<%= (credentials && credentials.warehouseSettings && credentials.warehouseSettings.warehouse && credentials.warehouseSettings.warehouse._id) || ''%>">
                        <%= (credentials && credentials.warehouseSettings && credentials.warehouseSettings.warehouse &&
                        credentials.warehouseSettings.warehouse.name) || 'Select'%>
                    </a>
                </dd>
            </div>
            <div class="_modalList">
                <dt class="_modalLabel">
                    <label>Location</label>
                </dt>
                <dd class="_modalSelect">
                    <a id="location"
                       class="current-selected <%= (credentials && credentials.warehouseSettings && credentials.warehouseSettings.location && credentials.warehouseSettings.location.id) ? '' : 'jobs'%> "
                       href="javascript:;"
                       data-id="<%= (credentials && credentials.warehouseSettings && credentials.warehouseSettings.location && credentials.warehouseSettings.location._id) || ''%>">
                        <%= (credentials && credentials.warehouseSettings && credentials.warehouseSettings.location &&
                        credentials.warehouseSettings.location.name) || 'Select'%>
                    </a>
                </dd>
            </div>
            <div class="_modalList">
                <dt class="_modalLabel">
                    <label>Price List</label>
                </dt>
                <dd class="_modalSelect">
                    <a id="priceList"
                       title="Add price list from existed or create own price list for this sales channel. For CORRECT work your sales channel's currency must be equal to erp base currency"
                       class="current-selected <%= (credentials && credentials.priceList && credentials.priceList.id) ? '' : 'jobs'%> "
                       href="javascript:;"
                       data-id="<%= (credentials && credentials.priceList && credentials.priceList._id) || ''%>">
                        <%= (credentials && credentials.priceList && credentials.priceList.name) || 'Select'%>
                    </a>
                </dd>
            </div>
            <% if (type === 'etsy')  {%>
            <div class="_modalList">
                <dt class="_modalLabel">
                    <label>Bank Account</label>
                </dt>
                <dd class="_modalSelect">
                    <a id="bankAccount"
                       class="current-selected"
                       href="javascript:;"
                       data-id="<%= (credentials && credentials.bankAccount && credentials.bankAccount._id) || ''%>">
                        <%= (credentials && credentials.bankAccount && credentials.bankAccount.name) || 'Select'%>
                    </a>
                </dd>
            </div>
            <div class="_modalList">
                <dt class="_modalLabel">
                    <label class="_customCHeckbox">
                        <input id="shippingStatus"
                               type="checkbox" <%= (credentials && credentials.updateShippingStatus ? 'checked' : '')%>
                        </input>
                        <span>Update shipping status on Etsy</span>
                    </label>
                    <!--<label>Update shipping status on Etsy</label>-->
                </dt>
                <dt class="_modalLabel">
                    <label class="_customCHeckbox">
                        <input id="shippingMethod"
                               type="checkbox"  <%= (credentials && credentials.updateShippingMethod ? 'checked' : '') %>
                        </input>
                        <span>Update shipping method on Etsy</span>
                    </label>
                    <label></label>
                </dt>
            </div>
            <%}%>
        </dl>
    </div>
    <div class="clearfix"></div>
</div>