<div class="_newForm">
    <h4 class="_dialogMainTitle">Choose App</h4>
    <div class="_formWrap">
        <div class="_formBlock">
            <ul class="_channelContainer" id="channelLogoContainer">
                <li class="miniApp _channelitem" data-type="magento">
                    <img src="images/magento_logo.png" alt="magento">
                </li>
                <li class="miniApp _channelitem" data-type="shopify">
                    <img src="images/shopify_logo.png" alt="shopify">
                </li>
               <!-- <li class="miniApp _channelitem" data-type="etsy">
                    <img src="images/etsy_logo.png" alt="etsy">
                </li>-->
                <li class="miniApp _channelitem" data-type="woo">
                    <img src="images/woo_logo.png" alt="woo">
                </li>
            </ul>
        </div>
    </div>
</div>