<div id="searchContainer"></div>
<div>
    <table class="list task-list _contractJobsListWrap">
        <colgroup>
            <col width="70px">
            <col width="40%">
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="150px">
        </colgroup>
        <thead>
        <tr>
            <th>Status</th>
            <th>Job</th>
            <th>Invoice</th>
            <th>Revenue</th>
            <th>Cost</th>
            <th>Profit/Loss</th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>
