<%collection.forEach(function (el){%>
<tr class="_contractJobsListItem">
    <%var proformaPaid = 0;%>
    <%var proformaSum = 0;%>
    <%if (el.proforma && el.proforma.length){ %>
    <%el.proforma.forEach(function(elem) {%>
    <%if (el.quotation && elem.sourceDocument === el.quotation._id) {%>
    <% elem.products.forEach(function (prod) {%>
    <% proformaSum += elem.paymentInfo.total / elem.currency.rate;%>
    <% proformaPaid += (elem.paymentInfo.total - elem.paymentInfo.balance) / elem.currency.rate;%>

    <%})%>
    <%}%>
    <%});%>
    <%}%>
    <% var adr = (el.jobPrice/(100 * (el.totalWorked - el.totalQAWorked - el.totalDesignWorked)))%>
    <% var tadr = (el.jobPrice/(100 * el.totalWorked))%>
    <%var paymentsInvoice = el.invoice && el.invoice.paymentInfo ? (el.invoice.paymentInfo.total-el.invoice.paymentInfo.balance) / el.invoice.currency.rate : 0; %>
    <td class="_contractJobsStatusBlock <%=el.workflow.name === 'Finished' ? 'finished' : 'inProgress'%> contractCell centerCell">
        <span><%=el.workflow ? el.workflow.name : ''%></span></td>
    <td class="_contractJobsJobBlock">
        <div class="_contractJobsName"><%=el.name%> in <a href="#easyErp/Projects/form/<%=el.project &&  el.project._id %>"><%=el.project && el.project.name%></a>
        </div>
        <div class="_contractJobsCustomer"><span class="fontSemiBold">For </span><span><%=el.customer%></span></div>
        <div class="_contractJobsDates"><span
                class="fontSemiBold"> Timecards from </span><span><%=el.tCardMinDate%></span><span
                class="fontSemiBold"> to </span><span><%=el.tCardMaxDate%></span></div>
        <%if (el.salesManager && el.salesManager.name) {%>
        <div class="_contractJobsSales"><span class="fontSemiBold">Sales Manager: </span><span><%=el.salesManager ? el.salesManager.name : ''%></span>
        </div>
        <%}%>
        <%if (el.projectManager && el.projectManager.name) {%>
        <div class="_contractJobsPM"><span class="fontSemiBold">Project Manager: </span><span><%=el.projectManager ? el.projectManager.name : ''%></span>
        </div>
        <%}%>
        <div class="_contractJobsTotalHour"><span class="fontSemiBold">Total Hours: </span><span><%=el.totalWorked%></span>
        </div>
        <%if (el.totalWorked - el.totalQAWorked - el.totalDesignWorked > 0) {%>
        <div class="_contractJobsDevHours"><span class="fontSemiBold">Development Hours: </span><span><%=(el.totalWorked - el.totalQAWorked - el.totalDesignWorked)%></span>
        </div>
        <%}%>
        <%if (adr && isFinite(adr)) {%>
        <div class="_contractJobsADR"><span
                class="fontSemiBold">ADR: </span><span><%=isFinite(adr) ? adr.toFixed(2): 0%></span></div>
        <%}%>
        <%if (tadr && isFinite(tadr)) {%>
        <div class="_contractJobsTotalADR"><span class="fontSemiBold">Total ADR: </span><span><%=isFinite(tadr) ? tadr.toFixed(2): 0%></span>
        </div>
        <%}%>
    </td>
    <td class="_contractJobsInvoiceBlock">
        <%if (el.invoice && el.invoice._id) {%>
        <div><span class="fontSemiBold"><%=el.invoice.workflow.name%></span></div>
        <%if (el.invoice.paymentInfo.balance) {%>
        <div><span class="fontSemiBold">Balance: </span><span class="<%=currencyClass(el.invoice.currency._id)%>"><%=(el.invoice.paymentInfo.balance / 100).toFixed(2)%></span>
        </div>
        <%}%>
        <div><span class="fontSemiBold">Invoice number: </span><a class="invoice" data-id="<%=el.invoice._id%>"><%=el.invoice
            && el.invoice.name ? el.invoice.name : ''%></a>
        </div>
        <div><span class="fontSemiBold">Invoice Date: </span><span><%=el.invoice && el.invoice.date ? utcDateToLocaleDate(new Date(el.invoice.date)) : ''%></span>
        </div>
        <div><span class="fontSemiBold">Due Date: </span><span><%=el.invoice && el.invoice.dueDate ? utcDateToLocaleDate(new Date(el.invoice.dueDate)) : ''%></span>
        </div>
        <%}%>
        <%if (el.revenue) {%>
<!--
        <div class="fontSemiBold money"><%=currencySplitter((el.revenue/100).toFixed(2))%></div>
-->
        <div><span class="fontSemiBold">Quoted: </span><span class="money"><%=el.invoice && el.invoice.name ? 0.00 : currencySplitter((el.revenue/100).toFixed(2))%></span>
        </div>
        <%if (proformaSum) {%>
        <div><span class="fontSemiBold">Proformed: </span><span class="money"><%=currencySplitter((proformaSum/100).toFixed(2))%></span>
        </div>
        <%}%>
        <div><span class="fontSemiBold">Invoiced: </span><span class="money"><%=el.invoice && el.invoice.name ? currencySplitter((el.revenue/100).toFixed(2)) : 0.00%></span>
        </div>
        <%}%>
    </td>
    <td class="_contractJobsRevenueBlock">
        <div><span class="fontSemiBold">Total: </span><span class="money"><%=currencySplitter(((proformaPaid + paymentsInvoice)/100).toFixed(2))%></span>
        </div>
        <%if (paymentsInvoice) {%>
        <div><span class="fontSemiBold">By Invoice: </span><span
                class="money"><%=currencySplitter(((paymentsInvoice)/100).toFixed(2))%></span></div>
        <%}%>
        <%if (proformaPaid) {%>
        <div><span class="fontSemiBold">By Proforma: </span><span
                class="money"><%=currencySplitter(((proformaPaid)/100).toFixed(2))%></span></div>
        <%}%>

    </td>
    <td class="_contractJobsCostBlock costBlock">
        <div class="fontSemiBold money"><%=currencySplitter(((el.costMaterials + el.costLabour)/100).toFixed(2))%></div>
        <%if (el.costMaterials) {%>
        <div>Materials: <span class="money materials"><%=currencySplitter((el.costMaterials/100).toFixed(2))%></span></div>
        <%}%>
        <%if (el.costLabour) {%>
        <div>Labour: <span class="money labour"><%=currencySplitter((el.costLabour/100).toFixed(2))%></span></div>
        <%}%>
    </td>
    <%if (isFinite(((el.revenue - (el.costMaterials +el.costLabour)) / (el.costMaterials + el.costLabour)) * 100)){%>
    <td class="_contractJobsProfitBlock profitBlock">
        <div class="money"><%=currencySplitter(((el.revenue - (el.costMaterials +el.costLabour))/100).toFixed(2))%>
        </div>
        <div class="percent"><%=currencySplitter((((el.revenue - (el.costMaterials +el.costLabour)) / (el.costMaterials
            +el.costLabour)) * 100).toFixed(2))%> %
        </div>
    </td>
    <%} else if ((((el.revenue - (el.costMaterials +el.costLabour)) / (el.costMaterials + el.costLabour)) * 100) > 0)
    {%>
    <td class="_contractJobsProfitBlock profitBlock percent">
        <div class="money"><%=currencySplitter(((el.revenue - (el.costMaterials +el.costLabour))/100).toFixed(2))%>
        </div>
        <div class="percent">100 %</div>
    </td>
    <%} else {%>
    <td class="_contractJobsProfitBlock profitBlock percent">
    <div class="money"><%=currencySplitter(((el.revenue - (el.costMaterials +el.costLabour))/100).toFixed(2))%></div>
    <div class="percent">0 %</div>
    </td>
    <% } %>
</tr>
<% }) %>