<div id="searchContainer"></div>
<div class="dropDown _contractJobsFilter">
    <a id="sortBy" class="icon-list5 dropBtn"></a>
    <ul>
        <li class="oe_sortable" data-sort="project.name">
            <span class="dropContent">Project</span>
            <span class="sortArrow"></span>
        </li>
        <li class="oe_sortable" data-sort="customer.name.first">
            <span class="dropContent">Customer</span>
            <span class="sortArrow"></span>
        </li>
        <li class="oe_sortable" data-sort="salesManager.name.first">
            <span class="dropContent">Sales Manager</span>
            <span class="sortArrow"></span>
        </li>
        <li class="oe_sortable " data-sort="projectManager.name.first">
            <span class="dropContent">Project Manager</span>
            <span class="sortArrow"></span>
        </li>
        <!--<li class="oe_sortable" data-sort="totalWorked">
            <span class="dropContent">Total Hours</span>
            <span class="sortArrow"></span>
        </li>-->
        <li class="oe_sortable" data-sort="workflow.name">
            <span class="dropContent">Status</span>
            <span class="sortArrow"></span>
        </li>
        <li class="oe_sortable" data-sort="invoice.invoiceDate">
            <span class="dropContent">Invoice date</span>
            <span class="sortArrow"></span>
        </li>
        <li class="oe_sortable" data-sort="invoice.dueDate">
            <span class="dropContent">Invoice due date</span>
            <span class="sortArrow"></span>
        </li>
        <!-- <li class="oe_sortable" data-sort="cost">
             <span class="dropContent">Cost Total</span>
             <span class="sortArrow"></span>
         </li>
         <li class="oe_sortable" data-sort="revenue">
             <span class="dropContent">Revenue Total</span>
             <span class="sortArrow"></span>
         </li>
         <li class="oe_sortable" data-sort="profit">
             <span class="dropContent">Profit/Loss</span>
             <span class="sortArrow"></span>
         </li>
         <li class="oe_sortable" data-sort="profitInPercent">
             <span class="dropContent">Profitability</span>
             <span class="sortArrow"></span>
         </li>-->
    </ul>
</div>

<div class="_contractJobsTableWrap">
    <table class="list task-list _contractJobsListWrap">
        <colgroup>
            <col width="100px">
            <col width="40%">
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="150px">
        </colgroup>
        <thead>
        <tr>
            <th>Status</th>
            <th>Job</th>
            <th>Invoice</th>
            <th>Revenue</th>
            <th>Cost</th>
            <th>Profit/Loss</th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>
