.totalBySales {
  background-color: #045986;
}
.totalBySales td {
  text-align: left !important;
  font-size: 13px !important;
}
.paidBySales {
  background-color: #1d96c2;
}
.paidBySales td {
  text-align: left !important;
  font-size: 13px !important;
}
.revenueBySales {
  background-color: #A19015;
}
.revenueBySales td {
  text-align: left !important;
  font-size: 13px !important;
}
