<div class="form-holder">
  <div id="convert-dialog-form">
    <form>
      <fieldset>
        <select id="createCustomerOrNot">
          <option value="true">Create a new customer</option>
          <option value="">Do not create a new customer</option>
        </select>
      </fieldset>
    </form>
  </div>
  <form method="post" action="" class="form edit-lead-form" id="leadForm" data-id="<%=model._id%>">
    <fieldset>
      <div class="inner">
        <ul class="dialog-tabs">
          <li><a class="active" href="javascript:;">Main</a></li>
          <li><a href="javascript:;">Assignees</a></li>
          <li class="right"><button class="red" id="convertToOpportunity"><span>Convert to Opportunity</span></button></li>
        </ul>
        <div class="clearfix"></div>
        <div class="dialog-tabs-items">
          <div class="dialog-tabs-item active">
            <div class="clearfix"></div>
            <div class="half-block left">
              <dl class="opp-info">
                <dt><label>Subject </label></dt><dd>
                  <input type="text" class="title-input" id="name" value="<%=model.name%>" placeholder="Subject" required maxlength="48"/>
                </dd>
                <dt><label for="company">Company Name</label></dt><dd><input type="text" id="company" value="<%= model.tempCompanyField %>" placeholder="Company name" maxlength="32" /></dd>
                <dt><label for="customerDd">Customer</label></dt><dd>
				  <a id="customerDd" data-id="<%=model.customer?model.customer._id:''%>" class="current-selected" href="javascript:;"><%=model.customer?(model.customer.name.first+' '+model.customer.name.last):'Select'%></a>
				</dd>
                <dt><label for="salesPerson">Assigned to</label></dt><dd>
				  <a id="salesPerson" data-id="<%=model.salesPerson?model.salesPerson._id:''%>" class="current-selected" href="javascript:;"><%=model.salesPerson?(model.salesPerson.name.first+' '+model.salesPerson.name.last):'Select'%></a>
				</dd>
                <dt><label for="street">Street</label></dt><dd><input type="text" id="street" class="address" placeholder="Street..." name="street" value="<%=model.address.street%>" maxlength="32"/></dd>
                <dt><label for="city">City</label></dt><dd><input type="text" id="city" class="address" placeholder="City" name="city" value="<%=model.address.city%>" maxlength="32"/></dd>
                <dt><label for="state">State</label></dt><dd><input type="text" id="state" class="address" placeholder="State" name="state" value="<%=model.address.state%>" maxlength="32"/></dd>
                <dt><label for="zip">Zip</label></dt><dd><input type="text" id="zip" class="address" name="zip" placeholder="Zip" value="<%=model.address.zip%>" maxlength="32"/></dd>
                <dt><label for="country">Country</label></dt><dd><input type="text" id="country" class="address" name="country" placeholder="Country" value="<%=model.address.country%>" maxlength="32"/></dd>
              </dl>
            </div>
            <div class="half-block left">
              <dl class="opp-info">
                <dt><label for="first">First Name</label></dt><dd><input type="text" class="name" id="first" placeholder="First Name" value="<%=(model.contactName) ? model.contactName.first : ''%>" maxlength="32"/></dd>
                <dt><label for="last">Last Name</label></dt><dd><input type="text" class="name" id="last" placeholder="Last Name" value="<%=(model.contactName) ? model.contactName.last : ''%>" maxlength="32"/></dd>
                <dt><label for="email">Email</label></dt><dd><input type="text" id="email_person" value="<%=model.email%>" placeholder="e.g. email@site.com" maxlength="48"/></dd>
                <dt><label for="phone">Phone </label></dt><dd><input type="text" id="phone" value="<%=model.phones.phone%>" placeholder="Phone number" maxlength="32"/></dd>
                <dt><label for="mobile">Mobile </label></dt><dd><input type="text" id="mobile" value="<%=model.phones.mobile%>" placeholder="Mobile number" maxlength="32"/></dd>
                <dt><label for="selectWorkflow">Stage </label></dt><dd id="selectWorkflow">
				  <a id="workflowsDd" data-id="<%=model.workflow?model.workflow._id:''%>" class="current-selected" href="javascript:;"><%=model.workflow?model.workflow.name:'Undefinded'%></a>
				</dd>

                <dt><label for="priorityDd">Priority </label></dt>
				<dd>
				  <a id="priorityDd" data-id="<%=model.priority%>" class="current-selected" href="javascript:;"><%=model.priority%></a>
				</dd>
                <dt><label for="campaignDd">Campaign</label></dt>
                <dd>
				  <a id="campaignDd" data-id="<%=model.campaign?model.campaign:''%>" class="current-selected" href="javascript:;"><%=model.campaign?model.campaign:"Select"%></a>
				  <ul class="newSelectList hidden">
					<li class="telesales" id="telesales">Telesales</li>
					<li class="web" id="web">Web</li>
					<li class="email" id="email">Email</li>
					<li class="newsletter" id="newsletter">Newsletter</li>
                    <li class="call" id="call">Call</li>
				  </ul>
                </dd>
                <dt><label for="sourceDd">Source</label></dt>
                <dd>
				  <a id="sourceDd" data-id="<%=model.source?model.source:''%>" class="current-selected" href="javascript:;"><%=model.source?model.source:"Select"%></a>
                </dd>

              </dl>
            </div>
            <dl class="internal-info">
			  <dt><label for="internalNotes">Internal Notes</label></dt><dd><textarea id="internalNotes" placeholder="Add a Description..." maxlength="500"><%=model.internalNotes%></textarea></dd>
			</dl>

          </div>
          <div class="dialog-tabs-item">
			<div class="assignees-container"></div>
          </div>
          <div class="clearfix"></div>
        </div>

        <div id="tabs">
          <!--<div>
              <ul id="tabList" class="inner">
                <li>
                  <a href="javascript;" class="selected">Internal Notes</a>
                </li>
                <li>
                  <a href="javascript;">Extra Info</a>
                </li>
              </ul>
              <br />
          </div>
          <div class="tab">
            <textarea id="internalNotes"><%=model.internalNotes%></textarea>
          </div>
          <div class="tab">
            <div class="half-block left">
              <h3>Categorization</h3>
              <div class="half-block left">
                <p>
                  <label>Status</label>
                </p>
              </div>
              <div class="half-block left">
                <p>
                  <span><%=(model.workflow) ? model.workflow.status : ''%></span>
                </p>
              </div>
            </div>
            <div class="half-block left">
              <h3>Mailings</h3>
              <div class="half-block left">
                <p>
                  <label>Opt-Out</label>
                </p>
              </div>
              <div class="half-block left">
                <p>
                  <input type="checkbox" <%= (model.optout)? 'checked="checked"':''%> id="optout" />
                </p>
              </div>
            </div>
            <div class="half-block left">
              <h3>Misc</h3>
              <div class="half-block left">
                <p>
                  <label>Active</label>
                </p>
                <p>
                  <label>Referred By</label>

                </p>
              </div>
              <div class="half-block left">
                <p><input type="checkbox" <%= (model.active)? 'checked="checked"':''%> id="active" /></p>
                <p><input type="text" id="reffered" value="<%=model.reffered%>" /></p>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>-->
        </div>
      </div>
    </fieldset>
  </form>
</div>
