<div class="_breadcrunmbs">
    <a href="#easyErp/settingsOverview">Settings Overview</a>
    <span class="_breadcrunmbItem"> / Employees Details</span>
</div>
<div class="form-holder">
    <div class="inner">
        <ul class="dialog-tabs _forOverview">
            <li>
                <a href="javascript:;" class="active">Weekly Scheduler</a>
            </li>
            <li>
                <a href="javascript:;" class="">Scheduled Pay</a>
            </li>
            <li>
                <a href="javascript:;" class="">Default Profile</a>
            </li>
            <li>
                <a href="javascript:;" class="">Payroll Earning</a>
            </li>
            <li>
                <a href="javascript:;" class="">Payroll Deductions</a>
            </li>
            <li>
                <a href="javascript:;" class="">Payroll Structure</a>
            </li>
            <li>
                <a href="javascript:;" class="">Nationalities</a>
            </li>
            <li>
                <a href="javascript:;" class="">Languages</a>
            </li>
        </ul>
        <div class="clearfix"></div>
        <div class="dialog-tabs-items">
            <div class="dialog-tabs-item active" id="weeklySchedulerTab">
            </div>
            <div class="dialog-tabs-item" id="scheduledPayTab">
            </div>
            <div class="dialog-tabs-item" id="defaultProfileTab">
            </div>
            <div class="dialog-tabs-item" id="payrollEarningsTab">
            </div>
            <div class="dialog-tabs-item" id="payrollDeductionsTab">
            </div>
            <div class="dialog-tabs-item" id="payrollStructureTab">
            </div>
            <div class="dialog-tabs-item" id="nationalityTab">
            </div>
            <div class="dialog-tabs-item" id="languageTab">
            </div>
        </div>
    </div>
</div>

