<div class="form-holder _newForm productForm workCenterCreate">
    <form method="post" action="" id="createEmployeeForm" class="form">
        <h4 class="_dialogMainTitle">Add New Work Center</h4>
        <div class="dialog-tabs-items mainTabs">
            <div class="dialog-tabs-item mainTabs active">
                <div class="_formWrap _enlargedItemMargin">
                    <div class="_formBlock _equal">
                        <div class="_animateInputBox _withInfo">
                            <input type="text"
                                   class="_animate"
                                   id="name"
                                   autofocus
                                   required
                                   maxlength="32"/>
                            <label class="_animate">Work Center Name</label>
                            <span></span>
                        </div>
                        <div class="_formRow _tipsWrap">
                            <input type="text"
                                   class="_animate"
                                   id="code"
                                   autofocus
                                   required
                                   maxlength="32"/>
                            <label class="_animate">Code</label>
                            <span></span>
                        </div>
                        <div class="_animateInputBox _withInfo">
                            <input type="text"
                                   class="_animate"
                                   id="description"
                                   autofocus
                                   required
                                   maxlength="32"/>
                            <label class="_animate">Description</label>
                            <span></span>
                        </div>
                        <div class="_animateInputBox _withInfo">
                            <input type="text"
                                   class="_animate forNum"
                                   id="costPerHour"
                                   autofocus
                                   required
                                   maxlength="32"
                                   value="0"/>
                            <label class="_animate">Cost per hour</label>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

