<div class="inner-holder">
    <div class="workflow-list-wrapper left">
        <ul class="workflow-list">
            <% workflowsWIds.forEach(function(wId, index){ %> 
            		<li data-id="<%=wId%>"><a href="javascript;" data-id="<%=wId%>" title="<%=wId%>" class="workflow"><%=wId%></a></li>
            <% }) %>
        </ul>
    </div>
    <div id="workflowAccord" class="left">
        <div id="workflowNames">
        </div>

        <div id="details" class="workflow-details">
            <!-- <div class="workflow-sub-list-wrapper left">
                <ul class="workflow-sub-list">
                </ul>
            </div> -->
            <div id="workflowSubAccord" class="left">
                <!--  <div id="workflowSubNames">
                    <div class="cathegory">
                      <a href="javascript:;">Element 1</a>
                    </div>
                  </div>-->
                <div id="sub-details" class="workflow-details">
                    <div class="listWorkflow">
                    <div id="workflows"></div>
                    <div id="addedStatus">
					</div>
                    	<input type="button" value="Add" id="addNewStatus" style="display:none;">
                    
                    </div>
                </div>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>
