<div id="listTable">
    <% orders.forEach(function(order, index){ %>
    <div class="compactView" data-id="<%=order._id%>"
        <%if (order.workflow && order.workflow.status === 'Done') { %>
        class="compactView notRemovable"
        <% } else { %>
        class="compactView"
        <%}%>
        >
        <div class="checkboxRow">
            <label class="_customCHeckbox">
                <input type="checkbox" value="<%=order._id%>" class="checkbox"
                <%if (order.workflow && order.workflow.status === 'Done') { %>
                disabled
                <% } %>
                />
                <span></span>
            </label>
        </div>
        <div class="compactRowWrap">
            <div class="compactRow">
                <div class="firstName"><%=(order.supplier) ? order.supplier.name.first + ' ' + order.supplier.name.last : ''%></div>
                <div class="user"><%=(order.salesManager && order.salesManager.name) ? order.salesManager.name.first + ' ' + order.salesManager.name.last : ''%></div>
            </div>
            <div class="compactRow">
                <div><%= order.orderDate %></div>
            </div>
            <div class="compactRow">
                <div class="total"><%=(order.currency && order.currency._id ? order.currency._id.symbol : '') + ((order.paymentInfo) ? currencySplitter(order.paymentInfo.total) : '0.00') %></div>
                <div><%=order.workflow ? order.workflow.name: 'undefined'%></div>
            </div>
        </div>
    </div>
    <% }) %>
</div>