<div id="searchContainer"></div>
<div class="">
    <div id="pmsTable">
        <table class="list">
            <thead>
            <tr>
                <th>Expand</th>
                <th>Name</th>
                <th>Job Position</th>
                <th>Total Sum</th>
                <th>Count of Jobs</th>
            </tr>
            </thead>
            <tbody id="listTable">
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3"></td>
                <td id="totalSum" class="money"></td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>