<table class="list _importLoadHistory">
    <thead>
        <tr>
            <% if (data.length && data[0].length) { %>
                <% _.each(data[0][0], function(item, key){ %>
                    <td>
                        <%= key %>
                    </td>
                <% }) %>
            <% } %>
        </tr>
    </thead>

    <% _.each(data, function(comparingData, comparingDataKey) { %>
        <tbody data-group="<%= comparingDataKey %>" >
            <% _.each(comparingData, function(comparingDataObj, comparingDataObjKey) { %>
                <tr data-id="<%= comparingDataObj['importId'] %>">
                    <% _.each(comparingDataObj, function(comparingDataItem, comparingDataItemKey) { %>
                        <td>
                            <% if ((comparingDataItem).toString().indexOf('data:image/') === -1) { %>
                                <%= comparingDataItem] %>
                            <% } else { %>
                                <div class="_importTableImg">
                                    <img src="<%= comparingDataItem] %>">
                                </div>
                            <% } %>
                        </td>
                    <% }) %>
                </tr>
            <% }) %>
        </tbody>
    <% }) %>
</table>