<% if (Object.keys(data.result).length) { %>
    <div class="_loadHistoryTopTableContainer">
        <div class="_loadHistoryTopTable tableResponsive">
            <div class="_importShowConflicts">
                <h2>
                    <% if (step < 0) { %>
                    Found <%= Object.keys(data.result).length %> conflicts
                    <% } %>
                </h2>
            </div>
            <table class="list _importLoadHistory">
                <thead>
                <tr>
                    <% if (moreExist) { %>
                        <td>
                            exist change
                        </td>
                    <% } else { %>
                        <td></td>
                    <% } %>
                    <% if (step >= 0) { %>
                        <td>
                            action
                        </td>
                    <% } else { %>
                        <td></td>
                    <% } %>
                    <% if (data.keys.length) { %>
                        <% _.each(data.keys, function(item){ %>
                            <td>
                                <%= mappingFields[data.type][item] %>
                            </td>
                        <% }) %>
                    <% } %>
                </tr>
                </thead>
                <% _.each(data.result, function(comparingData, comparingDataKey) { %>
                <tbody data-group="<%= comparingDataKey %>" style="background-color: hsl( <%= Math.floor(Math.random() * (360 - 1)) + 1 %> , 50%, 80%)">
                    <% _.each(comparingData, function(comparingDataObj, comparingDataObjKey) { %>
                        <tr data-exist="<% comparingDataObj['_id'] %>" data-id="<% if (comparingDataObj['importId']) { %>
                                        <%= comparingDataObj['importId'].trim() %>
                                     <% } else { %><% } %>">
                            <% if ((moreExist) && (comparingDataObj['isExist'])) { %>
                                <td>
                                    <input type="radio" name="dataExist" class="changeExist" data-exist="<%= comparingDataObj['_id'] %>">
                                </td>
                            <% } else { %>
                                <td></td>
                            <% } %>
                            <% if (!comparingDataObj['isExist'] && (step >= 0)) { %>
                                <td>
                                    <div class="dropDownDateRangeContainer">
                                        <div class="changeTableCombobox choseDateRange dropDownDateRange">
                                            <div data-action="skip" class="item active">skip</div>
                                            <% if (isItExist) { %>
                                                <div data-action="import" class="item">duplicate</div>
                                                <div data-action="merge" class="item">merge</div>
                                            <% } else { %>
                                                <div data-action="import" class="item">import</div>
                                            <% } %>
                                            <span class="selectArrow"></span>
                                        </div>
                                    </div>
                                </td>
                            <% } else { %>
                                <td></td>
                            <% } %>
                            <% _.each(data.keys, function(key) { %>
                                <td>
                                    <% if (comparingDataObj[key]) { %>
                                        <% if ((comparingDataObj[key]).toString().indexOf('data:image/') === -1) { %>
                                            <% if (comparingDataObj['isExist']) { %>
                                                <strong><%= comparingDataObj[key] %></strong>
                                            <% } else { %>
                                                <%= comparingDataObj[key] %>
                                            <% } %>
                                        <% } else { %>
                                            <div class="_importTableImg">
                                                <img src="<%= comparingDataObj[key] %>">
                                            </div>
                                        <% } %>
                                    <% } %>
                                </td>
                            <% }) %>
                        </tr>
                    <% }) %>
                </tbody>
                <% }) %>
            </table>
        </div>
        <div class="_importButtonsGroup right">
            <button id="skipAllButton" data-action="skip" class="btn blue btnSave right">Skip All</button>
            <button id="importAllButton" data-action="import" class="btn blue btnSave right">Duplicate All</button>
            <button id="stepByStepButton" class="btn blue btnSave right">Step-By-Step</button>
        </div>
    </div>
<% } else { %>
<div class="_finishImportContainer">
    <h3 class="_importWithOutConflict">Data conflicts not found, you can finish import without merging data</h3>
    <button id="finishBtn" class="btn blue btnSave">Finish Import</button>
</div>

<% } %>


