<% if (Object.keys(data.result).length) { %>
    <div class="_loadHistoryTopTableContainer">
        <div class="_loadHistoryTopTable tableResponsive">
            <table class="list _importLoadHistory">
                <thead>
                <tr>
                    <% if (data.keys.length) { %>
                    <% _.each(data.keys, function(item){ %>
                    <td>
                        <%= item %>
                    </td>
                    <% }) %>
                    <% } %>
                </tr>
                </thead>
                <% _.each(data.result, function(comparingData, comparingDataKey) { %>
                <tbody data-group="<%= comparingDataKey %>" style="background-color: hsl( <%= Math.floor(Math.random() * (360 - 1)) + 1 %> , 50%, 80%)">
                    <% _.each(comparingData, function(comparingDataObj, comparingDataObjKey) { %>
                        <tr data-id="<% if (comparingDataObj['importId']) { %>
                                        <%= comparingDataObj['importId'] %>
                                     <% } else { %>
                                        <%= comparingDataObj['_id'] %>
                                     <% } %>">
                            <% _.each(data.keys, function(key) { %>
                                <td>
                                    <% if (comparingDataObj[key]) { %>
                                        <% if ((comparingDataObj[key]).toString().indexOf('data:image/') === -1) { %>
                                            <% if (comparingDataObj['isExist']) { %>
                                                <strong><%= comparingDataObj[key] %></strong>
                                            <% } else { %>
                                                <%= comparingDataObj[key] %>
                                            <% } %>
                                        <% } else { %>
                                            <div class="_importTableImg">
                                                <img src="<%= comparingDataObj[key] %>">
                                            </div>
                                        <% } %>
                                    <% } %>
                                </td>
                            <% }) %>
                        </tr>
                    <% }) %>
                </tbody>
                <% }) %>
            </table>
        </div>
        <div>
            <button id="stepByStepButton" class="btn btnSave right">StepByStep</button>
        </div>
    </div>
<% } else { %>
    <span>Data merge and conflict is not!</span>
<% } %>


