<div id="import-content-holder" class="_importListWrap">
    <h3 class="_importMainTitle" id="fileName"><%= fileName%></h3>
    <div id="importProgress" class="importProgress _importListHeader"></div>
    <div id="contentBlock" class="_importListBody "></div>

    <div class="_importListFooter">
        <!--<button id="clickToReset">reset</button>-->
        <div class="_importButtonsGroup left">
            <button class="btn blue stageBtn stageBtnBack btnSave back">Back</button>
            <button id="cancelBtn" class="btn stageBtn btnSave back">Cancel import</button>
            <button class="btn stageBtn stageBtnNext btnDisable btnSave right next" disabled>NEXT</button>
        </div>
    </div>
    <div id="historyBlock"></div>
</div>