<div class="_contentBlock">
    <% _.each(content, function(item, key){%>
        <div class="_contentBlockRow unmapped">
            <div class="_rowItem"><%= key %></div>
            <div data-name="<%= item %>" class="dbFieldItem <% if (item) { %> dbFieldItemDrag <% } %> _rowItem" ><%= item %></div>
        </div>
    <% }); %>
</div>
<div id="fieldsContainer" class="_tabsBlock">
    <ul class="_importListTabs">
        <% _.each(fields, function(item, key){%>
            <li>
                <%= key %>
            </li>
        <% }); %>
    </ul>
    <% _.each(fields, function(item, key) {%>
        <div class="_importTabItem active">
            <ul >
                <% _.each(item, function(itemOne) { %>
                    <li class="fieldItem" data-name="<%= itemOne %>">
                        <%= itemOne %>
                    </li>
                <% }); %>
            </ul>
        </div>
    <% }); %>
</div>

