<button id="clickToReset">reset</button>
<div class="_contentBlock" id="dbContentBlock">
    <% _.each(content, function(item, key){%>
        <div class="content _contentBlockRow unmapped">
            <div data-name="<%= key %>" class="firstColumn _rowItem"><%= key %></div>
            <div class="_rowItem" >
                <div data-name="<%= item %>" class="secondColumn dbFieldItem <% if (item) { %> dbFieldItemDrag <% } %> _movingItem"><%= item %></div>
            </div>
        </div>
    <% }); %>
</div>
<div id="fieldsContainer" class="_tabsBlock">
    <ul class="_importListTabs">
        <% _.each(fields, function(item, key){%>
            <li class="active">
                <%= key %>
            </li>
        <% }); %>
    </ul>
    <br>
    <% _.each(fields, function(item, key) {%>
        <div class="tabItem" data-tab="<%= key %>">
            <ul>
                <% _.each(item, function(itemOne) { %>
                    <li>
                        <div class="fieldItem" style="cursor: pointer" data-parent="<%= key %>" data-name="<%= itemOne %>">
                            <%= itemOne %>
                        </div>
                    </li>
                <% }); %>
            </ul>
        </div>
    <% }); %>
</div>

