<table>
    <tr>
        <% if (history.length) { %>
            <% _.each(history[0], function(item, key){ %>
                <% if (key !== '_id') { %>
                    <td><%= key %></td>
                <% } %>
            <% }) %>
        <% } %>
    </tr>
    <% _.each(history, function(historyItem, key1) { %>
        <tr>
            <% _.each(historyItem, function(headItem, key2) { %>
                <% if (key2 !== '_id') { %>
                    <td>
                        <%= historyItem[key2] %>
                    </td>
                <% } %>
            <% }) %>
        </tr>
    <% }) %>
</table>