<div class="tableResponsive">
    <table class="list _importLoadHistory">
        <thead>
        <tr>
            <% if (history.length) { %>
                <% _.each(history[0], function(item, key){ %>
                    <% if (key !== '_id' && key !== 'reportFileName') { %>
                        <td>
                            <%= key %>
                        </td>
                    <% } %>
                <% }) %>
            <% } %>
        </tr>
        </thead>

        <tbody id="listTable">

        </tbody>
    </table>
</div>
