<div class="tabListWrap _importTabs">
    <div class="tabListItem stage1 active">
        <span class="_importStep">Step 1: Upload File</span>
        <!--<span>Upload File</span>-->
    </div>
    <div class="tabListItem stage2">
        <span class="_importStep">Step 2: Mapping</span>
        <!--<span>Mapping</span>-->
    </div>
    <div class="tabListItem stage3">
        <span class="_importStep">Step 3: Preview</span>
        <!--<span>Preview</span>-->
    </div>
    <div class="tabListItem stage4">
        <span class="_importStep">Step 4: Merge conflicts and finish</span>
        <!--<span>Merge conflicts and finish</span>-->
    </div>
</div>