<div style="width: 100%; height: 100%">
    <p style="font-size: 40px; font-style: inherit">
        Preview Import data
    </p>
    <p style="font-size: 15px; font-style: inherit">
        Please validate the data based on the first 3 rows of the upload file.
    </p>
    <br>
    <div>
        <% _.each(fields, function(item, key) { %>
            <div style="font-size: 30px">
                <%= item.parent %>
            </div>
            <div>
                <% _.each(item, function(item, key){ %>
                    <div style="font-size: 20px; border: 2px solid; display: inline-block">
                        <%= item.value %>
                    </div>
                <% }) %>
            </div>
        <% }) %>
    </div>

</div>

