<div class="_importStep3">
    <div id="checkedButtons" class="_importCheckboxContainer">
        <div class="mrgBut _importCheckboxItem">
            <input name="checked" type="radio" checked="checked" class="_radioContainer" id="firstItem"/>
            <label for="firstItem">
                <img src="images/illustration-merge.png">
                <div class="_cellContainer">
                    <div class="_bodyContainer">
                        <p class="_importItemTitle">
                            Merge data
                        </p>
                        <p class="_importItemDesk">
                            One record for the duplicated data
                        </p>
                    </div>
                </div>
            </label>
        </div>
        <div class="mrgBut _importCheckboxItem">
            <input name="checked" type="radio" id="secondItem" class="_radioContainer" />
            <label for="secondItem">
                <img src="images/illustration-multiple.png">
                <div class="_cellContainer">
                    <div class="_bodyContainer">
                        <p class="_importItemTitle">
                            Create multiple records
                        </p>
                        <p class="_importItemDesk">
                            Multiple record for the duplicated data
                        </p>
                    </div>
                </div>
            </label>
        </div>
    </div>

    <div class="_step3Desk">
        <h2>
            Preview Import data
        </h2>
        <p>
            Please validate the data based on the first 3 rows of the upload file.
        </p>
    </div>

    <h2 class="_importTitle"><%= fields.type %></h2>

    <div class="tableResponsive">
        <table class="list task-list _importTable">
            <thead>
                <tr>
                    <% _.each(fields.keys, function(item, key) { %>
                    <th>
                        <%= item %>
                    </th>
                    <% }) %>
                </tr>
            </thead>

            <tbody>
                <% _.each(fields.result, function(obj, key) { %>
                <tr>
                    <% _.each(fields.keys, function(arr, key) { %>
                        <% if (obj[arr]) { %>
                        <td>
                            <% if ((obj[arr]).toString().indexOf('data:image/') === -1) { %>
                                <%= obj[arr] %>
                            <% } else { %>
                                <div class="_importTableImg">
                                    <img src="<%= obj[arr] %>">
                                </div>
                            <% } %>
                        </td>
                        <% } else { %>
                            <td>
                                <%= "" %>
                            </td>
                        <% } %>
                    <% }) %>
                </tr>
            <% }) %>
            </tbody>
    </table>
</div>



