<div class="_importAttachContainer importContainer">
    <div class="_progressBarContainer">
        <div class="bar _progressBar" style="width: 0"></div>
    </div>
    <p class="attachFileName">You have uploaded file <span><%= fileName%></span></p>
    <label>
        <input data-table="Customers" name="changeTableBtn" type="radio" value="Customers" checked="checked"
               class="changeTableBtn">
        <span>Persons</span>
    </label>
    <label>
        <input data-table="Customers" name="changeTableBtn" type="radio" value="Customers"
               class="changeTableBtn">
        <span>Companies</span>
    </label>
    <label>
        <input data-table="Opportunities" name="changeTableBtn" type="radio" value="Opportunities"
               class="changeTableBtn">
        <span>Leads</span>
    </label>
    <label>
        <input data-table="Opportunities" name="changeTableBtn" type="radio" value="Opportunities"
               class="changeTableBtn">
        <span>Opportunities</span>
    </label>
    <label>
        <input data-table="Employees" name="changeTableBtn" type="radio" value="Employees" class="changeTableBtn">
        <span>Employees</span>
    </label>
    <div class="dropDownDateRangeContainer">
        <div id="changeTableCombobox" class="choseDateRange dropDownDateRange">
            <div class="item" data-imp="email">Email</div>
            <div class="item" data-imp="name.first">First Name</div>
            <div class="item" data-imp="website">Site</div>
            <div class="item" data-imp="phones.phone">Phone</div>
            <span class="selectArrow"></span>
        </div>
    </div>
    <a href="download/exportFiles%2Fsample.csv" >Sample Data</a>
    <button class="btn importBtn">Upload File</button>
    <div id="forImport"></div>
</div>