<div class="_importAttachContainer importContainer">
    <div class="_progressBarContainer">
        <div class="bar _progressBar" style="width: 0"></div>
    </div>
    <p class="attachFileName">Please upload file <span><%= fileName%></span></p>
    <label>
        <input data-table="Customers" name="changeTableBtn" type="radio" value="Persons"
               class="changeTableBtn">
        <span>Persons</span>
    </label>
    <label>
        <input data-table="Customers" name="changeTableBtn" type="radio" value="Companies"
               class="changeTableBtn">
        <span>Companies</span>
    </label>
    <label>
        <input data-table="Opportunities" name="changeTableBtn" type="radio" value="Leads"
               class="changeTableBtn">
        <span>Leads</span>
    </label>
    <label>
        <input data-table="Opportunities" name="changeTableBtn" type="radio" value="Opportunities"
               class="changeTableBtn">
        <span>Opportunities</span>
    </label>
    <label>
        <input data-table="Employees" name="changeTableBtn" type="radio" value="Employees" class="changeTableBtn">
        <span>Employees</span>
    </label>
    <label>
        <input data-table="Invoice" name="changeTableBtn" type="radio" value="Invoice" class="changeTableBtn">
        <span>Invoice</span>
    </label>
    <label>
        <input data-table="Quotation" name="changeTableBtn" type="radio" value="Orders" class="changeTableBtn">
        <span>Orders</span>
    </label>
    <label>
        <input data-table="Quotation" name="changeTableBtn" type="radio" value="Quotations" class="changeTableBtn">
        <span>Quotations</span>
    </label>
    <label>
        <p class="_importSearchDublicate"> Search duplicates by</p>
        <div class="dropDownDateRangeContainer">
            <div id="changeTableCombobox" class="choseDateRange dropDownDateRange">
            </div>
        </div>
    </label>

    <button class="btn importBtn">Upload File</button>
    <div id="forImport"></div>
    <div class="_exampleLink">
        <a href="download/exportFiles%2Fsample.csv">Sample Data</a>
    </div>
</div>