<div class="_importAttachContainer importContainer">
    <div class="_progressBarContainer">
        <div class="bar _progressBar" style="width: 0"></div>
    </div>
    <p class="attachFileName">You have uploaded file <span><%= fileName%></span></p>
    <button data-table="Customers" class="btn changeTableBtn">Customers</button>
    <button data-table="Opportunities" class="btn changeTableBtn">Opportunities</button>
    <button data-table="Employees" class="btn changeTableBtn">Employees</button>

    <button class="btn importBtn">Upload File</button>
    <div id="forImport"></div>
</div>