<div class="form-holder _dialogWrap">
    <form class="form">
        <div class="_dialogMainTitle">Edit Category</div>
        <div class="_dialogBlock">
            <div class="_listModal">
                <div class="_modalList">
                    <div class="_modalLabel">
                        <label>Category Name</label>
                    </div>
                    <div class="_modalSelect">
                        <input id="name" value="<%=model.name%>" type="text"/>
                    </div>
                </div>
                <div class="_modalList">
                    <div class="_modalLabel">
                        <label>Parent Category</label>
                    </div>
                    <div class="_modalSelect _newSelectListWrap">
                        <a class="current-selected" id="categories"><%=model.parent ? model.parent.name : 'Select'%></a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--<div class="clearfix"></div>-->
    <!--<h3 class="borderBottom">Edit Category</h3>-->
    <!--<div class="clearfix"></div>-->

    <!--<div>-->
        <!--<div>-->
            <!--<label>Category Name</label><input id="name" value="<%=model.name%>" type="text"/>-->
        <!--</div>-->
        <!--<div>-->
            <!--<label>Parent Category</label><a class="current-selected" id="categories"><%=model.parent ? model.parent.name : 'Select'%></a>-->
        <!--</div>-->
    <!--</div>-->



</div>