@charset "UTF-8";
@font-face {
  font-family: 'erp-icons';
  src: url("fonts/erp-icons.ttf?z3ar64") format("truetype"), url("fonts/erp-icons.woff?z3ar64") format("woff"), url("fonts/erp-icons.svg?z3ar64#erp-icons") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'erp-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-linkedin3:before {
  content: ""; }

.icon-location:before {
  content: ""; }

.icon-smartphone:before {
  content: ""; }

.icon-transfer2:before {
  content: "0"; }

.icon-facebook2:before {
  content: "f"; }

.icon-linkedin2:before {
  content: "l"; }

.icon-rect2:before {
  content: "m"; }

.icon-kanban:before {
  content: "r"; }

.icon-skype-black:before {
  content: "s"; }

.icon-users:before {
  content: ""; }

.icon-user-add:before {
  content: ""; }

.icon-user-check:before {
  content: ""; }

.icon-user-delete:before {
  content: ""; }

.icon-user:before {
  content: ""; }

.icon-facebook:before {
  content: ""; }

.icon-credit-card:before {
  content: ""; }

.icon-speech:before {
  content: ""; }

.icon-puzzle:before {
  content: ""; }

.icon-picture:before {
  content: ""; }

.icon-layers:before {
  content: ""; }

.icon-globe:before {
  content: ""; }

.icon-folder-alt:before {
  content: ""; }

.icon-docs:before {
  content: ""; }

.icon-diamond:before {
  content: ""; }

.icon-call-out:before {
  content: ""; }

.icon-call-in:before {
  content: ""; }

.icon-call-end:before {
  content: ""; }

.icon-calculator:before {
  content: ""; }

.icon-briefcase:before {
  content: ""; }

.icon-basket:before {
  content: ""; }

.icon-wrench:before {
  content: ""; }

.icon-trash:before {
  content: ""; }

.icon-tag:before {
  content: ""; }

.icon-pencil:before {
  content: ""; }

.icon-note:before {
  content: ""; }

.icon-list:before {
  content: ""; }

.icon-tiles:before {
  content: ""; }

.icon-graph:before {
  content: ""; }

.icon-calendar:before {
  content: ""; }

.icon-chart:before {
  content: ""; }

.icon-arrow-up-circle:before {
  content: ""; }

.icon-arrow-right-circle:before {
  content: ""; }

.icon-arrow-left-circle:before {
  content: ""; }

.icon-arrow-down-circlen:before {
  content: ""; }

.icon-bubble:before {
  content: ""; }

.icon-close4:before {
  content: ""; }

.icon-mail:before {
  content: ""; }

.icon-folder:before {
  content: ""; }

.icon-attach:before {
  content: ""; }

.icon-refresh:before {
  content: ""; }

.icon-settings:before {
  content: ""; }

.icon-menu:before {
  content: ""; }

.icon-arrow-down:before {
  content: ""; }

.icon-arrow-left:before {
  content: ""; }

.icon-arrow-right:before {
  content: ""; }

.icon-arrow-up:before {
  content: ""; }

.icon-instagram:before {
  content: ""; }

.icon-linkedin:before {
  content: ""; }

.icon-google:before {
  content: ""; }

.icon-skype:before {
  content: ""; }

.icon-rect:before {
  content: ""; }

.icon-add:before {
  content: ""; }

.icon-close:before {
  content: ""; }

.icon-checked:before {
  content: ""; }

.icon-checked2:before {
  content: ""; }

.icon-close2:before {
  content: ""; }

.icon-close3:before {
  content: ""; }

.icon-step-in:before {
  content: ""; }

.icon-download:before {
  content: ""; }

.icon-filter:before {
  content: ""; }

.icon-filter2:before {
  content: ""; }

.icon-tiles2:before {
  content: ""; }

.icon-search:before {
  content: ""; }

.icon-lock:before {
  content: ""; }

.icon-unlock:before {
  content: ""; }

.icon-plus:before {
  content: ""; }

.icon-search2-:before {
  content: ""; }

.icon-star:before {
  content: ""; }

.icon-caret-down:before {
  content: ""; }

.icon-list5:before {
  content: ""; }

.icon-list2:before {
  content: ""; }

.icon-list3:before {
  content: ""; }

.icon-star2:before {
  content: ""; }

.icon-folder-download:before {
  content: ""; }

.icon-folder-line:before {
  content: ""; }

.icon-folder-open:before {
  content: ""; }

.icon-folder-upload:before {
  content: ""; }

.icon-down-arrow2:before {
  content: ""; }

.icon-down-arrow:before {
  content: ""; }

.icon-up-arrow2:before {
  content: ""; }

.icon-sort-arrows2:before {
  content: ""; }

.icon-transfer:before {
  content: ""; }

.icon-up-arrow:before {
  content: ""; }

.icon-plus-black:before {
  content: ""; }

.icon-warning2:before {
  content: ""; }

.icon-warning:before {
  content: ""; }

.icon-pie-chart:before {
  content: ""; }

.icon-close5:before {
  content: ""; }

.icon-check-circle:before {
  content: ""; }

.icon-folder2:before {
  content: ""; }

.icon-folder-open2:before {
  content: ""; }

.icon-list4:before {
  content: ""; }

.icon-caret-right:before {
  content: ""; }

.icon-sort-arrow:before {
  content: ""; }

.icon-sort-arrow-down:before {
  content: ""; }

.icon-sort-arrow-up:before {
  content: ""; }

.icon-building:before {
  content: ""; }

.icon-cheveronL:before {
  content: ""; }

.icon-cheveronR:before {
  content: ""; }

.icon-arrow-left2:before {
  content: ""; }

.icon-arrow-right2:before {
  content: ""; }

.icon-arrow-up2:before {
  content: ""; }

.icon-arrow-down2:before {
  content: ""; }

.icon-circle:before {
  content: ""; }

.icon-folder3:before {
  content: ""; }

.icon-folder-open3:before {
  content: ""; }

.icon-coment:before {
  content: ""; }

.icon-edit-list:before {
  content: ""; }

.icon-edit-list2:before {
  content: ""; }

.icon-usd:before {
  content: ""; }

.icon-pdf:before {
  content: ""; }

.icon-pencil2:before {
  content: ""; }

.icon-university:before {
  content: ""; }

.icon-user2:before {
  content: ""; }

.icon-minus:before {
  content: ""; }

.icon-facebook3:before {
  content: ""; }

.icon-phone:before {
  content: ""; }

.icon-mail2:before {
  content: ""; }

.icon-linkedin4:before {
  content: ""; }

.icon-skype2:before {
  content: ""; }

/*# sourceMappingURL=style.css.map */
