<div id="searchContainer"></div>
<div>
    <table class="list task-list">
        <!--<colgroup>-->
        <!--<col width="2%">-->
        <!--<col width="40%">-->
        <!--</colgroup>-->
        <thead>
        <tr>
            <th>#</th>
            <th class="oe_sortable" data-sort="projectmanager.name.first">Sales Manager<span
                    class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="project.projectName">Project Name<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="name">Job Name<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="workflow.name">Status<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="type">Type<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="budget.budgetTotal.costSum">Cost<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="quotation.paymentInfo.total">Quotation<span
                    class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="quotation.paymentInfo.total">Order<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="invoice.paymentInfo.total">Invoice<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="payment.paid">Payments<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="payment.count">Payments Count<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
        </tr>
        </thead>
        <tbody id="jobsContent">

        </tbody>
        <tfoot id="footer">

        </tfoot>
    </table>
</div>
