<div>
    <table class="list task-list">
        <colgroup>
            <col width="2%">
            <col width="40%">
        </colgroup>
        <thead>
        <tr>
            <th class="oe_sortable" data-sort="projectmanager">PM<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="projectName">Project Name<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="budget">Job Name<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="budget">Status<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="budget">Type<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="budget">Cost<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="">Quotation<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
        </tr>
        </thead>
        <tbody id="jobsContent">

        </tbody>
        <tfoot id="footer">

        </tfoot>
    </table>
</div>
