<% collection.forEach(function(job, count){ %>
<% var ArrayDepartments = ['QA', 'Design', 'IOS', 'Android', 'Unity', 'DotNet', 'Web', 'ROR','Dev']; %>
<tr data-id="<%=job._id%>" class="<%=getClass(job)%>">
    <td class="centerCell"><%=startNumber + count + 1%></a></td>
    <td><%=job.project && job.salesManager ? job.salesManager.name.first + ' ' + job.salesManager.name.last : "---"%></td>
    <td><a href='#easyErp/Projects/form/<%=job.project ? job.project._id : null%>'><%=job.project ?
        job.project.name : "---"%></a></td>
    <td><a data-id="<%=job._id%>" class="jobs"><%=job.name%></a></td>
    <td><%=job.workflow ? job.workflow.name : ''%></td>
    <td><%=job.type%></td>
    <td class="money"><%=currencySplitter(job.cost ? (job.cost / 100).toFixed(2) : "0")%></td>
    <% ArrayDepartments.forEach(function (el){%>
    <td class="money"><%=currencySplitter(job['cost' + el] ? (job['cost' + el] / 100).toFixed(2) : "0")%></td>
    <%  }); %>
    <% ArrayDepartments.forEach(function (el){%>
    <td><%=job['hours' + el] ? job['hours' + el]: "0"%></td>
    <%  }); %>
    <td><%=job.margin ? job.margin.toFixed(2) : "0"%></td>
    <td><%=job.devMargin ? job.devMargin.toFixed(2) : "0"%></td>
    <td><%=job.avDevRate ? job.avDevRate.toFixed(2) : "0"%></td>
    <td class="money"><%=currencySplitter(job.profit ? job.profit.toFixed(2) : "")%></td>
    <td class="money"><%=currencySplitter(job.quotation ? (job.quotation/ 100).toFixed(2) : "")%></td>
    <td class="money"><%=currencySplitter(job.invoice ? (job.invoice / 100).toFixed(2) : "")%></td>
    <td class="money"><%=currencySplitter(job.payment ? (job.payment.paid / 100).toFixed(2) : "")%></td>
    <td><%=job.payment ? job.payment.count : ""%></td>
</tr>
<%  }); %>

