<% collection.forEach(function(job, count){ %>
<tr data-id="<%=job._id%>">
    <td><%=count + 1%></a></td>
    <td><a href='#easyErp/Projects/form/<%=job.project ? job.project._id : null%>'><%=job.project ?
        job.project.projectName : "---"%></a></td>
    <td><%=job.name%></td>
    <td><%=job.workflow.name%></td>
    <td><%=job.type%></td>
    <td><%= currencySplitter(job.budget.budgetTotal ? job.budget.budgetTotal.costSum.toFixed(2) : "0")%></td>
    <td><%=currencySplitter(job.quotation ? job.quotation.toFixed(2) : "")%></td>
</tr>
<%  }); %>

