<tr>
    <!--<% var totalInProgress = 0;%>-->
    <!--&lt;!&ndash;<% var totalNew = 0;%>&ndash;&gt;-->
    <!--<% var totalFinished = 0;%>-->
    <!--<% var totalCost = 0;%>-->
    <!--<% var jobsCount = 0;%>-->
    <!--<% var projectCount = 0;%>-->
    <!--<% collection.forEach(function(project, count){ %>-->
    <!--<% var projectTeam = (project.budget && project.budget.projectTeam) ? project.budget.projectTeam : [];%>-->

    <!--<% totalInProgress += project.total.totalInPr%>-->
    <!--&lt;!&ndash;<% totalNew += project.total.totalNew%>&ndash;&gt;-->
    <!--<% totalFinished +=project.total.totalFinished %>-->
    <!--<% totalCost += project.total.total%>-->
    <!--<% projectCount ++%>-->

    <!--<%  projectTeam.forEach(function(job, index){ %>-->
    <!--<% jobsCount ++ %>-->
    <!--<%  }); %>-->

    <!--<% }) %>-->

    <!--<td><%= jobsCount %></td>-->
    <!--<td><%= projectCount %></td>-->
    <!--<td><%= currencySplitter(totalInProgress.toFixed(2))%></td>-->
    <!--&lt;!&ndash;<td><%= currencySplitter(totalNew.toFixed(2))%></td>&ndash;&gt;-->
    <!--<td><%= currencySplitter(totalFinished.toFixed(2))%></td>-->
    <!--<td><%= currencySplitter(totalCost.toFixed(2))%></td>-->
</tr>