<h3>Jobs Dashboard</h3>
<div id="createBtnHolder" class="btnsBlock">
    <!--<a href="javascript:;" class="icon-img add left" id="top-bar-createBtn"></a>-->
    <!--<a href="javascript:;" class="icon-img save left" id="top-bar-saveBtn"></a>-->
    <!--<a href="javascript:;" class="icon-img edit left" id="top-bar-editBtn"></a>-->
    <!--<a href="javascript:;" id="top-bar-deleteBtn" class="icon-img remove left"></a>-->
    <span title="Export to csv" id="top-bar-exportToCsvBtn" class="btn slim">Export to Csv</span>
    <span title="Export to xlsx" id="top-bar-exportToXlsxBtn" class="btn slim">Export to Xlsx</span>
</div>