<h3>Invoice Charts</h3>

<div class="vocationFilter _filterDropDownWrap">
    <ul class="dateFilter">
        <li class="dateRange">
            <span class="icon-calendar"></span>
            <span id="startTime"><%= startDate%></span> - <span id="endTime"><%= endDate%></span>
            <span class="fa fa-angle-down"></span>
        </li>
        <li>
            <ul class="frameDetail _filterDropDownBody hidden">
                <li class="customTime">
                    <div class="customTimeItem">
                        <label for="startDate">From </label>
                        <input readonly type="text" id="startDate">
                    </div>
                    <div class="customTimeItem">
                        <label for="endDate">To </label>
                        <input readonly type="text" id="endDate">
                    </div>
                </li>
                <li class="buttons">
                    <button id="updateDate" class="btn">
                        <span>Update</span>
                    </button>
                    <button id="cancelBtn" class="btn">
                        <span>Cancel</span>
                    </button>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div id="searchContainer" class="dashBoardVocationSearch"></div>