.payRoll-list {
  width: 100%;
  min-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;

  th, td {
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 1px solid white;
    vertical-align: middle;
  }

  th {
    border-color: transparent;
  }

  tfoot {
    margin-right: 17px;
    td {
      border-color: transparent;
      padding-right: 20px;
    }
  }
  tbody {
    tr:hover {
      background: none;
    }
  }

  #payRoll-Table {
    padding: 0;
    .datePicker {
      padding: 0px;
      input {
        &:not([disabled]) {
          outline: 1px solid #66b5d4 !important;
        }
        &:focus {
          outline: 1px solid #66b5d4 !important;
        }
      }
    }

    .scrollit {
      display: block;
      height: ~"calc(100vh - 2010px)";
      overflow-x: hidden;
    }
  }

}

.payRollHolder {
  margin-top: 0 !important;
}

.totalContainer {
  margin: 15px 20px 0 0;
  text-align: right;

  color: @mainText-color;
  font-size: 17px;
}

.borders {
  col {
    border: 1px solid;
  }
}

#searchContainer {
  &.payRoll {
    margin: 0 0 10px;
  }
}

@media (min-width: 1320px) {
  table.payRoll-list {
    #payRoll-Table {
      .scrollit {
        height: ~"calc(100vh - 190px)";
      }
    }
  }
}


.onoffswitch {
  margin: 0 25%;
  position: relative; width: 50%;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 0px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 10px; padding: 0; line-height: 6px;
  //font-size: 25px;
  color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
  border: 2px solid transparent;
  background-clip: padding-box;
}
.onoffswitch-inner:before {
  content: "";
  padding-left: 10px;
  background-color: #2E8DEF; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "";
  padding-right: 10px;
  background-color: #CCCCCC; color: #333333;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 11px; margin: 0px;
  background: #000000;
  position: absolute; top: 0; bottom: 0;
  right: 30px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}