.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  #productTree {
    padding-top: 30px;
  }

  .addProduct {
    position: absolute;
    top: 0;
    right: 0;

    a {
      border: 1px solid @border-color;
      margin: 5px 12px 2px 5px;
      padding: 0 5px;
      text-align: center;
      cursor: pointer;
      vertical-align: baseline;
      color: @top-font-color;
      line-height: 30px;
      font-size: 14px;
      font-family: Title;

      &:before {
        font-size: 16px;
        padding-right: 10px;
        font-family: FontAwesome;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  #thumbnailContent {
    padding-top: 30px;
  }
}