  .V {
    background-color: @capacityColorVacation;
  }
  .P {
    background-color: @capacityColorPerson;
  }
  .S {
    background-color: @capacityColorSick;
  }
  .E {
    background-color: @capacityColorEducation;
  }
  .H {
    background-color: #696969;
  }