<div class="_modalDialog">
    <div class="_modalHeader">
        <h4>Configure Email Policy</h4>
    </div>
    <dl class="settings-info canReadAndWrite">
        <div class="_circleRadioRadianceWrap">
            <label for="defaultEmailEnable">
                Send emails with <b>'easyerp no-replay@easyerp.com'</b> default email in the from field</label>
            <input id="defaultEmailEnable" name="choosedType" maxlength="4"  type="radio"  class="_circleRadioRadiance onlyNumber"  <%=model.defaultEmail ? 'checked' : ''%>/>
            <label for="defaultEmailEnable" class="_circleRadioRadianceLabel"></label>
        </div>
        <div class="_circleRadioRadianceWrap">
            <label for="defaultEmailDisable">
                Send emails email using one of the organizational email addresses</label>
            <input id="defaultEmailDisable"  name="choosedType" maxlength="4"  type="radio" class="_circleRadioRadiance onlyNumber" <%=model.defaultEmail ? '' : 'checked'%>/>
            <label for="defaultEmailDisable" class="_circleRadioRadianceLabel"></label>
        </div>

    </dl>
</div>

<!--<label>-->
<!--<input id="defaultEmailEnable" name="choosedType" maxlength="4" class="onlyNumber" type="radio" <%=model.defaultEmail ? 'checked' : ''%>/>-->
<!--Send emails with <b>'easyerp no-replay@easyerp.com'</b> default email in the from field-->
<!--</label>-->
<!--<label><input id="defaultEmailDisable"  name="choosedType" maxlength="4" class="onlyNumber" type="radio" <%=model.defaultEmail ? '' : 'checked'%>/>-->
<!--Send emails email using one of the organizational email addresses-->
<!--</label>-->