<div class="form-holder _orgSettingsWrap">
    <form class="_orgSettings">
            <div class="_formGroup">
                <div class="col m-2 hide-xs">
                    <label>Your Logo</label>
                </div>
                <div class="col m-8 inputBox">
                    <div class="avatar">
                        <div class="upload">Edit
                            <input type="file"
                                   value="Edit"
                                   id="inputImg">
                        </div>
                        <canvas id="avatar"
                                width="140"
                                height="140">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="_formGroup">
                <div class="col m-2 hide-xs">
                    <label class="_orgName">Organization Name</label>
                </div>
                <div class="col m-8 inputBox">
                    <div class="_animateInputBox">
                        <input type="text"
                               class="_animate"
                               id="name"
                               required
                               value="<%=model.name%>"/>
                        <label class="_animate">Name</label>
                    </div>
                </div>
            </div>
            <div class="_formGroup">
                <div class="col m-2 hide-xs">
                    <label class="_orgName">Industry</label>
                </div>
                <div class="col m-8 inputBox">
                    <div class="_animateSelectBox">
                        <span class="_selectTitle">Industry</span>
                        <div class="_newSelectListWrap">
                            <a href="javascript:;"
                               class="current-selected"
                               id="industry"
                               data-id="<%=model.industry ? model.industry._id : ''%>">
                                <%=model.industry ? model.industry.name :'Select'%>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="_formGroup ">
                <h4>Company Address</h4>
                <div class="col m-8 m-offset-2 inputBox">
                    <div class="row">
                        <div class="col m-8">
                            <div class="_animateInputBox">
                                <input type="text"
                                       class="_animate"
                                       id="address_street"
                                       value="<%=model.address ? model.address.street : ''%>"
                                       required/>
                                <label class="_animate">Street</label>
                            </div>
                        </div>
                        <div class="col m-4">
                            <div class="_animateInputBox">
                                <input type="text"
                                       class="_animate"
                                       id="address_city"
                                       value="<%=model.address ? model.address.city : ''%>"
                                       required/>
                                <label class="_animate">City</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="_formGroup">
                <div class="col m-8 m-offset-2 inputBox">
                    <div class="row">
                        <div class="col m-4">
                            <div class="_animateInputBox">
                                <input type="text"
                                       class="_animate"
                                       id="address_state"
                                       value="<%=model.address ? model.address.state : ''%>"
                                       required/>
                                <label class="_animate">State</label>
                            </div>
                        </div>
                        <div class="col m-4">
                            <div class="_animateInputBox">
                                <input type="text"
                                       class="_animate"
                                       id="address_zip"
                                       value="<%=model.address ? model.address.zip : ''%>"
                                       required/>
                                <label class="_animate">Zip Code</label>
                            </div>
                        </div>
                        <div class="col m-4 _newSelectListWrap">
                            <div class="_animateSelectBox">
                                <span class="_selectTitle">Industry</span>
                                <div class="_newSelectListWrap">
                                    <a href="javascript:;"
                                       class="current-selected"
                                       id="country"
                                       data-id="<%=model.address && model.address.country ? model.address.country : ''%>"><%=model.address
                                        && model.address.country ? model.address.country : 'Select country'%></a>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="_formGroup">
                <div class="col m-8 m-offset-2 inputBox">
                    <div class="row">
                        <div class="col m-4">
                            <div class="_animateInputBox">
                                <input type="text"
                                       class="_animate"
                                       id="phone"
                                       value="<%=model.phone%>"
                                       required/>
                                <label class="_animate">Phone</label>
                            </div>
                        </div>
                        <div class="col m-4">
                            <input class="editable _formControl"
                                   placeholder="Fax"
                                   type="text"
                                   id="address_fax"
                                   value="<%=model.address ? model.address.fax : ''%>"/>
                        </div>
                        <div class="col m-4">
                            <input class="editable _formControl"
                                   placeholder="Website"
                                   type="text"
                                   id="website"
                                   value="<%=model.website%>">
                        </div>
                    </div>
                </div>
            </div>
            <div class="_formGroup _primaryContactWrap">
                <div class="col m-2 hide-xs">
                    <label>Primary Contact</label>
                </div>
                <div class="col m-3 inputBox _newSelectListWrap">
                    <a class="current-selected _currencySelection _"
                       href="javascript:;"
                       id="contact"
                       data-id="<%=model.contact ? model.contact._id : ''%>"><%=model.contact ? model.contact.login :
                        'Select'%></a>
                    <p id="email"><%=model.contact ? model.contact.email : ''%></p>
                </div>
                <div class="col m-4">
                    <a href="javascript:;" id="changeEmail" class="blue">Change</a>
                    <%if (model.defaultEmail) {%>
                    <p class="_text-muted">Email will be sent with your organizational email address in the from
                        field</p>
                    <%} else {%>
                    <p class="_text-muted">Email will be sent with 'easyerp no-replay@easyerp.com' in the from field</p>
                    <%}%>
                </div>

            </div>
            <div class="_formGroup _primaryContactWrap">
                <div class="col m-2">
                    <label>Contact Name</label>
                </div>
                <div class="col m-8 inputBox">
                    <input class="editable _formControl"
                           id="contactName"
                           value="<%=model.contactName%>"/>
                </div>
            </div>
            <div class="_formGroup">
                <h4>Regional Settings</h4>
                <div class="col m-2 hide-xs">
                    <label>Base Currency
                        <div class="_smallText">(Currency used for accounting)</div>
                    </label>
                </div>
                <div class="col m-4 inputBox _newSelectListWrap">
                    <a class="current-selected _currencySelection"
                       href="javascript:;"
                       data-id="<%=model.currency ? model.currency._id : ''%>"
                       id="currency"
                       data-value="<%=model.currency ? model.currency.name : ''%>"><%=model.currency ?model.currency.name :'Select'%></a>
                </div>
            </div>
            <div class="_formGroup">
                <div class="col m-2 hide-xs">
                    <label>Start Date</label>
                </div>
                <div class="col m-4 inputBox">
                    <input id="startDate"
                           class="extrainfo _formControl"
                           type="text"
                           name="startDate"
                           value="<%=model.startDate%>"
                           readonly>
                </div>
            </div>
            <div class="_formGroup">
                <div class="col m-10 m-offset-2">
                    <a href="javascript:;"
                       id="saveBtn"
                       class="btn blue btnSave">Save
                    </a>
                </div>
            </div>
            <div class="cropImages form" style="display:none;">
                <div class="formTitle">
                    <h3 class="left">Crop Images</h3>

                    <div class="clearfix"></div>
                </div>
                <br/>
                <div class="image_input" style="float: left;margin-right: 20px;"></div>
                <img class="image_output"/>
                <div class="clearfix"></div>
            </div>
        </form>
</div>