<% collection.forEach(function(item, index){ %>
<tr data-id="<%=item._id%>">
    <td class="notForm centerCell">
        <label class="_customCHeckbox">
            <input type="checkbox" class="checkbox" value="<%=item._id%>"/>
            <span></span>
        </label>
    </td>
    <td><%=item.name%></td>
    <td><%=utcDateToLocaleDate(item.date)%></td>
    <td><%=item.creditAccount ? item.creditAccount.name : ''%></td>
    <td><%=item.debitAccount ? item.debitAccount.name : ''%></td>
    <td class="<%=currencyClass(item.currency._id)%>"><%=currencySplitter((item.amount / 100).toFixed(2))%></td>
</tr>
<% }) %>
