<% collection.forEach(function(item, index){ %>
<tr data-id="<%=item._id%>">
    <td class="notForm centerCell"><input type="checkbox" value="<%=item._id%>" class="checkbox listCB"/></td>
    <td data-content="number" class="centerCell"><%=startNumber + index + 1%></td>
    <td><%=item.name%></td>
    <td><%=utcDateToLocaleDate(item.date)%></td>
    <td><%=item.debitAccount ? item.debitAccount.name : ''%></td>
    <td><%=item.creditAccount ? item.creditAccount.name : ''%></td>
    <td class="<%=currencyClass(item.currency._id)%>"><%=currencySplitter((item.amount / 100).toFixed(2))%></td>
</tr>
<% }) %>
