<div>
    <table class="list gl-list">
        <colgroup span="4">
            <col span="1" width="10%">
            <col span="1" width="10%">
            <col span="1" width="40%">
            <col span="1" width="40%">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell">#</th>
            <th class="centerCell">Expand</th>
            <th>Month</th>
            <th>Year</th>
        </tr>
        </thead>
        <tfoot>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>

</div>