<div class="_closeMonthWrap">
    <div class="_closeMonthTableWrap">
        <table class="list tableFixed preventHover">
            <thead>
            <tr>
                <th class="_profitTitle centerCell">
                    <label class="_customCHeckbox">
                        <input type="checkbox" id="checkAll"/>
                        <span></span>
                    </label>
                </th>
                <th class="_profitTitle"></th>
                <th class="_profitTitle">Month</th>
                <th class="_profitTitle">Year</th>
            </tr>
            </thead>
            <tfoot>
            <tbody id="listTable" class="enableTableOdd"></tbody>
        </table>
    </div>
</div>