<% leadsCollection.forEach(function(lead, index){ %>
<tr data-id="<%=lead._id%>" class="stage-<%=(lead.workflow) ? lead.workflow.status.toLowerCase() : ''%>">
    <td class="notForm centerCell">
        <label class="_customCHeckbox">
            <input type="checkbox" value="<%=lead._id%>" class="checkbox listCB"/>
            <span></span>
        </label>
    </td>
    <td class="fontSemiBold"><span class="blue"><%=lead.name%></span></td>
    <td>
        <%lead.tags = lead.tags || [];%>
        <div class="_tagsCellWrap <%= (lead.tags.length >= 5) ? '_showLess' : '' %>">

            <%lead.tags.forEach(function (tag){%>
            <span data-id="<%=tag._id%>" data-color="<%=tag.color%>" class="_tagSmall"><%=tag.name%></span>
            <%});%>

            <% if (lead.tags.length >= 5) { %>
            <span class="_showMoreTagsBtn">...show more</span>
            <% } %>
        </div>
    </td>
    <td class="_priorityCell">
        <div class="<%=lead.priority%>"></div>
    </td>
    <!--<td><%= lead.contactName || ''%></td>-->
    <!--    <td><%=lead.email%></td>-->
    <!-- <td><%=lead.social.LI%></td>
     <td><%=lead.address.country%></td>-->
    <% if (lead.source === 'source') { %>
    <td>not selected</td>
    <% } else { %>
    <td><%=lead.source%></td>
    <% } %>
    <td id='<%=lead._id%>'
        class="<%= (lead.workflow && lead.workflow.name === 'Cancelled') ? 'cancelled' : ''%>">
        <div class="_newSelectListWrap">
            <a href="javascript:;" class="stageSelect blue"><%= (lead.workflow ) ? lead.workflow.name : ''%></a>
        </div>
    </td>
    <td><%=lead.salesPerson && lead.salesPerson.name ? lead.salesPerson.name: ''%></td>
    <td><%=(lead.editedBy&&lead.editedBy.date)?( lead.editedBy.date + ((lead.editedBy.user) ?(' (' +
        lead.editedBy.user + ')') : '')):''%>
    </td>
</tr>
<% }) %>
