<div>
    <div id="searchContainer"></div>
    <table class="list task-list">
        <thead>
        <tr>
            <th class="centerCell"><input type="checkbox" id="check_all"/></th>
            <th class="centerCell">N</th>
            <th class="oe_sortable" data-sort="name">Subject<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="contactName.last">Contact Name<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="email">Email<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="phones.phone">Phone<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="campaign">Campaign<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="source">Source<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="workflow">Stage<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="createdBy.date">Created By<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable sortDn" data-sort="editedBy.date">Edited By<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>
