<div id="searchContainer"></div>
<div class="_tableLeadsWrap customScroll">
    <table class="list stripedList">
        <colgroup>
            <col width="42px">
            <col width="24%">
            <col width="12%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="12%">
            <col width="22%">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell">
                <label class="_customCHeckbox">
                    <input type="checkbox" id="checkAll"/>
                    <span></span>
                </label>
            </th>
            <th class="oe_sortable" data-sort="name">Contact Name<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th>Tags</th>
            <th class="oe_sortable" data-sort="priority">Priority<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <!-- <th class="oe_sortable" data-sort="contactName">Contact Name<span class="arrow down"></span><span
                     class="arrow up"></span></th>-->
            <!--            <th class="oe_sortable" data-sort="email">Email<span class="arrow down"></span><span
                                class="arrow up"></span></th>-->
            <!-- <th class="oe_sortable" data-sort="social.LI">Linkedin<span class="arrow down"></span><span
                     class="arrow up"></span></th>
             <th class="oe_sortable" data-sort="address.country">Country<span class="arrow down"></span><span
                     class="arrow up"></span></th>-->
            <th class="oe_sortable" data-sort="source">Source<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="workflow.name">Stage<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="salesPerson.name">Assigned To<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable sortDn" data-sort="editedBy.date">Date Edited<span class="arrow down"></span><span
                    class="arrow up"></span></th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>