.propertyBox {
  display: table;

  .propertyImg,
  .propertyBody {
    display: table-cell;
    vertical-align: middle;
  }

  .propertyImg {
    width: 40px;
  }

  .propertyBody {

  }

  .propertyFullName {
    display: block;
  }
}