.propertyContainer {
  padding: 20px;
}

.propertyBox {
  position: relative;
  display: table;
  border: 1px solid @lightgrey;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;

  .propertyImg,
  .propertyBody {
    display: table-cell;
    vertical-align: top;
  }

  .removeProperty {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    padding-top: 3px;
    text-align: center;
    font-size: 12px;
    color: @lightgrey;
  }

  .propertyImg {
    width: 40px;

    img {
      width: 100%;
    }
  }

  .propertyBody {
    padding-left: 15px;
  }

  .propertyFullName {
    display: block;
    margin-bottom: 10px;
  }
}

.propertyFormList {
  display: table;
  width: 100%;

  label,
  .inputBox {
    display: table-cell !important;
  }
  
  label {
    width: 140px !important;
    text-align: right;
    padding-right: 15px;
  }

  .inputBox {
    input:not([type=checkbox]) {
      border: none ;
      border-bottom: 1px solid @lightgrey;
      outline: none;
      width: 100%;
      padding: 6px 12px;

      &:focus {
        background: @lightgray-2;
        border: none ;
        border-bottom: 1px solid @lightgrey;
      }
    }
  }
}

.propertySubmit {
  text-align: center;
  margin-top: 20px;
  
  a {
    &:hover {
      text-decoration: none;
    }
  }
}