.collapsed {

  .side_menu {
    width: 40px !important;
    margin-right: -100%;

    .sidebar_toggler {
      &:before {
        content: "\f105";
      }
    }

    .login_panel {
      .user_name {
        display: none !important;
      }
      .dropdown-button {
        .login_list {
          top: 20%;
          left: 100%;
          margin-left: 5px;
          width: 150px;

        }
        &:hover {
          .login_list {
            display: block;
          }
        }
      }

    }

    .logo {
      display: none;
    }

    nav {
      width: auto !important;
      >ul {
        height: auto;
      }
    }

    .root {
      position: relative;
      >ul {
        display: none;
      }
      >a {
        display: none !important;
      }
      &:hover {
        >ul {
          display: block;
          position: absolute;
          top: 0;
          left: 100%;
          width: 150px;
          margin-left: 5px;
          li {
            &:first-child {
              margin-left: -5px;
              padding-right: 5px;
            }
          }
        }
      }
      &.opened {
        height: 35px !important;
        >ul {
          display: none;
        }
        &:hover {
          >ul {
            display: block;
            position: absolute;
            top: 0;
            left: 100%;
            width: 150px;
          }
        }
      }
    }
  }

  .content_wrapper {
    .content-holder, .top-bar {
      margin-left: 45px;
    }
  }
}