.collapsed {

  .mainmenu_holder {
    .logo {
      width: 40px;
      text-align: center;
    }
    a {
      display: none;
      padding: 0;
    }
  }

  .side_menu {
    width: 40px !important;
    margin-right: -100%;
    nav {
      width: auto !important;
      >ul {
        height: auto;
      }
    }

    .root {
      position: relative;
      >ul {
        display: none;
      }
      >a {
        display: none !important;
      }
      &:hover {
        >ul {
          display: block;
          position: absolute;
          top: 0;
          left: 100%;
          width: 150px;
          margin-left: 10px;
          li {
            &:first-child {
              margin-left: -10px;
              padding-right: 10px;
            }
          }
        }
      }
      &.active {
        height: 30px !important;
        >ul {
          display: none;
        }
        &:hover {
          >ul {
            display: block;
            position: absolute;
            top: 0;
            left: 100%;
            width: 150px;
            margin-left: 10px;
            li {
              &:first-child {
                margin-left: -10px;
                padding-right: 10px;
              }
            }
          }
        }
      }
    }
  }

  .content_wrapper {
    .content-holder, .top-bar {
      margin-left: 45px;
    }
  }
}