@extra-large-screen: 1300px;
.holidays.projectTimeCardCustomList {
  left: 50%;
  width: 415px !important;
  margin-top: -31px;
  margin-bottom: 10px;
  margin-left: -180px;
}

#searchContainer.projectTimeCardCustomSearch {
  top: -32px;
  margin-right: 23px;
  width: 20%;
}

@media screen and (max-width: @extra-large-screen) {
  .holidays.projectTimeCardCustomList {
    margin-top: 15px;
    margin-left: -207px;
  }
}