.btn-list {
  height: 24px;
  border: 1px solid #7f7f80; //@thin-border @border-color-main;
  float: left;
  margin: 0 12px 0 5px;

  .defaultBorRad;

  li {
    padding: 3px;
    margin: 0;
    display: block;
    float: left;
    height: 23px;
    width: 24px;

    &:nth-child(n+2) {
      border-left: 1px solid #7f7f80; //@thin-border @border-color-main;
    }

    a {
      display: block;
      text-align: center;
      &.fa {
        line-height: 18px;
        font-size: 16px !important;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }

  .selected {
    color: #3e88b9;//@selected-filters-color;
    a {
      color: white;
    }
  }
}