.login {

  &Wrapper {

  }

  &Container {

  }

  &Content {
    padding: 0 80px;
  }
}

input {
  &:not([type="checkbox"]) {
    &.inputField {
      height: 34px;
      width: 100%;
      padding: 10px 0;
      border: 0;
      border-bottom: 1px solid #a0a9b4;
      color: #868e97;
      font-size: 14px;
      margin-bottom: 30px;

      outline: 0 !important;
      box-shadow: none !important;
    }
  }
}