.pagination {
  width: 100%;
  margin: 5px 0;
  float: right;

  & > div {
    float: left;
    //color: @mainText-color;
    padding: 0 5px;
    //box-sizing: border-box;
  }

  .countOnPage {
    .clearfix;
    //text-align: left;
    & > div {
      float: left;
    }
    span {
      padding: 1px 3px;
    }
    .page-list {
      padding: 1px 3px;
      a {
        display: block;
        float: left;
      }
    }//cant find in templates
  }

  .pageList {
    position: relative;
    .itemsNumber {
      text-decoration: none;
      display: inline-block;
      padding: 0 5px;
      &:hover {
        padding-bottom: 4px;
        border-bottom: 1px solid @border-color-main;
      }
    }
    a.selectedItemsNumber {
      border-bottom: 1px solid @border-color-main;
      padding-bottom: 4px;
    }
    button {
      background-color: white;
      background-image: none;
      border-radius: 0;
      width: 27px;
      margin: 0 0 0 5px;
      line-height: 10px;
      font-size: 12px;
      padding: 3px 2px;
      &:hover {
        background-color: #F7F8F9;
      }
    }
  }//cant find in templates


  .nextPrev {
    float: right;
    //text-align: right;
    div, button {
      float: left;
      line-height: 20px;
    }
    span {
      padding: 0 3px;
    }
    #firstShowPage, #lastShowPage,
    #previousPage, #nextPage, .currentPageList, #currentShowPage {
      border: @thin-border @pagination-border;
      background: transparent;
      line-height: 14px;
      font-size: 15px;
      width: 20px;
      height: 20px;
      display: block;
      text-align: center;
      padding: 2px;
      &:hover {
        color: lighten(@mainText-color, 50%);
      }
      &[disabled] {
        color: lighten(@mainText-color, 50%);
        border-color: @pagination-border-disabled;
        cursor: default;
      }
    }

    #currentShowPage {
      width: 30px;
      margin: 0 -2px 0 5px;
      font-size: 12px;
      color: @mainText-color !important;
      &:focus {
        .box-shadow(0, 0, 5px, @border-color-selected);
        outline: medium none;
        //border: @thin-border @pagination-border !important;
      }
    }

    #firstShowPage, #lastShowPage {
      width: 30px;
    }
    #previousPage, #nextPage {
      margin: 0 3px;
    }
    .currentPageList {
      margin: 0 5px;
    }

    .allPage {
      position: relative;
    }
    ul {
      background-color: @bg-main-menu;
      border: @thin-border @pagination-border;
      position: absolute;
      bottom: 23px;
      left: 5px;
      display: none;
      font-size: 12px;
      li {
        a {
          display: block;
          width: 22px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          &:hover {
            background-color: @bg-main-menu-selected;
            color: white;
            text-decoration: none;
          }
        }
      }
    }

    #pageList {
      background-color: @pagination-bg;
      border: @thin-border @pagination-border;
      border-bottom-color: transparent;
      position: absolute;
      bottom: 100%;
      left: 5px;
      display: none;
      li {
        display: block;
        width: 18px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        font-size: 12px;
        cursor: pointer;
        &:hover {
          background-color: @bg-main-menu-selected;
          color: white;
          text-decoration: none;
        }
      }
    }
  }

}