.btn {
  border: @thin-border #c8c8d3;
  margin: 0;
  padding: .4em 1em;
  line-height: normal;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  outline: none;
  background: @bg-main;
  span, a {
    padding: 0 !important;
    color: @mainText-color;
  }

  &:hover {
    cursor: pointer;
    background-position: 0;
    background: @btn-main-color;
    text-decoration: none;
    span, a {
      color: @btn-color-hover;
    }
  }

  &.btnRounded {
    border-radius: 3px;
  }

  &.btnBlue {
    background-color: #7eadcc;
    color: #fff;
    .defaultBorRad;

    &:hover {
      background-color: #7eadcc;
    }
  }
}

.editorTab {
  .btn {
    min-width: 66px;
  }
}


.btnAttention {
  border-color: @btnAttentionColor;
  &:hover {
    background: @btnAttentionColor;
    span, a {
      color: @mainText-color;
    }
  }
}

.btnSuccess {
  border-color: @btnSuccessColor;
  &:hover {
    background: @btnSuccessColor;
    span, a {
      color: @mainText-color;
    }
  }
}

.btnSave {
  background: @btnSaveBgColor;
  color: @white;
  border-color: transparent;

  span,
  a {
    color: @white;
  }

  &:hover {
    background: @btnSaveBgColorHover;

    span,
    a {
      color: @white;
    }
  }
}