.sideMenu {
  display: block;
  width: auto;
  max-width: 235px;
  height: 100%;
  float: left;
  margin-right: -100%;
}

.content_wrapper {
  width: 100%;
  display: block;
  float: left;

  .content-holder {
    margin-left: 200px;
  }

  .top-bar {
    margin-left: 220px;
  }
}


