<% invoiceCollection.forEach(function(invoice, index){ %>
<tr data-id="<%=invoice._id%>">
    <td class="notForm centerCell"><input type="checkbox" value="<%=invoice._id%>" class="checkbox <%=invoice.removable ? '' : 'notRemovable'%>"/>
<td><%=invoice.paymentDate%></td>
<td><%=invoice.dueDate%></td>
<td><%=invoice.name%></td>
    <%var currencyClassVal;%>
    <%currencyClassVal = currencyClass(invoice.currency._id)%>
<td class="balance <%=currencyClassVal%>"><%=currencySplitter(invoice.paymentInfo.balance)%></td>
<td class="paid <%=currencyClassVal%>"><%=(invoice.paymentInfo) ? currencySplitter(invoice.paymentInfo.paid) : '0.00'%></td>
<td class="total <%=currencyClassVal%>"><%=(invoice.paymentInfo) ? currencySplitter(invoice.paymentInfo.total) : '0.00'%></td>
<td id='<%=invoice._id%>'>
    <%if(invoice.workflow){%>
    <%if(invoice.workflow.status !== 'Done'){%>
    <span class="<%=invoice.workflow.status.toLowerCase().replace(' ', '')%>"><%=invoice.workflow.name%></span>
    <% } else {%>
    <span class="done"><%=invoice.workflow.name%></span>
    <%}%>
    <% } else {%>
    <span> </span>
    <%}%>
</td>
<td><%=invoice.invoiceDate%></td>
</tr>
<% }) %>
