<div>
    <table class="vacation-list">
        <colgroup id="columnForDays">
        </colgroup>

        <thead>
        <tr>
            <th colspan="2" rowspan="2">
                <a id="monthSelect" class="current-selected" href="javascript:;">May</a>
            </th>
            <th class="subHeaderHolder">
                Dates Of Absence
            </th>
            <th rowspan="2">
                <a id="yearSelect" class="current-selected" href="javascript:;">2015</a>
            </th>
        </tr>
        <tr class="subHeaderHolder">
        </tr>
        <tr class="subHeaderHolder">
        </tr>
        </thead>

        <tbody id="listTable"></tbody>
        <tfoot id="listTotal"></tfoot>
    </table>
</div>
