<div>
    <table class="vacation-list">
        <col width="5%">
        <col width="5%">
        <col width="75%">
        <col width="5%">

        <thead>
        <tr>
            <th colspan="2">
                <a id="monthSelect" class="current-selected" href="javascript:;">May</a>
            </th>
            <th id="subHeaderHolder" rowspan="2">

            </th>
            <th>
                <a id="yearSelect" class="current-selected" href="javascript:;">2015</a>
            </th>
        </tr>
        <tr>
            <th class="oe_sortable" data-sort="employee.name">Employee Name</th>
            <th>Department</th>
            <th>Total Days</th>
        </tr>
        </thead>

        <tbody id="listTable"></tbody>
        <tfoot id="listTotal"></tfoot>
    </table>
</div>
