<div>
    <table class="list vacation-list">
        <col width="5%">
        <col width="5%">
        <col width="75%">
        <col width="5%">

        <thead>
        <tr>
            <th colspan="2">
                <a id="monthSelect" class="current-selected" href="javascript:;">Select</a>
            </th>
            <th rowspan="2">
                <table class="list subVacationHeader-list">
                    <thead>
                        <tr>
                            <th colspan="<%=daysNameArray.length%>" >Something</th>
                        </tr>
                        <tr>
                            <%for (var i = 0; i <= daysNameArray.length - 1; i++) {%>
                                <th><%=daysNameArray[i]%></th>
                            <%}%>
                        </tr>
                        <tr>
                            <%for (var i = 1; i <= daysNameArray.length; i++) {%>
                                <th><%=i%></th>
                            <%}%>
                        </tr>
                    </thead>
                </table>
            </th>
            <th>
                <a id="yearSelect" class="current-selected" href="javascript:;">Select</a>
            </th>
        </tr>
        <tr>
            <th class="oe_sortable" data-sort="employee.name">Employee Name</th>
            <th>Department</th>
            <th>Total Days</th>
        </tr>
        </thead>

        <tbody id="listTable"></tbody>
        <tfoot id="listTotal"></tfoot>
    </table>
</div>
