<% bonusTypeCollection.forEach(function(bonusType, index){ %>
<tr  data-id="<%=bonusType._id%>">
    <td class = "notForm"><input type="checkbox" value="<%=bonusType._id%>" class="checkbox" /></td>

    <td data-content="number"><%=startNumber + index +1 %></td>
    <td data-content="name"><%=bonusType.name%></td>
    <td data-content="type"><%=bonusType.type%></td>
    <td data-content="value"><%=bonusType.value%></td>
    <td data-content="isPercent"><input type="checkbox" value="<%=bonusType.isPercent%>" class="checkbox2" name="checkbox2"/></td>
</tr>
<% }) %>