<% bonusTypeCollection.forEach(function(bonusType, index){ %>
<tr data-id="<%=bonusType._id%>">
    <td class="notForm"><input type="checkbox" value="<%=bonusType._id%>" class="checkbox"/></td>

    <td data-type="input" data-content="number"><%=startNumber + index +1 %></td>
    <td data-type="input" data-content="name" class="editable"><%=bonusType.name%></td>
    <td data-content="bonusType" class="editable"><%=bonusType.bonusType%></td>
    <td data-type="input" data-content="value" class="editable"><%=bonusType.value%></td>
    <td data-type="input" data-content="isPercent" class="editable"><%=bonusType.isPercent%></td>
</tr>
<% }) %>

