<% invoiceCollection.forEach(function(invoice, index){ %>
<% var overdue = 0%>
<% if(invoice.workflow && (invoice.workflow.status === 'Done')){ %>
<% overdue = new Date(invoice.paymentDate) - new Date(invoice.dueDate) %>
<% } else if (invoice.paymentInfo && invoice.paymentInfo.balance > 0){ %>
<% overdue = new Date() - new Date(invoice.dueDate) %>
<% } %>
<tr data-id="<%=invoice._id%>">
    <td class="notForm centerCell"><input type="checkbox" value="<%=invoice._id%>" class="checkbox <%if (invoice.workflow && invoice.workflow.status !== 'New') { %>
                notRemovable
                <% } %>"  <%if (invoice.workflow && invoice.workflow.status !== 'New') { %>
        disabled='disabled'
        <% } %>/>
<td><%=(invoice.supplier && invoice.supplier.name) ? invoice.supplier.name.first + ' ' + invoice.supplier.name.last:
    ''%>
</td>
<td><%=invoice.name%></td>
<td><%=invoice.paymentDate%></td>
<td><%=(invoice.salesPerson && invoice.salesPerson.name) ? invoice.salesPerson.name.first + ' ' + invoice.salesPerson.name.last : ''%></td>
<td><% if (overdue > 0) {%>
     <span class="red"><%=Math.ceil(overdue / (1000 * 3600 * 24)) + " days"%></span>
     <% } else {%>
     <span><%= invoice.dueDate%></span>
     <%}%>
</td>
<td class="balance"><%=(invoice.currency && invoice.currency._id ? invoice.currency._id.symbol : '') + (invoice.workflow.name.toLowerCase() !== 'cancelled' ? currencySplitter(invoice.paymentInfo.balance) : '0.00')%></td>
<td class="paid"><%=(invoice.currency && invoice.currency._id ? invoice.currency._id.symbol : '') + ((invoice.paymentInfo) ? currencySplitter(invoice.paymentInfo.paid) : '0.00')%></td>
<td class="total"><%=(invoice.currency && invoice.currency._id ? invoice.currency._id.symbol : '') + ((invoice.paymentInfo) ? currencySplitter(invoice.paymentInfo.total) : '0.00')%></td>
<td class="centerCell" id='<%=invoice._id%>'>
    <%if(invoice.workflow){%>
        <%if(invoice.workflow.status === 'In Progress'){%>
            <span class="<%=invoice.workflow.status.toLowerCase().replace(' ', '')%>"><%=invoice.workflow.name%></span>
        <% } else if (invoice.workflow.status === 'New') {%>
            <span class="<%=invoice.workflow.name.toLowerCase()%>"><%= invoice.approved ? invoice.workflow.name : 'Not Approved' %></span>
        <% } else { %>
            <span class="<%=invoice.workflow.name.toLowerCase()%>"><%=invoice.workflow.name%></span>
        <%}%>
    <% } else {%>
        <span> </span>
    <%}%>

</td>
<td><%=invoice.invoiceDate%></td>
<!--<td class="validated"><a href="javascript:;" class="selectList <%=invoice.validated%>"><%=invoice.validated%></a>-->
<!--<ul class="newSelectList" style="display: none;">-->
<!--<li>Draft</li>-->
<!--<li>Done</li>-->
<!--</ul>-->
<!--</td>-->

</tr>
<% }) %>
