<div id="searchContainer"></div>
<div>
    <table class="list task-list withCheckbox dashboardssCheckbox">
        <thead>
        <tr>
            <th class=""><input type="checkbox" id="checkAll"/></th>
            <th class="oe_sortable" data-sort="name">Name<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="name">Description<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable sortDn" data-sort="created">Size<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable sortDn" data-sort="created">Created<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>