._accountingWrap {
  display: flex;
  height: 100%;
  border-top: 1px solid #c7c6c7;
  &.accounting {
    overflow: auto;
  }
}
._acountingListWrap {
  width: 250px;
  border-right: 1px solid #c7c6c7;
  flex-shrink: 0;
}

._acountingList {
  margin: 10px 0;

  ._acountingListItem {
    width: 100%;
    padding: 6px 20px;
    background-color: #fff;
    color: #333;
    font-size: 15px;
    
    &.active {
      background-color: #7eadcc;
      color: #fff;

      > a {
        color: #fff;
      }
    }

    > a {
      &:hover {
        text-decoration: none;
      }
    }
  }
}

._acountingTableWrap,
._chartsTableWrap {
  display: flex;
  flex-direction: column;
  height: 100%;

  #groupList,
  .grouplist {
    .content {
      border: 1px solid #d7d7d7;
    }
    li .text {
      width: 100%;
    }
  }
}

._chartsTableWrap {
  .btn.item {
    width: auto;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;


    &:before {
      color: #000;
    }
    &.active:before {
      color: #fff;
    }
  }

  ._filterDropDownWrap {
    margin-right: 10px;
    float: right;
  }
}

._acountingTitleBlock {

  > .btnPositioned {
    position: absolute;
    top: 8px;
    right: 10px;
    margin-top: 0;
  }

  &._forOverview {
    height: auto;
  }

  #dateFilter {
    margin-top: 5px;
    float: left;
  }
}

._acountingTitle {
  color: #333;
  font-size: 26px;
  font-family: $light-font-family;
}


.currencyRatesDesc {
  p + p {
    margin-top: 15px;
  }
}