._accountingWrap {
  display: flex;
  height: 100%;
  border-top: 1px solid #c7c6c7;
}
._acountingListWrap {
  width: 250px;
  border-right: 1px solid #c7c6c7;
  flex-shrink: 0;
}

._acountingList {
  margin: 10px 0;

  ._acountingListItem {
    width: 100%;
    padding: 6px 20px;
    background-color: #fff;
    color: #333;
    font-size: 15px;
    
    &.active {
      background-color: #7eadcc;
      color: #fff;

      > a {
        color: #fff;
      }
    }

    > a {
      &:hover {
        text-decoration: none;
      }
    }
  }
}

._acountingTableWrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

._acountingTitleBlock {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0 30px;
  border-bottom: 1px solid #d7d7d7;
}

._acountingTitle {
  color: #333;
  font-size: 26px;
  font-family: $light-font-family;
}

//._acountingTableBlock {
//  flex-grow: 1;
//  overflow: auto;
//
//  .list {
//    thead {
//      tr {
//        background-color: #f7f7f7;
//        border-top: 0;
//      }
//    }
//
//    tr {
//      &:hover {
//        .goToEdit,
//        .goToRemove {
//          visibility: visible;
//        }
//      }
//
//      td, th {
//        overflow: hidden;
//        text-align: left;
//
//        &:first-child {
//          padding-left: 30px;
//        }
//      }
//    }
//
//    .goToEdit,
//    .goToRemove {
//      visibility: hidden;
//    }
//
//  }
//}

//._currencyTable,
//._paymentTable,
//._acountingTable {
//  .goToEdit,
//  .goToRemove {
//    visibility: hidden;
//  }
//
//  tr {
//    &:hover {
//      .goToEdit,
//      .goToRemove {
//        visibility: visible;
//      }
//    }
//  }
//}
//
//._acountingTable {
//  td {
//    overflow: hidden;
//  }
//}