//----------------------------------------------
* html .ui-autocomplete {
  width: 1px;
}

#searchGlobalContainer {
  position: relative;
  display: flex;
  height: 26px;
  border: 1px solid #7f7f80;
  border-radius: 3px;
  padding-left: 26px;
  padding-right: 26px;
}


#searchFilterContainer {
  height: 24px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.ui-autocomplete {
  width: 100% !important;
  position: absolute;
  top: 28px !important;
  left: 0 !important;
  cursor: default;
}

.ui-menu {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;

  .ui-menu-item {
    width: 100%;
    line-height: 18px;
    margin: 0;
    padding: 0;
    zoom: 1;
    clear: left;
    float: left;

    a {
      display: block;
      padding: .2em .4em;
      text-decoration: none;
    }
  }

  > .ui-autocomplete-category {
    width: 100%;
    border: 1px solid #7f7f80;//@border-color-main;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    float: left;

    &:nth-child(n+2) {
      border-top: none;
    }

    .searchGroupDropDown {
      width: 14px;
      height: 14px;
      line-height: 1;
      padding: 3px 0 3px 2px;
      cursor: pointer;
      top: 0;
      left: 0;
      float: left;

      &:before {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 2px;
        vertical-align: middle;
        border-top: 4px solid;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
      }
    }

    .searchGroupResult {
      display: block;
      line-height: 20px;
      width: 100%;
    }

    .ui-widget-content {
      display: block;
      width: 100%;
      max-height: 143px;
      border: none;
      border-top: 1px solid #7f7f80;//@border-color-main;
      overflow: auto;
      float: left;

      > li {
        line-height: 20px;
        padding-left: 25px;
      }
    }
  }
}

.ui-autocomplete-input {
  min-width: 45px;
  height: 24px;
  margin: 0 5px;
  line-height: 24px;
  cursor: pointer;

  &:empty:not(:focus):before {
    content: attr(data-text)
  }
}

.ui-helper-hidden-accessible {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.ui-widget-content {
  background-color:#ffffff;// @bg-main;
  color: #000000;// @mainText-color;
}

.search-input {
  border: none !important;
  padding: 0 !important;
  outline: none;
  outline-offset: 0;
}

.search-button {
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: -10px;
}

.search-options {
  position: absolute;
  top: calc(100% - 1px);
  right: 0;
  z-index: 1;
  width: 280px;
  background-color: $bg-main;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
  0 2px 10px 0 rgba(0, 0, 0, 0.12);

  .filter-dialog-tabs {
    display: flex;
    position: relative;
    border: 1px solid $border-color-main;
    border-bottom: 0;

    .filterTabs {
      width: 100%;
      border-radius: 0;
      background: #f3f3f3;
      color: #364150;
      font-family: $semibold-font-family;
      text-align: center;
      line-height: 27px;
      border-bottom: 1px solid #7f7f80;
      cursor: pointer;
      user-select: none;
      @include rem('font-size', 13px);

      &.active {
        border-bottom-color: transparent;
        background-color: #fff;
        color: #4d8ab3;
      }

      &:nth-child(2) {
        border-left: 1px solid #7f7f80;
      }
    }
  }

  .drop-down-filter {
    border-top: 0;
  }

  .filter-check-list {
    top: calc(100% - 1px);
    right: auto;
    left: 0;
  }
}
