.collapsed {

  .sideMenu {
    width: 40px !important;
    margin-right: -100%;

    .sidebarToggler {
      &:before {
        transform: rotate(180deg) translate(75%, 50%);
      }
    }

    .loginPanel {
      .userName {
        display: none !important;
      }

      .dropdownButton {
        .loginList {
          top: 15%;
          left: 100%;
          width: 150px;
          margin-left: 1px;

          li {
            &:first-child {
              margin-left: -1px;
              padding-right: 1px;
            }
          }

          &.opened {
            display: none;

            &:hover {
              display: block;
            }
          }
        }

        &:hover {
          .login_list {
            display: block;
          }
        }
      }
    }

    .logo {
      display: none;
    }

    nav {
      width: auto !important;

      .menuList {
        width: auto;
      }

      > ul {
        height: auto;
      }

      .root {
        &.active {
          &:after {
            display: none;
          }
        }
      }
    }

    .root {
      position: relative;

      &.opened {
        height: 40px !important;

        .subMenuList {
          display: none;
        }

        &:hover {
          .subMenuList {
            display: block;
          }
        }
      }

      ul {
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        padding: 0;
        width: 160px;
        border-left: 1px solid #fff;

        li {
          height: 40px;

          &:first-child {
            display: block;
            margin-top: 0!important;
            background-color: #2C3542;
          }

          .subItem {
            padding-left: 20px;
            line-height: 40px;
          }
        }
      }

      > a {
        display: none !important;
      }

      &:before {
        display: none;
      }

      &:hover {

        .subMenuList {
          display: block;

          li {
            &:first-child {
              width: calc(100% + 1px);
              margin-left: -1px;
            }
          }
        }
      }

      &.active {
        .subMenuList {
          li {
            &:first-child {
              background-color: #7eadcc;//@submenu-opened;
              a {
                color:#fff;// @submenu-active-text-color;
              }
            }
          }
        }
      }
    }
  }

  //.content_wrapper {
  //  width: calc(100% - 40px);
  //}

  .topbarLogo {
    width: auto;
    padding-right: 0;
    padding-left: 0;

    .mainLogo {
      display: none;
    }

    .sidebarToggler {
      margin-left: 10px;
    }
  }

  .grid-conatiner {
    .statisticsAtten {
      &.stick {
        width: calc(100% - 40px);
      }
    }
  }

  .mCustomScrollBox,
  .mCSB_container {
    overflow: visible;
  }
}