.col1-4 {
  width: 25%;
}

.col1-3 {
  width: 33%;
}

.col4-10 {
  width: 40%;
}

.col6-10 {
  width: 60%;
}

.newTasksContainer {
  padding-top: 30px !important;

  .taskTop {
    display: flex;

    .editTags {
      padding: 0 5px;
      height: 20px;
      line-height: 18px;
      color: #fff;
      font-size: 13px;
      border-radius: 3px;
      float: right;
    }
  }

  .taskTitle {
    padding-left: 26px;
    margin-bottom: 25px;
    font-size: 23px;
    text-align: right;
  }

  .taskTop,
  .taskBottom {
    margin-bottom: 25px;
    border-bottom: 1px solid $tasks-border-color;
    font-size: 0;
  }

  .taskBottom {
    border-top: 1px solid $tasks-border-color;
    margin-top: 30px;


    .hasDatepicker,
    .current-selected {
      text-align: center;

    }
  }

  .taskTop {
    .hasDatepicker,
    .current-selected {
      padding-left: 10px;
    }
  }

  .topCell {
    display: inline-block;
    vertical-align: middle;
    padding: 15px;
    font-size: 14px;

    & + .topCell {
      border-left: 1px solid $tasks-border-color;
    }

    .hasDatepicker,
    .current-selected {
      height: 40px;
      width: 100%;
      border: 1px solid $tasks-border-color;
      margin-top: 10px;
      display: block;
      line-height: 38px !important;
      cursor: pointer;
      color: $black;
      border-radius: 3px;

      i {
        margin-right: 5px;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  .textarea-wrapper {
    textarea {
      padding: 15px;
    }
  }

  .showSelect {
    position: relative;
    width: 100%;
    margin-top: 10px;

    .imgContainer,
    .bodyContainer {
      display: table-cell;
      vertical-align: middle;
      font-size: 14px;
    }

    .imgContainer {
      max-width: 55px;

      img {
        width: 40px;
        margin-right: 15px;
      }

      & + .bodyContainer {
        span {
          display: block;
          width: 90px;
          overflow: hidden;
          padding: 2px 0;
        }
      }
    }

    .bodyContainer {
      padding-right: 5px;
    }

    .removeSelect {
      position: absolute;
      right: -15px;
      top: 50%;
      width: 25px;
      height: 25px;
      border: none;
      padding: 3px !important;
      line-height: 13px !important;
      transform: translate(0, -50%);
      background: none;

      &:hover {
        background: none;
        color: $remove-select-color-hover;
      }
    }
  }
}

.ui-dialog-buttonset {
  border: none;
  border-top: 1px solid #7eadcc;
  padding-top: 10px;
  float: none;

  .btn + .btn {
    margin-left: 10px;
  }
}

.task-content {
  padding: 5px;
  color: $black;

  .info {
    margin-bottom: 10px;
  }

  .taskContentTitle {
    margin-bottom: 5px;
  }

  .dateLabel {
    font-size: 13px;
    font-weight: bold;
  }
}

.tasksItemList {
  margin-top: 9px;
}

.tasksItemIcon {
  display: inline-block;
  vertical-align: middle;
  color: $tasks-item-color;

  & + .tasksItemIcon {
    margin-left: 8px;
  }

  img {
    width: 20px;
  }
}

.tabListWrap {
  display: flex;
  padding: 0 10px 10px;

  .tabListItem {
    position: relative;
    padding: 11px 15px;
    margin: 0;
    text-align: center;
    font-size: 11px;
    cursor: pointer;
    overflow: visible;
    background: $tasks-item-bg;
    flex-grow: 1;
    width: 10px;
    white-space: nowrap;

    &.active {
      background: #7eadcc;

      span {
        color: $tab-list-color-active;
      }

      &:after {
        border-left-color: #7eadcc;
      }
    }

    & + .tabListItem {
      padding-left: 33px;
    }

    &.passed {
      background: $passed-bg;

      &:after {
        border-left-color: $passed-bg;
      }

      span {
        color:  $tab-list-color-active;
      }
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
    }

    &:before {
      top: -4px;
      right: -21px;
      border-top: 21px solid transparent;
      border-bottom: 21px solid transparent;
      border-left: 22px solid $white;
      z-index: 1;
    }

    &:after {
      top: 0;
      right: -15px;
      border-top: 17px solid transparent;
      border-bottom: 17px solid transparent;
      border-left: 18px solid $tasks-border-color;
      z-index: 2;
    }

    span {
      @extend %text-overflow;
      display: block;
      text-transform: uppercase;
      font-size: 12px;
      color: $tab-list-color;
    }

    &:first-child {
      border-radius: 3px 0 0 3px;
    }

    &:last-child {
      border-radius: 0 3px 3px 0;

      &:before,
      &:after {
        content: none;
      }
    }
  }
}