.dropDownDateRangeContainer {
  width: 110px;
  height: 35px;
  float: right;
  position: relative;
}

.dashBoardVocationSearch {
  margin-top: 7px !important;
}

.choseDateRange.dropDownDateRange {
  display: flex;
  flex-direction: column;
  height: 22px;
  width: 110px;
  padding: 0;
  margin-right: 0;
  border: 1px solid $property-box-border-color;
  background: $white;
  overflow: hidden;
  position: absolute;

  &.open {
    height: auto;
    z-index: 11;

    .selectArrow {
      transform: rotate(180deg);
    }
  }

  .item {
    height: 22px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    border: none;
    text-align: center;
    background: none;
    white-space: nowrap;
    order: 1;
    float: none;

    &:hover {
      background-color: #fafafa;
    }

    &.active {
      order: 0;
      background: none;
      color: $black;
    }
  }

  .selectArrow {
    height: 0;
    width: 0;
    border: {
      top: 6px solid $property-box-border-color;
      left: 4px solid transparent;
      right: 4px solid transparent;
    }
    position: absolute;
    right: 5px;
    top: 8px;
    cursor: pointer;
  }
}

.dashboardGraphicsWrap {
  .halfWidth,
  .fullWidth {
    float: left;
  }

  .halfWidth {
    width: 50%;
  }

  .fullWidth {
    width: 100%;
  }
}

._customDashboard {
  position: relative;
  min-width: 1000px;
  width: 100%;
  padding: 5px;
  background-color: #f1f1f1;
  overflow: auto;

  &InputGroup {
    padding: 0 15px;

    input {
      float: left;
      width: 200px;
      height: 25px;
      margin-top: 7px;

      & + input {
        margin-left: 15px;
      }
    }

    h3:empty {
      display: none;
    }
  }

  &.disabled {
    background-color: $white;

    ._customDashboardGrid .cell {
      box-shadow: none;
    }
  }

  .panel {
    display: inline-block;
    //min-width: 400px;
    padding-bottom: 30px;
    border: 1px solid $dashboard-panel-border;
    background-color: $white;
    box-shadow: $dashboard-cell-bigger-shadow;
    overflow: hidden;
    z-index: 1;

    &-heading {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    ._filterDropDownWrap {
      width: 200px;
      float: right;

      .dateFilter {
        text-align: right;
      }

    }

    .notResize {
      min-height: 400px !important;
      min-width: 400px !important;
    }

    .chartName {
      font-size: 16px;
      color: $dashboard-text-color;
      padding: 10px 5px;
    }

    &HeadingDescr {
      padding: 7px 5px;
      color: $dashboard-text-color;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      min-width: 100px;

      > span {
        display: block;
        font-size: 10px;

        &:first-child {
          margin-top: 10px;
        }

      }

      button {
        margin: 5px 5px;
        background-color: transparent;

        .fa {
          background-color: transparent;
          color: $dashboard-text-color;
          font-size: 16px;
        }
      }

      button + button {
        margin-right: 5px;
      }

    }

    .editChart {
      background-color: transparent !important;
      top: 0px;
      position: relative;
      line-height: 1;
      width: 20px;
      > span {
        position: absolute;
        top: 3px;
        right: 9px;
      }
    }

    .removeChart {
      background-color: transparent;
      top: 0px;
      position: relative;
      line-height: 1;
      width: 20px;
      > span {
        position: absolute;
        top: 3px;
        right: 3px;
      }
    }

    ._viewAll {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      padding: 10px 5px;
      border-top: 1px solid $dashboard-panel-border;
      text-decoration: none !important;
      text-transform: uppercase;
      color: $dashboard-text-color;;

      &:after {
        content: '\f105';
        font-family: 'erp-icons';
        right: 10px;
        font-size: 20px;
        line-height: 11px;
        position: absolute;
      }
    }

    .chartHolder {
      text {
        font-size: 10px;

        &.label {
          font-size: 16px;
        }

        &.infoLabel {
          color: $dashboard-text-color !important;
          font-size: 15px;
        }

        &._valueLabel {
          font-size: 20px;
        }

        &._label {
          font-size: 25px;
        }
      }
      ._overviewOrderWrap {
        margin-top: 30px;
      }

      ._overviewTable {
        width: calc(100% - 10px);
        margin: 0 5px;

        tbody {
          &:first-child {
            tr {
              background-color: #c6d8f5 !important;
            }
          }
          &:nth-child(odd) {
            tr {
              background-color: #f2f7fd;
            }
          }
          tr {
            background-color: transparent;
          }
        }
      }

      .revenueCountWrap {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 5px;
        word-wrap: break-word;

        > div {
          align-self: center;
          justify-content: center;
          width: 40%;
          min-width: 100px;
          height: 60px;
          text-align: right;
        }

        + ._overviewOrderWrap {
          padding: 0 5px;
          margin-top: 0;

          > ._overviewTable.stripedList {
            width: 100%;
            margin: 0;

            tr {
              border-top: 1px solid #d7dde4;
              border-bottom: 1px solid #d7dde4;
              border-left: none;
              border-right: none;

              td {
                border: none;
                background-color: #F7F7F7;
                vertical-align: top;
                word-break: inherit;
                text-align: center;
                &:hover {
                  background-color: #F7F7F7;
                }
                &:last-child {
                  .flex {
                    &:after {
                      border-right: none;
                    }
                  }
                }
                .flex {
                  flex-wrap: wrap;
                  height: 50px;
                  position: relative;

                  &:after {
                    content: '';
                    border-right: 1px solid #d7dde4;
                    position: absolute;
                    height: 100%;
                    right: -12px;
                  }
                }
                .workflowName {
                  flex-grow: 2;
                  width: 100%;
                  text-transform: uppercase;
                  align-self: center;
                  color: $dashboard-text-color;
                }

                .count {
                  display: block;
                  text-align: center;
                  align-self: flex-end;
                  width: 100%;
                }
              }
            }
          }
        }
      }

      .singleBlockWrap {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .block {
          display: inline-block;
          padding: 10px;
          margin: 5px;
          width: calc(50% - 12px);
          max-width: 200px;
          background-color: #F7F7F7;
          border: 1px solid #d7dde4;
          > span {
            text-align: right;
            line-height: 20px;
            display: block;
          }
          .blockTitle {
            font-size: 14px;
            text-transform: uppercase;
            color: $dashboard-text-color;
            + span {
              font-size: 18px;
              color: $black;
            }
          }
        }
      }
    }
  }

  &Grid {
    width: 100%;
    height: auto;

    .cell {
      height: 200px;
      background-color: $white;
      display: inline-block;
      box-shadow: $dashboard-cell-shadow;
    }
  }
}

._customDashboardActions {
  position: fixed;
  z-index: 3;
  top: 53px;
  right: 30px;

  ._filterDropDownWrap {
    margin: 3px 20px;

    > ul > li:first-child{
      text-align: center;
    }
  }
}

.revenueCountWrap {
  p {
    font-size: 18px;
    color: $black;
  }
  span {
    &._shipped {
      font-size: 18px;
    }
    &._fullfilled {
      font-size: 15px;
    }
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    color: $dashboard-text-color;
  }

  .status {
    width: 20% !important;
    min-width: 140px !important;

    &.hidden {
      display: block !important;
      visibility: hidden;
    }

    ._statusOrdersWrap {
      text-align: left;
      @extend ._statusOrders;
      display: flex;
      align-items: center;
      line-height: 20px !important;

      > span {
        width: 70px;
        font-size: 12px;
        text-align: left;
        &:first-child{
          margin-left: 0;
          margin-right: 0;
        }
      }

      ._statusOrders {
        flex-grow: 2;

        span, p {
          display: inline-block;
          font-size: 12px;
        }
        > span {
          width: 12px;
          height: 12px;
        }
      }
    }
  }
}

.chartHolder {
  ._statusOrders {
    line-height: 20px;
  }
}

