.dropDownDateRangeContainer {
  position: relative;
  width: 110px;
  height: 35px;
  float: right;
}

.choseDateRange.dropDownDateRange {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 22px;
  width: 110px;
  border: 1px solid $property-box-border-color;
  background: $white;
  padding: 1px 33px 3px 10px;
  margin-right: 0;
  overflow: hidden;

  &.open {
    height: auto;

    .selectArrow {
      transform: rotate(180deg);
    }
  }

  .item {
    padding: 0;
    float: none;
    margin-left: 0 !important;
    min-height: 20px !important;
    line-height: 18px;
    margin-bottom: 5px;
    text-align: center;
    border: none;
    background: none;
    white-space: nowrap;
    order: 1;

    &.active {
      order: 0;
      background: none;
      color: $black;
    }
  }

  .selectArrow {
    position: absolute;
    right: 10px;
    top: 8px;
    height: 0;
    width: 0;
    border-top: 5px solid $property-box-border-color;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    cursor: pointer;
  }
}