/*added 22.09 from _main.less*/

#ui-datepicker-div {
  border-radius: 0 !important;
  margin-top: 2px;
  display: none;
}


.ui-datepicker {
  padding: .2em .2em 0;
  //background-color: $bg-main;
  border: 1px solid #eee;
  box-shadow: 5px 5px rgba(102, 102, 102, 0.1);

  .ui-datepicker-header {
    .ui-datepicker-prev,
    .ui-datepicker-next {
      height: 2em;
      line-height: 2em;
      text-align: center;
      cursor: pointer;
      position: absolute;
      top: 2px;
      width: 2em;
      font-family: $icon-font;
      font-size: 14px;

      &:hover {
        text-decoration: none;
      }

      span {
        display: block;
        width: 7px;
        height: 8px;
        margin-top: -4px;
        margin-left: -3px;
        text-indent: -99999px;
        overflow: hidden;
        position: absolute;
        left: 50%;
        top: 50%;
        right: auto;
        bottom: auto;
      }
    }

    .ui-datepicker-prev {
      left: 2px;

      &:before {
        content: '\f104';
      }
    }

    .ui-datepicker-next {
      right: 2px;

      &:before {
        content: '\f105';
      }

    }

    .ui-datepicker-title {
      margin: 0 2.3em;
      line-height: 1.8em;
      text-align: center;

      select {
        width: 50%;
        border: 0;
        border-bottom: 1px solid #4d5a75;
        padding: 0 2px;

        option {
          background-color: $selected-data-color;

          &:hover {
            background-color: $selected-data-color;
          }
        }
      }
    }
  }
}

.wickedpicker {
  display: none;

  position: relative;
  padding: 4px;
  margin: 10px auto 0;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 5px 5px rgba(102,102,102,.1);
  font-size: 14px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  z-index: 1111;

  &:before,
  &:after {
    content: '';
    position: absolute;
    display: inline-block;
  }

  &:before {
    top: -7px;
    left: 9px;
    border-bottom: 7px solid rgba(0,0,0,0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
  }
  &:after {
    top: -6px;
    left: 10px;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }

  &__controls {
    margin: 0;
    line-height: normal;
  }
}

.wickedpicker__controls__control,
.wickedpicker__controls__control--separator {
  display: inline-block;
  margin: 0 auto;
  font-size: inherit;
  vertical-align: middle;
  letter-spacing: 1px;
}

.wickedpicker__controls__control-up,
.wickedpicker__controls__control-down {
  display: block;
  height: 30px;
  line-height: 30px;
  width: 30px;
  margin: 0 auto;
  border: 1px solid transparent;
  color: #34495e;
  font-size: 18px;
  font-family: $icon-font;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    background-color: #eee;
    border-color: #ddd;
    color: #34495e;
  }
}

.wickedpicker__controls__control-up:before {
  content: "\f106";
}

.wickedpicker__controls__control-down:after {
  content: "\f107";
}

.wickedpicker__controls__control--separator {
  width: 10px;
  line-height: 78px;
}

.text-center,
.wickedpicker__controls,
.wickedpicker__controls__control,
.wickedpicker__controls__control--separator,
.wickedpicker__controls__control-up,
.wickedpicker__controls__control-down {
  text-align: center;
}

.clearable-picker {
  position: relative;
  display: inline-block;
}
.clearable-picker > .hasWickedpicker {
  padding-right: 1em;
}
.clearable-picker > .hasWickedpicker::-ms-clear {
  display: none;
}
.clearable-picker > [data-clear-picker] {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-weight: bold;
  font-size: 0.8em;
  padding: 0 0.3em 0.2em;
  line-height: 1;
  color: #bababa;
  cursor: pointer; }
.clearable-picker > [data-clear-picker]:hover {
  color: #a1a1a1;
}

.ui-datepicker-buttonpane {
  text-align: center;

  .ui-priority-secondary,
  .ui-priority-primary {
    height: 24px;
    line-height: 22px;
    margin: 15px 0 10px;
    display: inline-block;
    padding: 0 12px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-size: 13px;
    user-select: none;
    border: 1px solid #c8c8d3;
    outline: 0;
    border-radius: 3px;
    min-width: 60px;
  }
  .ui-priority-primary {
    margin-left: 10px;
  }
}

.wickedpicker__title {
  text-align: center;
  margin-top: 5px;
}