._filterDropDownWrap {
  position: relative;
  height: 26px;
  width: 240px;
  z-index: 2000;

  >ul {
    position: absolute;
    width: 100%;
    background-color: #fff;
  }
  
  li {
    position: relative;
    display: block;
    line-height: 25px;
  }
}
._filterDropDownWrap {
  .dateRangeLeadsBySale {
    text-align: right;
    color: #333;
    cursor: pointer;
  }
}
._filterDropDownBody {
  width: 100%;
  padding: 14px;
  border: 1px solid #eee;
  box-shadow: 5px 5px rgba(102, 102, 102, 0.1);

  &:after {
    position: absolute;
    top: -5px;
    right: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
  }

  &:before {
    position: absolute;
    top: -6px;
    right: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #e4e4e4;
    border-left: 7px solid transparent;
    content: '';
  }

  .filterValues {
    font-size: 13px;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    color: #333;
    padding: 0 12px;
    margin-bottom: 8px;
    text-align: left;

    &:hover,
    &.checkedValue {
      background: #7eadcc;
      border: 1px solid #7eadcc;
      color: #fff;
    }
  }

  .buttons {
    width: 100%;
    background-color: #fff;
    border: 0;
    text-align: center;
  }

  .customTimeLeadsBySale {

    .customTimeItem {
      margin-bottom: 7px;

      > label {
        float: left;
        clear: both;
        line-height: 26px;
      }
      > input {
        height: 26px;
        width: 165px;
        float: right;
        cursor: pointer;
      }
      &:after {
        content: '';
        display: table;
        clear: both;
      }
    }
  }
}

// correcrions
.chartTopBox {
  ._filterDropDownWrap {
    margin-top: 9px;
  }
}