._filterDropDownWrap {


  > ul {
    position: absolute;
    background-color: #fff;
  }

  li {
    position: relative;
    display: block;
    line-height: 18px;
  }
}
._filterDropDownWrap {
  > ul {
    > li {
      &:first-child {
        text-align: right;
        color: #333;
        cursor: pointer;
        line-height: 26px;
      }
    }
  }
}

._filterDropDownBody {
  width: 100%;
  padding: 7px 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #4d4d4d;
  box-shadow: 5px 5px rgba(102, 102, 102, 0.1);

  //&:after {
  //  position: absolute;
  //  top: -5px;
  //  right: 10px;
  //  display: inline-block;
  //  border-right: 6px solid transparent;
  //  border-bottom: 6px solid #fff;
  //  border-left: 6px solid transparent;
  //  content: '';
  //}
  //
  //&:before {
  //  position: absolute;
  //  top: -6px;
  //  right: 9px;
  //  display: inline-block;
  //  border-right: 7px solid transparent;
  //  border-bottom: 7px solid #e4e4e4;
  //  border-left: 7px solid transparent;
  //  content: '';
  //}

  .listLine {
    height: 1px;
    display: block;
    background-color: #e5e5e5;
    margin: 8px 0;
  }
  
  .filterValues {
    font-size: 13px;
    padding: 3px 25px;
    text-align: left;
    white-space: nowrap;

    &:hover {
      background: #f5f5f5;
    }

    &.checkedValue {
      font-family: $semibold-font-family;
      cursor: pointer;

      &:before {
        font-family: 'FontAwesome';
        position: absolute;
        left: 6px;
        content: "\f00c";
      }
    }
  }
  #customLeadsBySale {
    &.checkedValue {
      font-family: $base-font-family;
      background-color: #fff;
      &:before {
        display: none;
      }
    }
  }

  .buttons {
    width: 100%;
    margin-top: 7px;
    background-color: #fff;
    border: 0;
    text-align: center;
  }

  .customTime {
    padding: 0 10px;
    .customTimeItem {
      position: relative;
      margin-bottom: 7px;
      color: #4d4d4d;

      &:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 10px;
        display: inline-block;
        width: 0;
        height: 0;
        border-bottom: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #4d4d4d;
      }

      > label {
        display: block;
        line-height: 26px;
        font-family: $semibold-font-family;
        text-align: left;
      }
      > input {
        height: 26px;
        width: 100%;
        border: none;
        border-bottom: 1px solid #cfcfcf;
        cursor: pointer;
      }
    }
  }
}

// correcrions
.chartTopBox {
  ._filterDropDownWrap {
    margin-top: 9px;
  }
}