.icon {
  font-size: 20px;
  font-family: $icon-font;
  text-decoration: none;
  display: block;

  &:hover {
    text-decoration: none;
  }
}

.icon-btn {
  display: block;
  text-align: center;
  cursor: pointer;
  font-weight: 100 !important;
  @extend .noPaddingMargin;
  @extend .fullsize;

  &:before {
    content: '\72';
  }

  &.project {
    font-size: 15px !important;

    &:before {
      content: '\f0c9';
    }
  }
}

.caret {
  display: inline-block;
  height: 0;
  width: 0;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  margin-left: 2px;
  vertical-align: middle;
}

.funnelIcon {
  display: inline-block;
  height: 18px;
  padding: 0 3px;
  border-right: 1px solid $border-color-main;
  background-color: $transparent;
  color: #fff;
  line-height: 20px;
  font-size: 10px;
  text-align: center;
}

//todo refactor icon
.icon-manufacturing {
  height: 38px;
  width: 39px;
  background: url("../images/svg_icons/manufacture.svg") no-repeat center;
}