.icon {
  font-size: 20px;
  font-family: $icon-font;
  text-decoration: none;
  display: block;
  //line-height: 28px;
  &:hover {
    text-decoration: none;
  }
}


.icon-btn {
  @extend .noPaddingMargin;
  @extend .fullsize;
  display: block;
  text-align: center;
  cursor: pointer;
  font-weight: 100 !important;


  &:before {
    content:'\72';
  }
  &.project {
    font-size: 15px !important;
    &:before {
      content:'\f0c9';
    }
  }
}


.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.funnelIcon {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  background-color: $transparent;
  color: #fff;
  font-size: 100%;
  line-height: 18px !important;
  width: 15px;
  text-align: center;
  margin-right: 3px;
  border-right: 1px solid $border-color-main;
}

//.btn-list {
//  height: 24px;
//  border: 1px solid #7f7f80; //@thin-border @border-color-main;
//  float: left;
//  margin: 0 12px 0 5px;
//  @extend .defaultBorRad;
//
//  li {
//    padding: 3px;
//    margin: 0;
//    display: block;
//    float: left;
//    height: 23px;
//    width: 24px;
//
//    &:nth-child(n+2) {
//      border-left: 1px solid #7f7f80; //@thin-border @border-color-main;
//    }
//
//    a {
//      display: block;
//      text-align: center;
//      &.fa {
//        line-height: 18px;
//        font-size: 16px !important;
//      }
//      &:hover {
//        text-decoration: none;
//      }
//    }
//  }
//
//  .selected {
//    color: #3e88b9;//@selected-filters-color;
//    a {
//      color: white;
//    }
//  }
//}