._importListWrap {

  ._importListHeader {

  }
  ._importListBody {

  }
  ._importListFooter {

  }
}

._contentBlock,
._tabsBlock {
  height: calc(100vh - 205px);
  overflow-y: auto;
  overflow-x: hidden;
}

._importListBody {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  ._contentBlock {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    padding: 16px 0 16px 24px;
  }

  ._tabsBlock {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    width: 500px;
    padding-right: 20px;
    margin-left: 20px;

    ._importListTabs {
      border-bottom: 1px solid $importTabsBorderColor;

      li {
        display: inline-block;
        vertical-align: bottom;
        padding: 10px 15px;
        cursor: pointer;

        &.active {
          background: $importTabsBorderBgActive;
          color: $white;
        }
      }
    }

    ._importTabItem {
      width: 100%;
      padding: 24px 0;
      display: none;


      &.active {
        display: block;
      }
    }

    .fieldItem {
      width: 100%;
      max-width: 460px;
      padding: 10px 15px;
      border: 1px solid $importFieldItemBorderColor;
      margin-bottom: 10px;
      cursor: move;
      background: $white;
    }

    .fieldsItems {
      &.active {
        display: block;
      }
    }
  }
}

._contentBlockRow {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  min-height: 53px;
  border: 1px solid #c2c8cd;
  border-radius: 3px;
  background-color: $white;
  margin-bottom: 10px;


  
  &.emptyRow {
    background-color: #f3f5f6;

    .secondBox {
      border: 1px dashed #c2c8cd;
    }

    .empty {
      &:after {
        content: 'Drag and drop field here';
        position: absolute;
        left: 17px;
        top: 50%;
        transform: translate(0, -50%);
        font-style: italic;
        color: #c2c8cd;
      }
    }
  }
  
  ._rowItem {
    position: relative;
    width: 1px;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-size: 14px;

    &:hover {
     .cleanButton {
       display: block !important;
     }
    }

    &:nth-child(n+2) {
      border-left: 1px solid #c2c8cd;
    }

    .importStatic {
      min-height: 53px;
      padding: 17px 15px;
    }

    .cleanButton {
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translate(0,-50%);
      padding: 8px;
      cursor: pointer;
      font-size: 18px;
      display: none !important;
    }

    .empty {
      + .cleanButton {
        display: none !important;
      }
    }
  }

  ._movingItem {
    min-height: 53px;
    padding: 17px 15px;
    cursor: move;
  }
}

._importTabs {
  .tabListItem {
    span {
      display: inline-block !important;
      color: $white;
      line-height: 12px;
    }

    ._importStep {
      color: $importStepColor;
      font-weight: bold;
    }
  }
}

.ui-draggable {
  &.draggableActive {
    position: fixed !important;
    z-index: 10;
  }
}

