._importListWrap {

  ._importListHeader {

  }
  ._importListBody {

  }
  ._importListFooter {

  }
}

._importListBody {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  ._contentBlock {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    padding: 16px 24px;
  }

  ._tabsBlock {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    width: 480px;

    ._importListTabs {
      > li {
        display: inline-block;
      }
    }

    ._importTabItem {
      width: 100%;
      padding: 24px;
      display: none;

      &.active {
        display: block;
      }
    }
  }
}

._contentBlockRow {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  min-height: 52px;
  border: 1px solid #c2c8cd;
  border-radius: 3px;
  background-color: #fff;
  margin-bottom: 10px;
  
  &.unmapped {
    background-color: #f3f5f6;
  }
  
  ._rowItem {
    width: 1px;
    -webkit-flex-grow: 1;
    flex-grow: 1;

    &:nth-child(n+2) {
      border-left: 1px solid #c2c8cd;
    }
  }
}