._templateInvoiceWrp {
  display: flex;
  justify-content: space-between;

  > div {
    &._templateDiv {
      flex-grow:1;
      min-width:550px;
    }

    &.addingInfoWrp {
      max-width: 400px;

      > div {
        padding: 0.200000in;

        + div {
          padding-top: 0;
        }
      }

      ._pureTemplate {

        .noteWrapper {

          ._timeline {
            white-space: initial;
            word-break: break-word;
            min-width: 320px;
          }
        }
      }
    }
  }
}

._invoiceTemplate {

  &._payments {

    ._templateTable {
      margin-top: 40px;
    }

    ._templatePaymentInfo .templateBottomTable th {
      padding-top: 45px;
    }

    .btn.refund {
      position: absolute;
      top: 28px;
      right: 38px;
    }
  }

  ._templatePaymentInfo {
    font-size: 8pt;
    .templateBottomTable {
      margin-top:15px;
      margin-bottom:15px;
      thead {
        tr {
          border-top: 2px solid #000;
        }
      }

      th, td {
        padding: 8px 5px;
        text-align: left;
        &:nth-child(3){
          text-align: right;
          padding-right: 0;
        }
        &:nth-child(1){
          text-align: left;
          padding-left: 0;
        }
        &:nth-child(2){
          p {
            font-weight: 700;
            color: #000;
          }
        }
      }

      th {
        font-size: 9pt;
        font-weight: 700;
        padding-top: 23px;
      }

      td {
        padding-top: 0;
        padding-bottom: 0;
        vertical-align: top;
        font-size: 12px;
        color: #817d7d;
        > p {
          line-height: 12px;
          font-size: 12px;
        }
      }
    }
    > p {
      font-size: 12px;
    }
    ._noticeText {
      padding-top: 10px;
      margin-top: 10px;
      border-top: 1px solid #000;
    }
  }
}

._invoiceTemplate.noMargin {
  margin: 0;
  margin-bottom: 10px;
  box-shadow: none;
}

#templateDiv {
  flex-grow: 1;
  padding: 0 20px;
}

._invoiceTemplate {
  //min-width: 650px; //this is bug when you want to print it
  max-width: 820px;
  background-color: #fff;
  padding: 0.700000in 0.400000in 0.700000in 0.40000in;
  margin: 20px auto;
  box-shadow: 0 0 6px #ccc;
  position: relative;
  font-size: 9pt;

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  td, th {
    padding: 8px 10px;
  }

  td {
    white-space: initial;
    word-break: break-word;
  }

  .ribbon {
    position: absolute !important;
    top: -5px;
    left: -5px;
    overflow: hidden;
    width: 96px;
    height: 94px;
    border-bottom-right-radius: 92px;
    .ribbon-inner {
      text-align: center;
      color: #FFF;
      top: 24px;
      left: -31px;
      width: 135px;
      padding: 3px;
      position: relative;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      line-height: 10px;
      height: 18px;
      &:before, &:after {
        content: "";
        border-top: 5px solid transparent;
        border-left: 5px solid;
        border-left-color: inherit;
        border-right: 5px solid transparent;
        border-bottom: 5px solid;
        border-bottom-color: inherit;
        position: absolute;
        top: 12px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      &:before {
        left: -1px;
        border-left: 3px solid transparent;
        margin-left: 5px;
      }
      &:after {
        right: 2px;
        top: 13px;
        margin-right: 6px;
        border-bottom: 3px solid transparent;
      }
    }
  }

  ._templateHeader {
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
  ._headerLeftPart {
    float: left;
    line-height: 20px;
  }
  ._headerRightPart {
    float: right;
    text-align: right;
  }
  ._entityTitle {
    font-size: 28pt;
  }
  ._entityNumber {
    color: #817d7d;
    font-weight: bold;
    line-height: 3;
    font-size: 13px;
  }
  ._balanceBlock {
    ._balanceTitle {
      font-size: 11px;
      font-weight: 800;
      line-height: 2;
    }
    ._balanceValue {
      font-weight: 800;
    }
  }
  ._orgName {
    font-weight: 800;
    font-size: 12px;
  }
  ._orgLabel {
    font-size: 12px;
    color: #817d7d;
    white-space: normal;
  }
  .notes {
    margin-top: 20px;
    div {
      font-size: 10px;
      margin: 10px 0px 5px 0;
    }
    .head {
      font-size: 13px;
      color: #817d7d;
      margin-top: 0;
    }
  }
}

._templateTable {
  margin-top: 20px;
  table-layout: fixed;
  font-size: 12px;

  thead {
    background-color: #3c3d3a;
    color: #fff;
    text-align: left;
  }

  tbody {
    font-size: 10px;
  }

  td:nth-child(n+4),
  th:nth-child(n+4) {
    text-align: right;
    white-space: nowrap;
  }
}

._templateDateBlock {
  margin: 20px 0 10px 0;
  ._billingBlock {
    font-size: 12px;

    ._billingTitle {
      color: #817d7d;
    }
    ._billingCustomerName {
      color: #428bca;
      padding: 10px 0;
    }
  }
  ._leftPart,
  ._rightPart {
    white-space: nowrap;
  }
}

._templateTableFooter {
  width: 50%;
  float: right;
  text-align: right;
  tr {
    height: 40px;
  }
  ._totalRow {
    font-weight: 900;
  }
  ._balanceRow {
    font-weight: 900;
    background-color: #f5f4f3;
  }
}

td._dateRightPart,
td._dateLeftPart {
  padding: 0;
}

._dateRightPart {
  td {

  }
}

._templateDateTable {
  ._dateLeftPart {
    text-align: left;
    vertical-align: bottom;
  }
  tr {
    td {
      padding: 5px 0;
      text-align: right;
      &:first-child {
        color: #817d7d;
      }
    }
  }
}

.hairline {
  margin: 0 !important;
  height: 1px !important;
  border-top: none !important;
  border-bottom: 1px solid #585858 !important;
  transform: scaleY(0.33) !important;
}

.ribbon {
  .ribbon-blue {
    background-color: #2c96dd;
    border-color: #1e7ab8
  }
  .ribbon-green {
    background: #1aaf5d;
    border-color: #138345
  }
  .ribbon-grey {
    background: #94a5a6;
    border-color: #788e8f
  }
}

tr.hairlineWrap {
  td {
    padding: 0 !important;
  }
}
