.countCircle {
  height: 20px;
  width: 20px;
  color: #fff;
  background: #9a9a9e;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  font-size: 12px;
  line-height: 18px;

  &.red {
    background: #ff0000;
  }

  &:empty {
    display: none;
  }
}

.dateListElementTitle {
  display: inline-block;
  margin: 20px 20px 0 20px;
  font-size: 14px;
  color: #8c8e8f;
  text-transform: uppercase;

  .countCircle {
    margin-left: 8px;
  }
}

.dateListItem {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  height: 46px;
  margin: 15px 0;
  cursor: pointer;

  .dateListCheckboxWrap {
    padding: 0 20px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
  }

  .dateListBody {
    min-width: 1px;
    -webkit-flex-grow: 1;
    flex-grow: 1;

    .dateListFooter {

      .listFooterDate {
        color: #9a9a9e;
      }
    }
  }
}

.dateListHeader {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  ._tagSmall {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;

    margin-right: 5px;
  }

  .dateListDescription {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
}

._taskListWrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  height: calc(100vh - 100px);

  ._taskListDateBlock {
    width: calc(100% - (35% + 159px));
    overflow: auto;

    ._dateListElement {
      position: relative;
      max-height: 380px;
      overflow: hidden;
      font-size: 14px;

      .hideList {
        display: none;
        position: absolute;
        right: 10px;
        bottom: 0;
        background-color: #7eadcc;
        color: #fff;
        font-size: 12px;
        height: 20px;
        line-height: 20px;
        padding: 0 10px;
        border-radius: 3px;
        cursor: pointer;
      }

      &.open {
        max-height: none;

        .showmore {
          display: none !important;
        }
        .hideList {
          display: block;
        }
      }
    }
  }
}

.collapsed {
  ._taskListDateBlock {
    width: calc(100% - (35% + 103px));
  }
}

._taskListActivitiesBlock {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  width: calc(35% + 159px);

  ._activityHolderTitle {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;

    padding: 20px;
    border-bottom: 1px solid #c8c8d3;
  }

  ._activityHolder {
    -webkit-flex-grow: 1;
    flex-grow: 1;

    padding: 0 20px;
    font-size: 14px;
    overflow: auto;
  }
}

.collapsed {
  ._taskListActivitiesBlock {
    width: calc(35% + 103px);
  }
}

.showmore {
  display: none;
}

._dateListElement {

  .showmore {
    position: absolute;
    right: 10px;
    bottom: 0;
    background-color: #7eadcc;
    color: #fff;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    border-radius: 3px;
    cursor: pointer;
  }
}

._activitiesListItem {
  padding: 10px 0;
  border-bottom: 1px solid #c8c8d3;

  &:last-child {
    border-bottom: none;
  }
}

.payrollListWrapOuter {
  height: 100%;
}

._payrollListWrap {
  height: 100%;
  padding: 20px 80px;
  overflow: auto;

  ._payrollListItem {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    position: relative;
    padding: 8px 20px 8px 30px;
    background-color: #f7f7f7;
    border: 2px dashed $payroll-border-gray;
    border-radius: 3px;
    transition: .2s all ease-in;

    &.checked {
      background-color: #F8F8F8;
      border: 2px solid $payroll-border-blue;

      &:after {
        content: "\f00c";
        position: absolute;
        top: 15px;
        right: 15px;
        font-family: FontAwesome;
        color: $payroll-border-blue;
      }

      &._weeklyItem,
      &._payItem,
      &._structureItem,
      &._bankItem,
      &._employeesItem {
        ._payrollListImage {
          &:after {
            color: $payroll-border-blue;
          }
        }
      }

      ._payrollListSteps {
        color: $payroll-steps-color;
      }
      ._payrollListAction {
        color: $payroll-font-indigo3;
      }
      ._payrollListDescription {
        color: $payroll-font-darkgray;
      }

      &:hover {
        border-style: solid;

        ._payrollListImage {
          border-style: solid;
        }
      }

      ._payrollListImage {
        border: 2px solid $payroll-border-blue;
      }
    }

    &:hover {
      border: 2px dashed $payroll-border-blue;

      ._payrollListImage {
        border: 2px dashed $payroll-border-blue;
      }
    }

    &._weeklyItem,
    &._payItem,
    &._structureItem,
    &._bankItem,
    &._employeesItem {
      ._payrollListImage {
        &:after {
          font-family: 'fontAwesome';
          margin: auto;
          color: $payroll-border-gray;
          font-size: 24px;
        }
      }
    }

    &._weeklyItem {
      ._payrollListImage {
        &:after {
          content: "\f073";
        }
      }
    }
    &._payItem {
      ._payrollListImage {
        &:after {
          content: "\f080";
        }
      }
    }
    &._structureItem {
      ._payrollListImage {
        &:after {
          content: "\f200";
        }
      }
    }
    &._bankItem {
      ._payrollListImage {
        &:after {
          content: "\f09d";
        }
      }
    }
    &._employeesItem {
      ._payrollListImage {
        &:after {
          content: "\f0c0";
        }
      }
    }

    + ._payrollListItem {
      margin-top: 20px;
    }

    ._payrollListImage {
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;

      height: 60px;
      width: 60px;
      border: 2px dashed $payroll-border-gray;
      border-radius: 50%;
      background-color: $white;
      transition: .2s border-color ease-in;
    }

    ._payrollListBody {
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;

      margin-left: 10px;
    }

    ._payrollListSteps {
      color: $payroll-font-indigo2;
      font-family: $semibold-font-family;
      font-size: 10px;
      text-transform: uppercase;
    }

    ._payrollListAction {
      font-size: 20px;
      color: $payroll-font-darkgray;
      &:hover {
        text-decoration: none;
      }
    }

    ._payrollListDescription {
      margin-top: 10px;
      font-size: 12px;
      color: $payroll-font-darkgray;
    }
  }
}

.list td {
  &._priorityCell {
    padding: 0;
  }
}

._tagsCellWrap {
  width: 100px;
  padding-bottom: 5px;
  &:after {
    content: '';
    display: table;
    clear: both;
  }

  ._tagSmall {
    float: left;
    margin: 5px 5px 0 0;
  }
}

._priorityCell {

  .Hot,
  .Medium,
  .Cold,
  .Trivial {
    height: 35px;
    width: 30px;
    margin: 0 auto;
    background-image: url('../images/priority_icons.png');
    background-size: 132px;
  }

  .Hot {
    background-position: -2px -3px;
  }
  .Medium {
    background-position: -69px -3px;
  }
  .Cold {
    background-position: -35px -3px;
  }

  .Trivial {
    background-position: -103px -3px;
  }
}

._contractJobsListWrap {
  table-layout: fixed;

  ._contractJobsListItem {

  }
}

._contractJobsListItem {

  td + td {
    border-left: 1px solid #d7d7d7;
  }

  ._contractJobsStatusBlock {
    font-family: $semibold-font-family;

    &.finished,
    &.inProgress  {
      color: #fff;
    }
    &.finished {
      background-color: $contractJobs-green-bg;
    }
    &.inProgress {
      background-color: $contractJobs-blue-bg;
    }
  }
  ._contractJobsJobBlock {

    > div {
      line-height: 20px;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    ._contractJobsName {
      font-size: 16px;
      font-family: $bold-font-family;
    }
    ._contractJobsCustomer {
      font-style: italic;
    }
    ._contractJobsDates {

    }
    ._contractJobsSales {

    }
    ._contractJobsPM {

    }
    ._contractJobsTotalHour {

    }
    ._contractJobsDevHours {

    }
    ._contractJobsADR {

    }
    ._contractJobsTotalADR {

    }
  }
  ._contractJobsInvoiceBlock {
    > div {
      line-height: 20px;
    }
  }
  ._contractJobsRevenueBlock {

  }
  ._contractJobsCostBlock {

  }
  ._contractJobsProfitBlock {

  }
}

.list tbody tr._contractJobsListItem td {
  padding: 10px;
  text-align: left;
  vertical-align: top;

  &.contractCell {
    text-align: center;
  }
}


.list tbody td {
  &.contractCell {
    text-align: center;
  }
}

.semiBold {
  font-family: $semibold-font-family;
}