.stripedList {
  table-layout: fixed;
  background-color: #fff;
  color: #293544;

  &.noFixed {
    table-layout: auto;

    td, th {
      white-space: nowrap;
    }
  }

  &._employeeJobTable {
    th, td {
      padding: 0 5px;
    }
  }

  &._rowColorGrouping {

    tr {
      height: 34px;
    }

    td {
      border-bottom: 0;
    }

    tbody {
      tr {
        &:nth-child(odd) {
          td, th {
            text-align: right;
            background-color: #fff;
          }
        }

        &[data-index="-1"] {
          td, th {
            background-color: #F8F9FB;
          }
          &:hover {
            td, th {
              background-color: #E6E7EB;
            }
          }
        }
      }
    }
  }

  tr {
    height: 34px;
  }

  td,
  th {
    padding: 0 12px;
    text-align: right;
    word-break: break-word;

    &.smallPadding {
      padding: 0 4px;
    }
  }

  th {
    border-bottom: 2px solid #EAEAEA;
    font-family: $semibold-font-family;

    &._zone {
      text-align: right;
    }
  }

  td {
    border-bottom: 1px solid #eaeaea;
    line-height: 1.3;
  }

  tr.totalRow {
    td {
      border-top: 2px solid #7eadcc;
      border-bottom: 0;
    }
  }

  tbody {
    tr {
      &:hover {
        transition: all .2s ease;

        th[rowspan],
        td[rowspan] {
          background-color: transparent;
        }

        th, td  {
          background-color: #e6e7eb;
          transition: all .2s ease;
        }

        &:nth-child(odd) {
          th, td {
            background-color: #e6e7eb;
          }

          th[rowspan], td[rowspan] {
            background-color: transparent;
          }
        }
      }

      &:nth-child(odd) {
        background-color: #f8f9fb;

        td, th {
          border-left-color: #f8f9fb;
          text-align: right;
        }
      }
    }
  }
}

//stripedList corrections start

.stripedList {
  //corrections only
  tbody {

    tr,
    tr:nth-child(odd) {

      &.totalRow {

        &:hover {

          td {
            background-color: #fff;

            &:first-child {
              border-left-color: #fff;
            }
          }
        }
      }
    }

    tr td:first-child.fillColor {
      border-left-color: #e6e7eb;
    }
  }

  td {
    &.fillColor {
      background-color: #e6e7eb;
      border-bottom-color: #e6e7eb;

      &.last {
        border-bottom-color: #c1bebe;
      }
    }
  }
}

//stripedList corrections end

._zonesAndLocationsTable {

  ._tableActions {
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }

  ._locationTableWrap {
    margin: 10px 0 20px;
  }

  ._locationTable {
    max-height: 200px;
    overflow: auto;

  }
}

._locationTableWrap {

  .stripedList {
    tr {
      height: 30px;
    }
  }
}

// this corrections prevents cells growing
._tableLeadsWrap,
._tableChartList,
._tableOpportunitiesWrap,
._tableSalesQuotationsWrap,
._tableSalesOrdersWrap,
._tableSalesInvoicesWrap,
._tableSalesProformaWrap,
._tableInvoiceAgingWrap,
._tableProjectsWrap,
._tableTacksWrap,
._jobsDashboardWrap,
._inventoryReportWrap,
._tableApplicationsWrap,
._tableJobPositionWrap,
._tableQuotationsWrap,
._tableOrdersWrap,
._tableInvoicesWrap,
._tablePurchasePaymentsWrap,
._tableManualentryWrap,
._tableChartOfAccountWrap,
._tableJournalWrap,
._journalEntryWrap,
._cashBookWrap,
._tableCashTransferWrap,
._tablePayoutWrap,
._salaryReportTableWrap,
._tableHolidaysWrap,
._tableBonusTypeWrap,
._payRollListTable,
._tablePayrollPaymentsWrap,
._dividendPaymentsTable,
._tableDividendInvoiceWrap,
._tableCostCenterWrap,
._tableExpensesInvoiceWrap,
._tableExpensesPaymentsWrap,
._tableWriteOff,
._tableUsers,
._tableAddOptionsWrap,
._inventoryProductWrap,
._priceListWrap,
._tableGoodsOut,
._productTypesTable,
._productOpitonsTable,
._tableOrderList,
._tableTackWrap,
._leadsCheckboxTableWrap,
._tableWtrackWrap,
._tableLettersWrap,
._productCategoryTableWrap,
._tableResolveConflictsWrap, ._integrationProductsTable {
  position: relative;
  height: calc(100% - 25px);
  padding: 15px;
  background-color: #f3f3f3;
  overflow: auto;

  td, th {
    transition: all .2s ease;

    &:first-child {
      border-left: 3px solid transparent;
    }
  }

  tr {
    &:hover {
      td {
        background-color: #e6e7eb;

        &:first-child,
        &:first-child.fillColor {
          border-left-color: #7EADCC;
        }
      }
    }

    &.unlinkedProduct {
      &:hover {
        td {
          background-color: rgba(255,0,0,0.1) !important;

          &:first-child {
            border-left-color: red !important;
          }
        }
      }

      td {
        background-color: rgba(255,0,0,0.1) !important;

        &:first-child {
          border-left-color: red !important;
        }
      }
    }
  }
}

._stockDetailsTable {
  padding: 10px 20px 20px;
  background: #f3f3f3;
  height: calc(100% - 24px);
  overflow: auto;

  .stripedList {
    table-layout: auto;
    white-space: nowrap;

    td.transferLocation {
      padding: 0;
    }
  }

  ._actionTitle {
    padding: 0;
    padding-left: 7px;
  }

  ._transferBtn {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 36px;
    background-color: transparent;
    text-align: center;
    @include rem('font-size', 18px);

    &:hover {
      background: #7eadcc;
      color: #fff;
      text-decoration: none;
    }
  }

  ._widthLimit {
    width: 200px;
    padding: 4px 0;
    white-space: normal;
  }
}

._productCategoryTableWrap {
  width: 100%;
  max-height: 550px;
  overflow: auto;
}

._variantsTableWrap {
  width: 100%;
  padding: 0 20px 20px;
  margin-top: 10px;
  background-color: #f1f1f1;

  ._variantsBlock {
    background-color: #fff;
    margin-bottom: 10px;
  }

  ._productCategoryTableWrap {
    padding: 0;
  }
}

._createVariantsTable {
  margin-bottom: 10px;
  overflow: auto;

  .stripedList {
    table-layout: auto;
    th {
      white-space: nowrap;
    }
  }

  .centerCell {
    ._customCHeckbox {
      display: inline-block;
    }
  }
}

._editingVariantsContainer {
  padding: 0 20px;
}

._payRollListTable {
  min-height: 100%;
}

@media (max-width: 1430px) {
  ._journalEntryWrap {
    min-height: calc(100% - 79px);
  }
}

._tableWtrackWrap {
  min-height: calc(100% - 112px);
  overflow: auto;
}

._proformaTableWrap {
  min-height: calc(100% - 97px);
  overflow: auto;
}

._tablePersonsWrap,
._tableEmployeeWrap {
  min-height: calc(100% - 72px);
  overflow: auto;
}

._contractJobsTableWrap {
  min-height: calc(100% - 42px);
  overflow-x: auto;
  overflow-y: hidden;

  > table {
    min-width: 900px;
  }
}

._tableLeadsWrap {
  > .stripedList {
    min-width: 1153px;
  }
}

._tableOpportunitiesWrap {
  > .stripedList {
    min-width: 1283px;
  }
}

._tablePersonsWrap {
  > .stripedList {
    min-width: 1190px;
  }
}

._tableQuotationsWrap,
._tableSalesQuotationsWrap,
._tableSalesOrdersWrap {

  > .stripedList {
    min-width: 1200px;
  }
}

._tableSalesInvoicesWrap,
._tableSalesProformaWrap {

  > .stripedList {
    min-width: 1350px;
  }
}

._tableInvoiceAgingWrap {
  > .stripedList {
    min-width: 1520px;
  }
}

._tableProjectsWrap,
._tableTacksWrap {
  > .stripedList {
    min-width: 1375px;
  }
}

._tableWtrackWrap {
  > .stripedList {
    min-width: 1530px;
  }
}

._tableEmployeeWrap {
  > .stripedList {
    min-width: 1410px;
  }
}

._tableApplicationsWrap {
  > .stripedList {
    min-width: 1120px;
  }
}

._tableJobPositionWrap {
  > .stripedList {
    min-width: 1270px;
  }
}

._tableOrdersWrap {

  > .stripedList {
    min-width: 1080px;
  }
}

._tableInvoicesWrap {

  > .stripedList {
    min-width: 1450px;
  }
}
._tableChartList,
._tableCompaniesWrap,
._tablePurchasePaymentsWrap,
._tableManualentryWrap,
._payRollListTable,
._tableChartOfAccountWrap,
._tableTackWrap,
._tableDividendInvoiceWrap,
._tableHiredFired {

  > .stripedList {
    min-width: 1020px;
  }
}


._tableCashTransferWrap,
._tableJournalWrap,
._tableUsers {

  > .stripedList {
    min-width: 900px;
  }
}

._tablePayoutWrap,
._tablePayrollPaymentsWrap,
._tableHolidaysWrap,
._tableBonusTypeWrap,
._dividendPaymentsTable,
._tableWriteOff,
._tableExpensesPaymentsWrap{
  > .stripedList {
    min-width: 800px;
  }
}

._tableCostCenterWrap {
  > .stripedList {
    min-width: 1470px;
  }
}
._tableCustomDashList,
._tableExpensesInvoiceWrap {
  > .stripedList {
    min-width: 990px;
  }
}

._inventoryProductWrap {
  > .stripedList {
    min-width: 1250px;
  }
}

._tableVacationListwrap {
  min-width: 1400px;
  padding: 0 20px;

  .oe_sortable:before {
    top: 1px;
  }
  .vacation-list {
    thead {
      th {
        &.sortDn,
        &.sortUp {
          &:after {
            position: absolute;
            right: 5px;
            font-family: $icon-font;
          }
        }

        &.sortDn {
          &:after {
            bottom: 0;
            content: '\f0dd';
          }
        }

        &.sortUp {
          &:after {
            top: 0;
            content: '\f0de';
          }
        }
      }
    }
  }
}

._tableUsers,
._inventoryProductWrap {
  td {
    .iconEmployee {
      display: block;
      margin: 0 auto;
    }
  }
}

._tableUsers {
  td {
    cursor: pointer;
  }
}

._currencyTable {
  .rate ._tagSmall {
    float: none;
  }
}

._tableLeadsWrap,
._tableOpportunitiesWrap,
._tableLettersWrap,
._tableCompaniesWrap,
._tableOrderList,
._tableSalesInvoicesWrap,
._tablePurchasePaymentsWrap,
._tablePersonsWrap {

  > .stripedList {
    tbody {
      tr {
        cursor: pointer;
      }
    }
  }
}


._zonesAndLocationsTable {
  .stripedList th._location {
    text-align: left;
  }
}

._tableResolveConflictsWrap {
  > .stripedList {
    min-width: 1000px;
  }

  .channelNameWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding-bottom: 5px;

    span {
      padding-left: 5px;
      text-align: left;
    }
  }
}


._tableJournalWrap {
  .newSelectList {
    right: 0;
    left: auto;
  }
}