//.notRegister input:not([type="checkbox"]),
//input.errorContent:not([type="checkbox"]),
//textarea.errorContent {
//  border-color: #ff9393;
//
//  &:focus {
//    border-color: #ff9393;
//    box-shadow: 0 1px 0 0 #ff9393;
//  }
//}

.loginWrap {

  .formActions {
    line-height: 29px;
  }
}

.forgotWrap {
  margin-top: 69px;
}

.login {

  &WrapBase {
    height: 100%;
    overflow: hidden;
  }

  &Title {
    position: absolute;
    top: -67px;
    width: 100%;
    left: 0;
    color: #4e5a64;
    font-size: 30px;
    font-weight: 300;
    font-family: $light-font-family;
    white-space: nowrap;
    text-align: center;

    &Block {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }

  &Container {
    position: relative;
    width: 330px;
    // height: 433px;
    padding: 40px 40px 40px;
    margin: auto;
    border-radius: 1px;
    background: #fff;
    box-sizing: content-box;
    box-shadow: 0 0 100px rgba(0, 0, 0, .2);

    .input-group {
      position: relative;
      margin-bottom: 10px;

      &.forSelectDd {
        margin-bottom: 34px;
      }

      input, .selectDd {
        width: 100%;
        border: 1px solid #cccfdb;
        box-shadow: none;
        padding: 9px 16px 8px;
        height: 40px;

        &:focus {
          border-color: #00b7db;
        }
      }

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0px 1000px $white inset;
        border-color: #00b7db;
      }
    }

    .tabs {
      height: 70px;
      margin: -40px -40px 26.25px;
      padding: 0;
      border-radius: 1px 1px 0 0;
      background: #F8F7FD;

      li {
        display: inline-block;
        width: 50%;
        height: 100%;
        float: left;
        text-align: center;
        line-height: 70px;
        font-size: 14px;
        text-transform: uppercase;
        cursor: pointer;

        &#login {
          border-width: 0 1px 1px 0;
          border-radius: 1px 0 0;
        }

        &.active {
          border-color: #fff;
          background: #fff;
        }

        &:not(.active):hover {
          color: #8f99b1;
        }
      }

    }

    .control-group {
      &.spaced {
        margin: 15px 0;

        &.forSignUp {
          margin-bottom: 0;
        }
      }
    }

    .or {
      width: 100%;
      float: left;
      text-align: center;
      font-weight: 700;
      font-size: 13px;
      color: #8f99b1;
      position: relative;
      margin: 7.5px 0;
      //margin-top: 0;

      &:before, &:after {
        content: '';
        position: absolute;
        top: 50%;
        display: block;
        width: 31%;
        border-bottom: 1px solid #E5E8ED;

      }

      &:before {
        left: 0;
      }

      &:after {
        right: 0;
      }
    }

    .formActions {
      .switchWrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 35px;
      }

      .btn {
        height: 40px;
        padding: 10px 12px 8px;
        border-radius: 0;
        line-height: 18px;
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;

        &.login-button, &.signUp-button {
          width: 100%;
          height: 38px;
          border: none;
        }

        &.socialService span {
          line-height: normal;
          font-family: $icon-font;
          font-size: 20px;
          color: $white;
          margin-right: 8px;
        }


        &.facebookLogin {
          background-color: #3B5998;
        }

        &.linkedinLogin {
          background-color: #0073B5;
        }

        &.googlePlusLogin {
          background-color: #DE4931;
        }
      }
    }

    .signInServices {
      display: flex;
      flex-direction: column;
      width: 100%;

      .signInService {
        width: 100%;

        .socialService {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 10px;
          color: $white;
          font-size: 12px;
          text-transform: uppercase;
          border: 0 none;
        }
      }
    }

    .firstLastnameWrap {
      display: flex;
      justify-content: space-between;

      .control-group {
        width: 50%;
        padding-right: 5px;

        &:nth-child(2) {
          padding-left: 5px;
          padding-right: 0;
        }

      }
    }

    .selectDd {
      left: 0;

      &:after {
        top: 18px;
      }

      ul {
        top: 38px;
        left: 0;
      }

      .selectedDb {
        line-height: 22px;
      }
    }
  }

  &Content {
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    height: 100%;
    height: 100vh;
  }

  &Forgot {
    color: #a4aab2;
    font-size: 13px;
  }

  &Copyright {
    position: absolute;
    left: 50%;
    bottom: -55px;
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 13px;
    color: #a9b5be;
  }
}

.formGroup {
  margin-bottom: 25px;
}

.rememberCheck {

  &Wrap {
    position: relative;
    display: inline-block;
    padding-left: 30px;
    line-height: 18px;
    cursor: pointer;
    font-size: 14px;
    transition: all .3s;
    color: #a4aab2;

    + span {
      top: 4px;
    }

    input {
      position: absolute;
      z-index: -1;
      opacity: 0;

      ~ span {
        &:after {
          content: '';
          position: absolute;
          display: none;
        }
      }

      &:checked {
        ~ span {
          &:after {
            display: block;
            left: 6px;
            top: 2px;
            width: 4px;
            height: 9px;
            border: solid #666;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
          }
        }
      }
    }

    > span {
      position: absolute;
      top: 0;
      left: 0;
      height: 19px;
      width: 19px;
      border: 1px solid #d9d9d9;
    }
  }
}

.forgot {

  &BtnWrap {
    display: flex;
    justify-content: center;

    .btn {
      margin: 0 5px;
    }

    .btn.forgot-button {
      color: $black;

      &:hover {
        background-color: transparent;
      }
    }
  }

  &Pass {
    color: #a4aab2;

    &:hover {
      color: #337ab7;
      text-decoration: none;
    }
  }

  &Description {
    margin: 22px 0;
    color: #a0a9b4;
    font-size: 15px;
    line-height: 22px;
  }
}

input:valid + .requiredField {
  visibility: hidden;
}

input:not(:valid) + .requiredField {
  visibility: visible;
}

.requiredField {
  position: absolute;
  top: 14px;
  right: 7px;
  color: #7eadcc;
  cursor: pointer;
  visibility: hidden;
  transition: all .2s ease;

  &:hover {

    &:before {
      content: attr(data-hover);
      position: absolute;
      top: -7px;
      left: -100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      padding: 5px;
      margin-left: 30px;
      border: 1px solid #7eadcc;
      border-radius: 5px;
      color: #fff;
      background-color: #7eadcc;
      font-size: 14px;
    }

    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border: solid 4px transparent;
      border-right-color: #7eadcc;
      top: 2px;
      left: 100%;
      margin-left: 9px;
      z-index: 2;
    }
  }
}

@media (max-width: 1600px) {
  .login {
    &Content {
      padding: 0 60px;
    }
  }
}

@media (max-width: 1500px) {
  .login {
    &Content {
      padding: 0 40px;
    }
    &Title {
      font-size: 26px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1220px) {
  .loginContent {
    padding: 0 20px;
  }

  .loginTitle {
    font-size: 23px;
  }
}

@media (max-width: 992px) {
  .loginTitle {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .login {
    &Container {
      .loginTitle {
        margin-bottom: 30px;
      }

      input {
        &:not([type="checkbox"]) {
          &.inputField {
            margin-bottom: 25px;
          }
        }
      }
    }

    &Wrapper {
      .selectDd {
        //width: 230px;
      }
    }

  }

  .formActions {
    white-space: nowrap;
  }

  .sliderWrap {
    display: none;
  }
}

//iphone6
@media (max-width: 667px) {
  .sliderWrap {
    display: none;
  }
}

@media (max-width: 410px) {
  .login {

    &Content {
      padding: 0 20px;
    }

    &Copyright {
      right: auto;
      left: 20px;
    }
  }
}