.ui-dialog {
  background: #ffffff;//@dialog-bg;
  color: #000000;//@mainText-color;
  z-index: 1000;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  border-radius: 0;

  .ui-widget-content {
    border: none;
    a:not(.btn) {

      &.editTags {
        color: #000;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .miniAvatar {
    .avatar {
      width: 50px;
      height: 50px;
    }
  }

  .avatar {
    display: block;
    overflow: hidden;
    width: 140px;
    height: 140px;
    margin: 2px 18px 5px 0;
    border: 1px solid #7eadcc !important;//@thin-border @border-color-main;

    img {
      height: auto;
      width: 100%;
    }

    canvas {
      height: auto;
      width: 100%;
    }

  }

  .ui-dialog-content {
    position: relative;
    border: 0;
    padding: .5em 1em 0;
    background: 0;

    &._newForm {
      padding: 0;
    }
  }

  .ui-dialog-titlebar {
    display: none;
  }

  .app-block {
    @extend .half-block;
  }


  textarea {
    @extend .noPaddingMargin;
    //width: 95%;
    resize: none;
    &#description {
      margin-top: 0 !important;
      &.taskDescription {
        height: 310px;
      }
      &.projectDescription {
        height: 225px;
        margin-top: 5px !important;
      }
      &.projectDescriptionEdit {
        //width: 98%;
        height: 265px;
      }
      &.taskDescriptionCreate {
        max-height: 205px;
      }
      &.taskDescriptionEdit {
        height: 188px;
        margin-top: 8px !important;
        margin-left: 1px;
        width: 100%;
      }
    }

    &#otherInfo {
      margin-top: 13px;
      width: 300px;
      height: 193px;
      min-height: initial;
      max-width: 300px;
    }
  }

  .inner {
    padding: 5px;
    background: #ffffff;//@dialog-bg;
  }

  .form-holder {
    position: relative;
    padding: .5em 1em;
    clear: both;
  }

  .person-info-h3 {
    width: auto;
    max-width: auto;
    clear: none;

    dt, dd {
      clear: none;
      margin-top: 0 !important;

      a {
        line-height: 22px;
        margin-right: 3px;
      }
    }

    dt {
      width: 90px;
    }

    dd {
      width: auto;
    }

  }

  input:not(._formInput, ._animate) {
    border-radius: 0;
    max-width: 280px;
    height: 24px;
    font-size: 12px;
    border: 1px solid #d7d7d7;//@thin-border @list-border-color;
    line-height: 20px;
    background-color: transparent;
    padding: 0 2px;
    color: #000000;//@mainText-color;

    &:focus {
      outline: medium none;
      border: 1px solid #3e88b9;//@thin-border @border-color-selected;
    }

    &#summary {
      width: 100%;
      max-width: none;
    }

    &#summaryTask,
    &#summaryEdit {
      margin-top: 17px;
      margin-bottom: 8px;
      padding-left: 2px;
      padding-right: 2px;
      width: 544px;
      max-width: none;
    }
    &#summaryTask {
      width: 544px;
    }

    &#summaryEdit {
      margin-top: 7px;
    }

  }

  .ui-dialog-buttonset {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 52px;
    padding: 0 4px;
    border-top: 1px solid #c8c8d3;

    .btn {
      border: none;
      margin: 0 4px;
      background-color: #fff;
      color: #666;
      font-family: $semibold-font-family;
      height: 36px;
      line-height: 34px !important;
      
      &:hover {
        background-color: rgba(158,158,158,0.2);

        span {
          color: #666;
        }
      }

      span {
        color: #666;
      }
    }
  }

  .ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0);
  }

  //&.task-edit-dialog {
  //  .ui-dialog-buttonpane {
  //    margin-left: 24px;
  //    margin-right: 24px;
  //
  //    button {
  //      margin-top: 15px;
  //      margin-bottom: 15px;
  //    }
  //  }
  //}
}

.ui-helper-clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
    min-height: 0;
    border-collapse: collapse;
  }
  &:after {
    clear: both;
  }
}

.ui-front {
  z-index: 1000;
}

.ui-dialog, .form {
  .avatar {
    float: left;
    position: relative;
  }
}

.avatar {
  position: relative;
  display: inline-block;

  .upload {
    overflow: hidden;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    display: block;
    position: absolute;
    height: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;

    input {
      position: absolute;
      top: 0;
      height: 20px;
      opacity: 0;
      background: rgba(0, 0, 0, 0.5);
      margin: 0;
      padding: 0;
      width: 100%;
      left:0;
      cursor: pointer;
      z-index: 1;
      padding-left: 100% !important;
    }
  }
}

.form .avatar {
  border: 1px solid #7eadcc;
  width: 140px;
  height: 140px;
  overflow: hidden;
}

.assignees-info {
  margin-top: 18px;
}