.vocationFilter {
  padding: 5px;
  border: 1px solid $vocation-filter-border-color;
  cursor: pointer;

  &.small {
    padding: 0;
  }

  .frameDetail {
    position: absolute;
    top: 24px;
    left: -1px;
    width: 210px;
    background: $frame-detail-bg;
    padding: 10px;
    border: 1px solid$vocation-filter-border-color;
    z-index: 10;

    .buttons {
      width: 100%;
      margin-top: 10px;
    }
  }
}

.top-bar {

  .vocationFilter {
    padding: 0;
    height: 26px;
    margin-top: 7px;
  }
}

.customTimeLeadsBySource,
.customTimeLeadsBySale {
  .customTimeItem {
    padding: 4px 20px;

    > label {
      float: left;
    }

    > input {
      width: 110px;
      float: right;
    }

    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
}

.chartTopBox {
  position: relative;
  text-align: center;

  .legend-box {
    display: inline-block;
  }

  .vocationFilter {
    position: absolute;
    top: 50%;
    left: 0;
    height: 26px;
    transform: translate(0, -50%);
  }
}


.legend-box.medium {
  height: auto;
}

.wonLegend {

  .legendCircle {
    border-radius: 50%;
  }
}

.leadsTab {
  .choseDateItem {
    float: left;
  }

}

.leadsTop {
  margin: 15px 0;

  .vocationFilter,
  .choseDateItem {
    float: none !important;
    display: inline-block;
    vertical-align: middle;
  }
}

.salesTab {
  .tabTitle,
  .vocationFilter {
    display: inline-block;
    vertical-align: middle;
  }
}
