._pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: #{$paginationHeight - 1};
  padding: 0 30px;
  border-top: 1px solid #eaeaea;
  user-select: none;

  ._countOnPage,
  ._quantityListWrap {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }

  ._countOnPage {
    ._pagesInfo {
      display: flex;
      align-items: center;
    }
  }

  ._pagesInfo {
    // must be empty
    ._separator {
      margin: 0 5px;
    }
  }

  ._quantityList {
    display: flex;
    height: $paginationHeight;
    align-items: center;

    ._listItem {
      min-width: $paginationHeight;
      padding: 0 4px;
      line-height: $paginationHeight;
      text: {
        decoration: none;
        align: center;
      }
      cursor: pointer;

      &:hover {
        background-color: #f2f2f2;
      }

      &.selectedItemsNumber {
        background-color: #7eadcc;
        color: #fff;
      }
    }

    button {
      background-color: white;
      background-image: none;
      border-radius: 0;
      width: 27px;
      margin: 0 0 0 5px;
      line-height: 10px;
      font-size: 12px;
      padding: 3px 2px;
      &:hover {
        background-color: #F7F8F9;
      }
    }
  }//cant find in templates

  ._pageActionBlock {
    display: flex;
    height: $paginationHeight;
  }
}

._pageActionBlock {
  // must be empty to prevent global styles
  ._paginationBtn {
    display: inline-block;
    height: $paginationHeight;
    min-width: $paginationHeight;
    background-color: transparent;
    @include rem('font-size', 18px);

    &:hover {
      background-color: #7eadcc;
      color: #fff;
    }

    &[disabled] {
      background-color: #f5f5f5;
      color: #c1c1c1;
      cursor: default;
    }
  }

  ._item {
    padding: 0 10px;
    line-height: $paginationHeight;

    span + span {
      margin-left: 5px;
    }
  }

  ._lastPage,
  ._value,
  ._currentPage {
    font-family: $semibold-font-family;
    color: #364150;
  }

  ._actionBlock {
    display: flex;

    ._currentPage {
      height: $paginationHeight;
      width: $paginationHeight;
      padding: 0 2px;
      border: 1px solid transparent;

      &:focus {
        border-color: #7eadcc;
      }
    }
  }

  ._pagesListWrap {
    position: relative;

    ._paginationBtn {
      background-color: #7eadcc;
      color: #fff;
    }

    &.open {
      ._pagesList {
        display: block !important;// remove hide() in view, and then remove this line
        opacity: 1;
        visibility: visible;
      }
    }

    ._pagesList {
      opacity: 0;
      visibility: hidden;

      position: absolute;
      bottom: 100%;
      left: -1px;

      display: flex;
      flex-direction: column;

      border: 1px solid #c8c8d3;
      border-bottom: 0;
      box-shadow: 0 -4px 5px 0 rgba(0,0,0,0.14),
      0 -1px 10px 0 rgba(0,0,0,0.12),
      0 -2px 4px -1px rgba(0,0,0,0.3);
    }
  }

  ._pagesList {
    background-color: #fff;

    > li {
      height: $paginationHeight;
      width: $paginationHeight;
      line-height: $paginationHeight;
      text-align: center;
      cursor: pointer;

      &:hover {
        background-color: #7eadcc;
        color: #fff;
      }
    }
  }
}

.userPagination {
  background-color: $bg-main;
  margin:{
    left: 150px;
    right: 5px;
    top: -5px;
  }
  text-align: center;
  line-height: 23px;
  font-size: 11px;
  height: 25px;
  border: 1px solid #7eadcc;
  border-top: none;

  a {
    margin: 0 10px;
    color: #2e75a5 !important;
    font-family: $semibold-font-family;
    font-size: 11px;
  }

  span {
    padding: 0;
  }
  &.targetPagination {
    margin-left: 5px;

  }
}

.nextPrev {
  button {
    position: relative;
  }
}

/*23.09 added from _main.less*/
.miniPagination,
.miniPaginationPersons {
  $width: 60px;
  $height: 20px;
  width: $width*4;
  margin: 0 auto;
  text-align: center;
  height: $height;


  > div {
    cursor: pointer;
    margin-top: 3px;
    height: $height;
    line-height: $height;
    float: left;
    border: 1px solid #7f7f80;//$thin-border silver;
    border-right: none;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);

      span {
        color: $overiewText-color;
      }
    }

    &.not-active {
      color: silver;
      background: none;
      cursor: default;

      &:hover {
        background: none;

        span {
          color: $mainText-color;
        }
      }
    }
    span {
      color: $mainText-color;
    }
  }

  .last, .lastPersons {
    border-right: 1px solid #7f7f80;//$thin-border silver !important;
  }

  .first, .last, .firstPersons, .lastPersons {
    width: $width/3*2;
  }

  .prev, .next, .prevPersons, .nextPersons {
    width: $width;
  }

  .prev, .next {
    width: $width;
  }
}
