$tree-item-bg: #E5EBFB;
$tree-border: #ddd;
$checkbox-border: #3e88b9;
$checkbox-text: #5a5a5a;
$input-border: #5a5a5a;
$input-text: #3e88b9;
$border-color: #7f7f80;
$top-font-color: #666666;


//Added from _main.less
.thumbnail {
  //.thumbnail;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;

  float: left;
  margin-top: 4px;
  margin-left: 4px;
  position: relative;
  display: block;
  background: transparent !important;
  border: 1px solid #7f7f80;
  width: 280px;
  min-height: 130px;
  cursor: pointer;
  .dropDown {
    position: absolute;
    top: 5px;
    right: 2px;
    .icon {
      font-size: 19px;
    }
    a {
      &:hover {
        color: $mainText-color-selected;
      }
    }
  }

  .inner {
    padding: 5px;

    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }

  .bottom {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;

    bottom:0;
    position: absolute;
    width: 100%;;

    ._thumbnailDescripiton {

    }
    .avatar {
      flex-shrink: 0;
      align-self: flex-end;
    }

    //.half-block {
    //  &:last-child {
    //    text-align: right;
    //  }
    //
    //  .left {
    //    label {
    //      color: $status-color;
    //      line-height: 16px;
    //    }
    //  }
    //
    //}
  }

  span, p, h2{
    color: #4c4c4c;
    font-size: 13px;
  }

  span {
    font-family: $base-font-family;
    position: relative;

    &.status {
      &.pending {
        color: #EAE874;
      }

      &.inprogress {
        color: #67C2EF;
      }

      &.done {
        color: #BDEA74;
      }

      &.cancelled {
        color: #FF5454;
      }
    }
  }

  a.tasksByProject {
    cursor: pointer;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    font-family: $base-font-family;

    span {
      font-weight: normal !important;
    }
  }

  h2 {
    font-family: $base-font-family;
    margin: 0 0 8px;
  }

  &:hover {
    border: 1px solid $border-color-main;
    box-shadow: 0 0 4px $border-color-selected;
  }

  .avatar {
    padding: 5px;
    width: 44px;
    height: 44px;

    img {
      height: auto;
      width: 100%;
    }

    canvas {
      height: auto;
      width: 100%;
    }

    .upload {
      overflow: hidden;
      font-size: 15px;
      line-height: 18px;
      text-align: center;
      display: block;
      height: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.7);
      color: #fff;
      cursor: pointer;
      input {
        position: absolute;
        top: 0;
        height: 20px;
        opacity: 0;
        background: rgba(0, 0, 0, 0.5);
        margin: 0;
        padding: 0;
        width: 100%;
      }
    }
  }

  .project-text {
    width: 180px;
    span {
      color: $mainText-color;
    }
    span.bold {
      @extend %text-overflow;
      display: block;
      max-width: 150px;
    }
  }
}


.flex {
  display: flex;

  #productTree {
    flex: 0 0 250px;
    margin-top: 30px;
    border-right: 1px solid $tree-border;

    ul li {
      position: relative;
    }

    ul {
      .content {
        padding-left: 24px;
      }

      .expand {
        left: 4px;
      }

      ul {
        .content {
          padding-left: 44px;
        }

        .expand {
          left: 24px;
        }

        ul {
          .content {
            padding-left: 64px;
          }

          .expand {
            left: 44px;
          }

          ul {
            .content {
              padding-left: 84px;
            }

            .expand {
              left: 64px;
            }

            ul {
              .content {
                padding-left: 104px;
              }

              .expand {
                left: 84px;
              }

              ul {
                .content {
                  padding-left: 124px;
                }

                .expand {
                  left: 104px;
                }
              }
            }
          }
        }
      }
    }

    .action-btn {
      display: none;
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translate(0, -50%);

      span {
        vertical-align: middle;
        cursor: pointer;
        color: $top-font-color;
        font-size: 16px;

        &:before {
          font-size: 16px;
        }
      }
    }

    span.content {
      position: relative;
      display: block;
      padding: 5px 40px 5px 24px;
      line-height: 16px;
      border-bottom: 1px dotted $tree-item-bg;

      &:hover {
        cursor: pointer;
        background-color: $tree-item-bg;
      }

      &.selected {
        background-color: $tree-item-bg;
      }

      .text {
        font-size: 14px;
        line-height: 20px;
      }

      &:hover {
        .action-btn {
          display: block;
        }
      }
    }

    .expand {
      position: absolute;
      top: 7px;
      left: 4px;
      width: 16px;
      height: 16px;
      border: 1px solid $border-color;
      font-size: 14px;
      padding: 2px;
      line-height: 9px;
      text-decoration: none !important;
      text-align: center;
    }
  }

  .addProduct {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 11px;

    a {
      border: 1px solid $border-color;
      margin: 0 12px 0 5px;
      padding: 0 5px;
      text-align: center;
      cursor: pointer;
      vertical-align: baseline;
      color: $top-font-color;
      line-height: 28px;
      font-size: 14px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  #thumbnailContent {
    @extend %clearfix;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: stretch;
    padding: 35px 0 4px 12px;

    .thumbnail {
      &.product {
        position: relative;
        flex: 1 1 200px;
        padding: 8px;
        min-width: 150px;
        margin: 4px;
        background-color: white !important;

        // reset default style for .thumbnail / removed during refactor, if there is no need
        float: none;
        display: block;
        width: auto;
        min-height: inherit;

        .inner {
          float: left;
          width: 50px;

          // reset default style for .thumbnail / removed during refactor, if there is no need
          padding: 0;

          img {
            max-width: 100%;
            height: auto;
            display: inline-block;
          }

          .avater {
            border: 1px solid $border-color;
          }
        }

        .info {
          word-break: break-all;
          padding-left: 55px;
        }
      }
    }
  }

  #productContent {
    position: relative;
    flex-grow: 1;
  }
}

.product {
  &Heading {
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 700;
  }

  %Category {
    label, a {
      line-height: 26px;
      font-size: 12px;
    }
  }
}