._projectAttachField {
  .attachments {
    margin-top: 15px;
  }
}

._projectTableLeftAlign {
  th,
  td {
    text-align: left !important;
  }
}

._projectTableVisible {
  td {
    overflow: visible;
    position: relative;
  }

  &._tableAlignLeft {
    thead,
    tbody {
      td,
      th {
        text-align: left;
      }
    }
  }
}