.settings_modal {
  .check_wrap {
    float: left;
    width: 20px;
  }
  .setting_element {
    margin-bottom: 20px;

    .setting_title {
      display: inline-block;
    }

    .selected {
      vertical-align: top;
      padding-left: 15px;
    }

    .createBtn {
      color: #7eadcc;
    }
  }
  .settings_list {
    .content {
      margin: 0;
      border-width: 0 0 1px 0 !important;
    }
  }
  .resultFormula {
    text-align: center;
  }
}

._setInputTitle {
  line-height: 22px;
}

._basedRange {
  ._customCHeckbox {
    margin-top: 5px;
  }
}