.slider {

   &Wrap,
   &Container {
     height: 100vh;
   }
   &Wrap {
     position: relative;
     &:after {
       content: '';
       position: absolute;
       top: 0;
       left: 0;
       height: 100%;
       width: 100%;
       background-color: rgba(0, 0, 0, .3);
     }
   }
 }


