<div class="_tableUsers">
<table class="list stripedList">
    <colgroup>
        <col width="42px">
        <col width="64px">
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <col width="20%">
    </colgroup>
    <thead>
    <tr>
        <th class="centerCell">
            <label class="_customCHeckbox">
                <input type="checkbox" id="checkAll"/>
                <span></span>
            </label>
        </th>
        <th class="centerCell">
            <span>Avatar</span>
        </th>
        <th class="oe_sortable" data-sort="login">Login<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th class="oe_sortable" data-sort="email">Email<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th class="oe_sortable" data-sort="department">Department<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th class="oe_sortable" data-sort="profile">Profile Name<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th class="oe_sortable sortDn" data-sort="lastAccess">Last access<span class="arrow down"></span><span
                class="arrow up"></span></th>
    </tr>
    </thead>
    <tbody id="listTable" class="enableTableOdd"></tbody>
</table>