<div>
    <table class="list task-list">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="check_all" />
                </th>
                <th>#</th>
                <th class="oe_sortable" data-sort="login">Login<span class="arrow down">7</span><span class="arrow up">v</span></th>
                <th class="oe_sortable" data-sort="email">Email<span class="arrow down">7</span><span class="arrow up">v</span></th>
                <th class="oe_sortable" data-sort="profile">Profile Name<span class="arrow down">7</span><span class="arrow up">v</span></th>
                <th class="oe_sortable sortDn" data-sort="lastAccess">Last access<span class="arrow down">7</span><span class="arrow up">v</span></th>
            </tr>
        </thead>
        <tbody id="listTable"></tbody>
    </table>
</div>
