<div class="form-holder">
    <form method="post" action="" class="form" id="invoiceForm">
        <fieldset>
            <div class="inner">
                <ul class="dialog-tabs" data-class="mainTabs" >
                    <li><a class="active" href="javascript:;">Main</a></li>
                    <li><a href="javascript:;">Assignees</a></li>
                </ul>
                <div class="clearfix"></div>
                <div class="dialog-tabs-items mainTabs">
                    <div class="dialog-tabs-item mainTabs active">
                        <div class="half-block left">
                            <dl class="opp-info">
                                <dt><label for="assigned">Assigned</label></dt>
                                <dd>
                                    <span id="assigned"><%= assigned%></span>
                                </dd>
                                <dt><label for="supplier">Customer</label></dt>
                                <dd>
                                    <span id="supplier"><%= customer%></span>
                                </dd>
                                <dt><label for="project">Project</label></dt>
                                <dd>
                                    <span id="project"><%= project.projectName%></span>
                                </dd>
                                <dt><label for="payment_terms">Payment Terms</label></dt>
                                <dd>
                                    <a id="payment_terms" class="current-selected" href="javascript:;">Select</a>
                                </dd>
                            </dl>
                        </div>
                        <div class="half-block left">
                            <dl class="opp-info">
                                <dt><label for="fiscal_pos">Invoice Name</label></dt>
                                <dd>
                                    <input type="text" id="invoiceName" name="invoiceName" placeholder="Invoice Name" maxlength="32" />
                                </dd>
                                <dt><label for="invoice_date">Invoice Date</label></dt>
                                <dd>
                                    <input class="extrainfo" type="text" name="invoiceDate" id="invoice_date" value=""
                                           readonly="" placeholder="Invoice Date">
                                </dd>

                                <dt><label for="due_date">Due Date</label></dt>
                                <dd>
                                    <input class="extrainfo" type="text" name="dueDate" id="due_date" value=""
                                           readonly="" placeholder="Due Date">
                                </dd>
                            </dl>
                        </div>
                        <div class="clearfix"></div>
                        <ul class="dialog-tabs" data-class="childTabs" >
                            <li><a class="active" href="javascript:;">Invoice</a></li>
                            <li><a href="javascript:;">Payments</a></li>
                        </ul>
                        <div class="clearfix"></div>
                        <div class="dialog-tabs-items childTabs">
                            <div class="dialog-tabs-item childTabs active">
                                <div>
                                    <table class="list task-list">
                                        <thead>
                                            <tr>
                                                <th>N</th>
                                                <th class="oe_sortable" data-sort="project.projectName">
                                                    Project<span class="arrow down">7</span><span class="arrow up">v</span>
                                                </th>
                                                <th class="oe_sortable" data-sort="employee.name">
                                                    Employee<span class="arrow down">7</span><span class="arrow up">v</span>
                                                </th>
                                                <th class="oe_sortable sortDn" data-sort="department.departmentName">
                                                    Department<span class="arrow down">7</span><span class="arrow up">v</span>
                                                </th>
                                                <th class="oe_sortable" data-sort="year">
                                                    Year<span class="arrow down">7</span><span class="arrow up">v</span>
                                                </th>
                                                <th class="oe_sortable" data-sort="month">
                                                    Month<span class="arrow down">7</span><span class="arrow up">v</span>
                                                </th>
                                                <th class="oe_sortable" data-sort="week">
                                                    Week<span class="arrow down">7</span><span class="arrow up">v</span>
                                                </th>
                                                <th class="oe_sortable" data-sort="rate">
                                                    Rate<span class="arrow down">7</span><span class="arrow up">v</span>
                                                </th>
                                                <th class="oe_sortable" data-sort="worked">
                                                    Hours<span class="arrow down">7</span><span class="arrow up">v</span>
                                                </th>
                                                <th class="oe_sortable" data-sort="1">
                                                    Mo<span class="arrow down">7</span><span class="arrow up">v</span>
                                                </th>
                                                <th class="oe_sortable" data-sort="2">
                                                    Tu<span class="arrow down">7</span><span class="arrow up">v</span>
                                                </th>
                                                <th class="oe_sortable" data-sort="3">
                                                    We<span class="arrow down">7</span><span class="arrow up">v</span>
                                                </th>
                                                <th class="oe_sortable" data-sort="4">
                                                    Th<span class="arrow down">7</span><span class="arrow up">v</span>
                                                </th>
                                                <th class="oe_sortable" data-sort="5">
                                                    Fr<span class="arrow down">7</span><span class="arrow up">v</span>
                                                </th>
                                                <th class="oe_sortable" data-sort="6">
                                                    Sa<span class="arrow down">7</span><span class="arrow up">v</span>
                                                </th>
                                                <th class="oe_sortable" data-sort="7">
                                                    Su<span class="arrow down">7</span><span class="arrow up">v</span>
                                                </th>
                                                <th class="oe_sortable" data-sort="isPaid">
                                                    Status<span class="arrow down">7</span><span class="arrow up">v</span>
                                                </th>
                                                <th class="oe_sortable" data-sort="revenue">
                                                    Revenue<span class="arrow down">7</span><span class="arrow up">v</span>
                                                </th>
                                                <th class="oe_sortable" data-sort="amount">
                                                    Amount<span class="arrow down">7</span><span class="arrow up">v</span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="linwoiceGenerateTable"></tbody>
                                    </table>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="dialog-tabs-item childTabs">
                                <div id="payments-container"></div>
                            </div>
                        </div>
                    </div>
                    <div class="dialog-tabs-item mainTabs">
                        <div class="assignees-container"></div>
                    </div>
                </div>

            </div>
        </fieldset>
    </form>
</div>
