<table class="list">
    <colgroup>
        <col width="15%">
        <col width="30%">
        <col width="40%">
        <col width="15%">
    </colgroup>
    <thead>
    <tr class="productListItemsColumns">
        <th data-sort="Product">
            Product
        </th>
        <th data-sort="jobs">
            Job
        </th>
        <th data-sort="quantity">
            Quantity
        </th>
    </tr>
    </thead>
    <tfoot>
    <tr></tr>
    </tfoot>
    <tbody id="productList">
    <%if(!notAddItem){%>
    <tr>
        <td colspan="4" class="addProductItem">
            <a href="javascript:;" class="btn blue slim">Add an item</a>
        </td>
    </tr>
    <%}%>
    <tr>
        <td colspan="4" class="invisible_border">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="4" class="invisible_border">&nbsp;</td>
    </tr>
    </tbody>
</table>
<div class="clearfix"></div>
<div id="totalAmountContainer" class="half-block right">

</div>

