<div class="form-holder task-create-holder newTasksContainer">
    <h2 class="taskTitle">Add Task</h2>
    <form method="post" action="" id="createTaskForm" class="form notDialog">
        <div>
            <div class="taskTop">
                <div class="topCell col1-4" id="categoryHolder"></div>

                <div class="topCell col1-4">
                    <label for="workflowsDd">Stage</label>
                    <div id="selectWorkflow" class="dataField">
                        <a id="workflowsDd" class="current-selected" href="javascript:;"></a>
                    </div>
                </div>

                <div class="topCell col1-4">
                    <div>
                        <label for="dueDate">Due Date </label>
                    </div>
                    <div class="dataField">
                        <input class="extrainfo" type="text" name="dueDate" id="dueDate" value="" readonly placeholder="Date"/>
                        <input class="time" type="number" name="Hours" id="dueDateHours" value="" placeholder="Hours"/>
                        <input class="time" type="number" name="Minutes" id="dueDateMinutes" value=""  placeholder="Minutes"/>
                        <input class="time" type="number" name="Seconds" id="dueDateSeconds" value="" placeholder="Seconds"/>

                    </div>
                </div>

                <div class="topCell col1-4">
                    <label>Assigned to</label>
                    <div class="dataField">
                        <a id="assignedToDd" class="current-selected" href="javascript:;">Select</a>
                    </div>
                </div>
            </div>

            <div class="withPaddingLeftProject">
                <div class="inner">
                    <div class="textarea-wrapper">
                        <textarea type="text" class="taskDescriptionCreate" name="description"
                                  placeholder="Add a Description..." id="description" maxlength="500" required/>
                    </div>
                </div>
            </div>
            <div class="withPaddingRightProject">
                <div class="inner">
                    <div class="taskBottom">
                        <div class="topCell selectType col1-3" id="contactItem">
                            <label>Contact</label>
                            <div>
                                <a id="contactDd" class="current-selected" href="javascript:;"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add Contact</a>
                            </div>
                        </div>

                        <div class="topCell selectType col1-3" id="companyItem">
                            <label>Company</label>
                            <div>
                                <a id="companyDd" class="current-selected" href="javascript:;"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add Company</a>
                            </div>
                        </div>

                        <div class="topCell selectType col1-3" id="dealItem">
                            <label>Lead/Opportunity</label>
                            <div>
                                <a id="dealDd" class="current-selected" href="javascript:;"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add Lead/Opportunity</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
