// Fotns include
$first: 1;

@for $i from $first through $base-font-count {
  @font-face {
    font-family: map-get($base-font-name, $i);
    font-style: normal;
    src: url('#{$font-path}#{$base-font-path}#{map-get($base-font-file, $i)}.woff2') format('woff2'),
    url('#{$font-path}#{$base-font-path}#{map-get($base-font-file, $i)}.woff') format('woff'),
    url('#{$font-path}#{$base-font-path}#{map-get($base-font-file, $i)}.ttf') format('truetype');
    font-weight: map-get($base-font-weight, $i);
  }
}


