<div class="form-holder _newForm">
    <form method="post" action="" id="createProjectForm">
        <h4 class="_dialogTitlePositioned">Create project</h4>
        <ul class="dialog-tabs">
            <li><a class="active" href="javascript:;">Main</a></li>
            <li><a href="javascript:;">Assignees</a></li>
            <li><a href="javascript:;">Other Info</a></li>
        </ul>
        <div class="dialog-tabs-items">
            <div class="dialog-tabs-item active">
                <div class="_formWrap _enlargedItemMargin">
                    <div class="_formBlock">
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate title-input blueback"
                                   name="projectName"
                                   id="projectName"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">Project Name</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate title-input blueback"
                                   name="projectShortDesc"
                                   id="projectShortDesc"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">Project Short Description</label>
                        </div>
                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Project Type</span>
                            <div class="_newSelectListWrap">
                                <a id="projectTypeDD"
                                   class="current-selected"
                                   href="javascript:;">Select project Type
                                </a>
                            </div>
                        </div>
                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Project Customer</span>
                            <div class="_newSelectListWrap">
                                <a id="customerDd"
                                   class="current-selected"
                                   href="javascript:;">Select project customer
                                </a>
                            </div>
                        </div>
                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Status</span>
                            <div class="_newSelectListWrap">
                                <a id="workflowsDd"
                                   class="current-selected"
                                   href="javascript:;">Select project Status
                                </a>
                            </div>
                        </div>
                        <div class="_animateHealthBox">
                            <span class="_healthLabel">Health</span>
                            <div id="health" class="health-wrapper _healthWrapper">
                                <div class="_healthDd">
                                    <a href="javascript:;"
                                       data-value="1"
                                       class="health1">
                                    </a>
                                    <ul class="_healthDdList">
                                        <li>
                                            <div class="health1"></div>
                                        </li>
                                        <li>
                                            <div class="health2"></div>
                                        </li>
                                        <li>
                                            <div class="health3"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="_animateInputBox">
                            <span class="_staticLabel">Start Date</span>
                            <input type="text"
                                   class="_animate extrainfo blueback"
                                   name="StartDate"
                                   id="StartDate"
                                   placeholder="Choose start date"
                                   required
                                   readonly/>
                        </div>
                        <div class="_animateInputBox" id="targetEndDate">
                            <span class="_staticLabel">Target End Date</span>
                            <input type="text"
                                   class="_animate extrainfo blueback"
                                   name="TargetEndtDate"
                                   id="EndDateTarget"
                                   placeholder="Choose end date"
                                   required
                                   readonly/>
                        </div>
                        <div class="_animateTextareaBox counterWrap">
                            <textarea class="_animate projectDescriptionCreate"
                                      name="description"
                                      id="description"
                                      required
                                      maxlength="500"></textarea>
                            <label for="description" class="_animate">Project description</label>
                            <div class="counter-wrap">
                                <span class="counter-label">Characters left:</span>
                                <span class="counter-value" id="counterValue">500</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dialog-tabs-item">
                <div class="assignees-container _formWrap _innedFlexDiv _enlargedItemMargin"></div>
            </div>
            <div class="dialog-tabs-item">
                <div class="_formWrap _enlargedItemMargin">
                    <div class="_formBlock">
                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Bank Account</span>
                            <div class="_newSelectListWrap">
                                <a id="paymentMethod"
                                   class="current-selected"
                                   href="javascript:;"
                                   data-id="">Select bank account
                                </a>
                            </div>
                        </div>
                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Payment Terms</span>
                            <div class="_newSelectListWrap">
                                <a id="paymentTerms"
                                   class="current-selected"
                                   href="javascript:;"
                                   data-id="">Select payment terms
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
