<h3><%=contentType%></h3>

<div id="createBtnHolder" class="btnsBlock">
    <a href="#home/action-<%=contentType%>/Create" class="btn blue slim icon-plus" title="Create" id="top-bar-createBtn">New Project</a>
    <!--<a href="javascript:;" class="fa fa-wrench" title="Edit" id="top-bar-editBtn"></a>-->
    <a href="javascript:;" class="btn blue slim" title="Save" id="top-bar-saveBtn">Save</a>
    <a href="javascript:;" class="btn blue slim" title="Remove Project" id="top-bar-deleteBtn">Delete</a>
    <button class="btn slim">
        <span title="Export to csv" id="top-bar-exportToCsvBtn">Export to Csv</span>
    </button>
    <button class="btn slim">
        <span href="javascript:;" title="Export to xlsx" id="top-bar-exportToXlsxBtn">Export to Xlsx</span>
    </button>
</div>

<div id="template-switcher" class="template-switcher right">
    <ul class="btn-list">
        <li><a href="javascript:;"
               class="changeContentView icon-tiles2 <%= (viewType == 'thumbnails') ? 'selected' : ''%>"
               data-view-type="thumbnails" id="thumbBtn"></a></li>
        <li><a href="javascript:;"
               class="changeContentView icon-list5 <%= (viewType == 'list') ? 'selected' : ''%>"
               data-view-type="list" id="listBtn"></a></li>
        <li><a href="javascript:;"
               class="changeContentView icon-rect2 <%= (viewType == 'form') ? 'selected' : ''%>"
               data-view-type="form" id="formBtn"></a></li>
        <!--<li><a href="javascript:;" class="changeContentView icon2 icon-btn dark <%= (viewType == 'gantt') ? 'selected' : ''%>" data-view-type="gantt" id="ganttBtn">y</a></li>-->
    </ul>
</div>