<h3><%=contentType%></h3>

<div id="createBtnHolder">
    <a href="#home/action-<%=contentType%>/Create" class="fa fa-plus" title="Create" id="top-bar-createBtn"></a>
    <!--<a href="javascript:;" class="fa fa-wrench" title="Edit" id="top-bar-editBtn"></a>-->
    <a href="javascript:;" class="fa fa-check" title="Save" id="top-bar-saveBtn"></a>
    <a href="javascript:;" class="top-bar-deleteBtn" title="Remove Project" id="top-bar-deleteBtn"></a>

    <ul class="export">
        <li>
            <button class="btn">
                <span title="Export to csv" id="top-bar-exportToCsvBtn">Export to Csv</span>
            </button>
        </li>
        <li>
            <button class="btn">
                <span href="javascript:;" title="Export to xlsx" id="top-bar-exportToXlsxBtn">Export to Xlsx</span>
            </button>
        </li>
    </ul>
</div>

<div id="template-switcher" class="template-switcher right">
    <ul class="btn-list">
        <li><a href="javascript:;"
               class="changeContentView icon icon-btn dark <%= (viewType == 'thumbnails') ? 'selected' : ''%>"
               data-view-type="thumbnails" id="thumbBtn">k</a></li>
        <li><a href="javascript:;"
               class="changeContentView icon icon-btn dark <%= (viewType == 'list') ? 'selected' : ''%>"
               data-view-type="list" id="listBtn">i</a></li>
        <li><a href="javascript:;"
               class="changeContentView icon icon-btn dark <%= (viewType == 'form') ? 'selected' : ''%>"
               data-view-type="form" id="formBtn">m</a></li>
        <!--<li><a href="javascript:;" class="changeContentView icon2 icon-btn dark <%= (viewType == 'gantt') ? 'selected' : ''%>" data-view-type="gantt" id="ganttBtn">y</a></li>-->
    </ul>
</div>