<div class="form-holder">
    <form method="post" action="" id="createDepartmentForm" class="form">
        <fieldset>
            <div class="inner">
                <ul class="dialog-tabs">
                    <li><a class="active" href="javascript:;">Main Info</a></li>
                    <li><a href="javascript:;">Second Info</a></li>
                </ul>
                <div class="clearfix">
                </div>
                <div class="dialog-tabs-items">
                    <div class="dialog-tabs-item active">
                        <div class="half-block left">
                            <dl class="department-info">
                                <dt><label>Department Name</label></dt>
                                <dd><input type="text" class="title-input blueback" name="departmentName" id="departmentName" maxlength="32" placeholder="Department Name" required/><input type="text" hidden required/></dd>
                                <dt><label for="parentDepartment">Parent Department</label></dt>
                                <dd>
                                    <a id="parentDepartment" class="current-selected" href="javascript:;"></a>
                                </dd>
                            </dl>
                        </div>
                        <div class="half-block left">
                            <dl class="department-info">
                                <dt><label for="departmentManager">Manager</label></dt>
                                <dd>
                                    <a id="departmentManager" class="current-selected" href="javascript:;"></a>
                                </dd>
                                <dt><label for="isDevelopment">Show in Development</label></dt>
                                <dd>
                                    <input type="checkbox" id="isDevelopment"></input>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="dialog-tabs-item">
                        <div class="groupsChooser">
                            <div class="left">
                                <ul id="sourceUsers">

                                </ul>
                            </div>
                            <div class="left">
                                <div class="swich"></div>
                            </div>
                            <div class="left">
                                <ul id="targetUsers">

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                </div>
            </div>
        </fieldset>
    </form>
</div>
