<div class="form-holder _newForm">
    <form method="post" action="" id="createDepartmentForm">
        <h4 class="_dialogTitlePositioned">Add New Department</h4>
        <ul class="dialog-tabs">
            <li><a class="active" href="javascript:;">Main Info</a></li>
            <li><a href="javascript:;">Second Info</a></li>
        </ul>
        <div class="dialog-tabs-items">
            <div class="dialog-tabs-item active">
                <div class="_formWrap _enlargedItemMargin">
                    <div class="_formBlock">
                        <div class="_animateInputBox _withInfo">
                            <input type="text"
                                   name="departmentName"
                                   class="_animate"
                                   id="departmentName"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">Department name</label>
                            <span class="tips icon-info" data-id="departmentName"></span>
                        </div>
                        <div class="_animateSelectBox _withInfo">
                            <span class="_selectTitle">Parent Department</span>
                            <div class="_newSelectListWrap">
                                <a id="parentDepartment"
                                   class="current-selected"
                                   href="javascript:;">Select Parent Department
                                </a>
                            </div>
                            <span class="tips icon-info" data-id="parentDepartment"></span>
                        </div>
                    </div>
                    <div class="_formBlock">
                        <div class="_animateSelectBox _withInfo">
                            <span class="_selectTitle">Manager</span>
                            <div class="_newSelectListWrap">
                                <a id="departmentManager"
                                   class="current-selected"
                                   href="javascript:;">Select Manager
                                </a>
                            </div>
                            <span class="tips icon-info" data-id="departmentManager"></span>
                        </div>
                        <div class="_formRow">
                            <label class="_animatedCheckbox _withInfo">
                                <input id="isDevelopment"
                                       type="checkbox"
                                       checked>
                                <span class="tips icon-info" data-id="isDevelopment"></span>
                            </label>
                            <label for="isDevelopment">Show in Development</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dialog-tabs-item">
                <div class="_formBlock">
                    <div class="groupsChooser">
                        <div class="sourceUsersWrap leftItem">
                            <ul id="sourceUsers"></ul>
                        </div>
                        <div class="swich"></div>
                        <div class="targetUsersWrap leftItem">
                            <ul id="targetUsers"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>