<div class="form-holder _newForm">
    <form method="post" action="" id="createDepartmentForm">
        <ul class="dialog-tabs">
            <li>
                <a class="active" href="javascript:;">Main Info</a>
            </li>
            <li>
                <a href="javascript:;">Second Info</a>
            </li>
        </ul>
        <div class="dialog-tabs-items">
            <div class="dialog-tabs-item active">
                <div class="_formWrap _enlargedItemMargin">
                    <div class="_formBlock">
                        <div class="_animateInputBox">
                            <input type="text"
                                   name="departmentName"
                                   class="_animate"
                                   id="departmentName"
                                   required
                                   value="<%=model.name%>"
                                   maxlength="32"/>
                            <label class="_animate">Parent Department</label>
                        </div>
                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Parent Department</span>
                            <div class="_newSelectListWrap">
                                <a id="parentDepartment"
                                   class="current-selected"
                                   data-level="<%=(model.parentDepartment)?model.parentDepartment.nestingLevel:'' %>"
                                   data-id="<%=(model.parentDepartment)?model.parentDepartment._id:''%>"
                                   href="javascript:;"><%=(model.parentDepartment)?model.parentDepartment.name:"Select"%>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="_formBlock">
                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Manager</span>
                            <div class="_newSelectListWrap">
                                <a id="departmentManager"
                                   data-id="<%=(model.departmentManager)?model.departmentManager._id:''%>"
                                   class="current-selected"
                                   href="javascript:;"><%=(model.departmentManager)?(model.departmentManager.name.first+""+model.departmentManager.name.last):"Select"%>
                                </a>
                            </div>
                        </div>
                        <div class="_formRow">
                            <label class="_animatedCheckbox">
                                <input id="isDevelopment"
                                       type="checkbox"
                                       <%=model.isDevelopment ? 'checked':''%> >
                                <span></span>
                            </label>
                            <label for="isDevelopment">Show in Development</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dialog-tabs-item">
                <div class="_formBlock">
                    <div class="groupsChooser">
                        <div class="sourceUsersWrap leftItem">
                            <ul id="sourceUsers"></ul>
                        </div>
                        <div class="swich"></div>
                        <div class="targetUsersWrap leftItem">
                            <ul id="targetUsers"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
