<h3><%=headerType%></h3>
<div id="createBtnHolder">
    <a href="#home/action-<%=contentType%>/Create" class="fa fa-plus" title="Create" id="top-bar-createBtn"></a>
    <a href="#home/action-<%=contentType%>/Edit" class="fa fa-wrench" title="Edit" id="top-bar-editBtn"></a>
    <a href="javascript;" class="fa fa-times" title="Remove" id="top-bar-deleteBtn"></a>
    <ul>
        <li>
            <button class="btn">
                <span title="Export to csv" id="top-bar-exportToCsvBtn">Export to Csv</span>
            </button>
        </li>
        <li>
            <button class="btn">
                <span href="javascript;" title="Export to xlsx" id="top-bar-exportToXlsxBtn">Export to Xlsx</span>
            </button>
        </li>
    </ul>
    </ul>
</div>
<div id="template-switcher" class="right">
    <ul class="btn-list changeContentIndex">
        <li><a href="javascript;" class="icon2 icon-btn dark" data-shift="left" id="leftBtn">(</a></li>
        <li><a href="javascript;" class="icon2 icon-btn dark" data-shift="right" id="rightBtn">)</a></li>
    </ul>
    <!--<ul class="btn-list">-->
        <!--&lt;!&ndash;<li><a href="javascript;"&ndash;&gt;-->
               <!--&lt;!&ndash;class="changeContentView icon icon-btn dark <%= (viewType == 'list') ? 'selected' : ''%>"&ndash;&gt;-->
               <!--&lt;!&ndash;data-view-type="list" id="listBtn">i</a></li>&ndash;&gt;-->
        <!--<li><a href="javascript;"-->
               <!--class="changeContentView icon icon-btn dark <%= (viewType == 'form') ? 'selected' : ''%>"-->
               <!--data-view-type="form" id="formBtn">m</a></li>-->
    <!--</ul>-->
</div>
