<div id="projectPM">
    <div class="projectInProgress">
        <div>
            <h2>Projects</h2>
            <table class="list task-list">
                <thead>
                <tr>
                    <th>#</th>
                    <th class="oe_sortable" data-sort="projectmanager.name.first">Sales Manager<span class="arrow down">7</span><span
                            class="arrow up">v</span></th>
                    <th class="oe_sortable" data-sort="projectName">Project Name<span class="arrow down">7</span><span
                            class="arrow up">v</span></th>
                    <th>Revenue</th>
                    <th>Cost</th>
                    <th>Profit</th>
                    <th>Hours</th>
                    <th>MarkUp</th>
                    <th>Pr.Margin</th>
                    <th>First Date</th>
                    <th>Last Date</th>
                </tr>
                </thead>
                <tbody id="ProjectPMContent" class="enableTableOdd">

                </tbody>
            </table>
        </div>
    </div>
    <!--<div class="hidden">-->
    <!--<div>-->
    <!--<h2>Project Status</h2>-->
    <!--<table id="projectStatus">-->
    <!--</table>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="forInfo">-->
    <!--<div id="projectEndTW">-->
    <!--<h2>Project End This Week</h2>-->
    <!--<table>-->
    <!--<tr>-->
    <!--<th>#</th>-->
    <!--<th>PM</th>-->
    <!--<th>Project Name</th>-->
    <!--<th class="center">Health</th>-->
    <!--</tr>-->
    <!--</table>-->
    <!--</div>-->
    <!--<div id="projectEndNW" class="hidden">-->
    <!--<h2>Project End Next Week</h2>-->
    <!--<table>-->
    <!--<tr>-->
    <!--<th>#</th>-->
    <!--<th>PM</th>-->
    <!--<th>Project Name</th>-->
    <!--<th class="center">Health</th>-->
    <!--</tr>-->
    <!--</table>-->
    <!--</div>-->
    <!--<div id="projectEndN2W" class="hidden">-->
    <!--<h2>Project End Next Next 2 Week</h2>-->
    <!--<table>-->
    <!--<tr>-->
    <!--<th>#</th>-->
    <!--<th>PM</th>-->
    <!--<th>Project Name</th>-->
    <!--<th class="center">Health</th>-->
    <!--</tr>-->
    <!--</table>-->
    <!--</div>-->
    <!--</div>-->
</div>
