<div id="projectPM">
  <div class="projectInProgress hidden">
	<div>
	  <h2>Project In Progress</h2>
	  <table>
		<tr>
		  <th>#</th>
		  <th>PM</th>
		  <th>Project Name</th>
		  <th class="center">Health</th>
		</tr>
		<tbody id="ProjectPMContent">
		  
		</tbody>
	  </table>
	</div>
  </div>
  <div>
	<div>
	  <h2>Project Status</h2>
	  <table id="projectStatus">
	  </table>
	</div>
  </div>
  <div>
	<div id="projectEndTW">
	  <h2>Project End This Week</h2>
	  <table>
		<tr>
		  <th>#</th>
		  <th>PM</th>
		  <th>Project Name</th>
		  <th class="center">Health</th>
		</tr>
	  </table>
	</div>
    <div id="projectEndNW" class="hidden">
	  <h2>Project End Next Week</h2>
	  <table>
		<tr>
		  <th>#</th>
		  <th>PM</th>
		  <th>Project Name</th>
		  <th class="center">Health</th>
		</tr>
	  </table>
	</div>
    <div id="projectEndN2W" class="hidden">
	  <h2>Project End Next Next 2 Week</h2>
	  <table>
		<tr>
		  <th>#</th>
		  <th>PM</th>
		  <th>Project Name</th>
		  <th class="center">Health</th>
		</tr>
	  </table>
	</div>
  </div>
</div>
