<% collection.forEach(function(project, index){ %>
<tr>
    <td><%=startNumber + index + 1 %></td>
    <td><a href='#easyErp/Employees/form/<%=project.projectmanager._id%>'><%=project.projectmanager.name%></a></td>
    <td><a href='#easyErp/Tasks/list/pId=<%=project._id%>'><%=project.projectName%></a></td>
    <td><%=(project.budget && project.budget.budgetTotal && project.budget.budgetTotal.revenueSum) ? currencySplitter(project.budget.budgetTotal.revenueSum.toFixed(2)) : 0%></td>
    <td><%=(project.budget && project.budget.budgetTotal && project.budget.budgetTotal.costSum) ? currencySplitter(project.budget.budgetTotal.costSum.toFixed(2)) : 0%></td>
    <td><%=(project.budget && project.budget.budgetTotal && project.budget.budgetTotal.profitSum) ? currencySplitter(project.budget.budgetTotal.profitSum.toFixed(2)) : 0%></td>
    <td><%=(project.budget && project.budget.budgetTotal && project.budget.budgetTotal.rateSum) ? currencySplitter(project.budget.budgetTotal.rateSum.toFixed(2)) : 0%></td>
    <td><%=(project.budget && project.budget.budgetTotal && project.budget.budgetTotal.hoursSum) ? currencySplitter(project.budget.budgetTotal.hoursSum.toFixed(2)) : 0%></td>
    <td class="procent"><%=(project.budget && project.budget.projectValues) ? project.budget.projectValues.markUp + ' %' : '0 %'%></td>
    <td class="procent"><%=(project.budget && project.budget.projectValues) ? project.budget.projectValues.radio + ' %' : '0 %'%></td>
</tr>
<% }) %>

