<% paymentCollection.forEach(function(payment, index){ %>
<tr data-id="<%=payment._id%>">
    <td class="notForm centerCell"><input type="checkbox" value="<%=payment._id%>" class="checkbox"/></td>
    <td class="centerCell" data-content="number"><%=startNumber + index + 1%></td>
    <td><%=payment.name%></td>
    <td><%=payment.invoice.name%></td>
    <td class="totalPaid <%=currencyClass(payment.currency._id)%>"><%=(payment.paidAmount) ? currencySplitter(payment.paidAmount.toString()) : '0.00'%></td>
    <td><%=payment.date%></td>
</tr>
<% }) %>
