<table id="listTable">
    <% products.forEach(function(product, index){ %>
    <tr class="compactView" data-id="<%=product._id%>">
        <td class="checkboxRow">
            <label>
                <input type="checkbox" value="<%=product._id%>" class="checkbox"/>
            </label>
        </td>
        <td>
            <div class="compactRowWrap">
                <div class="compactRow">
                    <div class="firstName"><%- product.name%></div>
                    <div class="country"><%= product.supplier.name.last %></div>
                    <div class="country"><%= product.orderDate %></div>
                </div>
                <div class="compactRow">
                    <div class="email"><%= product.paymentInfo.total %></div>
                    <div class="phone"><%= product.paymentInfo.unTaxed %></div>
                </div>
            </div>
        </td>
    </tr>
    <% }) %>
</table>