.holidays {
  position: relative;
  float: right;
  width: 20% !important;
  margin-right: 42%;
  margin-top: -26px;
}

.V {
  background-color: #E55253;//@capacityColorVacation;
}

.P {
  background-color: #F9A203;// @capacityColorPerson;
}

.S {
  background-color: #3C86E0;//@capacityColorSick;
}

.E {
  background-color:  #3E7F42;// @capacityColorEducation;
}

.H {
  background-color: #696969;
}