<div>
    <div class="formTitle">
        <div>
            <h3 class="left">Payroll Payment</h3>
        </div>
    </div>
    <div class="createBtnHolder payRollHolder">
        <a href="javascript;" class="fa fa-times" title="Remove" id="deleteBtn"></a>
    </div>

    <table class="list payRoll-list">
        <colgroup class="borders" span="6">
            <col span="1" width="5%">
            <col span="1" width="35%">
            <col span="1" width="15%">
            <col span="1" width="15%">
            <col span="1" width="15%">
            <col span="1" width="15%">
        </colgroup>
        <thead>
        <tr>
            <th><a id="expandAll">#</a></th>
            <!--<th></th>-->
            <th class="oe_sortable_sub" data-sort="employee.name">Complete Name<span
                    class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th>Month</th>

            <th class="oe_sortable_sub" data-sort="calc">Calc<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable_sub" data-sort="paid">Balance<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable_sub" data-sort="diff">Pay<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td id="payRoll-Table" colspan="8">
                <div class="scrollit">
                    <table class="list enable_hover" id="payRoll-listTable">
                        <colgroup class="borders" span="6">
                            <col span="1" width="5%">
                            <col span="1" width="35%">
                            <col span="1" width="15%">
                            <col span="1" width="15%">
                            <col span="1" width="15%">
                            <col span="1" width="15%">
                        </colgroup>
                        <tbody id="payRoll-TableBody">
                        <% var total = 0;%>
                        <% collection.forEach(function(model, index){ %>
                        <%var cid = model.cid;%>
                        <%model = model.toJSON();%>

                        <tr data-id="<%=cid%>">
                            <td data-content="number" class="centerCell"><%=index+1%></td>
                            <!--<td class="notForm centerCell"><input id="<%=cid%>" type="checkbox" value="<%=cid%>"-->
                            <!--class="checkbox"/></td>-->
                            <td class="" data-content="supplier"><%=model.supplier ? model.supplier.name.first + ' ' + model.supplier.name.last :
                                ''%>
                            </td>
                            <td><%=model.month + '/' + model.year%></td>
                            <td data-type="input" class="autoCalc cash calc money" data-content="onCash"
                                data-cash="<%=model.paidAmount%>"><%=currencySplitter(model.paidAmount.toFixed())%>
                            </td>

                            <td data-content="onCash" class="differenceAmount money">0</td>

                            <td data-type="input" data-content="onCash" data-cash="<%=model.paidAmount%>"
                                class="editable autoCalc cash paidAmount money">
                                <%=currencySplitter(model.paidAmount.toFixed())%>
                            </td>

                            <%total += parseInt(model.paidAmount.toFixed(), 10);%>
                        </tr>
                        <% }) %>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        </tbody>
        <tfoot id="payRoll-listTotal"></tfoot>

    </table>
    <div class="totalContainer">
        <label>Date of payment</label>
        <input type="text" readonly id="dateOfPayment"/>
            <span data-id="value" class="totalName">
                Total Amount
            </span>
            <span data-id="value" class="money" id="total" data-cash="<%=total%>">
                <%=currencySplitter(total.toFixed(2))%>
            </span>
    </div>
</div>
