<div>
    <div class="formTitle">
        <div>
            <h3 class="left">Payment info</h3>
        </div>
    </div>

    <table class="list payRoll-list">
        <colgroup class="borders" span="6">
            <col span="1" width="5%">
            <col span="1" width="35%">
            <col span="1" width="15%">
            <col span="1" width="15%">
            <col span="1" width="15%">
            <col span="1" width="15%">
        </colgroup>
        <thead>
        <tr>
            <th><a id="expandAll">#</a></th>
            <th class="oe_sortable_sub" data-sort="employee.name">Complete Name<span
                    class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th>Month</th>
            <th class="oe_sortable_sub" data-sort="calc">Calc<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable_sub" data-sort="paid">Balance<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable_sub" data-sort="diff">Pay<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td id="payRoll-Table" colspan="8">
                <div class="scrollit">
                    <table class="list enable_hover" id="payRoll-listTable">
                        <colgroup class="borders" span="6">
                            <col span="1" width="5%">
                            <col span="1" width="35%">
                            <col span="1" width="15%">
                            <col span="1" width="15%">
                            <col span="1" width="15%">
                            <col span="1" width="15%">
                        </colgroup>
                        <tbody id="payRoll-TableBody">
                        <% var total = 0;%>
                        <% supplier.forEach(function(_supplier, index){ %>

                        <tr data-id="<%=_supplier._id%>">
                            <td data-content="number" class="centerCell"><%=index+1%></td>
                            <!--<td class="notForm centerCell"><input id="<%=_supplier._id%>" type="checkbox"-->
                                                                  <!--value="<%=_supplier._id%>"-->
                                                                  <!--class="checkbox"/></td>-->
                            <td class="" data-content="supplier"><%=_supplier._id.fullName ? _supplier._id.fullName :''%></td>
                            <td><%=month + '/' + year%></td>
                            <td data-type="input" class="autoCalc cash calc money" data-content="onCash"
                                data-cash="<%=_supplier.paidAmount%>">
                                <%=currencySplitter(_supplier.paidAmount.toFixed())%>
                            </td>

                            <td data-content="onCash" class="differenceAmount money"> <%=currencySplitter((_supplier.differenceAmount / 100).toFixed())%></td>

                            <td data-type="input" data-content="onCash" data-cash="<%=_supplier.paidAmount%>"
                                class="editable autoCalc cash paidAmount money">
                                <%=currencySplitter((_supplier.paidAmount + _supplier.differenceAmount / 100) .toFixed())%>
                            </td>

                            <%total += parseInt((_supplier.paidAmount + _supplier.differenceAmount / 100).toFixed(), 10);%>
                        </tr>
                        <% }) %>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        </tbody>
        <tfoot id="payRoll-listTotal"></tfoot>

    </table>
    <div class="totalContainer">
            <span data-id="value" class="totalName">
                Total Amount
            </span>
            <span data-id="value" class="money" id="total" data-cash="<%=total%>">
                <%=currencySplitter(total.toFixed(2))%>
            </span>
    </div>
</div>
