<div id="searchContainer"></div>
<div class="containerContent">
    <div>
        <table class="list gl-list">
            <colgroup span="4">
                <col span="1" width="10%">
                <col span="2" width="25%">
                <col span="1" width="40%">
            </colgroup>
            <thead>
            <tr>
                <th colspan="4"
                    class="forCaption" style="text-align: left;">
                   ASSETS
                </th>
            </tr>

            <tr id="captionAssets">
                <th class="centerCell">Expand</th>
                <th>Account</th>
                <th>Date</th>
                <th class="countable" data-id="debit">Amount</th>
            </tr>
            </thead>
            <tfoot>
            <td>Total Assets</td>
            <td colspan="3" id="assetsFooter"></td>
            </tfoot>
            <tbody id="listTableAssets" class="enableTableOdd"></tbody>
        </table>

    </div>
    <br/>
    <br/>
    <div>
        <table class="list gl-list">
            <colgroup span="4">
                <col span="1" width="10%">
                <col span="2" width="25%">
                <col span="1" width="40%">
            </colgroup>
            <thead>
            <tr>
                <th colspan="4"
                    class="forCaption" style="text-align: left;">
                  LIABILITIES
                </th>
            </tr>
            <tr id="captionLiabilities">
                <th class="centerCell">Expand</th>
                <th>Account</th>
                <th>Date</th>
                <th class="countable" data-id="debit">Amount</th>
            </tr>
            </thead>
            <tfoot>
            <td>Total Liabilities</td>
            <td colspan="3" id="liabilitiesFooter"></td>
            </tfoot>
            <tbody id="listTableLiabilities" class="enableTableOdd"></tbody>
        </table>
    </div>
    <br/>
    <br/>
    <div>
        <table class="list gl-list">
            <colgroup span="4">
                <col span="1" width="10%">
                <col span="2" width="25%">
                <col span="1" width="40%">
            </colgroup>
            <thead>
            <tr>
                <th colspan="4"
                    class="forCaption" style="text-align: left;">
                  EQUITY
                </th>
            </tr>
            <tr id="captionEquity">
                <th class="centerCell">Expand</th>
                <th>Account</th>
                <th>Date</th>
                <th class="countable" data-id="debit">Amount</th>
            </tr>
            </thead>
            <tfoot>
            <td>Total Net Profit</td>
            <td colspan="3" id="equityFooter"></td>
            </tfoot>
            <tbody id="listTableEquity" class="enableTableOdd"></tbody>
        </table>
    </div>
    <br/>
    <br/>
    <div>
        <table class="list gl-list">
            <colgroup span="4">
                <col span="3" width="20%">
                <col span="1" width="40%">
            </colgroup>
            <thead>
            </thead>
            <tbody id="total">
            <tr>
                <td>Equity + Liabilities</td>
                <td colspan="3" id="totalSumm"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>