<div class="filterButton">
    <span class="text">Stage</span>
    <div class="arrow">
        7
    </div>
</div>
<ul class="filter-check-list">
  <li><input type="checkbox"  value="null" checked="checked"><span>Undefinded</span></li>
</ul>
<div id="thumbnailContent">
    <% collection.forEach(function(project){ %>
    <div class="thumbnail" id="<%=project._id%>">
        <div class="dropDown">
            <a href="#easyErp/Tasks/kanban/<%= project._id %>" class="icon icon-btn">r</a>
            <a href="#easyErp/Tasks/list/pId=<%= project._id %>" class="icon icon-btn">i</a>
        </div>
        <div class="inner">
            <div class="project-text left">
              <span class="bold blockLeft" title="<%=project.projectName%>"><%=project.projectName%></span>
			  <div class="health-wrapper left">
				<span class="health-container">
				  <a href="javascript:;" data-value="<%=project.health%>" class="health<%=project.health%>"></a>
				  <ul>
                    <li>
                      <div class="health1"></div>
                    </li>
                    <li>
                      <div class="health2"></div>
                    </li>
                    <li>
                      <div class="health3"></div>
                    </li>
                  </ul>

				</span>
			  </div>
            <div class="clearfix">
            </div>

                <span title="<%=(project.customer) ? project.customer.name.first+ ' ' + project.customer.name.last : ' ' %>"><%=(project.customer)?project.customer.name.first+' ' + project.customer.name.last : ' '%></span>
            </div>
            <div class="clearfix">
            </div>
        </div>
        <div class="bottom">
            <div class="half-block left">
                <p class="inner">
				 
                    <a id="<%=project._id%>" class="tasksByProject" href="#easyErp/Tasks/kanban/<%= project._id %>"><%=project.task.length%> Tasks</a>
                </p>
                <div class="inner">
				  <div class="left"><label>Status: </label>&nbsp;</div>
				  <div class="left"><a href="javascript:;" class="stageSelect <%=(project.workflow) ? project.workflow.name.toLowerCase().replace(" ","") : ''%>"><%=(project.workflow) ? project.workflow.name : ''%></a></div>
<!--<span class="status <%=(project.workflow && project.workflow.status) ? project.workflow.status.toLowerCase().split(' ').join('') : ''%>"><%=(project.workflow) ? project.workflow.status : ''%></span>--></div>
            </div>
            <div class="half-block right">
                <div class="avatar right" data-id="<%=(project.projectmanager) ? project.projectmanager._id: ''%>">
                    <img alt="" src="" />
                </div>
            </div>
        </div>
    </div>
    <% }) %>
</div>
