<div class="form-holder">
    <div class="inner">
        <div class="clearfix"></div>
        <div class="topInputHolder">
            <div class="thirdPartBlock left">
                <dl class="person-info">
                    <dt><label for="project">Project</label></dt>
                    <dd>
                        <span id="project" data-content='project' class="stageSelect error">Select</span>
                    </dd>
                </dl>
            </div>
            <div class="thirdPartBlock left">
                <dl class="person-info">
                    <div class="miniAvatarCustomer miniAvatar">
                        <img alt="" src="" class="avatar"/>
                    </div>
                    <div class="miniAvatarInfo">
                        <dt><label for="customer">Customer</label></dt>
                        <dd>
                            <span id="customer"></span>
                        </dd>
                    </div>
                </dl>
            </div>
            <div class="thirdPartBlock left">
                <dl class="person-info">
                    <div class="miniAvatarPM miniAvatar">
                        <img alt="" src="" class="avatar"/>
                    </div>
                    <div class="miniAvatarInfo">
                        <dt><label for="projectManager">SM</label></dt>
                        <dd>
                            <span id="projectManager"></span>
                        </dd>
                    </div>
                </dl>

            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="topContentHolder">
            <div id="wTrackItemsHolder">
                <table id="rawTable" class="list">
                    <thead>
                    <tr id="caption">
                        <th width="400"></th>
                        <th colspan="2">
                            Vacation
                        </th>
                        <th class="V">
                            V
                        </th>
                        <th colspan="2">
                            Personal
                        </th>
                        <th class="P">
                            P
                        </th>
                        <th colspan="2">
                            Sick
                        </th>
                        <th class="S">
                            S
                        </th>
                        <th colspan="2">
                            Education
                        </th>
                        <th class="E">
                            E
                        </th>
                        <th colspan="2">
                            Holyday
                        </th>
                        <th class="H">
                            H
                        </th>

                    </tr>
                    </thead>
                </table>
                <br>
                <table id="rawTable" class="list">
                    <thead>
                    <tr>
                        <th>
                            Sprint
                        </th>
                        <th>
                            Employee
                        </th>
                        <th>
                            Department
                        </th>
                        <th>
                            Year
                        </th>
                        <th>
                            Month
                        </th>
                        <th>
                            Week
                        </th>
                        <th>
                            Hours
                        </th>
                        <th>
                            Mo
                        </th>
                        <th>
                            Tu
                        </th>
                        <th>
                            We
                        </th>
                        <th>
                            Th
                        </th>
                        <th>
                            Fr
                        </th>
                        <th>
                            Sa
                        </th>
                        <th>
                            Su
                        </th>
                    </tr>
                    </thead>
                    <tbody id="wTrackCreateTable">
                    <% if (nonWorkingDays && nonWorkingDays.splited) {
                      nonWorkingDays.splited.forEach(function(dateObject){%>
                            <tr>
                                <td data-content="jobs" data-id="<%=wTrack.jobs ? wTrack.jobs.name : '------'%>"
                                    class="editable errorContent" data-id="<%=wTrack.jobs ? wTrack.jobs._id : null%>">
                                    <%=wTrack.jobs ?
                                    wTrack.jobs.name : 'Select'%>
                                </td>
                                <td data-content="employee">
                                    <%=(wTrack.employee) ? wTrack.employee.name.first + ' ' + wTrack.employee.name.last: ''%>
                                </td>
                                <td data-content="department">
                                    <%=(wTrack.department) ? wTrack.department.departmentName : ''%>
                                </td>
                                <td data-type="input" class="editable" data-content="year"><%= dateObject.year%></td>
                                <td data-type="input" class="editable" data-content="month"><%= dateObject.month%></td>
                                <td data-type="input" data-content="week"><%=wTrack.week%></td>
                                <%var endDay = dateObject.endDay > 5 ? 5 : dateObject.endDay%>
                                <td data-type="input" class="hours" data-content="worked"><%= (endDay - dateObject.startDay + 1) * 8%>
                                </td>

                                <% var cls;
                                var hours;
                                var workingStr;
                                for (var i = 1; i <= 7; i++) {
                                    workingStr = nonWorkingDays[i];

                                    if(i >= dateObject.startDay && i <= dateObject.endDay){
                                        cls = (isNaN(parseInt(workingStr)) ? workingStr : "");
                                        hours = isNaN(parseInt(workingStr)) ? (workingStr !== 'disabled' ? 0 : '') : workingStr;
                                    } else {
                                        cls = 'disabled';
                                        hours = '';
                                    }%>
                                    <td data-type="input" class="editable autoCalc <%= cls %>" data-content="<%= i %>"><%= hours %></td>
                                <% } %>

                            </tr>
                    <%});
                    } else { %>
                        <tr>
                            <td data-content="jobs" data-id="<%=wTrack.jobs ? wTrack.jobs.name : '------'%>"
                                class="editable errorContent" data-id="<%=wTrack.jobs ? wTrack.jobs._id : null%>">
                                <%=wTrack.jobs ?
                                wTrack.jobs.name : 'Select'%>
                            </td>
                            <td data-content="employee">
                                <%=(wTrack.employee) ? wTrack.employee.name.first + ' ' + wTrack.employee.name.last: ''%>
                            </td>
                            <td data-content="department">
                                <%=(wTrack.department) ? wTrack.department.departmentName : ''%>
                            </td>
                            <td data-type="input" class="editable" data-content="year"><%=wTrack.year%></td>
                            <td data-type="input" class="editable" data-content="month"><%=wTrack.month%></td>
                            <td data-type="input" data-content="week"><%=wTrack.week%></td>
                            <td data-type="input" class="hours" data-content="worked"><%= nonWorkingDays.workingHours %></td>

                            <% var cls;
                            var hours;
                            var workingStr;
                            for (var i = 1; i <= 7; i++) {
                                workingStr = nonWorkingDays[i.toString()];
                                cls = (isNaN(parseInt(workingStr)) ? workingStr : "");
                                hours = isNaN(parseInt(workingStr)) ? (workingStr !== 'disabled' ? 0 : '') : workingStr; %>
                                <td data-type="input" class="editable autoCalc <%= cls %>" data-content="<%= i %>"><%= hours
                                    %>
                                </td>
                            <% } %>

                        </tr>
                    <% } %>
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>