<div class="form-holder">
    <div class="inner">
        <div class="clearfix"></div>
        <div class="topInputHolder">
            <div class="thirdPartBlock left">
                <dl class="person-info">
                    <dt><label for="project">Project</label></dt>
                    <dd>
                        <span id="project"><%= projectName %></span>
                    </dd>
                </dl>
            </div>
            <div class="thirdPartBlock left">
                <dl class="person-info">
                    <div class="miniAvatarCustomer miniAvatar" data-id="<%=(customer) ? customer._id: ''%>">
                        <img alt="" src="" class="avatar"/>
                    </div>
                    <div class="miniAvatarInfo">
                        <dt><label for="customer">Customer</label></dt>
                        <dd>
                            <span id="customer"><%= customer.name ? customer.name.first + ' ' + customer.name.last : ''%></span>
                        </dd>
                    </div>
                </dl>
            </div>
            <div class="thirdPartBlock left">
                <dl class="person-info">
                    <div class="miniAvatarPM miniAvatar" data-id="<%=(projectmanager) ? projectmanager._id: ''%>">
                        <img alt="" src="" class="avatar"/>
                    </div>
                    <div class="miniAvatarInfo">
                        <dt><label for="projectManager">Sales Manager</label></dt>
                        <dd>
                            <span id="projectManager"><%= projectmanager.name ? projectmanager.name.first + ' ' +  projectmanager.name.last : ''%></span>
                        </dd>
                    </div>
                </dl>

            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="topContentHolder">
            <div id="wTrackItemsHolder">
                <table id="rawTable" class="list">
                    <thead>
                    <tr id="caption">
                        <th width="400"></th>
                        <th colspan="2">
                            Vacation
                        </th>
                        <th class="V">
                            V
                        </th>
                        <th colspan="2">
                            Personal
                        </th>
                        <th class="P">
                            P
                        </th>
                        <th colspan="2">
                            Sick
                        </th>
                        <th class="S">
                            S
                        </th>
                        <th colspan="2">
                            Education
                        </th>
                        <th class="E">
                            E
                        </th>
                        <th colspan="2">
                            Holyday
                        </th>
                        <th class="H">
                            H
                        </th>

                    </tr>
                    </thead>
                </table>
                <br>
                <table id="rawTable" class="list">
                    <thead>
                    <tr>
                        <th>
                            Sprint
                        </th>
                        <th>
                            Employee
                        </th>
                        <th>
                            Department
                        </th>
                        <th>
                            Year
                        </th>
                        <th>
                            Month
                        </th>
                        <th>
                            Week
                        </th>
                        <th>
                            Hours
                        </th>
                        <th>
                            Mo
                        </th>
                        <th>
                            Tu
                        </th>
                        <th>
                            We
                        </th>
                        <th>
                            Th
                        </th>
                        <th>
                            Fr
                        </th>
                        <th>
                            Sa
                        </th>
                        <th>
                            Su
                        </th>
                    </tr>
                    </thead>
                    <tbody id="wTrackEditTable">
                    <%wTracks.forEach(function(wTrack){%>
                    <tr data-id="<%=wTrack._id%>">
                        <td data-content="jobs" class="editable textUnderlineHover" data-id="<%=wTrack.jobs ? wTrack.jobs._id : null%>">
                            <%=wTrack.jobs ?
                            wTrack.jobs.name : '------'%>
                        </td>
                        <td data-content="employee">
                            <%=(wTrack.employee) ? wTrack.employee.name.first + ' ' + wTrack.employee.name.last: ''%>
                        </td>
                        <td data-content="department">
                            <%=(wTrack.department) ? wTrack.department.departmentName : ''%>
                        </td>
                        <td data-content="year"><%=wTrack.year%></td>
                        <td data-content="month"><%=wTrack.month%></td>
                        <td data-content="week"><%=wTrack.week%></td>
                        <td data-type="input" class="hours" data-content="worked"><%=wTrack.worked%></td>



                        <% var cls; %>
                        <% for (var i = 1; i <= 7; i++) { %>
                        <% cls = nonWorkingDays[i.toString()]; %>
                        <% hours = isNaN(parseInt(nonWorkingDays[i.toString()])) ? 0 : nonWorkingDays[i.toString()]; %>
                        <td data-type="input" class="editable autoCalc <%= cls %>" data-content="<%= i %>"><%=wTrack[i.toString()]%></td>
                        <% } %>


                    </tr>
                    <%})%>
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>