<tr data-id="<%=model._id%>">
    <td class="notForm"><input type="checkbox" value="<%=model._id%>" class="checkbox listCB"/></td>
   <!-- <td class="centerCell" data-content="number"><%=model.startNumber%></td>-->
    <td class="editable" data-content="name" data-type="input"><%=model.name%></td>
    <td class="editable" data-content="transaction"><%=model.transaction ? model.transaction : ''%></td>
    <td class="editable" data-content="debitAccount"><%=(model.debitAccount && model.debitAccount.name) ?
        model.debitAccount.name : ''%>
    </td>
    <td class="editable" data-content="creditAccount"><%=(model.creditAccount && model.creditAccount.name) ?
        model.creditAccount.name : ''%>
    </td>
</tr>