<% collection.forEach(function(journal, index){ %>
<tr data-id="<%=journal._id%>">
    <td class="notForm centerCell"><input type="checkbox" value="<%=journal._id%>" class="checkbox"/></td>
    <td data-content="number" class="centerCell"><%=index + 1 %></td>
    <td class="editable" data-content="name"><%=journal.name%></td>
    <td><%=journal.transaction ? journal.transaction : ''%></td>
    <td><%=(journal.debitAccount && journal.debitAccount.name) ? journal.debitAccount.name : ''%></td>
    <td><%=(journal.creditAccount && journal.creditAccount.name) ? journal.creditAccount.name : ''%></td>
</tr>
<% }) %>