<div id="searchContainer"></div>
<div>
    <table class="list task-list">
        <col width="2%">
        <col width="2%">
        <col width="26%">
        <col width="20%">
        <col width="25%">
        <col width="25%">
        <thead>
        <tr>
            <th class="centerCell"><input type="checkbox" id="check_all"/></th>
            <th class="centerCell">N</th>
            <th>Journal Name</th>
            <th>Transaction</th>
            <th>Debit Account</th>
            <th>Credit Account</th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>

    </table>
</div>
