<div id="searchContainer"></div>
<div>
    <table class="list task-list">
        <thead>
        <tr>
            <th class="centerCell">N</th>
            <th>Invoice Name</th>
            <th>Sales Manager</th>
            <th>Customer</th>
            <th>Project</th>
            <th>In Term</th>
            <th>0-15</th>
            <th>15-30</th>
            <th>30-60</th>
            <th>60-90</th>
            <th>> 90</th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
        <!--<tfoot id="tableFooter">
            <tr>
                <td colspan="6">Total</td>
                <td id="thirtyTotal">&nbsp;</td>
                <td id="sixtyTotal">&nbsp;</td>
                <td id="ninetyTotal">&nbsp;</td>
                <td id="moreTotal">&nbsp;</td>
            </tr>
        </tfoot>-->
    </table>
</div>
