<div id="searchContainer"></div>
<div class="_tableJournalWrap">
<table class="list stripedList">
    <colgroup>
        <col width="42px">
        <col width="28%">
        <col width="12%">
        <col width="28%">
        <col width="28%">
    </colgroup>
    <thead>
    <tr>
        <th class="centerCell">
            <label class="_customCHeckbox">
                <input type="checkbox" id="checkAll"/>
                <span></span>
            </label>
        </th>
        <th class="oe_sortable" data-sort="name">Journal Name<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th class="oe_sortable" data-sort="transaction">Transaction<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th class="oe_sortable" data-sort="debitAccount">Debit Account<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th class="oe_sortable" data-sort="creditAccount">Credit Account<span class="arrow down"></span><span
                class="arrow up"></span></th>
    </tr>
    </thead>
    <tbody id="listTable" class="enableTableOdd"></tbody>
</table>