<div class="forInfo-half-block left tableResponsive">
    <table class="list tableProjects">
        <colgroup span="11">
            <col span="1" width="3%">
            <col span="1">
            <col span="1">
            <col span="1">
            <col span="1">
            <col span="1">
            <col span="1">
            <col span="1">
            <col span="1">
            <col span="1">
            <col span="1">
        </colgroup>

        <thead>
        <tr>
            <th colspan="9"
                class="forCaption">
                Team & Resources
            </th>
            <th class="forCaption"
                colspan="5">
                <a href="javascript:;"
                   title="Create Job"
                   id="createJob" class="btnAdd">
                    Add Job
                </a>
            </th>
        </tr>
        <tr>
            <th></th>
            <th>Expand</th>
            <th>Sprint</th>
            <th>Status</th>
            <th>Type</th>
            <th>Quot/Order</th>
            <th>Invoice</th>
            <th>Employees</th>
            <th>Hours</th>
            <th>Cost</th>
            <th>Revenue</th>
            <th>Profit</th>
        </tr>
        </thead>

        <tbody id="projectTeam">
        <%var count = 0;%>
        <%var totalEmp = 0;%>
        <%var totalHours = 0;%>
        <%var totalCost = 0;%>
        <%var totalRevenue = 0;%>
        <%var totalProfit = 0;%>
        <% jobs.forEach(function(element,i){ %>
        <%if (element.budget) {%>
        <%var budgetTotal = element.budget.budgetTotal%>

        <tr data-id="<%=element._id%>" id="jobsItem">

            <td class="remove"><a
                    class="fa fa-trash hidden <%=((element.quotation && element.quotation._id) || (element.invoice && element.invoice._id)) ? 'notRemovable' : ''%>"
                    id="<%=element._id%>"></a></td>
            <td class="expand">+</td>
            <td class="editableJobs" id="jobsName"><%=element.name%></td>
            <td class="selects"><a data-id="<%=element.workflow._id%>" id="workflow" class="current-selected"><%=element.workflow.name%></a>
            </td>
            <td class="selects"><a data-id="<%=element.type%>" id="type"><%=element.type%></a>
                <!--<ul class="newSelectList" style="display: none;">-->
                    <!--<li>Ordered</li>-->
                    <!--<li>Quoted</li>-->
                    <!--<li>Invoiced</li>-->
                    <!--<li>Not Quoted</li>-->
                <!--</ul>-->
            </td>
            <td><a data-id="<%=element.quotation ? element.quotation._id : null%>" class="quotation"><%=element.quotation
                ? element.quotation.name: ''%></a></td>
            <td><a data-id="<%=element.invoice ? element.invoice._id : null%>" class="invoice"><%=element.invoice ?
                element.invoice.name : ''%></a></td>
            <td><%=element.budget.projectTeam.length%></td>
            <td><%= budgetTotal ? currencySplitter(budgetTotal.hoursSum.toFixed()) : 0%></td>
            <td><%= budgetTotal.costSum ? currencySplitter((budgetTotal.costSum/100).toFixed(2)) : 0%></td>
            <td><%= budgetTotal ? currencySplitter((budgetTotal.revenueSum/100).toFixed(2)) : 0%></td>
            <td><%= currencySplitter(((budgetTotal.revenueSum - budgetTotal.costSum)/100).toFixed(2))%></td>

        </tr>
        <% count++ %>
        <% totalHours += budgetTotal.hoursSum %>
        <% totalCost += budgetTotal.costSum %>
        <% totalRevenue += budgetTotal.revenueSum%>
        <% totalProfit += budgetTotal.profitSum%>
        <% } %>
        <% })%>

        </tbody>
        <tfoot>

        <tr id="total">
            <td>&nbsp</td>
            <td>Total</td>
            <td>&nbsp</td>
            <td>&nbsp</td>
            <td>&nbsp</td>
            <td>&nbsp</td>
            <td>&nbsp</td>
            <td>&nbsp</td>
            <td id="totalHours" data-value="<%=totalHours%>"><%= currencySplitter(totalHours.toFixed())%></td>
            <td id="totalCost" data-value="<%=totalCost%>"><%= currencySplitter(totalCost.toFixed())%></td>
            <td id="totalRevenue" data-value="<%=totalRevenue%>"><%= currencySplitter(totalRevenue.toFixed())%></td>
            <td id="totalProfit" data-value="<%=totalProfit%>"><%= currencySplitter(totalProfit.toFixed())%></td>
        </tr>

        </tfoot>


    </table>
</div>


<div class="forInfo-half-block right">
    <div>
        <table class="list tableProjects">
            <colgroup span="3">
                <col span="1">
                <col span="1">
                <col span="1">
            </colgroup>
            <thead>
            <tr>
                <th colspan="3" class="forCaption">Bonus for Sales Managers</th>
            </tr>
            <tr>
                <th>Resource</th>
                <th>Percentage</th>
                <th>Bonus</th>
            </tr>
            </thead>
            <tbody id="bonuses">
            <% bonus.forEach(function(element){ %>
            <tr>
                <td><%=element.resource%></td>
                <td><%=element.percentage%></td>
                <td><%=currencySplitter((element.bonus/100).toFixed(2))%></td>
            </tr>
            <% })%>
            </tbody>
        </table>
    </div>
    <div>
        <table class="list tableProjects">
            <colgroup span="4">
                <col span="1">
                <col span="1">
                <col span="1">
                <col span="1">
            </colgroup>
            <thead>
            <tr>
                <th colspan="4" class="forCaption">Project Values</th>
            </tr>
            <tr>
                <th>Revenue</th>
                <th>Profit</th>
                <th>MarkUp</th>
                <th>Pr. Margin</th>
            </tr>
            </thead>
            <tbody id="project">
            <%if (projectValues) {%>
            <tr>
                <td><%=currencySplitter(projectValues.revenue.toFixed())%></td>
                <td><%=currencySplitter(projectValues.profit.toFixed())%></td>
                <td class="procent"><%=projectValues.markUp.toFixed() %></td>
                <td class="procent"><%=projectValues.radio.toFixed()%></td>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div>
    <div id="proformRevenueContainer">
    </div>
    <div id="invoiceStatsContainer">
    </div>
    <div id="proformaStatsContainer">
    </div>
</div>

