<div class="half-block left">
    <table class="list tableProjects">
        <colgroup span="8">
            <col span="1">
            <col span="1">
            <col span="1">
            <col span="1">
            <col span="1">
            <col span="1">
            <col span="1">
            <col span="1">
        </colgroup>
        <thead>
        <tr>
            <th colspan="8"
                class="forCaption">
                Team & Resources

            </th>
        </tr>
        <tr>
            <th>Resource</th>
            <th>Department</th>
            <th>Job Position</th>
            <th>Hours</th>
            <th>Cost</th>
            <th>Revenue</th>
            <th>Profit</th>
            <th>Rate</th>
        </tr>
        </thead>
        <tbody id="projectTeam">
        <%var count = 0;%>
        <% projectTeam.forEach(function(element,i){ %>
        <%if (element) {%>
        <tr>

            <td><%=element.name.first + ' ' + element.name.last%></td>
            <td><%=element.department.name%></td>
            <td><%=element.jobPosition.name%></td>
            <td><%=currencySplitter(budget[i].hours.toFixed())%></td>
            <td><%=currencySplitter(budget[i].cost.toFixed())%></td>
            <td><%=currencySplitter(budget[i].revenue.toFixed())%></td>
            <td><%=currencySplitter(budget[i].profit.toFixed())%></td>
            <td><%=currencySplitter((budget[i].revenue / budget[i].hours).toFixed(2))%></td>

        </tr>
        <% count++ %>
        <% } %>
        <% })%>
        <%if (count) {%>

        <tfoot>

        <tr style="height: 20px; border-bottom: 0px">
            <td style="vertical-align: top">
                <a href="javascript:;"
                   title="Create Item"
                   id="createItem">
                    Add team member
                </a>
            </td>

            <td>&nbsp</td>
            <td>&nbsp</td>
            <td>&nbsp</td>
            <td>&nbsp</td>
            <td>&nbsp</td>
            <td>&nbsp</td>
            <td>&nbsp</td>
        </tr>
        <tr style="border-bottom: 2px solid #66B5D4">
            <td style="font-weight: bold">Total:</td>
            <td><%='&nbsp'%></td>
            <td style="font-weight: bold"><%=count%></td>
            <td style="font-weight: bold"><%=currencySplitter(budgetTotal.hoursSum.toFixed())%></td>
            <td style="font-weight: bold"><%=currencySplitter(budgetTotal.costSum.toFixed())%></td>
            <td style="font-weight: bold"><%=currencySplitter(budgetTotal.revenueSum.toFixed())%></td>
            <td style="font-weight: bold"><%=currencySplitter(budgetTotal.profitSum.toFixed())%></td>
            <td style="font-weight: bold"><%=currencySplitter((budgetTotal.rateSum.byDev + budgetTotal.rateSum.byQA).toFixed(2))%></td>
        </tr>
        </tfoot>
        <% } %>
        </tbody>
    </table>
</div>


<div class="half-block right">
    <div>
        <table class="list tableProjects">
            <colgroup span="3">
                <col span="1">
                <col span="1">
                <col span="1">
            </colgroup>
            <thead>
            <tr>
                <th colspan="3" class="forCaption">Bonus for Sales Managers</th>
            </tr>
            <tr>
                <th>Resource</th>
                <th>Percentage</th>
                <th>Bonus</th>
            </tr>
            </thead>
            <tbody id="bonus">
            <% bonus.forEach(function(element){ %>
            <tr>
                <td><%=element.resource%></td>
                <td><%=element.percentage%></td>
                <td><%=currencySplitter((element.bonus/100).toFixed(2))%></td>
            </tr>
            <% })%>
            </tbody>
        </table>
    </div>
    <div>
        <table class="list tableProjects">
            <colgroup span="4">
                <col span="1">
                <col span="1">
                <col span="1">
                <col span="1">
            </colgroup>
            <thead>
            <tr>
                <th colspan="4" class="forCaption">Project Values</th>
            </tr>
            <tr>
                <th>Revenue</th>
                <th>Profit</th>
                <th>MarkUp</th>
                <th>Pr. Margin</th>
            </tr>
            </thead>
            <tbody id="project">
            <%if (projectValues) {%>
            <tr>
                <td><%=currencySplitter(projectValues.revenue.toFixed())%></td>
                <td><%=currencySplitter(projectValues.profit.toFixed())%></td>
                <td class="procent"><%=projectValues.markUp.toFixed() %></td>
                <td class="procent"><%=projectValues.radio.toFixed()%></td>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>

