<div class="forInfo-half-block left tableResponsive">
    <table class="list tableProjects">
        <colgroup span="11">
            <col span="1" width="3%">
            <col span="1">
            <col span="1">
            <col span="1">
            <col span="1">
            <col span="1">
            <col span="1">
            <col span="1">
            <col span="1">
            <col span="1">
            <col span="1">
        </colgroup>

        <thead>
        <tr>
            <th colspan="9"
                class="forCaption">
                Team & Resources
            </th>
            <th class="forCaption"
                colspan="5">
                <a href="javascript:;"
                   title="Create Job"
                   id="createJob" class="btnAdd">
                    Add Job
                </a>
            </th>
        </tr>
        <tr>
            <th></th>
            <th>Expand</th>
            <th></th>
            <th>Sprint</th>
            <th>Status</th>
            <th>Type</th>
            <th>Quot/Order</th>
            <th>Invoice</th>
            <th>Employees</th>
            <th>Hours</th>
            <th>Cost</th>
            <th>Revenue</th>
            <th>Profit</th>
        </tr>
        </thead>

        <tbody id="projectTeam">
        <%var firstJob = jobs[0];%>
        <% jobs.forEach(function(element,i){ %>
            <tr data-id="<%=element._id%>" id="jobsItem">

                <td class="remove"><a
                        class="fa fa-trash hidden <%=((element.quotation && element.quotation._id) || (element.invoice && element.invoice._id)) ? 'notRemovable' : ''%>"
                        id="<%=element._id%>"></a></td>
                <td class="expand">+</td>
                <td class="report"><a class="centerCell fa fa-university"></a></td>
                <td class="editableJobs" id="jobsName"><%=element.name%></td>
                <td class="selects"><a data-id="<%=element.workflow._id%>" id="workflow" class="current-selected"><%=element.workflow.name%></a>
                </td>
                <td class="selects"><a data-id="<%=element.type%>" id="type"><%=element.type%></a>
                    <!--<ul class="newSelectList" style="display: none;">-->
                    <!--<li>Ordered</li>-->
                    <!--<li>Quoted</li>-->
                    <!--<li>Invoiced</li>-->
                    <!--<li>Not Quoted</li>-->
                    <!--</ul>-->
                </td>
                <td><a data-id="<%=element.quotation ? element.quotation._id : null%>" class="quotation"><%=element.quotation
                    ? element.quotation.name: ''%></a></td>
                <td><a data-id="<%=element.invoice ? element.invoice._id : null%>" class="invoice"><%=element.invoice ?
                    element.invoice.name : ''%></a>
                </td>
                <td><%= element.revenue ? element.revenue.length : 0 %></td>
                <td><%= currencySplitter(element.totalWorked.toFixed()) || 0%></td>
                <td class="dollar"> <%= currencySplitter((element.cost/100).toFixed()) || 0%></td>
                <td class="dollar"> <%= currencySplitter((element.totalRevenue/100).toFixed()) || 0%></td>
                <td class="dollar"> <%= currencySplitter((element.profit/100).toFixed()) || 0%></td>

            </tr>
        <% })%>

        </tbody>
        <tfoot>

        <tr id="total">
            <td>&nbsp</td>
            <td>Total</td>
            <td>&nbsp</td>
            <td>&nbsp</td>
            <td>&nbsp</td>
            <td>&nbsp</td>
            <td>&nbsp</td>
            <td>&nbsp</td>
            <td>&nbsp</td>
            <td id="totalHours" data-value="<%=firstJob ? firstJob.workedTotal: 0%>"><%= firstJob ? currencySplitter(firstJob.workedTotal.toFixed()): 0%></td>
            <td id="totalCost" class="dollar" data-value="<%=firstJob.costTotal || 0%>"> <%= firstJob ? currencySplitter((firstJob.costTotal/100).toFixed()): 0%></td>
            <td id="totalRevenue" class="dollar" data-value="<%=firstJob.revenueTotal || 0%>"> <%= firstJob ? currencySplitter((firstJob.revenueTotal/100).toFixed()): 0%></td>
            <td id="totalProfit" class="dollar" data-value="<%=firstJob.profitTotal || 0%>"> <%= firstJob ? currencySplitter((firstJob.profitTotal/100).toFixed()): 0%></td>
        </tr>

        </tfoot>


    </table>
</div>


<div class="forInfo-half-block right">
    <div>
        <table class="list tableProjects">
            <colgroup span="4">
                <col span="1">
                <col span="1">
                <col span="1">
                <col span="1">
            </colgroup>
            <thead>
            <tr>
                <th colspan="4" class="forCaption">Project Values</th>
            </tr>
            <tr>
                <th>Revenue</th>
                <th>Profit</th>
                <th>MarkUp</th>
                <th>Pr. Margin</th>
            </tr>
            </thead>
            <tbody id="project">
            <tr>
                <%  var revenueTotal = firstJob ? firstJob.revenueTotal/100 : 0;
                    var profitTotal = firstJob ? firstJob.profitTotal/100: 0;
                    var costTotal = firstJob ? firstJob.costTotal/100: 0;
                    var murkUp = profitTotal/costTotal;
                    var margin = profitTotal/revenueTotal;

                    murkUp = isFinite(murkUp) ? murkUp * 100 : 0;
                    margin = isFinite(margin) ? margin * 100 : 0;
                %>
                <td class="dollar"> <%= currencySplitter(revenueTotal.toFixed())%></td>
                <td class="dollar"> <%= currencySplitter(profitTotal.toFixed())%></td>
                <td class="procent"><%= currencySplitter(murkUp.toFixed())%></td>
                <td class="procent"><%= currencySplitter(margin.toFixed())%></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="proformRevenueContainer">
    </div>
    <div id="invoiceStatsContainer">
    </div>
    <div id="proformaStatsContainer">
    </div>
</div>

