
<div>
    <table class="list task-list">
        <col width="2%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="10%">

        <thead>
        <tr>
            <th>N</th>
            <th>Customer</th>
            <th>Invoice Date</th>
            <th>Payment Date</th>
            <th>Assigned</th>
            <th>Due Date</th>
            <th>Balance</th>
            <th>Paid</th>
            <th>Total</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody id="listTable">

        <%var balance = 0;%>
        <%var paid = 0;%>
        <%var total = 0;%>
<% collection.forEach(function(invoice, index){ %>
<tr data-id="<%=invoice._id%>">
    <td><%=startNumber + index + 1%></td>
    <td><%=(invoice.supplier && invoice.supplier.name) ? invoice.supplier.name : ''%></td>
    <td><%=utcDateToLocaleDate(invoice.invoiceDate)%></td>
    <td><%=utcDateToLocaleDate(invoice.paymentDate)%></td>
    <td><%=(invoice.salesPerson) ? invoice.salesPerson.name : ''%></td>
    <td><%=utcDateToLocaleDate(invoice.dueDate)%></td>
    <td class="money"><%=invoice.paymentInfo.balance%></td>
    <td class="unTaxed money"><%=(invoice.paymentInfo) ? invoice.paymentInfo.unTaxed : '0.00'%></td>
    <td class="total money"><%=(invoice.paymentInfo) ? invoice.paymentInfo.total : '0.00'%></td>
    <td id='<%=invoice._id%>'>
        <%if(invoice.workflow){%>
        <%if(invoice.workflow.status !== 'Done'){%>
        <a href="javascript:;" class="stageSelect <%=invoice.workflow.status.toLowerCase().replace(' ', '')%>"><%=invoice.workflow.name%></a>
        <% } else {%>
        <span class="done"><%=invoice.workflow.name%></span>
        <%}%>
        <% } else {%>
        <span> </span>
        <%}%>
    </td>

    <%balance += parseFloat(invoice.paymentInfo.balance)%>
    <%paid += parseFloat(invoice.paymentInfo.unTaxed)%>
    <%total += parseFloat(invoice.paymentInfo.total)%>
</tr>
<% }) %>

        </tbody>
        <tfoot id="listTotal">
        <tr>
            <td colspan="6"></td>
            <td><span id="balance" class="money"><%=currencySplitter((balance).toFixed(2))%></span></td>
            <td><span id="paid" class="money"><%=currencySplitter((paid).toFixed(2))%></span></td>
            <td><span id="total" class="money"><%=currencySplitter((total).toFixed(2))%></span></td>
            <td></td>
        </tr>
        </tfoot>
    </table>
</div>