<div>
    <table class="list payment-list">
        <col width="2%">
        <col width="12%">
        <col width="12%">
        <col width="12%">
        <col width="12%">
        <col width="20%">
        <col width="15%">
        <col width="20%">
        <col width="15%">

        <thead>
        <tr>
            <th>N</th>
            <th>Assigned</th>
            <th>Company</th>
            <th>Invoice</th>
            <th>Payment Date</th>
            <th>Payment Way</th>
            <th>Invoiced</th>
            <th>Paid</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody id="listTable">
        <%var total = 0;%>
        <%var totalPaidAmount = 0;%>
        <% paymentCollection.forEach(function(payment, index) {%>
        <tr data-id="<%=payment._id%>">
            <td><%=startNumber + index + 1%></td>
            <td><%=(payment.invoice && payment.invoice.assigned) ? payment.invoice.assigned.name: ''%></td>
            <td><%=payment.supplier.fullName%></td>
            <td><%=payment.invoice ? payment.invoice.name : ''%></td>
            <td data-type="dtPicker" class="editable date" data-content="date">
                <%=utcDateToLocaleDate(payment.date)%>
            </td>
            <td><%=(payment.paymentMethod) ? payment.paymentMethod.name : ''%></td>
            <td class="total money <%= payment.paidAmount != payment.invoiced ? 'red' :''%>"><%=((parseFloat(payment.paidAmount) + parseFloat(payment.differenceAmount))/100).toFixed(2)%></td>
            <td class="totalPaidAmount money <%= payment.paidAmount != payment.invoiced ? 'red' :''%>"><%=(payment.paidAmount/100).toFixed(2)%></td>
            <td data-content="workflow" class="editable"><a href="javascript:;" class="currentSelected <%= payment.workflow === 'Paid' ? 'done' : 'new'%>"><%=payment.workflow%></a></td>
            <%total += parseFloat(payment.paidAmount) + parseFloat(payment.differenceAmount)%>
            <%totalPaidAmount += parseFloat(payment.paidAmount)%>
        </tr>
        <%})%>

        <tfoot id="listTotal">
             <tr>
                 <td colspan="6"></td>
                 <td><span id="total" class="money"><%=currencySplitter((total / 100).toFixed(2))%></span></td>
                 <td><span id="totalPaidAmount" class="money"><%=currencySplitter((totalPaidAmount / 100).toFixed(2))%></span></td>
                 <td></td>
             </tr>
        </tfoot>
        </tbody>
    </table>
</div>
