<div id="top-bar-payments">
    <div id="createBtnHolder">
        <a href="javascript;" class="fa fa-times" title="Remove" id="removePayment"></a>
        <a href="javascript;" class="fa fa-check" title="Save" id="savePayment"></a>
    </div>
</div>
<div id="paymentsTable">
    <table class="list payment-list">

        <thead>
        <tr>
            <th class="centerCell"><input type="checkbox" id="check_all_payments" class="check_all"/></th>
            <th class="centerCell">N</th>
            <th class="oe_sortable" data-sort="invoice.assigned.name">Assigned<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="supplier.fullName">Company<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable" data-sort="invoice.name">Invoice<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>

            <th class="oe_sortable" data-sort="paymentMethod.name">Payment Way<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="paidAmount">Invoiced<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="paidAmount">Paid<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <!--<th class="oe_sortable" data-sort="workflow">Status<span class="arrow down">7</span><span-->
                    <!--class="arrow up">v</span></th>-->
            <th class="oe_sortable sortDn" data-sort="date">Payment Date<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
        </tr>
        </thead>
        <tbody id="listTable">
        <%var total = 0;%>
        <%var totalPaidAmount = 0;%>
        <% paymentCollection.forEach(function(payment, index) {%>
        <tr data-id="<%=payment._id%>">
            <td class = "notForm centerCell"><input type="checkbox" value="<%=payment._id%>" class="checkbox" /></td>
            <td class="centerCell"><%=startNumber + index + 1%></td>
            <td><%=(payment.invoice && payment.invoice.assigned) ? payment.invoice.assigned.name: ''%></td>
            <td><%=payment.supplier.fullName%></td>
            <td><%=payment.invoice ? payment.invoice.name : ''%></td>
            <td><%=(payment.paymentMethod) ? payment.paymentMethod.name : ''%></td>
            <td class="total money <%= payment.paidAmount != payment.invoiced ? 'red' :''%>"><%=(parseFloat(payment.paidAmount) + parseFloat(payment.differenceAmount)).toFixed(2)%></td>
            <td class="totalPaidAmount money <%= payment.paidAmount != payment.invoiced ? 'red' :''%>"><%=payment.paidAmount%></td>
            <!--<td data-content="workflow" class=""><a href="javascript:;" class="<%= payment.workflow === 'Paid' ? 'done' : 'new'%>"><%=payment.workflow%></a></td>-->
            <td data-type="dtPicker" class="editable date" data-content="date">
                <%=utcDateToLocaleDate(payment.date)%>
            </td>
            <%total += parseFloat(payment.paidAmount) + parseFloat(payment.differenceAmount)%>
            <%totalPaidAmount += parseFloat(payment.paidAmount)%>
        </tr>
        <%})%>
        <% if (paymentCollection.length) {%>
        <tfoot id="listTotal">
             <tr>
                 <td colspan="6"></td>
                 <td><span id="total" class="money"><%=currencySplitter(total.toFixed(2))%></span></td>
                 <td><span id="totalPaidAmount" class="money"><%=currencySplitter(totalPaidAmount.toFixed(2))%></span></td>
                 <td></td>
             </tr>
        </tfoot>
        <%}%>
        </tbody>
    </table>
</div>
