<table class="list tableProjects tableProform">

    <colgroup span="3">
        <col width="60%">
        <col width="20%">
        <col width="20%">
    </colgroup>

    <thead>
    <tr>
        <th colspan="3" class="forCaption">Proform Revenue</th>
    </tr>
    <tr>
        <th>Resource</th>
        <th>Count</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody id="proformRevenue">
    <tr>
        <td>Quotations</td>
        <%if (proformValues && proformValues.quotations) {%>
        <td id="quotCount"><%=proformValues.quotations.count%></td>
        <td id="quotSum" data-value="<%=proformValues.quotations.sum%>">
            <%=currencySplitter(proformValues.quotations.sum.toFixed(2))%>
        </td>
        <% } else { %>
        <td>0</td>
        <td>0</td>
        <% } %>
    </tr>
    <tr>
        <td>Orders</td>
        <%if (proformValues && proformValues.orders) {%>
        <td id="orderCount"><%=proformValues.orders.count%></td>
        <td id="orderSum" data-value="<%=proformValues.orders.sum%>">
            <%=currencySplitter(proformValues.orders.sum.toFixed(2))%>
        </td>
        <% } else { %>
        <td>0</td>
        <td>0</td>
        <% } %>
    </tr>
    <tr>
        <td>Not Quoted</td>
        <%if (proformValues && proformValues.jobs) {%>
        <td id="jobsCount"><%=proformValues.jobs.count%></td>
        <td id="jobsSum" data-value="<%=proformValues.jobs.sum%>">
            <%=currencySplitter(proformValues.jobs.sum.toFixed(2))%>
        </td>
        <% } else { %>
        <td>0</td>
        <td>0</td>
        <% } %>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td>Total:</td>
        <td id="totalCount"
            data-value="proformValues.orders.count + proformValues.quotations.count + proformValues.jobs.count">
            <%=currencySplitter((proformValues.orders.count + proformValues.quotations.count +
            proformValues.jobs.count).toString())%>
        </td>
        <td id="totalSum" data-value="proformValues.quotations.sum + proformValues.orders.sum + proformValues.jobs.sum">
            <%=currencySplitter((proformValues.quotations.sum + proformValues.orders.sum +
            proformValues.jobs.sum).toFixed(2))%>
        </td>
    </tr>

    </tfoot>
</table>