<div id="top-bar-payments">
    <div id="createBtnHolder">
        <a href="javascript;" class="fa fa-times" title="Remove" id="removeProforma"></a>
        <a href="javascript;" class="fa fa-check" title="Save" id="saveProforma"></a>
    </div>
</div>
<div>
    <table class="list task-list">
        <thead>
        <tr>
            <th class="centerCell"><input type="checkbox" id="check_all_proforma" class="check_all"/></th>
            <th class="centerCell">N</th>
            <th class="oe_sortable" data-sort="supplier.name.first">Customer<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="name">Proforma Number<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>

            <th class="oe_sortable" data-sort="supplierInvoiceNumber">Payment Date<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="salesPerson.name.first">Sales Person<span
                    class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="dueDate">Due Date<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="paymentInfo.balance">Balance<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="paymentInfo.paid">Paid<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="paymentInfo.total">Total<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="invoiceDate">Proforma Date<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <!--<th class="oe_sortable" data-sort="validated">Validated<span class="arrow down">7</span><span-->
            <!--class="arrow up">v</span></th>-->
        </tr>
        </thead>
        <tbody id="listTable">

        <%var balance = 0;%>
        <%var paid = 0;%>
        <%var total = 0;%>
        <% collection.forEach(function(invoice, index){ %>
        <tr data-id="<%=invoice._id%>"
        <%if (invoice.workflow && invoice.workflow.status === 'Cancelled') { %>
        class="canceledListItem"
        <%} else if (invoice.workflow && invoice.workflow.status !== 'New'){ %>
        class="notRemovable"
        <% } %>>
        <td class="notForm centerCell"><input type="checkbox" value="<%=invoice._id%>" class="checkbox <%if (invoice.workflow && invoice.workflow.status !== 'New') { %>
                notRemovable
                <% } %>"/>
        </td>
        <td class="centerCell"><%=startNumber + index + 1%></td>
        <td><%=(invoice.supplier && invoice.supplier.name) ? invoice.supplier.name.first + ' ' +
            invoice.supplier.name.last : ''%>
        </td>
        <td><%=invoice.name%></td>
        <td><%=invoice.paymentDate%></td>
        <td><%=(invoice.salesPerson && invoice.salesPerson.name) ? invoice.salesPerson.name.first + ' ' + invoice.salesPerson.name.last : ''%></td>
        <td data-content="dueDate"><%=invoice.dueDate%></td>
        <td class="money"><%=currencySplitter(invoice.paymentInfo.balance)%></td>
        <td class="paid money"><%=(invoice.paymentInfo) ? currencySplitter(invoice.paymentInfo.paid) : '0.00'%>
        </td>
        <td class="total money"><%=(invoice.paymentInfo) ? currencySplitter(invoice.paymentInfo.total) : '0.00'%></td>
        <td><%=invoice.invoiceDate%></td>
        <!--<td class="validated"><a href="javascript:;" class="selectList <%=invoice.validated%>"><%=invoice.validated%></a>-->
        <!--<ul class="newSelectList" style="display: none;">-->
        <!--<li>Draft</li>-->
        <!--<li>Done</li>-->
        <!--</ul>-->
        <!--</td>-->

        <% var rate = invoice.currency.rate || 1 %>
        <%balance = balance + parseFloat(invoice.paymentInfo.balance)/rate %>
        <%paid += parseFloat(invoice.paymentInfo.paid)/rate%>
        <%total += parseFloat(invoice.paymentInfo.total)/rate%>
        </tr>
        <% }) %>

        </tbody>
        <% if (collection.length) {%>
        <tfoot id="listTotal">
        <tr>
            <td colspan="7"></td>
            <td><span id="balance" class="money"><%=currencySplitter((balance).toFixed(2))%></span></td>
            <td><span id="paid" class="money"><%=currencySplitter((paid).toFixed(2))%></span></td>
            <td><span id="total" class="money"><%=currencySplitter((total).toFixed(2))%></span></td>
            <td></td>
        </tr>
        </tfoot>
        <%}%>
    </table>
</div>