<table class="list">
    <colgroup>
        <col width="2%"/>
        <col width="20%"/>
        <col width="20%"/>
    </colgroup>
    <thead>
    <tr >
        <th class="centerCell">X</th>
        <th>Date</th>
        <th>Sales Manager</th>
        <th></th>
    </tr>

    </thead>
    <tbody id="salesManagersTable">

    <%salesManagers.forEach(function(salesManager, index){ %>

    <tr data-id="<%=salesManager.manager ? salesManager.manager._id : ''%>">

        <td class="centerCell deleteItem"></td>
        <td class="salesManagerDate">
            <%= salesManager.date ? utcDateToLocaleDate(salesManager.date) : ''%>
        </td>

        <td>
            <%=salesManager.manager ? salesManager.manager.fullName : '' %>
        </td>


    </tr>

    <% }) %>

    </tbody>

</table>
<a href="javascript;" title="Add" id="addSalesManager">Add</a>