<div class="form-holder">
    <form id="leadForm" data-id="<%=_id%>">
        <div id="workflowProgress" class="workflowProgress"></div>
        <div class="_openForm">
            <div class="_inputColumn">
                <div class="aboutHolder">
                    <div class="formTitleWrap">
                        <h3 class="formTitle">About </h3>
                    </div>
                    <div class="person-info">
                        <div class="_animateInputBox">
                            <input class="_animate editable <%=!name ? 'hideLine' : ''%>"
                                   data-id="name"
                                   value="<%=name%>"
                                   required/>
                            <label class="_animate">Name</label>
                        </div>
                        <div class="_animateInputBox">
                            <input class="_animate editable dealTitlePrice<!-- <%=expectedRevenue && !expectedRevenue.value && expectedRevenue.value !== 0  ? 'hideLine' : ''%>-->"
                                   data-id="expectedRevenue_value"
                                   value="<%=expectedRevenue.value%>"
                                   required/>
                            <label class="_animate">Amount <span class="amountDollar"><%=expectedRevenue.currency || App.organizationSettings && App.organizationSettings.currency.symbol%></span></label>
                        </div>
                        <div class="_animateInputBox">
                            <span class="_staticLabel">Close Date</span>
                            <div class="inputBox">
                                <input class="_animate extrainfo"
                                       type="text"
                                       name="Close Date"
                                       id="expectedClosing"
                                       value="<%=expectedClosing || ''%>"
                                       placeholder="Close Date"
                                       readonly=""
                                       required>
                            </div>
                        </div>
                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Assigned To</span>
                            <div class="inputBox _newSelectListWrap">
                                <a class="current-selected assignName"
                                   href="javascript:;" id="salesPersonDd"
                                   data-id="salesPerson">
                                    <%=(salesPerson) ? salesPerson.name.first + ' ' + salesPerson.name.last : 'Select'%>
                                </a>
                            </div>
                        </div>
                        <div class="tags-container"></div>
                    </div>
                    <div class="propertyEditBtn" id="formBtnBlock">

                        <a href="javascript:;" id="saveBtn" class="btn blue btnSave">Save</a>

                        <a href="javascript:;" id="cancelBtn" class="btn">Cancel</a>
                    </div>
                </div>
                <div id="contactHolder"></div>
                <div id="companyHolder"></div>
                <div class="attachments"></div>
            </div>
            <div class="_noteColumn">
                <div class="notes">
                    <div class="followers right">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
