<div class="form-holder">
    <form class="form notDialog" id="leadForm" data-id="<%=_id%>">
        <div class="formTitle dealTitle">
            <input class="editable"  data-id="name" value="<%=name%>"/>
            <input class="editable" data-id="expectedRevenue_value" value="<%=expectedRevenue.value%>"/>
            <h3> <%=expectedRevenue.currency%></h3>

            <div class="clearfix">
            </div>
        </div>
        <div id="workflowProgress" class="workflowProgress">

        </div>
        <div class="inner">
            <div class="floatColumn halfColumn">
                <div>
                    <div class="formTitle">
                        <h3>About </h3>
                    </div>
                    <div class="person-info">

                        <div class="propertyFormList">
                            <label>Assigned To</label>
                            <div  class="inputBox">
                                <a  class="current-selected"  href="javascript:;" id="salesPersonDd"  data-id="salesPerson"><%=(salesPerson) ? salesPerson.name.first + ' ' + salesPerson.name.last : ''%></a>
                            </div>
                        </div>
                        <div class="propertyFormList">
                            <label>Next Action</label>
                            <div  class="inputBox">
                                <span><%=(nextAction && nextAction.date) ? nextAction.date : ''%></span>
                            </div>
                        </div>
                        <div class="propertyFormList">
                            <label>Status</label>
                            <div  class="inputBox">
                                <span  id="statusDd"><%=(workflow) ? workflow.name : ''%></span>
                            </div>
                        </div>
                    </div>
                    <div class="btnBlock propertyEditBtn">

                        <a href="javascript:;" id="saveBtn" class=" btn btnRounded btnSave">Save</a>

                        <a href="javascript:;" id="cancelBtn" class=" btn btnRounded">Cancel</a>
                    </div>
                </div>
                <div id="companyHolder"></div>
                <div class="tags-container"></div>
                <div class="attachments"></div>
            </div>

            <div class="floatColumn halfColumn">
                <div class="notes">
                </div>
            </div>
        </div>

    </form>
</div>

