//------ font variables ------
@baseFontSize: 16;

@fontLight: 'OpenSans Light', sans-serif, Verdana;
@fontRegular: 'OpenSans Regular', sans-serif, Verdana;
@fontSemiBold: 'OpenSans SemiBold', sans-serif, Verdana;
@fontBold: 'OpenSans Bold', sans-serif, Verdana;
@fontExtraBold: 'OpenSans ExtraBold', sans-serif, Verdana;


// variables for direction

@right: right;
@left: left;


