<% applicationsCollection.forEach(function(application, index){ %>
<tr data-index="<%= index + 1 %>" data-id="<%=application._id%>"
    class="stage-<%=(application.workflow) ? application.workflow.status.toLowerCase().replace(' ','') : ''%>">
    <td class="notForm centerCell">
        <label class="_customCHeckbox">
            <input type="checkbox" value="<%=application._id%>" class="checkbox"/>
            <span></span>
        </label>
    </td>
    <td><%=application.name.first%> <%=application.name.last%></td>
    <td><%=application.personalEmail%></td>
    <td class="notForm">
      <a href="skype:<%=application.workPhones.mobile%>?call"><%=application.workPhones.mobile%></a>
    </td>
    <td><%=(application.jobPosition) ? application.jobPosition.name : ''%></td>
    <td id='<%=application._id%>' data-sequence='<%=application.sequence%>'>
        <div class="_newSelectListWrap">
            <a href="javascript:;" class="stageSelect blue"
               data-id="<%=(application.workflow) ? application.workflow._id : ''%>"><%=(application.workflow) ? application.workflow.name : 'Undefinded'%></a>
        </div>
    </td>
    <td><%=application.jobType%></td>
    <td><%=(application.createdBy&&application.createdBy.date)?( application.createdBy.date +
        ((application.createdBy.user) ?(' (' + application.createdBy.user + ')') : '')):''%>
    </td>
    <td><%=(application.editedBy&&application.editedBy.date)?( application.editedBy.date + ((application.editedBy.user)
        ?(' (' + application.editedBy.user + ')') : '')):''%>
    </td>
</tr>
<% }) %>