<div class="_tableApplicationsWrap">
    <div id="searchContainer"></div>
    <table class="list stripedList">
        <colgroup>
            <col width="42px">
            <col width="14%">
            <col width="16%">
            <col width="11%">
            <col width="10%">
            <col width="8%">
            <col width="9%">
            <col width="16%">
            <col width="16%">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell">
                <label class="_customCHeckbox">
                    <input type="checkbox" id="checkAll"/>
                    <span></span>
                </label>
            </th>
            <th class="oe_sortable"
                data-sort="name.first">Applicant's Name
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
            <th class="oe_sortable"
                data-sort="personalEmail">Email
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
            <th class="oe_sortable"
                data-sort="workPhones.phone">Phone
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
            <th class="oe_sortable"
                data-sort="jobPosition.name">Applied Job
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
            <th class="oe_sortable"
                data-sort="workflow.name">Stage
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
            <th class="oe_sortable"
                data-sort="jobType">Job Type
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
            <th class="oe_sortable"
                data-sort="createdBy.date">Created By
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
            <th class="oe_sortable sortDn"
                data-sort="editedBy.date">Edited By
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>
