<div>
    <div id="searchContainer"></div>
    <table class="list task-list">
        <thead>
        <tr>
            <th>
                <input type="checkbox" id="check_all"/></th>
            <th>N</th>
            <!--  <th>Creation Date</th>-->
            <th class="oe_sortable" data-sort="name.first">Applicant's Name<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="personalEmail">Email<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="workPhones.phone">Phone<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th  class="oe_sortable" data-sort="jobPosition">Applied Job<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th  class="oe_sortable" data-sort="workflow">Stage<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="jobType">Job Type<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable" data-sort="createdBy.date">Created By<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable sortDn" data-sort="editedBy.date">Edited By<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
        </tr>
        </thead>
        <tbody id="listTable"></tbody>
    </table>
</div>
