<div class="_tableLettersWrap">
    <div id="searchContainer"></div>
    <div class="_tableEmployeeWrap">
        <table class="list stripedList">
            <colgroup>
                <col width="42px">
                <col width="10%">
                <col width="10%">
                <col width="14%">
                <col width="12%">
                <col width="9%">
                <col width="7%">
                <col width="12%">
                <col width="13%">
                <col width="13%">
            </colgroup>
            <thead>
            <tr>
                <th class="centerCell">
                    <label class="_customCHeckbox">
                        <input type="checkbox" id="checkAll"/>
                        <span></span>
                    </label>
                </th>
                <th class="oe_sortable"
                    data-sort="name.last">Name
                    <span class="arrow down"></span>
                    <span class="arrow up"></span>
                </th>
                <th class="oe_sortable"
                    data-sort="workPhones.mobile">Personal Mobile
                    <span class="arrow down"></span>
                    <span class="arrow up"></span>
                </th>
                <th class="oe_sortable"
                    data-sort="workEmail">Work Email
                    <span class="arrow down"></span>
                    <span class="arrow up"></span>
                </th>
                <th class="oe_sortable"
                    data-sort="skype">Skype
                    <span class="arrow down"></span>
                    <span class="arrow up"></span>
                </th>
                <th class="oe_sortable"
                    data-sort="department.name">Department
                    <span class="arrow down"></span>
                    <span class="arrow up"></span>
                </th>
                <th class="oe_sortable"
                    data-sort="jobPosition.name">Job
                    <span class="arrow down"></span>
                    <span class="arrow up"></span>
                </th>
                <th class="oe_sortable"
                    data-sort="manager.name.first">Manager
                    <span class="arrow down"></span>
                    <span class="arrow up"></span>
                </th>
                <th class="oe_sortable"
                    data-sort="createdBy.date">Created By
                    <span class="arrow down"></span>
                    <span class="arrow up"></span>
                </th>
                <th class="oe_sortable sortDn"
                    data-sort="editedBy.date">Edited By
                    <span class="arrow down"></span>
                    <span class="arrow up"></span>
                </th>
            </tr>
            </thead>
            <tbody id="listTable" class="enableTableOdd"></tbody>
        </table>
    </div>
</div>