<div class="form-holder">
    <form method="post" action="" id="createCategoryForm" class="form">
        <fieldset>
            <h3 class="borderBottom">Create Product Type</h3>
            <div class="inner">
                <div class="">
                    <dl class="department-info">
                        <dt><label for="productTypeName">Product type name</label></dt>
                        <dd><input type="text" class="title-input blueback" name="productTypeName" id="productTypeName"
                                   maxlength="32" placeholder="Product type name" required/><input type="text" hidden
                                                                                             required/></dd>
                    </dl>
                </div>
                <div class="clearfix">
                </div>
            </div>
        </fieldset>
    </form>
</div>
