<div id="searchContainer"></div>
<div class="_tableJobPositionWrap">
    <table class="list stripedList">
        <colgroup>
            <col width="42px">
            <col width="11%">
            <col width="10%">
            <col width="11%">
            <col width="11%">
            <col width="15%">
            <col width="14%">
            <col width="14%">
            <col width="14%">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell">
                <label class="_customCHeckbox">
                    <input type="checkbox" id="checkAll"/>
                    <span></span>
                </label>
            </th>
            <th class="oe_sortable" data-sort="name">Job Name<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="department.name">Department<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="totalForecastedEmployees">Total Forecasted<span
                    class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="numberOfEmployees">Current Number<span
                    class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="expectedRecruitment">Expected in Recruitment<span
                    class="arrow down"></span><span class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="workflow.status">Status<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable sortDn" data-sort="createdBy.date">Created By<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="editedBy.date">Edited By<span class="arrow down"></span><span
                    class="arrow up"></span></th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>