<div id="searchContainer"></div>
<div>
    <table class="list">
        <colgroup>
            <col width="3%">
            <col width="3%">
            <col width="20%">
            <col width="10%">
            <col width="8%">
            <col width="8%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="15%">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell"><input type="checkbox" id="check_all"/></th>
            <th class="centerCell">N</th>
            <th class="oe_sortable" data-sort="name">Job Name<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="department">Department<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="totalForecastedEmployees">Total Forecasted<span
                    class="arrow down">7</span><span class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="numberOfEmployees">Current Number<span
                    class="arrow down">7</span><span class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="expectedRecruitment">Expected in Recruitment<span
                    class="arrow down">7</span><span class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="workflow">Status<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="createdBy.date">Created By<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable sortDn" data-sort="editedBy.date">Edited By<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>
