<div class="_newForm">
    <h4 class="_dialogMainTitle">Opportunities kanban settings</h4>
    <div class="_formWrap _enlargedItemMargin">
        <div class="_formBlock">
            <div class="_animateInputBox _kanban">
                <label for="cPerPage" class="_staticLabel">Elements Per Page</label>
                <input id="cPerPage"
                       class="_animate onlyNumber"
                       maxlength="4"
                       type="text"
                       autofocus="autofocus"
                       required
                       value="<%=opportunities.countPerPage%>"/>
            </div>
        </div>
    </div>
</div>
