<h3><%=contentType%></h3>
<div id="createBtnHolder" class="btnsBlock">
    <a href="javascript:;" class="btn blue slim icon-plus" title="Create" id="top-bar-createBtn">New</a>
  <!--  <a href="#home/action-<%=contentType%>/Edit" class="fa fa-wrench" title="Edit" id="top-bar-editBtn"></a>-->
    <a href="javascript:;" class="btn blue slim" title="Remove" id="top-bar-deleteBtn">Delete</a>
    <%if(viewType=='kanban') {%> <a id="kanban-settings-Btn" class="btn blue slim" title="Kanban Settings">Settings</a><%}%>
</div>

<% if (viewType !== 'tform') {%>
<div id="template-switcher" class="template-switcher right">
    <ul class="btn-list">
        <li><a href="javascript:;"
               class="changeContentView icon-kanban <%= (viewType == 'kanban') ? 'selected' : ''%>"
               data-view-type="kanban" id="kanbanBtn"></a></li>
        <li><a href="javascript:;"
               class="changeContentView icon-list5 <%= (viewType == 'list') ? 'selected' : ''%>"
               data-view-type="list" id="listBtn"></a></li>
        <!-- <li><a href="javascript:;" class="changeContentView icon icon-btn dark <%= (viewType == 'form') ? 'selected' : ''%>" data-view-type="form" id="formBtn">m</a></li> -->
    </ul>
</div>
<%}%>
