<div class="_formWrap">
    <div class="_formBlock">
        <table class="list stripedList">
            <colgroup>
                <col width="33.33%">
                <col width="33.33%">
                <col width="33.33%">
            </colgroup>
            <thead>
            <tr class="oe_list_header_columns">
                <th>Name</th>
                <th>Payment&nbsp;Date</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody id="paymentsList">
            </tbody>
            <tfoot>
            <tr>
            </tr>
            </tfoot>
        </table>
    </div>
</div>