<%if (paymentCollection) {
paymentCollection.forEach(function(payment) {%>
<tr data-id="<%=payment._id%>">
    <td data-name="date"><%=payment.date%></td>
    <td data-name=""></td>
    <td data-name="paymentRef"><%=payment.paymentRef%></td>
    <td data-name="name"><%=payment.name%></td>
    <td data-name=""></td>
    <td data-name=""></td>
    <td data-name=""></td>
    <td data-name="paidAmount"><%=payment.paidAmount%></td>
</tr>
<%})} else {%>
<tr>
    <td colspan="9">
        &nbsp;
    </td>
</tr>
<tr>
    <td colspan="9">
        &nbsp;
    </td>
</tr>
<tr>
    <td colspan="9">
        &nbsp;
    </td>
</tr>
<%}%>