<table class="list">
    <thead>
    <tr class="oe_list_header_columns">
        <th class="oe_sortable" data-sort="date">Payment&nbsp;Date<span class="arrow down">7</span><span class="arrow up">v</span></th>
        <th class="oe_sortable" data-sort="journal_entry">Journal&nbsp;Entry<span class="arrow down">7</span><span class="arrow up">v</span></th>
        <th class="oe_sortable" data-sort="paymentRef">Reference<span class="arrow down">7</span><span class="arrow up">v</span></th>
        <th class="oe_sortable" data-sort="name">Name<span class="arrow down">7</span><span class="arrow up">v</span></th>
        <th class="oe_sortable" data-sort="journal">Journal<span class="arrow down">7</span><span class="arrow up">v</span></th>
        <th class="oe_sortable" data-sort="debit">Debit<span class="arrow down">7</span><span class="arrow up">v</span></th>
        <th class="oe_sortable" data-sort="credit">Credit<span class="arrow down">7</span><span class="arrow up">v</span></th>
        <th class="oe_sortable" data-sort="paidAmount">Amount&nbsp;Currency<span class="arrow down">7</span><span class="arrow up">v</span></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
    </tr>
    </tfoot>
    <tbody id="paymentsList">

    </tbody>
</table>