<div class="form-holder _newForm">
    <form method="post" action="" id="invoiceForm">
        <h4 class="_dialogMainTitle">New <%=title%></h4>
        <div class="_formWrap _enlargedItemMargin">
            <div class="_formBlock">
                <div class="_animateInputBox">
                    <input type="text"
                           class="_animate "
                           id="zone"
                           required
                           maxlength="250"/>
                    <label class="_animate">Name of zone</label>
                </div>
            </div>
        </div>
    </form>
</div>