<div class="form-holder _newForm _createDashboardForm">
    <form method="post" action="" id="customDashboardForm">
        <h2 class="_dialogMainTitle">Create Dashboard</h2>

        <div class="_formWrap _enlargedItemMargin">
            <div class="_formBlock _equal">
                <div class="_gridVisualWrap" id="wrap">
                    <div class="_gridColBar">
                        <h3 class="_gridListTitle">Columns</h3>
                        <ul class="gridColList" id="colNumList">
                            <li class="colValue active" data-id="4">4</li>
                            <li class="colValue" data-id="6">6</li>
                            <li class="colValue" data-id="7">7</li>
                            <li class="colValue" data-id="8">8</li>
                            <li class="colValue" data-id="9">9</li>
                        </ul>
                    </div>
                    <div class="_gridVisualBoby">
                        <div class="_gridRowBar">
                            <h3 class="_gridListTitle">Rows</h3>
                            <ul class="gridRowList" id="rowNumList">
                                <li class="rowValue" data-id="2">2</li>
                                <li class="rowValue" data-id="3">3</li>
                                <li class="rowValue active" data-id="4">4</li>
                                <li class="rowValue" data-id="5">5</li>
                                <li class="rowValue" data-id="6">6</li>
                            </ul>
                        </div>
                        <ul class="_gridVisual" id="gridView">
                            <li><span></span><span></span><span></span><span></span><span></span><span></span></li>
                            <li><span></span><span></span><span></span><span></span><span></span><span></span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="_formBlock _equal _setDescription">
                <div class="_animateInputBox">
                    <div class="_animateInputBox">
                        <input type="text"
                               class="_animate"
                               id="name"
                               placeholder="New Dashboard Name..."
                               required
                               maxlength="48"/>
                        <label for="name" class="_animate">Name</label>
                    </div>
                </div>
                <div class="_circleRadioGroup">
                    <div class="_circleRadioRadianceWrap">
                        <label for="privateAccess">
                            Private
                        </label>
                        <input type="radio"
                               name="accessDashboard"
                               id="privateAccess"
                               class="_circleRadioRadiance onlyNumber shippingRadio">
                        <label for="privateAccess" class="_circleRadioRadianceLabel"></label>
                    </div>

                    <div class="_circleRadioRadianceWrap">
                        <label for="publicAccess">
                            Public
                        </label>
                        <input type="radio"
                               name="accessDashboard"
                               id="publicAccess"
                               class="_circleRadioRadiance"
                               checked>
                        <label for="publicAccess" class="_circleRadioRadianceLabel"></label>
                    </div>
                </div>
                <div class="_animateTextareaBox counterWrap">
                    <textarea id="description" class="_animate" maxlength="200" required></textarea>
                    <label for="description" class="_animate">Description</label>

                    <div class="counter-wrap">
                        <span class="counter-label">Characters left:</span>
                        <span class="counter-value" id="counterValue">200</span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>