<% quotations.forEach(function(quotation, index){ %>
<tr class="centerCell" data-id="<%=quotation._id%>"
<%if (quotation.workflow && quotation.workflow.status === 'Cancelled') { %>
class="canceledListItem"
<%}%>>
<td class="notForm centerCell"><input type="checkbox" value="<%=quotation._id%>" class="checkbox listCB <%=quotation.proformaCounter ? 'notRemovable' : ''%>"  <%if (quotation.proformaCounter) { %>
    disabled='disabled'
    <% } %>/></td>
<td><%=quotation.project ? quotation.project.name : '-------'%></td>
<td><%=(quotation.supplier) ? quotation.supplier.name.first + ' ' + quotation.supplier.name.last : ''%></td>
<td><%=(quotation.salesManager) ? quotation.salesManager.name.first + ' ' + quotation.salesManager.name.last :
    ''%>
</td>
<td class="total "><%= (quotation.currency && quotation.currency._id ? quotation.currency._id.symbol : '') + ((quotation.paymentInfo) ? currencySplitter(quotation.paymentInfo.total) : '0')%></td>
<td id='<%=quotation._id%>'>
    <a href="javascript:;"><%=quotation.workflow ? quotation.workflow.name: 'Undefined'%></a>
</td>
<td><%=quotation.orderDate%></td>
</tr>
<% }) %>