<div>
    <table class="list holidays-list">
        <col width="2%">
        <col width="2%">
        <col width="40%">
        <col width="56%">

        <thead>
        <tr>
            <th><span>#</span></th>
            <th><input type="checkbox" id="check_all" /></th>
            <th class="oe_sortable" data-sort="date">Date</th>
            <th class="oe_sortable" data-sort="comment">Comment</th>
        </tr>
        </thead>
        <tbody id="listTable"></tbody>
        <tfoot id="listTotal"></tfoot>
    </table>
</div>
