<div>
    <table class="list holidays-list">
        <col width="2%">
        <col width="2%">
        <col width="40%">
        <col width="56%">

        <thead>
        <tr>
            <th class="centerCell"><span>#</span></th>
            <th class="centerCell"><input type="checkbox" id="check_all" /></th>
            <th class="oe_sortable" data-sort="date">Date<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="comment">Comment<span class="arrow down">7</span><span
                    class="arrow up">v</span></th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
        <tfoot id="listTotal"></tfoot>
    </table>
</div>
