<div class="form-holder">
  <form method="post" action="" id="createEmployeeForm" class="form">
    <fieldset>
      <div class="inner">
         <div class="avatar left">
              <div class="upload">Edit<input type="file" value="Edit" id="inputImg"></div>
              <canvas id="avatar" width="140" height="140"><input type="file" value="Edit" id="File1"></canvas>
            </div>
			<div class="avatarInfoContainer employee">
              <div class="half-block left">
                <dl class="create-product-info">
                    <dt><label for="product">Product Name</label></dt><dd><input type="text" id="product" required maxlength="32" placeholder="Product Name"/></dd>
                    <dt><label for="solid">Can be Solid</label></dt><dd><input type="checkbox" id="solid" required checked class="checkbox left"/></dd>
                    <dt><label for="expensed">Can be Expensed</label></dt><dd><input type="checkbox" id="expensed" required class="checkbox left"/></dd>
                    <dt><label for="subscription">Event Subscription</label></dt><dd><input type="checkbox" id="subscription" required class="checkbox left"/></dd>
                    <dt><label for="purchased">Can be Purchased</label></dt><dd><input type="checkbox" id="purchased" required checked class="checkbox left"/></dd>
                </dl>
              </div>
              <div class="half-block left">
                <dl class="create-product-info">
                    <dt><label for="productType">Product Type</label></dt><dd><a id="productType" class="current-selected" href="javascript:;">Select</a></dd>
                    <dl id="typeOfEvent" class="hidden">
                        <dt><label for="eventType">Type of Event</label></dt><dd><a id="eventType" class="current-selected" href="javascript:;">Select</a></dd>
                    </dl>
                    <dt><label for="salePrice">Sale Price</label></dt><dd><input type="text" id="salePrice" class="extra-info" maxlength="10" placeholder="0.00"/></dd>
                    <dt><label for="active">Active</label></dt><dd><input type="checkbox" id="active" required checked class="checkbox left"/></dd>
                    <dt><label for="barcode">Barcode</label></dt><dd><input type="text" id="barcode" class="extra-info" maxlength="20" placeholder=""/></dd>
				</dl>
			  </div>
              <div class="clearfix"></div>
			</div>
            <div class="clearfix"></div>
		  </div>
    </fieldset>
  </form>
</div>

