<table class="list2">
    <thead>
    <tr class="productListItemsColumns">
        <th class="width20" data-sort="Product">
            Product
        </th>
        <th class="width20" data-sort="description">
            Description
        </th>
        <th class="width20" data-sort="scheduledDate">
            Scheduled Date
        </th>
        <th class="width20" data-sort="quantity">
            Quantity
        </th>
        <th class="width20" data-sort="unitPrice">
            Unit Price
        </th>
        <th class="width20" data-sort="taxes">
            Taxes
        </th>
    </tr>
    </thead>
    <tfoot>
    <tr></tr>
    </tfoot>
    <tbody id="productList">

    </tbody>
</table>
<div class="clearfix"></div>
<div id="totalAmountContainer" class="half-block right">

</div>