<table class="list2">
    <thead>
        <tr class="productListItemsColumns">
            <th class="oe_sortable" data-sort="Product">
                Product<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable" data-sort="description">
                Description<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable" data-sort="quantity">
                Quantity<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable" data-sort="unitPrice">
                Unit Price<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable" data-sort="taxes">
                Taxes<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr></tr>
    </tfoot>
    <tbody>
        <tr>
            <td colspan="6" class="addProductItem">
                <a href="javascript:;">Add an item</a>
            </td>
        </tr>
        <tr>
            <td colspan="6">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="6">&nbsp;</td>
        </tr>
    </tbody>
</table>
<div class="clearfix"></div>
<div class="half-block right">
    <table border="0" cellpadding="0" cellspacing="0" class="right oe_right">
        <tbody>
            <tr>
                <td>
                    <label class="" data-original-title="" title="">
                        Untaxed Amount
                    </label>
                </td>
                <td class="" colspan="1" width="99%">
                    <span class=""><span class="">0.00</span>€</span>
                </td>
            </tr>
            <tr class="">
                <td class="" colspan="1" width="1%">
                    <label class="" data-original-title="" title="">Taxes</label>
                </td>
                <td class="" colspan="1" width="99%">
                    <span class="oe_form_field oe_form_field_float oe_form_field_monetary">
                        <span class="oe_form_char_content">0.00</span>€
                    </span>
                </td>
            </tr>
            <tr class="totalAmount">
                <td colspan="1" width="50%">
                    <label class="" data-original-title="" title="">Total</label>
                </td>
                <td colspan="1" width="50%">
                    <span class=""><span id="totalAmount">0.00</span>€</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>