<%if (contentType === 'salesProduct') {%>
<h3>Sales Product</h3>
<%} else {%>
<h3><%=contentType%></h3>
<%}%>
<div id="createBtnHolder">
    <a href="#home/action-<%=contentType%>/Create" class="fa fa-plus" title="Create" id="top-bar-createBtn"></a>
    <a href="javascript;" class="fa fa-wrench" title="Edit" id="top-bar-editBtn"></a>
    <a href="javascript;" class="fa fa-times" title="Remove" id="top-bar-deleteBtn"></a>
    <a href="javascript;" class="fa fa-download" title="Import" id="top-bar-importBtn"></a>

    <ul>
        <li>
            <button class="btn">
                <span title="Export to csv" id="top-bar-exportToCsvBtn">Export to Csv</span>
            </button>
        </li>
        <li>
            <button class="btn">
                <span href="javascript;" title="Export to xlsx" id="top-bar-exportToXlsxBtn">Export to Xlsx</span>
            </button>
        </li>
    </ul>
</div>
<div id="forImport"></div>
<div id="template-switcher" class="right">
    <ul class="btn-list">
        <li><a href="javascript;"
               class="changeContentView icon icon-btn dark <%= (viewType == 'thumbnails') ? 'selected' : ''%>"
               data-view-type="thumbnails" id="thumbBtn">k</a></li>
        <li><a href="javascript;"
               class="changeContentView icon icon-btn dark <%= (viewType == 'list') ? 'selected' : ''%>"
               data-view-type="list" id="listBtn">i</a></li>
        <li><a href="javascript;"
               class="changeContentView icon icon-btn dark <%= (viewType == 'form') ? 'selected' : ''%>"
               data-view-type="form" id="formBtn">m</a></li>
    </ul>
</div>