$blue: #01579B;
$blue_2: #40C4FF;
$blue-3: #3291c8;

$green-2: #4BCB81;

/************* Main Colors *************/

$tilte-color: #36A9E1;
$defaultBorderColor: #ababab;
$lightmagenta: #7c7bad;
$lightgrey: #c8c8d3;
$lightgray-2: #fafafa;
$lightgray-3: #f2f2f2;
$lightgray-4: #f2f4f5;
$lightblue: #008bbf;
$dark-blue: #444f67;

$taskBorderColor: #4d5a75;
$tabColor: #BDC3C7;
$red: #ff0000;
/* errors, negativeMoney */
$cash: #fdd766;
/* .cash */
$card: #f2af84;
/* .card */
$white: #fff;

$success: #5cb85c;
/* .label-saccess*/
$warning: #f0ad4e;
/* .label-warning*/
$danger: #d9534f;
/* .label-danger*/

$borderColor-1: #c8c8d3;
$borderColor-2: #c1c1c1;

$bg-grey: #f1f1f1;

/**** Project > wTrack****/

$defaultColor: #000000;
$bgDefaultColorOdd: #f9f9f9;
$bgDefaultColorHover: #f5f5f5;
$progressColodDef: #f5f5f5;
$borderColor-3: #cacaca;
$textShadow-2: rgba(222, 222, 222, .5);
$bgWhite: #fff;

/**** ****/

$fontColor-1: #4c4c4c;

$textShadow-1: rgba($white, .5);
/*==========================================================================*/
/*==Main menu==========================*/
$bg-main: #37335B;
$bg-main-menu: #3F8A8E;
$bg-main-menu-selected: #75C9B5;
$span-color: $bg-main-menu-selected;
$bg-main-menu-green: #438243;

/*==Sub MENU, Top-bar =========================*/

$bg-submenu: $bg-main;
$submenu-text-color: #67809F;

$normal-submenu-text: #67809f;
$current-submenu-text: #75c9b5;
$non-active-submenu-text: desaturate($normal-submenu-text, 19%);
$creatBtn-color: #a3bb3a;


/*== for test =======================*/

$tilte-color: #75C9B5;
//for hover
$fontColor-2: #4D5A75;
$whiteText: $submenu-text-color;


$border-color-main: #4d7188;
$border-color: $border-color-main;
$border-color-selected: $bg-main-menu-selected;
//lighten($border-color-main, 30%);

/*== Filters ======================*/

$selected-filters-color: $tilte-color;
$filter-icon-color: $bg-main-menu;
$bg-drop-down-color: #67809F;
$filter-border-color: $bg-drop-down-color;

/*== Customer ======================*/

$link-color: desaturate($bg-main-menu-selected, 15%);

/*==LIST ============================*/

$defaultBgColorOdd-color: lighten($bg-main, 5%);
$list-color-text: $submenu-text-color;
$defaultBgHover-color: lighten($bg-main, 15%);

/*==Form Colum==============================*/

$formColum-main-text-color: $bg-main-menu-selected;
$formColum-main-subText-color: $submenu-text-color;
$formColum-customer-info: $bg-main-menu-selected;
$input-text-color: #A9A9A9;

/*== TABS ==================================*/
$whiteText: #fff;
$bg-butt-color: $bg-main;
$input-tab-text-color: $input-text-color;

/*== Kanab Opportunities*/
$kanab-text-color: $bg-main-menu-selected;

/*= Invoice Chartes =========================*/
$paid: $blue_2;
$invoiced: $blue;

/*===Guide Lisr=================*/
$guideToutTitle : #364150;
$guideLiColor : #3e88b9;
