$colors-white: (
    'light-blue'   : #00aeff,
    'blue'         : #009fe3,
    'dark-blue'    : #0084b4,
    'lighter-gray' : #f9f9f9,
    'light-gray'   : #a9a9a9,
    'gray'         : #909090,
    'dark-gray'    : #444,
    'darker-gray'  : #373737,
    'green'        : #43c17c,
    'orange'       : #ff9524,
);

$erp-colors: (
        'light-gray'   : #c8c8d3,
        'lighter-gray' : #f2f2f2,
        'dark-gray'    : #7f7f80,
        'blue'         : #3e88b9,
        'light-blue'   : #7eadcc,
        'red'          : red,
        'green'        : #4BCB81,
        'yellow'       : #FFBB40,
        'indigo1'      : #2b3643,
        'indigo2'      : #364150,
        'indigo3'      : #404d5f,
        'white'        : #ffffff,
);

// Default --------------
$black  : #000000 !default;
$white  : #ffffff !default;
// -----------------------

$colors: (
    'default'   : $colors-white,
);

// tmp colors
$tree-item-bg: #E5EBFB;
$tree-border: #ddd;
$checkbox-border: #3e88b9;
$checkbox-text: #5a5a5a;
$input-border: #5a5a5a;
$input-text: #3e88b9;
$border-color: #7f7f80;
$top-font-color: #666666;


$dashboard-card-colors: (
    'blue-darker'     : #4db7da,
    'blue-lighter'    : #47d2d3,
    'orange-darker'   : #e36028,
    'yellow'          : #ffb128,
    'green'           : #51a87a,
    'pink'            : #e485b2,
    'orange-lighter'  : #f5964c,
);

$svg-colors: (
  'black' : #000000
)