<div id="searchContainer" class="payRoll right">
    <div id="filtersContent">

    </div>
</div>
<div>
    <table class="list payRoll-list">
        <colgroup class="borders" span="8">
            <col span="1" width="5%">
            <col span="1" width="5%">
            <col span="1" width="15%">
            <col span="1" width="20%">
            <col span="1" width="20%">
            <col span="1" width="20%">
            <col span="1" width="5%">
            <col span="1" width="10%">
        </colgroup>
        <thead>
            <tr>
                <th class="centerCell"><a id="expandAll">#</a></th>
                <th class="centerCell"><input type="checkbox" id="check_all" /></th>
                <th>Month</th>
                <th>Calc</th>
                <th>Paid</th>
                <th>Diff</th>
                <th class="centerCell">Status</th>
                <th>Date</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td id="payRoll-Table" colspan="8">
                    <div class="scrollit">
                        <table class="list enable_hover" id="payRoll-listTable">
                            <colgroup class="borders" span="8">
                                <col span="1" width="5%">
                                <col span="1" width="5%">
                                <col span="1" width="15%">
                                <col span="1" width="20%">
                                <col span="1" width="20%">
                                <col span="1" width="20%">
                                <col span="1" width="5%">
                                <col span="1" width="10%">
                            </colgroup>
                            <tbody id="payRoll-TableBody"  class="enableTableOdd">

                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot id="payRoll-listTotal"></tfoot>
    </table>
</div>
