
<% total.forEach(function(el, count){ %>
<% var key = Object.keys(el)[0];%>
<% var totalObj = el[key]; %>
<tr class="mainRow" id="<%=key%>">
    <td class="expand centerCell"><%=count + 1%></td>
    <td class="centerCell notForm"><input type="checkbox" data-id="<%=key%>" class="totalRowCB checkbox" /></td>
    <!--<td class = "notForm centerCell"><input type="checkbox" id="<%=key%>" class="check_all" /></td>-->
    <td><%=weekSplitter(key)%></td>
    <td data-cash="<%=totalObj.calc.onCash%>" class="total_calc_salary money">
        <%=currencySplitter(totalObj.calc.onCash.toString())%>
    </td>
    <td data-cash="<%=totalObj.paid.onCash%>" class="total_paid_onCash cash money">
        <%=currencySplitter(totalObj.paid.onCash.toString())%>
    </td>

    <td data-cash="<%=totalObj.diff.onCash%>" class="total_diff_onCash
<%if (totalObj.diff.onCash < 0) {%>
negativeMoney"><%=currencySplitter((totalObj.diff.onCash * (-1)).toString())%>
    </td>
    <%} else {%>
    money"><%=currencySplitter(totalObj.diff.onCash.toString())%></td>
    <%}%>

    <td class="centerCell notForm statusCheckbox"><input type="checkbox" class="checkbox" <%=totalObj.status ? 'checked' : ''%>/></td>
    <td class="datePicker disable_input_style" data-val="<%=totalObj.date ? totalObj.date : null%>"><input type="text" disabled value="<%=totalObj.date ? moment(totalObj.date).format('DD/MM/YYYY') : ''%>" /></td>
</tr>
<% }) %>