<div id="searchContainer" class="payRoll right">
    <div id="filtersContent">

    </div>
</div>
<div>
    <table class="list payRoll-list">
        <colgroup class="borders" span="8">
            <col span="1" width="2%">
            <col span="1" width="2%">
            <col span="1" width="36%">
            <col span="1" width="12%">
            <col span="1" width="12%">
            <col span="1" width="12%">
            <col span="1" width="12%">
            <col span="1" width="12%">

        </colgroup>
        <thead>
            <tr>
                <th><a id="expandAll">Expand All</a></th>
                <th></th>
                <th class="oe_sortable_sub" data-sort="employee.name">Complete Name<span
                        class="arrow down">7</span><span
                        class="arrow up">v</span></th>
                <th>Month</th>

                <th class="oe_sortable_sub" data-sort="type">Payment Type<span class="arrow down">7</span><span
                        class="arrow up">v</span></th>

                <th class="oe_sortable_sub" data-sort="calc">Calc<span class="arrow down">7</span><span
                        class="arrow up">v</span></th>
                <th class="oe_sortable_sub" data-sort="paid">Paid<span class="arrow down">7</span><span
                        class="arrow up">v</span></th>
                <th class="oe_sortable_sub" data-sort="diff">Diff<span class="arrow down">7</span><span
                        class="arrow up">v</span></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td id="payRoll-Table" colspan="8">
                    <div class="scrollit">
                        <table class="list enable_hover" id="payRoll-listTable">
                            <colgroup class="borders" span="8">
                                <col span="1" width="2%">
                                <col span="1" width="2%">
                                <col span="1" width="36%">
                                <col span="1" width="12%">
                                <col span="1" width="12%">
                                <col span="1" width="12%">
                                <col span="1" width="12%">
                                <col span="1" width="12%">
                            </colgroup>
                            <tbody id="payRoll-TableBody">

                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot id="payRoll-listTotal"></tfoot>
    </table>
</div>
