<div id="searchContainer" class="payRoll right">
    <div id="filtersContent">

    </div>
</div>
<div class="_payRollListTable" id="payRoll-Table">
    <table class="list stripedList" id="payRoll-listTable">
        <colgroup>
            <col width="42px">
            <col width="15%">
            <col width="20%">
            <col width="20%">
            <col width="15%">
            <col width="15%">
            <col width="15%">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell">
                <label class="_customCHeckbox">
                    <input type="checkbox" id="checkAll"/>
                    <span></span>
                </label>
            </th>
            <th>Month</th>
            <th>Calc</th>
            <th>Paid</th>
            <th>Diff</th>
            <th class="centerCell">Status</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody id="payRoll-TableBody"></tbody>
        <tfoot id="payRoll-listTotal"></tfoot>
    </table>
</div>