<tr>
    <td>
        <div class="item">
            <div class="title">Days on Leave</div>
            <div class="countDays leave">
                <%= leaveDays %>
            </div>
            <div class="lastTime">
                LAST YEAR <%= lastLeave %>
            </div>
            <div class="percent">
                <%=percentLeave%>
            </div>
        </div>
    </td>
    <td>
        <div class="item">
            <div class="title">Working Days</div>
            <div class="countDays working">
                <%= workingDays %>
            </div>
            <div class="lastTime">
                LAST YEAR <%= lastWorkingDays %>
            </div>
            <div class="percent">
                <%=percentWork%>
            </div>
        </div>
    </td>
    <td>
        <div class="item">
            <div class="title">on Vacation</div>
            <div class="countDays vacation">
                <%= vacation %>
            </div>
            <div class="lastTime">
                LAST YEAR <%= lastVacation %>
            </div>
            <div class="percent">
                <%=percentVacation%>
            </div>
        </div>
    </td>
    <td>
        <div class="item">
            <div class="title">on Personal</div>
            <div class="countDays personal">
                <%= personal %>
            </div>
            <div class="lastTime">
                LAST YEAR <%= lastPersonal %>
            </div>
            <div class="percent">
                <%=percentPersonal%>
            </div>
        </div>
    </td>
    <td>
        <div class="item">
            <div class="title">on Sick</div>
            <div class="countDays sick">
                <%= sick %>
            </div>
            <div class="lastTime">
                LAST YEAR <%= lastSick %>
            </div>
            <div class="percent">
                <%=percentSick%>
            </div>
        </div>
    </td>
    <td>
        <div class="item">
            <div class="title">on Education</div>
            <div class="countDays education">
                <%= education %>
            </div>
            <div class="lastTime">
                LAST YEAR <%= lastEducation %>
            </div>
            <div class="percent">
                <%=percentEducation%>
            </div>
        </div>
    </td>
</tr>
<tr class="footerRow">
    <td colspan="6">
        <span>&nbsp;</span>
    </td>
</tr>