<div id="searchContainer"></div>
<div class="_tableWrap _tableGoodsOut">
    <table class="list stripedList">
        <colgroup>
            <col width="42px">
            <col width="18%">
            <col width="18%">
            <col width="18%">
            <col width="17%">
            <col width="17%">
            <col width="20%">
            <col width="15%">
            <col width="15%">
            <col width="15%">
            <col width="15%">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell">
                <label class="_customCHeckbox">
                    <input type="checkbox" id="checkAll"/>
                    <span></span>
                </label>
            </th>
            <th class="oe_sortable" data-sort="name">Delivery Note ID
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
            <th class="oe_sortable" data-sort="order.name">Order
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
            <th class="oe_sortable" data-sort="workflow.name">Order Status
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
            <th class="oe_sortable" data-sort="customer.name">Deliver To
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
            <th class="oe_sortable" data-sort="warehouse.name">Warehouse
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
            <th class="oe_sortable sortDn" data-sort="createdBy.date">Created By
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>

            <th class="oe_sortable" data-sort="status" colspan="4" style="text-align: center">Status
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>

        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>