<div class="_dividendPaymentsTable">
<table class="list stripedList">
    <colgroup>
        <col width="42px">
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <col width="25%">
    </colgroup>
    <thead>
    <tr>
        <th class="centerCell">
            <label class="_customCHeckbox">
                <input type="checkbox" id="checkAll"/>
                <span></span>
            </label>
        </th>
        <th class="oe_sortable" data-sort="name">Name<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th class="oe_sortable" data-sort="invoice">Declaration<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th class="oe_sortable sortDn" data-sort="date">Date<span class="arrow down"></span><span
                class="arrow up"></span></th>
        <th class="oe_sortable" data-sort="paidAmount">Paid<span class="arrow down"></span><span class="arrow up"></span>
        </th>
        <!--<th class="oe_sortable" data-sort="workflow">Status<span class="arrow down"></span><span class="arrow up"></span></th>-->

    </tr>
    </thead>
    <tbody id="listTable" class="enableTableOdd"></tbody>
    <tfoot id="listTotal">
    <tr>
        <td colspan="4">Total</td>
        <td class="money"><span id="totalPaid"></span></td>
    </tr>
    </tfoot>
</table>
</div>
