<ul>
    <% _.forEach(menuList, function(parent, index){%>
    <li class="root<%=(parent.href===currentRoot)?' active opened':''%>">
        <!--<i class="fa fa-credit-card" aria-hidden="true"></i>-->
        <i class="icons icon-<%=parent.href%>"></i>
        <a href="#easyErp/<%=parent.subModules[0].href%>"><%=parent.mname%></a>
        <ul>
            <li>
                <a href="#easyErp/<%=parent.subModules[0].href%>" class="sub_item subItem "><%=parent.mname%></a>
            </li>
            <% _.forEach(parent.subModules, function(child, index){%>
            <li class="<%=(child.href===currentModule)?'selected':''%>">
                <a href="#easyErp/<%=child.href%>" class="subItem"><%=child.mname%></a>
            </li>
            <%}) %>
        </ul>
    </li>
    <%}) %>
</ul>