<ul class="menuList">
    <% _.forEach(menuList, function(parent, index){%>
    <%var className = parent.single ? 'single' : '';%>
<!--
    <%var hrefNew = parent.single && parent.href === 'reports' ? 'salesReports' : parent.href;%>
-->
    <% var colorClass = '' %>

    <% if (parent.href === 'integrations') { %>
        <% colorClass = 'green'; %>
    <% } %>
    <li class="root<%=(parent.href===currentRoot)? ' active' + (!className ? ' opened' : '') :''%> <%=className%> <%= colorClass %>">
        <!--<i class="fa fa-credit-card" aria-hidden="true"></i>-->
        <i class="icons icon-<%=parent.href%>"></i>
        <a href="#easyErp/<%=parent.href%>" class="<%=className%>"><%=parent.mname%></a>

        <%if (!className) {%>
        <div class="subMenuListWrap">
            <ul class="subMenuList">
                <li>
                    <a href="#easyErp/<%=parent.subModules[0].href%>" class="sub_item subItem "><%=parent.mname%></a>
                </li>
                <% _.forEach(parent.subModules, function(child, index){%>

                <li class="<%=(child.href===currentModule)?'selected':''%>">
                    <a href="#easyErp/<%=child.href%>" class="subItem"><%=child.mname%></a>
                </li>
                <%}) %>
            </ul>
        </div>
        <%}%>

    </li>
    <%}) %>
</ul>