<div class="_integrationOrdersTable">
    <table class="list  stripedList order-list">
        <colgroup>
            <col width="200px">
            <col width="160px">
            <col width="110px">
            <col width="110px">
            <col width="180px">
            <col width="200px">
        </colgroup>
        <thead>
        <tr>
            <th class="oe_sortable" data-sort="name">Reference
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
            <th class="oe_sortable" data-sort="supplier.name.first">Customer
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
            <th class="oe_sortable" data-sort="paymentInfo.total">Total
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
            <th class="oe_sortable" data-sort="orderDate">Order Date
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
            <th>
                Channel
            </th>
            <th>
                Unlinked Products
            </th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
        <tfoot id="listTotal"></tfoot>
    </table>
</div>