<div id="listTable">
    <% var delimiter = '' %>
    <% products.forEach(function(product, index){ %>
    <div class="compactView" data-id="<%=product._id%>">
        <div class="checkboxRow">
            <label class="_customCHeckbox">
                <input type="checkbox" value="<%=product._id%>" class="checkbox"/>
                <span></span>
            </label>
        </div>
        <div class="compactRowWrap">
            <div class="compactRow">
                <div class="firstName _mainTitle"><%= product.name %></div>
                <div class="image"><img src="<%= product.imageSrc%>" height="50" width="50" /></div>
            </div>
            <div class="compactRow">
                <div class="isBundle <% if (product.isBundle) { %> bundle <% } %>">
                    <% if (product.isBundle) { %>
                    Bundle
                    <% } else { %>
                    Product
                    <% } %>
                </div>
                <div>
                    <% if (product.variants && product.variants.length && Object.keys(product.variants[0]).length) { %>
                    <% _.each(product.variants, function(variant){ %>
                    <span title="<%= variant.optionId ? variant.optionId.name : 'unknown' %>">
                                    <%= delimiter + ((variant.value) ? variant.value : 'deleted') %>
                                    <% delimiter = '|' %>
                                </span>
                    <%})%>
                    <% delimiter = '' %>
                    <% } else { %>
                    this product has no variants
                    <% } %>
                </div>
                <div>
                    SKU: <%= product.info.SKU %>
                </div>
            </div>
        </div>
    </div>
    <% }) %>
</div>