<div id="searchContainer"></div>
<div class="_leadsCheckboxTableWrap">
    <table class="list task-list stripedList withCheckbox leadsCheckbox">
        <thead>
        <tr>
            <th class="">
                <label class="_customCHeckbox">
                    <input type="checkbox" id="checkAll"/>
                    <span></span>
                </label>
            </th>
            <th class="oe_sortable" data-sort="name">Name<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="priceListCode">Prise List Code<span class="arrow down"></span><span
                    class="arrow up"></span></th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>