<% products.forEach(function(product){ %>
<tr class="productItem" data-id="<%=product.product._id%>">
    <td data-name="productName" class="width20">
        <%if(editable) {%>
        <a class="current-selected productsDd" href="javascript:; " data-id="<%= product ? product.product._id : null%>"><%=product.product.name%></a>
        <%} else {%>
        <a href="#easyErp/Product/form/<%=product.product._id%>"><%=product.product.name%></a>
        <%}%>
    </td>
    <% if (forSales) {%>
    <td data-name="jobs" data-content="<%=product.jobs._id%>">
        <a class="<%=editable ? 'current-selected' : ''%>" id="jobs" href="javascript:;"><%=product.jobs.name%></a>
    </td>
    <% } else {%>
    <td data-name="productDescr" class="<%=editable  ? 'editable' : ''%>">
          <span>
            <%=product.description%>
          </span>
    </td>
    <% } %>
    <!--<td data-name="scheduledDate" class="<%=editable && !forSales ? 'editable' : ''%>">
        <span class="datepicker">
            <%=product.scheduledDate%>
        </span>
        <input type="text" class="datepicker notVisible" readonly>
    </td>--> <!--commented on 14 Mar, in quotationEdit commit -->
    <td data-name="quantity" class="<%=editable && !forSales ? 'editable' : ''%>">
        <span>
            <%=product.quantity%>
        </span>
    </td>
    <td data-name="price" class="<%=editable  ? 'editable' : ''%> forNum">
        <% if(editable) { %>
        <input id="editInput" class="statusInfo" maxlength="9" size=7 type="text" value="<%=product.unitPrice%>" />
        <% } else { %>
        <span><%=product.unitPrice%></span>
        <% } %>
    </td>
    <td class="<%=editable  ? 'editable' : ''%>">
        <span>
            <%= product.taxes ?  currencySplitter(product.taxes.toString()) : ''%>
        </span>
    </td>
    <td class="subtotal">
        <span>
            <%= product.subTotal ? currencySplitter(product.subTotal.toString()) : ''%>
        </span>
    </td>
</tr>
<% }); %>
<%if(editable) {%>
<tr>
    <td colspan="6" class="addProductItem">
        <a href="javascript:;">Add an item</a>
    </td>
</tr>
<%}%>
<tr>
    <td colspan="6" class="invisible_border">&nbsp;</td>
</tr>
<tr>
    <td colspan="6" class="invisible_border">&nbsp;</td>
</tr>
