<% products.forEach(function(product){ %>
<tr class="productItem" data-id="<%=product.product._id%>">
    <td data-name="productName" class="width20">
        <%if(editable) {%>
        <a class="current-selected productsDd" href="javascript:;"><%=product.product.name%></a>
        <%} else {%>
        <a href="#easyErp/Product/form/<%=product.product._id%>"><%=product.product.name%></a>
        <%}%>
    </td>
    <% if (forSales) {%>
       <td data-name="jobs" data-content="jobs">
           <a class="current-selected" id="jobs" href="javascript:;"><%=product.jobs.name%></a>
       </td>
    <% } else {%>
       <td data-name="productDescr">
          <span>
            <%=product.description%>
          </span>
       </td>
    <% } %>
    <td data-name="scheduledDate" class="editable">
        <span class="datepicker">
            <%=product.scheduledDate%>
        </span>
        <input type="text" class="datepicker notVisible" readonly>
    </td>
    <td data-name="quantity" class="editable">
        <span>
            <%=product.quantity%>
        </span>
    </td>
    <td data-name="price"  class="editable">
        <span>
            <%=product.unitPrice%>
        </span>
    </td>
    <td class="taxes">
        <span>
            <%=product.taxes%>
        </span>
    </td>
    <td class="subtotal">
        <span>
            <%=product.subTotal%>
        </span>
    </td>
</tr>
<% }); %>
<%if(editable) {%>
<tr>
    <td colspan="7" class="addProductItem">
        <a href="javascript:;">Add an item</a>
    </td>
</tr>
<%}%>
<tr>
    <td colspan="7">&nbsp;</td>
</tr>
<tr>
    <td colspan="7">&nbsp;</td>
</tr>
