<tr class="productItem deleteRow" data-id="<%= products[0] ? products[0]._id : 'false'%>" data-error="true">
    <td>
        <span title="Delete" class="fa fa-trash-o"></span>
    </td>
    <% if (forSales) {%>
        <td data-name="productName">
            <a class="current-selected productsDd" href="javascript:;" data-id="<%= products[0] ? products[0]._id : null%>">
                <%=
                products[0] ? products[0].name : 'Select'%>
            </a>
        </td>
        <td data-name="jobs" class="jobs text-overflow trash">
            <a class="current-selected jobs" data-id="jobs" href="javascript:;">Select</a>
        </td>
    <% } else { %>
        <td data-name="productName">
            <a class="current-selected productsDd" href="javascript:;" data-id="">Select</a>
        </td>
        <td data-name="productDescr">
            <span class="textarea">

            </span>
            <textarea class="productDescr hidden"></textarea>
        </td>
    <% } %>
    <td data-name="quantity"><span></span></td>
    <% if (!writeOff){
        var currencyClassVal;
        currencyClassVal = currencyClass(currency._id);
    %>
        <td data-name="price" class="<%=currencyClassVal%>">
            <input id="editInput" class="statusInfo" maxlength="9" size=10 type="text" />
        </td>
        <td class="taxes <%=currencyClassVal%> "><span></span></td>
        <td class="subtotal <%=currencyClassVal%>"><span></span></td>
    <% }%>
</tr>