<table class="list2">

    <thead>
    <tr class="productListItemsColumns">
        <th class="width20" data-sort="Product">
            Product
        </th>
        <% if (forSales) {%>
            <th class="width25" data-sort="jobs">
                Job
            </th>
        <% } else {%>
            <th class="width20" data-sort="description">
                Description
            </th>
        <% } %>
        <!--<th class="width25" data-sort="scheduledDate">
            Scheduled Date
        </th>--> <!--commented on 14 Mar, in quotationEdit commit -->
        <% if (forSales) {%>
            <th class="width20" data-sort="hours">
                Hours
            </th>
        <% } else {%>
            <th class="width20" data-sort="quantity">
                Quantity
            </th>
        <% } %>
        <th class="width20" data-sort="unitPrice">
            Unit Price
        </th>
        <th class="width20" data-sort="taxes">
            Taxes
        </th>
        <th class="width20" data-sort="subtotal">
            Subtotal
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td colspan="6" class="addProductItem">
            <a href="javascript:;">Add an item</a>
        </td>
    </tr>
    <tr>
        <td colspan="6" class="invisible_border">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="6" class="invisible_border">&nbsp;</td>
    </tr>
    </tbody>
</table>
<div class="clearfix"></div>
<div id="totalAmountContainer" class="half-block right">

</div>