<table class="list2">
    <colgroup>
        <col width="15%">
        <col width="25%">
        <col width="17%">
        <col width="10%">
        <col width="13%">
        <col width="10%">
        <col width="10%">
    </colgroup>
    <thead>
    <tr class="productListItemsColumns">
        <th data-sort="Product">
            Product
        </th>
        <% if (forSales) {%>
        <th data-sort="jobs">
            Job
        </th>
        <% } else { %>
        <th data-sort="description">
            Description
        </th>
        <% } %>
        <th data-sort="scheduledDate">
            Scheduled Date
        </th>
        <th data-sort="quantity">
            Quantity
        </th>
        <th data-sort="unitPrice">
            Unit Price
        </th>
        <th data-sort="taxes">
            Taxes
        </th>
        <th data-sort="subtotal">
            Subtotal
        </th>
    </tr>
    </thead>
    <tbody id="productList">

    </tbody>
</table>
<div class="clearfix"></div>
<div id="totalAmountContainer" class="half-block right">

</div>