<div id="minScheduleDate">
        <span>

        </span>
</div>
<table border="0" cellpadding="0" cellspacing="0" class="right calculateTotal">
    <tbody>
    <tr>
        <td>
            <label>
                Untaxed Amount
            </label>
        </td>
        <td>
                <span><span id="totalUntaxes">
                    <%if (model && model.paymentInfo && model.paymentInfo.unTaxed) {%>
                        <%=(model.paymentInfo.unTaxed)%>
                    <%} else {%>
                        0.00
                    <%}%>
                </span></span>
        </td>
    </tr>
    <tr class="taxes">
        <td>
            <label>Taxes</label>
        </td>
        <td>
                <span><span id="taxes">
                    <%if (model && model.paymentInfo && model.paymentInfo.taxes) {%>
                        <%=(model.paymentInfo.taxes)%>
                    <%} else {%>
                        0.00
                    <%}%>
                </span></span>
        </td>
    </tr>
    <tr class="totalAmount">
        <td>
            <label class="" data-original-title="" title="">Total</label>
        </td>
        <td>
                <span class=""><span id="totalAmount">
                    <%if (model && model.paymentInfo && model.paymentInfo.total) {%>
                        <%=(model.paymentInfo.total)%>
                    <%} else {%>
                        0.00
                    <%}%>
                </span></span>
        </td>
    </tr>
    <%if (balanceVisible) {%>
    <tr class="balance">
        <td>
            <label>Balance</label>
        </td>
        <td>
                <span class=""><span id="balance">
                    <%if (model && model.paymentInfo && model.paymentInfo.balance) {%>
                        <%=model.paymentInfo.balance%>
                    <%} else {%>
                        0.00
                    <%}%>
                </span></span>
        </td>
    </tr>
    <%}%>
    </tbody>
</table>
