<div class="flex productContentWrap">
    <div id="productTree">
        <ul class="groupList"></ul>
    </div>
    <div id="productContent">
        <div class="addProduct">
            <a href="javasript:;" title="New Product" class="btn icon-plus blue slim">New Product</a>
        </div>
        <!--<div class="_magentoAction">
            <a href="javascript:;" class="btn blue slim" title="magentoExport" id="magentoExport">Export to Magento</a>
            <a href="javascript:;" class="btn blue slim" title="magentoImport" id="magentoImport">Import from Magento</a>
        </div>-->
        <div id="productsHolder" class="_productsHolder"></div>
    </div>
</div>