<div class="form-holder _newForm productForm">
    <form method="post" action="" id="createEmployeeForm" class="form">
        <h4 class="_dialogTitlePositioned">Add New Product</h4>
        <ul class="dialog-tabs" data-class="mainTabs">
            <li><a class="active" href="javascript:;">Product Info</a></li>
            <li><a href="javascript:;">Stock/Inventory</a></li>
            <li><a href="javascript:;">Bundle</a></li>
            <li><a href="javascript:;">Price Lists</a></li>
        </ul>
        <div class="dialog-tabs-items mainTabs">
            <div class="dialog-tabs-item mainTabs active">
                <div class="_formWrap _enlargedItemMargin">
                    <div class="_avatarBlock">
                        <div class="avatar">
                            <div class="upload">Edit
                                <input type="file"
                                       value="Edit"
                                       id="inputImg">
                            </div>
                            <canvas id="avatar"
                                    width="140"
                                    height="140">
                                <input type="file"
                                       value="Edit"
                                       id="File1">
                            </canvas>
                        </div>
                    </div>
                    <div class="_formBlock _equal">
                        <div class="_animateInputBox _withInfo">
                            <input type="text"
                                   class="_animate"
                                   id="product"
                                   autofocus
                                   required
                                   maxlength="32"/>
                            <label class="_animate">Product Name</label>
                            <span class="tips icon-info" data-id="product"></span>
                        </div>
                        <div class="_formRow _tipsWrap">
                            <label class="_animatedCheckbox _withInfo">
                                <input id="sold"
                                       type="checkbox" <% if (contentType === 'salesProduct') {%>
                                checked
                                <%}%> >
                                <span></span>
                            </label>
                            <label for="sold">Can be Sold</label>
                            <span class="tips icon-info" data-id="sold"></span>
                        </div>
                        <div class="_formRow _tipsWrap">
                            <label class="_animatedCheckbox">
                                <input id="expensed"
                                       type="checkbox">
                                <span></span>
                            </label>
                            <label for="expensed">Can be Expensed</label>
                            <span class="tips icon-info" data-id="expensed"></span>
                        </div>
                        <div class="_formRow _tipsWrap">
                            <label class="_animatedCheckbox">
                                <input id="purchased"
                                       type="checkbox"<% if (contentType === 'Product') {%>
                                checked
                                <%}%> >
                                <span></span>
                            </label>
                            <label for="purchased">Can be Purchased</label>
                            <span class="tips icon-info" data-id="purchased"></span>
                        </div>
                        <div class="_animateSelectBox _withInfo">
                            <span class="_selectTitle">Product type</span>
                            <div class="_newSelectListWrap">
                                <a id="productType"
                                   class="current-selected">Select product type</a>
                            </div>
                            <span class="tips icon-info" data-id="productType"></span>
                        </div>
                        <span class="_variantsLabel">Product Categories:</span>
                        <div id="variantsCategoriesBlock" class="_variantsBlock _withInfo">
                            <div class="_checkCategoriesWrap">
                                <ul id="checkedProductCategories" class="_checkCategories"></ul>
                                <span id="showBtn" class="_arrow"></span>
                            </div>
                            <ul id="productCategories" class="_categoriesList"></ul>
                            <span class="tips icon-info" data-id="variantsCategoriesBlock"></span>
                        </div>
                    </div>
                    <div class="_formBlock _equal">
                        <div class="_animateInputBox _withInfo">
                            <input type="text"
                                   class="_animate"
                                   id="SKU"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">Model / SKU</label>
                            <span class="tips icon-info" data-id="SKU"></span>
                        </div>
                        <div class="_animateInputBox _withInfo">
                            <input type="text"
                                   class="_animate"
                                   id="UPC"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">UPC</label>
                            <span class="tips icon-info" data-id="UPC"></span>
                        </div>
                        <div class="_animateInputBox _withInfo">
                            <input type="text"
                                   class="_animate"
                                   id="ISBN"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">ISBN</label>
                            <span class="tips icon-info" data-id="ISBN"></span>
                        </div>
                        <div class="_animateInputBox _withInfo">
                            <input type="text"
                                   class="_animate"
                                   id="EAN"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">EAN</label>
                            <span class="tips icon-info" data-id="EAN"></span>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="weight"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">Weight in kilograms</label>
                        </div>
                        <div class="_animateTextareaBox counterWrap">
                            <textarea class="_animate"
                                      id="description"
                                      maxlength="500"
                                      required></textarea>
                            <label class="_animate" for="description">Description</label>
                            <div class="counter-wrap">
                                <span class="counter-label">Characters left:</span>
                                <span class="counter-value" id="counterValue">500</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dialog-tabs-item mainTabs">
                <div class="_formWrap _enlargedItemMargin">
                    <div class="_formBlock _equal">
                        <div class="_animateInputBox _withInfo">
                            <input type="text"
                                   class="_animate"
                                   id="mainMinStockLevel"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">Minimum stock level</label>
                            <span class="tips icon-info" data-id="mainMinStockLevel"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dialog-tabs-item mainTabs">
                <div class="_formWrap searchContainer">
                    <div class="_formBlock _equal">
                        <div class="_searchContWrap">
                            <label for="searchProducts" class="_searchTitle">Name | SKU</label>
                            <input type="text" id="searchProducts" class="_searchInput"/>
                            <button id="searchBtn" class="_searchBtn">
                                <span class="icon-search2-"></span>
                            </button>
                        </div>
                    </div>
                    <div class="_formBlock _equal">
                        <div class="_bundleTitle">Create the bundle by adding products</div>
                    </div>
                    <div class="_formBlock _equal">
                        <div class="_bundleListTitle">Products list:</div>
                        <ul id='productsForBundle' class="_productsForBundle"></ul>
                    </div>
                    <div class="_formBlock _equal">
                        <div class="_bundleListTitle">Bundle consists of:</div>
                        <ul id='productsBundle' class="_productsBundle"></ul>
                    </div>
                </div>
            </div>
            <div class="dialog-tabs-item mainTabs">
                <div class="_formWrap">
                    <div class="_formBlock">
                        <div id="priceBlock">
                            <ul class="dialog-tabs" data-class="subTabs">
                                <% _.each(priceLists, function(priceList) { %>
                                <li><a href="javascript:;"><%= priceList.priceListCode %> <%=priceList.cost ? '(costs)'
                                    :
                                    ''%></a></li>
                                <% }) %>
                            </ul>
                            <div class="dialog-tabs-items subTabs">
                                <p>Breaks and Prices:</p>
                                <% _.each(priceLists, function(priceList) { %>
                                <div data-id="<%= priceList._id %>" class="dialog-tabs-item subTabs priceListCreate">
                                    <div class="_priceBlockWrap">
                                        <dl class="priceBlock">
                                            <div>
                                                <dt>Count 1</dt>
                                                <dd>
                                                    <input type="text"
                                                           value="1"
                                                           placeholder="count1"
                                                           class="forNum productCount"/>
                                                </dd>
                                            </div>
                                            <div>
                                                <dt>Price 1</dt>
                                                <dd>
                                                    <input type="text"
                                                           value="0"
                                                           placeholder="price1"
                                                           class="forNum productPrice"/>
                                                </dd>
                                            </div>
                                        </dl>
                                        <dl class="priceBlock">
                                            <div>
                                                <dt>Count 2</dt>
                                                <dd>
                                                    <input type="text"
                                                           value="0"
                                                           placeholder="count1"
                                                           class="forNum productCount"/>
                                                </dd>
                                            </div>
                                            <div>
                                                <dt>Price 2</dt>
                                                <dd>
                                                    <input type="text"
                                                           value="0"
                                                           placeholder="price1"
                                                           class="forNum productPrice">
                                                </dd>
                                            </div>
                                        </dl>
                                        <dl class="priceBlock">
                                            <div>
                                                <dt>Count 3</dt>
                                                <dd>
                                                    <input type="text"
                                                           value="0"
                                                           placeholder="count1"
                                                           class="forNum productCount">
                                                </dd>
                                            </div>
                                            <div>
                                                <dt>Price 3</dt>
                                                <dd>
                                                    <input type="text"
                                                           value="0"
                                                           placeholder="price1"
                                                           class="forNum productPrice">
                                                </dd>
                                            </div>
                                        </dl>
                                        <dl class="priceBlock">
                                            <div>
                                                <dt>Count 4</dt>
                                                <dd>
                                                    <input type="text"
                                                           value="0"
                                                           placeholder="count1"
                                                           class="forNum productCount">
                                                </dd>
                                            </div>
                                            <div>
                                                <dt>Price 4</dt>
                                                <dd>
                                                    <input type="text"
                                                           value="0"
                                                           placeholder="price1"
                                                           class="forNum productPrice">
                                                </dd>
                                            </div>
                                        </dl>
                                        <dl class="priceBlock">
                                            <div>
                                                <dt>Count 5</dt>
                                                <dd>
                                                    <input type="text"
                                                           value="0"
                                                           placeholder="count1"
                                                           class="forNum productCount">
                                                </dd>
                                            </div>
                                            <div>
                                                <dt>Price 5</dt>
                                                <dd>
                                                    <input type="text"
                                                           value="0"
                                                           placeholder="price1"
                                                           class="forNum productPrice">
                                                </dd>
                                            </div>
                                        </dl>
                                    </div>
                                </div>
                                <% }); %>
                                <div class="half-block right"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cropImages form" style="display:none;">
            <div class="formTitle">
                <h3 class="left">Crop Images</h3>
                <div class="clearfix"></div>
            </div>
            <br/>

            <div class="image_input" style="float: left;margin-right: 20px;"></div>
            <img class="image_output"/>
            <div class="clearfix"></div>
        </div>
    </form>
</div>

