<%if (contentType === 'salesProduct') {%>
<h3>Sales Product</h3>
<%} else {%>
<h3><%=contentType%></h3>
<%}%>
<div id="createBtnHolder" class="btnsBlock">
    <a href="javascript:;" class="btn blue slim" title="Go Back" id="top-bar-back">Back</a>
    <a href="#home/action-<%=contentType%>/Create" class="btn blue slim icon-plus" title="Create"
       id="top-bar-createBtn">New</a>
    <a href="javascript:;" class="btn blue slim" title="Edit" id="top-bar-editBtn">Edit</a>
    <a href="javascript:;" class="btn blue slim" title="Remove" id="top-bar-deleteBtn">Delete</a>
    <a href="javascript:;" class="btn blue slim" title="publish settings" id="top-bar-publishBtn">Configure Publishing</a>
    <a href="javascript:;" class="btn blue slim" title="unpublish settings" id="top-bar-unpublishBtn">Configure Unpublishing</a>
    <!--
    <a href="javascript:;" class="btn blue slim" title="unlink settings" id="top-bar-unlinkBtn">Unlink from channel</a>
    -->
    <a href="javascript:;" class="btn blue slim" title="publish" id="top-bar-toPublishBtn">Publish</a>
    <a href="javascript:;" class="btn blue slim" title="unpublish" id="top-bar-toUnpublishBtn">Unpublish</a>
    <a href="javascript:;" class="btn blue slim" title="unlink" id="top-bar-toUnlinkBtn">Unlink</a>
    <!--
        <a href="javascript:;" class="btn blue slim icon-download" title="Import" id="top-bar-importBtn"></a>
    -->
    <!--<span title="Export to csv" id="top-bar-exportToCsvBtn" class="btn slim">Export to Csv</span>
    <span href="javascript:;" title="Export to xlsx" id="top-bar-exportToXlsxBtn" class="btn slim">Export to Xlsx</span>
-->
    <div class="channelStatus" id="channelStatus">
        <div class="channelImg" data-content="channelImage"></div>
        <span class="channelName"></span>
    </div>
</div>
<div id="forImport"></div>
<% if (!hideNavigate) { %>
<div id="template-switcher" class="template-switcher right">
    <ul class="btn-list">
        <li><a href="javascript:;"
               class="changeContentView icon-tiles2 <%= (viewType == 'thumbnails') ? 'selected' : ''%>"
               data-view-type="thumbnails" id="thumbBtn"></a></li>
        <li><a href="javascript:;"
               class="changeContentView icon-list5 <%= (viewType == 'list') ? 'selected' : ''%>"
               data-view-type="list" id="listBtn"></a></li>
        <li><a href="javascript:;"
               class="changeContentView icon-rect2 <%= (viewType == 'form') ? 'selected' : ''%>"
               data-view-type="form" id="formBtn"></a></li>
    </ul>
</div>
<% } %>