<div class="addNote showButtons">
    <div class="noteBody">
        <div class="noteType">Created Note<span class="dateNote"><%=date%></span></div>
        <div class="noteTitle" id="noteTitleArea><input value="<%=title%>"/></div>
    <textarea class="noteText" id="noteArea"><%=note%></textarea>
    <div>
        <div class="">

            <a href="javascript:;" id="save_<%=_id%>" data-id="<%=_id%>" class="btn btnRounded  editDelNote saveNote">Save</a>

            <a href="javascript:;" id="cancel_<%=_id%>" data-id="<%=_id%>" class="btn btnRounded  editDelNote cancelNote">Cancel</a>

        </div>
    </div>
</div>

