<div class="addNote">
<div class="noteType">Created Note</div>
<div class="noteTitle" id="noteTitleArea"><input value="<%=title%>"/></div>
<textarea class="noteText" id="noteArea"><%=note%></textarea>
<div>
    </a><span class="dateNote"><%=date%></span>

    <div>
          <span>
            <a href="javascript:;" id="save_<%=_id%>" data-id="<%=_id%>" class="editDelNote saveNote">Save</a>
          </span>
        <span class="sep">|</span>
          <span>
            <a href="javascript:;" id="cancel_<%=_id%>" data-id="<%=_id%>" class="editDelNote cancelNote">Cancel</a>
          </span>
    </div>
</div>
</div>

