<div class="addNote createHolder">
    <div class="_animateTextareaBox counterWrap">
        <textarea id="noteArea"
                  class="_animate"
                  placeholder="Add a Note"
                  maxlength="500"></textarea>
        <label for="noteArea" class="_animate">Add a note</label>
        <div class="counter-wrap">
            <span class="counter-label">Characters left:</span>
            <span class="counter-value" id="counterValue">500</span>
        </div>
        <span class="attach_file icon-attach"></span>
    </div>
    <div class="buttons">
        <button class="btn blue btnSave" id="addNote">Save</button>
        <button class="btn cancelNote" id="cancelNote">Cancel</button>
    </div>
    <input type="hidden" id="getNoteKey" value="">
</div>

<div id="timeline" class="_timeline"></div>
