<div id="timeLineBody" class="noteMainContainer timeNote">
    <% notes = notes || [];%>
    <% notes.reverse();%>
    <%_.each(notes, function(val,key){ %>
    <% var login = val.user ? (App.currentUser._id === val.user._id) ? 'You': val.user.login : '' %>
    <% var classType = val.task ? 'taskContent' : val.history ? 'historyContent' : 'noteContent' %>

    <div id="<%=val._id%>" class="noteContainer <%=classType%>">
        <div class="<%=val.history ? '' : 'contentHolder'%>">
            <div class="noteBody">
                <%if (val.task){%>
                <div class="itemCircle">
                    <span class=" <%=val.task.workflow.status === 'Done' ? 'icon-check-circle' : 'icon-circle'  %>" aria-hidden="true"></span>
                </div>
                <div class="noteType task noteTopBox clearfix" id="<%= val.task._id%>">
                    <span class="noteUserTitle"><b><%= login %></b> created task</span>
                    <p class="dateNote"><%=val.date.format('DD MMM, YYYY, H:mm:ss')%></p>
                </div>
                <div class="noteContent"><a href="javascript:;" ><%=val.task.description  %></a></div>
                <div class="assignedTo">Assigned To <b><%=val.task && val.task.assignedTo ? val.task.assignedTo.fullName : ''%></b></div>
                <%} else if (val.history) {%>
                <%var name = val.history.collectionName%>
                <div class="itemCircle">
                    <span class="<%=name === 'Opportunities' ? 'icon-usd' : name ==='Persons' ? 'icon-user' : 'icon-building'%> "
                          aria-hidden="true"></span>
                </div>
                <div class="history_body">
                    <div class="history_changed singleNote clearfix">
                        <span class="dateNote"><%=val.date.format('DD MMM, YYYY, H:mm:ss')%></span>
                        <div class="changed_field">
                            <%if (val.history.prevValue){%>
                            <span class="changedFieldName"><b><%= login %></b> changed <%= val.name ? 'on ' + val.name + ' : ' : '' %><b><%= val.history.changedField %></b></span>
                            <span>from <b><%= val.history.prevValue %></b></span>
                            <span> to </span>
                            <%} else {%>
                            <span class="changedFieldName"><b><%= login %></b> added <%= val.name ? 'on ' + val.name + ' : ' : '' %> <b><%= val.history.changedField %></b></span>
                            <%}%>
                            <span><b><%= val.history.newValue %></b></span>
                        </div>
                    </div>
                </div>
                <%} else {%>

                <div class="itemCircle">
                    <span class="icon-calendar" aria-hidden="true"></span>
                </div>
                <div class="noteTopBox clearfix">
                    <span class="noteType"><b><%=login%></b> left a Note</span>
                    <span class="dateNote"><%=val.date.format('DD MMM, YYYY, H:mm:ss')%></span>
                </div>
                <%}%>

                <div class="noteText <%=!val.note ? 'hidden' : ''%>"><%= val.note ? val.note.replace(/</g,"&#60;").replace(/>/g,"&#62;").replace(/\n/g,"<br/>") : ''%> </div>

                <% if (val.attachment){%>

                <div class="noteType loadAttach"><a href="download/<%= val.attachment.shortPas%>" id="<%= val.attachment._id%>"><%= val.attachment.name  %></a></div>
                <%}%>
            </div>
            <div class="noteBtnBlock">
                <a href="javascript:;" data-type="edit" class="editDelNote btn blue btnSave editNote">Edit</a>

                <a href="javascript:;" data-type="del" class="editDelNote btn btnSave">Delete</a>
            </div>
        </div>
    </div>
    <% }); notes.reverse(); %>
</div>