<div id="noteBody">
    <% notes = notes || [];%>
    <% notes.reverse();%>
    <%_.each(notes, function(val,key){ %>
    <div id="<%=val._id%>" class="noteContainer">
        <div class="contentHolder">
            <div class="noteBody">
                <%if (val.task){%>
                <div class="noteType task" id="<%= val.task._id%>">
                    <span>Created Task</span>
                    <span class="dateNote"><%=val.date%></span>
                    <div><a href="javascript:;" ><%=val.task.description  %></a></div>
                </div>
                <div class="assignedTo">Assigned To <%=val.task && val.task.assignedTo ? val.task.assignedTo.fullName : ''%></div>
                <%} else {%>
                <div class="noteType">Created Note</div>
                <span class="dateNote"><%=val.date%></span>
                <%}%>
                <%if (val.title){%>
                <div class="noteTitle"><%=val.title.replace(/</g,"&#60;").replace(/>/g,"&#62;") %></div>
                <%}%>
                <%if (val.note){%>
                <div class="noteText"><%=val.note.replace(/</g,"&#60;").replace(/>/g,"&#62;").replace(/\n/g,"<br/>") %> </div>
                <%}%>

                <% if (val.attachment){%>

                <div class="noteType"><a href="download/<%= val.attachment.shortPas%>" id="<%= val.attachment._id%>"><%= val.attachment.name  %></a></div>
                <%}%>
            </div>
            <div class="right noteBtnBlock">
                <a href="javascript:;" data-type="edit" class="editDelNote editNote">Edit</a>

                <a href="javascript:;" data-type="del" class="editDelNote">Del</a>
            </div>
        </div>
    </div>
    <% }); notes.reverse(); %>
</div>