<div class="listWrap personList">
    <div class="listContentWrap">
        <div class="listContentTitle">
            <div class="dropDown">
                <a id="sortBy" class="icon icon-btn dropBtn">i</a>
                <ul>
                    <li class="oe_sortable" data-sort="name.first">
                        <span class="dropContent">First Name</span>
                        <span class="sortUp fa fa-caret-up"></span>
                        <span class="sortDown fa fa-caret-down"></span>
                    </li>
                    <li class="oe_sortable" data-sort="name.last">
                        <span class="dropContent">Last Name</span>
                        <span class="sortUp fa fa-caret-up"></span>
                        <span class="sortDown fa fa-caret-down"></span>
                    </li>
                    <li class="oe_sortable" data-sort="email">
                        <span class="dropContent">Email</span>
                        <span class="sortUp fa fa-caret-up"></span>
                        <span class="sortDown fa fa-caret-down"></span>
                    </li>
                    <li class="oe_sortable" data-sort="phones.phone">
                        <span class="dropContent">Phone</span>
                        <span class="sortUp fa fa-caret-up"></span>
                        <span class="sortDown fa fa-caret-down"></span>
                    </li>
                    <li class="oe_sortable" data-sort="address.country">
                        <span class="dropContent">Country</span>
                        <span class="sortUp fa fa-caret-up"></span>
                        <span class="sortDown fa fa-caret-down"></span>
                    </li>
                    <li class="oe_sortable" data-sort="createdBy.date">
                        <span class="dropContent">Created By</span>
                        <span class="sortUp fa fa-caret-up"></span>
                        <span class="sortDown fa fa-caret-down"></span>
                    </li>
                    <li class="oe_sortable" data-sort="editedBy.date">
                        <span class="dropContent">Edited By</span>
                        <span class="sortUp fa fa-caret-up"></span>
                        <span class="sortDown fa fa-caret-down"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div id="listContent" class="listContent">

        </div>
        <div id="listPagination"></div>
    </div>
    <div class="formContentWrap">
        <div class="formContentTitle">
            <span class="closeBtn"></span>
            <div id="searchContainer"></div>
        </div>
        <div id="formContent" class="formContent">

        </div>
    </div>
</div>