<div class="listWrap personList">
    <div class="listContentWrap">
        <div class="listContentTitle">
            <a class="sortBy icon icon-btn">i</a>
        </div>
        <div id="listContent" class="listContent">

        </div>
        <div id="listPagination"></div>
    </div>
    <div class="formContentWrap">
        <div class="formContentTitle">
            <span class="closeBtn"></span>
            <div id="searchContainer"></div>
        </div>
        <div id="formContent" class="formContent">

        </div>
    </div>
</div>