<div class="form-holder">

        <form class="form notDialog" id="createEmployeeForm" data-id="<%=_id%>">
            <div class="floatColumn col4-10">
            <div class="moduleList aboutHolder">


                <div class="formTitle">
                    <h3>About <%=name.first%></h3>
                </div>
                <div class="person-info">
                    <div class="avatar">
                        <div class="upload">Edit
                            <input type="file" value="Edit" id="inputImg">
                        </div>
                        <canvas id="avatar"
                                width="140"
                                height="140">
                        </canvas>
                    </div>

                    <div class="propertyFormList">
                        <label>First Name</label>
                        <div  class="inputBox">
                            <input class="editable"  data-id="name_first" value="<%=name.first%>"/>
                        </div>
                    </div>
                    <div class="propertyFormList">
                        <label>Last Name</label>
                        <div  class="inputBox">
                            <input class="editable"  data-id="name_last" value="<%=name.last%>"/>
                        </div>
                    </div>
                    <div class="propertyFormList">
                        <label>Job Position</label>
                        <div  class="inputBox">
                            <input class="editable"  data-id="jobPosition" value="<%=jobPosition%>"/>
                        </div>
                    </div>
                    <div class="propertyFormList">
                        <label>Email</label>
                        <div  class="inputBox">
                            <input class="editable"  data-id="email" value="<%=email%>"/>
                        </div>
                    </div>
                    <div class="propertyFormList">
                        <label>Skype</label>
                        <div  class="inputBox">
                            <input class="editable"  data-id="skype" value="<%=skype%>"/>
                        </div>
                    </div>
                    <div class="propertyFormList">
                        <label>LinkedIn</label>
                        <div  class="inputBox">
                            <input class="editable"  data-id="social_LI" value="<%=social.LI%>"/>
                        </div>
                    </div>
                    <div class="propertyFormList">
                        <label>Facebook</label>
                        <div  class="inputBox">
                            <input class="editable"  data-id="social_FB" value="<%=social.FB%>"/>
                        </div>
                    </div>
                    <div class="propertyFormList">
                        <label>Phone</label>
                        <div  class="inputBox">
                            <input class="editable"  data-id="phones_phone" value="<%=phones.phone%>"/>
                        </div>
                    </div>
                    <div class="propertyFormList">
                        <label>Mobile</label>
                        <div  class="inputBox">
                            <input class="editable"  data-id="phones_mobile" value="<%=phones.mobile%>"/>
                        </div>
                    </div>
                    <div class="propertyFormList">
                        <label>Street</label>
                        <div  class="inputBox">
                            <input class="editable"  data-id="address_street" value="<%=address.street%>"/>
                        </div>
                    </div>
                    <div class="propertyFormList">
                        <label>City</label>
                        <div  class="inputBox">
                            <input class="editable"  data-id="address_city" value="<%=address.city%>"/>
                        </div>
                    </div>
                    <div class="propertyFormList">
                        <label>State</label>
                        <div  class="inputBox">
                            <input class="editable"  data-id="address_state" value="<%=address.state%>"/>
                        </div>
                    </div>
                    <div class="propertyFormList">
                        <label>Zip</label>
                        <div  class="inputBox">
                            <input class="editable"  data-id="address_zip" value="<%=address.zip%>"/>
                        </div>
                    </div>

                    <div class="propertyFormList">
                        <label>Country</label>
                        <div  class="inputBox _newSelectListWrap">
                            <a class="current-selected" href="javascript:;" data-id="address_country" id="country" data-value="<%=address.country%>"><%=address.country || 'Select'%></a>
                        </div>
                    </div>
                    <div class="propertyFormList">
                        <label>Date of Birth</label>
                        <div  class="inputBox">
                            <input class="extrainfo" type="text" name="Date of Birth" id="dateBirth" value="<%=dateBirth%>"
                                   readonly="">
                        </div>
                    </div>
                    <div class="social">
                        <% if (social.FB){%><a class="facebook" href="<%=social.FB%>"></a><%}%>
                        <% if (social.LI){%><a class="linkedin" href="<%=social.LI%>"></a><%}%>
                        <% if (skype){%><a class="skype" href="skype:<%=skype%>?call"></a><%}%>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="cropImages form" style="display:none;">
                    <div class="formTitle">
                        <h3 class="left">Crop Images</h3>

                        <div class="clearfix"></div>
                    </div>
                    <br/>

                    <div class="image_input" style="float: left;margin-right: 20px;"></div>
                    <img class="image_output"/>

                    <div class="clearfix"></div>
                </div>
                <div class="propertyEditBtn" id="formBtnBlock">

                    <a href="javascript:;" id="saveBtn" class="btn btnRounded btnSave">Save</a>

                    <a href="javascript:;" id="cancelBtn" class="btn btnRounded">Cancel</a>
                </div>
            </div>
            <div id="companyHolder"></div>
           <div id="opportunitiesHolder"></div>

            <div class="attachments"></div>
            </div>

            <div class="floatColumn col6-10">
                <div class="notes">
                </div>
            </div>
        </form>
</div>
