<table id="listTable">
    <% persons.forEach(function(person, index){ %>
    <tr class="compactView" data-id="<%=person._id%>">
        <td class="checkboxRow">
            <label>
                <input type="checkbox" value="<%=person._id%>" class="checkbox"/>
            </label>
        </td>
        <td>
            <div class="compactRowWrap">
                <div class="compactRow">
                    <div class="firstName" data-key="fullName"><%- person.fullName%></div>
                    <div class="country" data-key="address.country"><%= person.address.country === 'Select' ? '' : person.address.country %></div>
                </div>
                <div class="compactRow">
                    <div class="email" data-key="email"><%= person.email %></div>
                    <div class="phone" data-key="phones.phone"><%= person.phones.phone %></div>
                </div>
            </div>
        </td>
    </tr>
    <% }) %>
</table>