@font-face {
  font-family: 'Segoe UI';
  src: url("../font/segoeui.woff") format('woff');
}

@font-face {
  font-family: 'Title';
  src: url("../font/title.woff") format('woff');
}

@font-face {
  font-family: 'Icons';
  src: url("../font/easyERP.eot");
  src: url("../font/easyERP.eot?#iefix") format('embedded-opentype'),
  url("../font/easyERP.woff") format('woff'),
  url("../font/easyERP.ttf") format('truetype'),
  url("../font/easyERP.svg#quartzregular") format('svg');
}

@font-face {
  font-family: 'Open Sans ExtraBold';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('opensans-extrabold'),
  url(../font/opensans-extrabold.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('opensans-bold'),
  url(../font/opensans-bold.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans SemiBold';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('opensans-semibold'),
  url(../font/opensans-semibold.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('opensans-regular'),
  url(../font/opensans-regular.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('opensans-light'),
  url(../font/opensans-light.woff) format('woff');
}
