<tr data-id="<%=model._id%>">
    <td class="notForm centerCell"><input type="checkbox" value="<%=model._id%>" class="checkbox"/></td>

    <td data-content="number" class="centerCell"><%=model.startNumber%></td>
    <td data-content="month"><%=model.month%></td>
    <td data-content="year"><%=model.year%></td>
    <td data-content="hours"><%=model.hours%></td>
    <td data-type="input" data-content="expenseCoefficient" class="editable"><%=model.expenseCoefficient%></td>
    <td data-type="input" data-content="fixedExpense" class="editable"><%=model.fixedExpense%></td>
    <td class="editable" data-content="estimatedHours"><%=model.estimatedHours%></td>
    <td class="editable" data-content="actualHours"><%=model.actualHours%></td>
    <td class="editable" data-content="idleHours"><%=model.idleHours%></td>
    <td class="editable" data-content="overtimeHours"><%=model.overtimeHours%></td>
    <td class="editable" data-content="idleBudget"><%=model.idleBudget%></td>
    <td class="editable" data-content="vacationBudget"><%=model.vacationBudget%></td>
    <td class="editable" data-content="adminBudget"><%=model.adminBudget%></td>
</tr>
