<tr data-id="<%=model._id%>">
    <td class="notForm centerCell"><input type="checkbox" value="<%=model._id%>" class="checkbox"/></td>

    <td data-content="number" class="centerCell"><%=model.startNumber%></td>
    <td data-content="month"><%=model.month%></td>
    <td data-content="year"><%=model.year%></td>
    <td data-content="hours" data-type="input" class="editable"><%=model.hours%></td>
    <td data-type="input" data-content="expenseCoefficient" class="editable"><%=model.expenseCoefficient%></td>
    <td data-type="input" data-content="fixedExpense" class="editable"><%=model.fixedExpense%></td>
    <td data-type="input" class="editable" data-content="estimatedHours"><%=model.estimatedHours%></td>
    <td data-type="input" class="editable"  data-content="actualHours"><%=model.actualHours%></td>
    <td data-type="input" class="editable money"  data-content="adminBudget"><%=model.adminBudget%></td>
    <td data-type="input" class="editable money"  data-content="adminSalaryBudget"><%=model.adminSalaryBudget%></td>
    <td data-type="input" class="editable money"  data-content="vacationBudget"><%=model.vacationBudget%></td>
    <td data-type="input" class="editable money"  data-content="idleBudget"><%=model.idleBudget%></td>
    <td data-type="input" class="editable money"  data-content="overheadRate"><%=model.overheadRate%></td>
</tr>
