<div class="_tableCostCenterWrap">
    <table class="list stripedList">
        <colgroup>
            <col width="42px">
            <col width="6%">
            <col width="6%">
            <col width="6%">
            <col width="10%">
            <col width="9%">
            <col width="9%">
            <col width="12%">
            <col width="10%">
            <col width="10%">
            <col width="12%">
            <col width="10%">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell">
                <label class="_customCHeckbox">
                    <input type="checkbox" id="checkAll"/>
                    <span></span>
                </label>
            </th>
            <th class="oe_sortable" data-sort="month">Month<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable sortDn" data-sort="year">Year<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="hours">Hours<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <!-- <th class="oe_sortable" data-sort="expenseCoefficient">ExpenseCoefficient<span
                     class="arrow down"></span><span
                     class="arrow up"></span></th>
             <th class="oe_sortable" data-sort="fixedExpense">FixedExpense<span class="arrow down"></span><span
                     class="arrow up"></span></th>-->
            <th class="oe_sortable" data-sort="estimatedHours">Estimated Hours<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="actualHours">Actual Hours<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="adminBudget">Admin Budget<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="adminSalaryBudget">Admin Salary Budget<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="vacationBudget">Vacation Budget<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="idleBudget">Idle Time Budget<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="marketingBudget">Marketing Budget<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="overheadRate">Overhead Rate<span class="arrow down"></span><span
                    class="arrow up"></span></th>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>