<div>
    <table class="list task-list">
        <col width="2%">
        <col width="2%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <thead>
        <tr>
        <th><input type="checkbox" id="check_all"/></th>
        <th>N</th>
        <th class="oe_sortable" data-sort="month">Month<span class="arrow down">7</span><span
                class="arrow up">v</span></th>
        <th class="oe_sortable" data-sort="hours"> Hours<span class="arrow down">7</span><span
                class="arrow up">v</span></th>
        <th class="oe_sortable" data-sort="year">Year<span class="arrow down">7</span><span
                class="arrow up">v</span></th>
        <th class="oe_sortable" data-sort="expenseCoefficient">ExpenseCoefficient<span class="arrow down">7</span><span
                class="arrow up">v</span></th>
        <th class="oe_sortable" data-sort="fixedExpense">FixedExpense<span class="arrow down">7</span><span
                class="arrow up">v</span></th>

        </thead>
        <tbody id="listTable"></tbody>
    </table>
</div>
