
<% monthHoursCollection.forEach(function(monthHours, index){ %>
<tr  data-id="<%=monthHours._id%>">
    <td class = "notForm"><input type="checkbox" value="<%=monthHours._id%>" class="checkbox" /></td>

    <td data-content="number"><%=startNumber + index +1 %></td>
    <td data-content="month"><%=monthHours.month%></td>
    <td data-content="hours"><%=monthHours.hours%></td>
    <td data-content="year"><%=monthHours.year%></td>
    <td data-type="input" data-content="expenseCoefficient" class="editable"><%=monthHours.expenseCoefficient%></td>
    <td data-type="input" data-content="fixedExpense" class="editable"><%=monthHours.fixedExpense%></td>
</tr>
<% }) %>

