<div id="popup-holder">
    <div class="popup"></div>
</div>
<div id="mainmenu-holder" class="mainmenu_holder">
    <div id="loginPanel">
        <div class="dropdown-button">
            <img class="iconEmployee" width="26" height="26"/>
            <span id="userName"></span>

            <ul id="loginSelect" hidden="true">
                <!-- <li selected="selected"><a href="javascript:;">.....</a></li>                     Masalovych  comment this line-->
                <li id="userpage"><a href="#easyErp/myProfile">My profile</a></li>
                <li id="logout"><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="submenu-holder" class="side_menu">
    <div class="sidebar_toggler"></div>
    <nav></nav>
    <div id="logo" class="logo">
        <a href="javascript:;">
            <img src="../../images/logo_new.png" alt="logo"/>
        </a>
    </div>
</div>
<!--<div class="content-box">-->
<div class="content_wrapper">
    <div id="top-bar" class="top-bar"></div>
    <div id="content-holder" class="content-holder">

    </div>
</div>
<!--<div class="clearfix"></div>-->
<!--</div>-->

