<div id="popup-holder">
    <div class="popup"></div>
</div>
<div id="mainmenu-holder">
    <nav>
        <ul></ul>
    </nav>
    <div id="loginPanel">
        <div class="dropdown-button">
            <img class="iconEmployee" width="26" height="26"/>
            <span id="userName"></span>

            <ul id="loginSelect" hidden="true">
                <!-- <li selected="selected"><a href="javascript:;">.....</a></li>                     Masalovych  comment this line-->
                <li id="userpage"><a href="#easyErp/myProfile">My profile</a></li>
                <li id="logout"><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="submenu-holder">
    <nav></nav>

</div>
<div class="clearfix"></div>
<!--<div class="content-box">-->
<div id="top-bar"></div>
<div id="content-holder"></div>
<!--<div class="clearfix"></div>-->
<!--</div>-->

