<ul class="newSelectList" data-page="<%=currentPage%>">
    <% collection.forEach(function(item){ %>
        <li id="<%= item._id %>" data-level="<%= item.level%>" data-fullname="<%= item.fullName%>" data-status="<%= item.status?item.status.replace(' ','').toLowerCase():''%>"><%= item.name %></li>
    <% }) %>
	<% if (dataLength>elementVisible){%>
    <li class="miniStylePagination"><a class="prev<%=currentPage==1?' disabled':''%>" href="javascript:;">&lt;Prev</a><span class="counter"><%=(start+1)%>-<%=end%> of <%=dataLength%></span><a class="next<%=(currentPage==allPages?' disabled':'')%>" href="javascript:;">Next&gt;</a></li>
	<%}%>
</ul>
