<h3>Journal Entry</h3>
<div id="createBtnHolder">

</div>
<button id="reconcileBtn" class="btn">
    <span>Reconcile</span>
</button>
<span id="reconcileDate"></span>
<ul>
    <li>
        <button class="btn">
            <span title="Export to csv" id="top-bar-exportToCsvBtn">Export to Csv</span>
        </button>
    </li>
    <li>
        <button class="btn">
            <span href="javascript;" title="Export to xlsx" id="top-bar-exportToXlsxBtn">Export to Xlsx</span>
        </button>
    </li>
</ul>
<div id="template-switcher" class="right">

</div>