<div id="searchContainer"></div>
<div class="_tableWrap _tablePurchasePaymentsWrap">
    <table class="list task-list stripedList">
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <col width="20%">
        <thead>
        <tr>
            <th class="oe_sortable" data-sort="name">Name<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="order.name">Order<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="status.receivedOn">Received By<span class="arrow down"></span><span
              class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="status.receivedById.login">Received By<span class="arrow down"></span><span
              class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="status.receivedOn">Status<span class="arrow down"></span><span
                    class="arrow up"></span></th>

        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>