<tr id="false" data-id="<%=cid%>">
    <td data-content="number"><%=cid%></td>
    <td class="notForm"><input type="checkbox" value="<%=cid%>" class="checkbox" /></td>
    <td class="editable" data-content="employee"><%=employee ? employee.name : ''%></td>
    <td><%=dataKey%></td>
    <td data-type="input" class="editable autoCalc calc money" data-content="salary"><%=baseSalary%></td>
    <td data-type="input" class="editable autoCalc cash calc money" data-content="onCash"><%=calc.onCash%></td>
    <td data-type="input" class="editable autoCalc cash paid money" data-content="onCash"><%=paid.onCash%></td>
    <td data-content="onCash" class="diff money"><%=diff.onCash%></td>
    <td data-type="input" class="editable autoCalc card calc money" data-content="onCard"><%=calc.onCard%></td>
    <td data-type="input" class="editable autoCalc card paid money" data-content="onCard"><%=paid.onCard%></td>
    <td class="diff money" data-content="onCard"><%=diff.onCard%></td>
    <td class="diff money" data-content="total"><%=diff.total%></td>
</tr>