﻿
<div class="form-holder">
    <form method="post" action="" id="createApplicationForm" class="form">
        <fieldset>
            <div class="inner">

                <ul class="dialog-tabs">
                    <li>
                        <a class="active"
                           href="javascript:;">
                            Main
                        </a>
                    </li>

                    <li>
                        <a href="javascript:;"
                           class="">
                            Personal Information
                        </a>
                    </li>

                    <li>
                        <a href="javascript:;">Assignees</a>
                    </li>

                </ul>

                <div class="clearfix"></div>

                <div class="dialog-tabs-items">

                    <div class="dialog-tabs-item active">

                        <div class="left">
                            <div class="avatar">
                                <div class="upload">Edit
                                    <input type="file" value="Edit" id="inputImg">
                                </div>
                                <canvas id="avatar"
                                        width="140"
                                        height="140">
                                </canvas>
                            </div>

                        </div>

                        <div class="avatarInfoContainer employee">
                            <div class="half-block left">
                                <dl class="edit-employee-info">
                                    <dt>
                                        <label for="first">First Name</label>
                                    </dt>
                                    <dd><input type="text"
                                               class="blueback"
                                               placeholder="Name"
                                               id="first"
                                               required maxlength="32"/>
                                    </dd>
                                    <dt>
                                        <label for="last">Last Name</label>
                                    </dt>
                                    <dd><input type="text"
                                               placeholder="Surname"
                                               class="blueback"
                                               id="last"
                                               required maxlength="32"/>
                                    </dd>

                                    <dt>
                                        <label for="expectedSalary">Expected Salary</label>
                                    </dt>
                                    <dd><input type="text"
                                               placeholder="Expected Salary"
                                               id="expectedSalary"
                                               maxlength="32"/>
                                    </dd>

                                    <dt>
                                        <label for="proposedSalary">Proposed Salary</label>
                                    </dt>
                                    <dd><input type="text"
                                               placeholder="Proposed Salary"
                                               id="proposedSalary"
                                               maxlength="32"
                                            />
                                    </dd>

                                    <dt>
                                        <label for="dateBirth">Date of Birth</label>
                                    </dt>
                                    <dd><input type="text"
                                               placeholder="Date of Birth"
                                               name="dateBirth"
                                               id="dateBirth"
                                               required readonly/>
                                    </dd>
                                    <dt>
                                        <label for="mobile">Personal Mobile</label>
                                    </dt>
                                    <dd>
                                        <input type="text"
                                               placeholder="Mobile Phone"
                                               name="mobile"
                                               id="mobile"
                                               maxlength="20"/>
                                    </dd>
                                    <dt>
                                        <label for="personalEmail">Personal Email</label>
                                    </dt>
                                    <dd><input type="text"
                                               placeholder="Email"
                                               id="personalEmail"
                                               required
                                               maxlength="48"/>
                                    </dd>
                                    <dt>
                                        <label for="skype">Skype</label>
                                    </dt>
                                    <dd><input type="text"
                                               placeholder="Skype Login"
                                               id="skype"
                                               maxlength="32"/>
                                    </dd>
                                    <dt>
                                        <label for="LI">LinkedIn</label>
                                    </dt>
                                    <dd><input type="text"
                                               id="LI"
                                               placeholder="LinkedIn"
                                               maxlength="32"/>
                                    </dd>
                                    <dt>
                                        <label for="LI">Facebook</label>
                                    </dt>
                                    <dd><input type="text"
                                               id="FB"
                                               placeholder="Facebook"
                                               maxlength="32"/>
                                    </dd>
                                </dl>
                            </div>

                            <div class="half-block left">
                                <dl class="edit-employee-info">
                                    <dt>
                                        <label for="nextAction">Next Action </label>
                                    </dt>
                                    <dd>
                                        <input type="text"
                                               placeholder="Next Action Date"
                                               id="nextAction"
                                               maxlength="32"
                                               readonly/>
                                    </dd>

                                    <dt>
                                        <label for="jobPositionDd">Job position</label></dt>
                                    <dd>
                                        <a id="jobPositionDd"
                                           class="current-selected"
                                           href="javascript:;">
                                            Select job position
                                        </a>
                                    </dd>

                                    <dt>
                                        <label for="departmentDd">Department</label>
                                    </dt>
                                    <dd>
                                        <a id="departmentDd"
                                           class="current-selected"
                                           href="javascript:;">
                                            Select department

                                        </a>
                                    </dd>
                                    <dt>
                                        <label for="projectManagerDD">Manager</label>
                                    </dt>
                                    <dd>
                                        <a id="projectManagerDD"
                                           class="current-selected"
                                           href="javascript:;">
                                            Select project manager
                                        </a>
                                    </dd>
                                    <dt>
                                        <label for="jobTypeDd">Job type</label>
                                    </dt>
                                    <dd>
                                        <a id="jobTypeDd"
                                           class="current-selected"
                                           href="javascript:;">
                                            Select job type
                                        </a>
                                    </dd>

                                    <dt>
                                        <label for="sourceDd">Source </label>
                                    </dt>
                                    <dd>
                                        <a id="sourceDd"
                                           class="current-selected"
                                           href="javascript:;">
                                            Select source
                                        </a>
                                        <ul class="newSelectList" style="display: none;">
                                            <li id="www.rabota.ua">www.rabota.ua</li>
                                            <li id="www.work.ua">www.work.ua</li>
                                            <li id="www.ain.net">www.ain.net</li>
                                            <li id="other">other</li>
                                        </ul>
                                    </dd>

                                    <dt>
                                        <label for="workEmail">Work Email</label>
                                    </dt>
                                    <dd>
                                        <input type="text"
                                               placeholder="Work Email"
                                               id="workEmail"
                                               required
                                               maxlength="48"/>
                                    </dd>
                                    <dt>
                                        <label for="phone">Work Phone</label>
                                    </dt>
                                    <dd>
                                        <input type="text"
                                               placeholder="Work Phone"
                                               name="phone"
                                               id="phone"
                                               required
                                               maxlength="32"/>
                                    </dd>

                                    <dt>
                                        <label for="workflowsDd">Stage</label>
                                    </dt>
                                    <dd id="selectWorkflow">
                                        <a id="workflowsDd"
                                           class="current-selected"
                                           href="javascript:;">
                                            Select workflow
                                        </a>
                                    </dd>

                                    <dt>
                                        <label for="relatedUsersDd">Related User</label>
                                    </dt>
                                    <dd>
                                        <a id="relatedUsersDd"
                                           class="current-selected"
                                           href="javascript:;">
                                            Select related user
                                        </a>
                                    </dd>

                                </dl>

                            </div>

                            <div class="clearfix"></div>

                            <div class="clearfix"></div>

                            <div class="cropImages form" style="display:none;">
                                <div class="formTitle">
                                    <h3 class="left">Crop Images</h3>

                                    <div class="clearfix"></div>
                                </div>
                                <br/>

                                <div class="image_input" style="float: left;margin-right: 20px;"></div>
                                <img class="image_output"/>

                                <div class="clearfix"></div>
                            </div>
                        </div>


                    </div>


                    <div class="dialog-tabs-item">
                        <div>
                            <div class="formTitle left">
                                <h3 class="left">Citizenship &amp; Other Info</h3>

                                <div class="clearfix"></div>
                            </div>
                            <div class="half-block left">
                                <dl class="edit-employee-info">
                                    <dt><label for="nationality">Nationality</label></dt>
                                    <dd>
                                        <a id="nationality"
                                           class="current-selected"
                                           href="javascript:;">
                                            Select nationality
                                        </a>
                                    </dd>
                                    <dt><label for="identNo">Identification №</label></dt>
                                    <dd><input type="text"
                                               placeholder="Identification №"
                                               name="identNo"
                                               id="identNo"
                                               required
                                               maxlength="32"/>
                                    </dd>
                                    <dt>
                                        <label for="passportNo">Passport №</label>
                                    </dt>
                                    <dd><input type="text"
                                               placeholder="Passport №"
                                               name="passportNo"
                                               id="passportNo"
                                               required
                                               maxlength="32"/>
                                    </dd>
                                </dl>

                            </div>
                            <div class="half-block left">
                                <dl class="edit-employee-info">
                                    <dt><label for="bankAccountNo">Bank Account №</label></dt>
                                    <dd>
                                        <input type="text"
                                               placeholder="Bank Account №"
                                               id="bankAccountNo"
                                               name="bankAccountNo">
                                    </dd>
                                    <dt><label for="otherId">Other Id</label></dt>
                                    <dd><input type="text"
                                               placeholder="Other Id"
                                               name="otherId"
                                               id="otherId"
                                               required
                                               maxlength="32"/></dd>
                                </dl>
                            </div>
                            <div class="clearfix">
                            </div>
                            <div class="formTitle left">
                                <h3 class="left">Contact Information</h3>

                                <div class="clearfix"></div>
                            </div>
                            <div class="half-block left">
                                <dl class="edit-employee-info">
                                    <dt>
                                        <label>Street</label>
                                    </dt>
                                    <dd>
                                        <input type="text"
                                               placeholder="Street"
                                               class="homeAddress"
                                               name="street"
                                               maxlength="32"/>
                                    </dd>
                                    <dt>
                                        <label>City</label>
                                    </dt>
                                    <dd>
                                        <input type="text"
                                               placeholder="City"
                                               class="homeAddress"
                                               name="city"
                                               maxlength="32"/>
                                    </dd>
                                    <dt>
                                        <label>State</label>
                                    </dt>
                                    <dd><input type="text"
                                               placeholder="State"
                                               class="homeAddress"
                                               name="state"
                                               maxlength="32"/>
                                    </dd>
                                </dl>

                            </div>
                            <div class="half-block left">
                                <dl class="edit-employee-info">
                                    <dt>
                                        <label>Zip</label>
                                    </dt>
                                    <dd>
                                        <input type="text"
                                               placeholder="Zip Code"
                                               class="homeAddress"
                                               name="zip"
                                               maxlength="32"/>
                                    </dd>
                                    <dt>
                                        <label>Country</label>
                                    </dt>
                                    <dd><input type="text"
                                               placeholder="Country"
                                               class="homeAddress"
                                               name="country"
                                               maxlength="32"/></dd>
                                </dl>
                            </div>
                            <div class="clearfix">
                            </div>
                            <div class="formTitle">
                                <h3 class="left">Status</h3>

                                <div class="clearfix"></div>
                            </div>
                            <div class="half-block left withPaddingLeft">
                                <dl class="edit-employee-info">
                                    <dt>
                                        <label for="genderDd">Gender</label>
                                    <dd>
                                        <a id="genderDd"
                                           class="current-selected"
                                           href="javascript:;">
                                            Select gender
                                        </a>
                                        <ul class="newSelectList">
                                            <li id="male">male</li>
                                            <li id="female">female</li>
                                        </ul>
                                    </dd>
                                    </dt>
                                </dl>

                            </div>
                            <div class="half-block left withPaddingLeft">

                                <dl class="edit-employee-info">
                                    <dt>
                                        <label for="maritalDd">Marital status</label>
                                    <dd>
                                        <a id="maritalDd"
                                           class="current-selected"
                                           href="javascript:;">
                                            Select marital status
                                        </a>
                                        <ul class="newSelectList">
                                            <li id="married">married</li>
                                            <li id="unmarried">unmarried</li>
                                        </ul>
                                    </dd>
                                    </dt>
                                </dl>
                            </div>

                            <div class="clearfix"></div>

                            <div class="formTitle">
                                <h3 class="left">Resume</h3>

                                <div class="clearfix"></div>
                            </div>
                            <div class="attach-container">
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="dialog-tabs-item">
                        <div class="assignees-container"></div>
                    </div>

                </div>
            </div>
        </fieldset>
    </form>
</div>
