﻿<div class="form-holder _newForm">
    <form method="post" action="" id="createApplicationForm">
        <h4 class="_dialogTitlePositioned">Create application</h4>
        <ul class="dialog-tabs">
            <li>
                <a class="active"
                   href="javascript:;">Main
                </a>
            </li>
            <li>
                <a href="javascript:;"
                   class="">Personal Information
                </a>
            </li>
            <li>
                <a href="javascript:;"
                   class="">Notes
                </a>
            </li>
            <li>
                <a href="javascript:;">Assignees</a>
            </li>
        </ul>
        <div class="dialog-tabs-items">
            <div class="dialog-tabs-item active">
                <div class="_formWrap">
                    <div class="_avatarBlock">
                        <div class="avatar">
                            <div class="upload">Edit
                                <input type="file"
                                       value="Edit"
                                       id="inputImg"/>
                            </div>
                            <canvas id="avatar"
                                    width="140"
                                    height="140">
                            </canvas>
                        </div>
                    </div>
                    <div class="_formBlock _equal">
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="first"
                                   autofocus
                                   required
                                   maxlength="32"/>
                            <label class="_animate">First Name</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="last"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">Last Name</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="expectedSalary"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">Expected Salary</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="proposedSalary"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">Proposed Salary</label>
                        </div>
                        <div class="_animateInputBox">
                            <span class="_staticLabel">Date Of Birth</span>
                            <input type="text"
                                   name="dateBirthday"
                                   class="dateBirth _animate"
                                   id="dateBirth"
                                   maxlength="32"
                                   placeholder="Date of Birth"
                                   required
                                   readonly/>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   name="mobile"
                                   class="_animate"
                                   id="mobile"
                                   required
                                   maxlength="20"/>
                            <label class="_animate">Personal Mobile</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="personalEmail"
                                   required
                                   maxlength="48"/>
                            <label class="_animate">Personal Email</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="skype"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">Skype</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="LI"
                                   required
                                   maxlength="256"/>
                            <label class="_animate">LinkedIn</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="FB"
                                   required
                                   maxlength="256"/>
                            <label class="_animate">Facebook</label>
                        </div>
                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Source</span>
                            <div class="_newSelectListWrap">
                                <a href="javascript:;"
                                   class="current-selected"
                                   id="sourceDd">Select source
                                </a>
                                <ul class="newSelectList" style="display: none;">
                                    <li id="www.rabota.ua">www.rabota.ua</li>
                                    <li id="www.work.ua">www.work.ua</li>
                                    <li id="www.ain.net">www.ain.net</li>
                                    <li id="other">other</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="_formBlock _equal">
                        <div class="_animateInputBox">
                            <span class="_staticLabel">Next Action Date</span>
                            <input type="text"
                                   name="dateBirthday"
                                   class="dateBirth _animate"
                                   id="nextAction"
                                   maxlength="32"
                                   placeholder="Date of Birth"
                                   required
                                   readonly/>
                        </div>
                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Job position</span>
                            <div class="_newSelectListWrap">
                                <a href="javascript:;"
                                   class="current-selected"
                                   id="jobPositionDd">Select job position
                                </a>
                            </div>
                        </div>
                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Department</span>
                            <div class="_newSelectListWrap">
                                <a href="javascript:;"
                                   class="current-selected"
                                   id="departmentDd">Select department
                                </a>
                            </div>
                        </div>
                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Manager</span>
                            <div class="_newSelectListWrap">
                                <a href="javascript:;"
                                   class="current-selected"
                                   id="projectManagerDD">Select project manager
                                </a>
                            </div>
                        </div>
                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Job type</span>
                            <div class="_newSelectListWrap">
                                <a href="javascript:;"
                                   class="current-selected"
                                   id="jobTypeDd">Select job type
                                </a>
                            </div>
                        </div>
                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Weekly Scheduler</span>
                            <div class="_newSelectListWrap">
                                <a href="javascript:;"
                                   class="current-selected"
                                   id="weeklySchedulerDd">Select weekly scheduler
                                </a>
                            </div>
                        </div>
                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Contract</span>
                            <div class="_newSelectListWrap">
                                <a href="javascript:;"
                                   class="current-selected"
                                   id="payrollStructureTypeDd">Select contract
                                </a>
                            </div>
                        </div>
                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Scheduled Pay</span>
                            <div class="_newSelectListWrap">
                                <a href="javascript:;"
                                   class="current-selected"
                                   id="scheduledPayDd">Select scheduler
                                </a>
                            </div>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   name="lastName"
                                   class="_animate"
                                   id="workEmail"
                                   required
                                   maxlength="48"/>
                            <label class="_animate">Work Email</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   name="phone"
                                   class="_animate"
                                   id="phone"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">Work Phone</label>
                        </div>
                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Stage</span>
                            <div class="_newSelectListWrap">
                                <a href="javascript:;"
                                   class="current-selected"
                                   id="workflowsDd">Select workflow
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="cropImages form" style="display:none;">
                        <h4 class="_titleBlueBorder">Crop Images</h4>
                        <div class="image_input" style="float: left; margin-right: 20px;"></div>
                        <img class="image_output"/>
                    </div>
                </div>
            </div>
            <div class="dialog-tabs-item">
                <div class="_formWrap">
                    <h4 class="_titleBlueBorder">Citizenship &amp&amp; Other Info</h4>
                    <div class="_formBlock _equal">
                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Nationality</span>
                            <div class="_newSelectListWrap">
                                <a id="nationality"
                                   data-id=""
                                   class="current-selected"
                                   href="javascript:;">Select nationality</a>
                            </div>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   name="identNo"
                                   class="_animate"
                                   id="identNo"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">Identification №</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   name="passportNo"
                                   class="_animate"
                                   id="passportNo"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">Passport №</label>
                        </div>
                    </div>
                    <div class="_formBlock _equal">
                        <div class="_animateInputBox">
                            <input type="text"
                                   name="bankAccountNo"
                                   class="_animate"
                                   id="bankAccountNo"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">Bank Account №</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   name="otherId"
                                   class="_animate"
                                   id="otherId"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">Other Id</label>
                        </div>
                    </div>
                    <h4 class="_titleBlueBorder">Contact Information</h4>
                    <div class="_formBlock _equal">
                        <div class="_animateInputBox">
                            <input type="text"
                                   name="street"
                                   class="_animate homeAddress"
                                   id="applicationsCreateStreet"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">Street</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   name="city"
                                   class="_animate homeAddress"
                                   id="applicationsCreateCity"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">City</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   name="state"
                                   class="_animate homeAddress"
                                   id="applicationsCreateState"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">State</label>
                        </div>

                    </div>
                    <div class="_formBlock _equal">
                        <div class="_animateInputBox">
                            <input type="text"
                                   name="zip"
                                   class="_animate homeAddress"
                                   id="applicationsCreateZip"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">Zip Code</label>
                        </div>
                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Country</span>
                            <div class="_newSelectListWrap">
                                <a href="javascript:;"
                                   name="country homeAddress"
                                   class="current-selected"
                                   id="applicationsCreateCountry">Select country</a>
                            </div>
                        </div>
                    </div>
                    <h4 class="_titleBlueBorder">Status</h4>
                    <div class="_formBlock _equal">
                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Gender</span>
                            <div class="_newSelectListWrap">
                                <a href="javascript:;"
                                   class="current-selected"
                                   id="genderDd">Select gender
                                </a>
                                <ul class="newSelectList">
                                    <li id="male">male</li>
                                    <li id="female">female</li>
                                </ul>
                            </div>
                        </div>
                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Employment type</span>
                            <div class="_newSelectListWrap">
                                <a href="javascript:;"
                                   class="current-selected"
                                   id="employmentTypeDd"
                                   data-id="">Select employment type</a>
                            </div>
                        </div>
                    </div>
                    <div class="_formBlock _equal">
                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Marital status</span>
                            <div class="_newSelectListWrap">
                                <a href="javascript:;"
                                   class="current-selected"
                                   id="maritalDd">Select marital status
                                </a>
                                <ul class="newSelectList">
                                    <li id="married">married</li>
                                    <li id="unmarried">unmarried</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dialog-tabs-item">
                <div class="_formWrap">
                    <div class="_formBlock">
                        <div id="attach-container" class="_formNotes"></div>
                        <div class="attachments _popupAttachments"></div>
                    </div>
                </div>
            </div>
            <div class="dialog-tabs-item">
                <div class="assignees-container _formWrap _innedFlexDiv"></div>
            </div>
        </div>

    </form>
</div>
