﻿<div class="form-holder">
  <form method="post" action="" id="createApplicationForm" class="form" data-id="<%=model._id%>">
    <fieldset>
      <div class="inner">
        <ul class="dialog-tabs">
          <li><a class="active" href="javascript:;">Main</a></li>
          <li><a href="javascript:;">Assignees</a></li>
          <li class="right"><button class="red hireEmployee"><span>Hire & Create Employee</span></button> <button class="red refuseEmployee"><span>Refuse</span></button></li>
        </ul>
        <div class="clearfix"></div>
        <div class="dialog-tabs-items">
          <div class="dialog-tabs-item active">
            <div class="app-block left">
              <div class="avatar left">
                <div class="upload">
                  Edit
                  <input type="file" value="Edit" id="inputImg" accept="image/*">
                </div>
                <canvas id="avatar" width="140" height="140"></canvas>
              </div>
              <div class="app-block left marginLeft">
                <dl class="app-empty-info">
                  <dt><input type="text" class="name" id="first" placeholder="First name" required maxlength="32" value="<%=model.name.first%>" /></dt><dd>&nbsp;</dd>
                  <dt><input type="text" class="name" id="last" placeholder="Last name" required maxlength="32" value="<%=model.name.last%>"/></dt><dd>&nbsp;</dd>
                  <dt><input type="text" id="expectedSalary" placeholder="Expected Salary" maxlength="32" value="<%=model.expectedSalary%>"/></dt><dd>&nbsp;</dd>
                  <dt><input type="text" id="proposedSalary" placeholder="Proposed Salary" maxlength="32" value="<%=model.proposedSalary%>"/></dt><dd>&nbsp;</dd>
                </dl>
              </div>
            </div>
            <div class="app-block right">
              <dl class="app-normal-info">
                <dt><label for="dateBirth">Date of Birth</label></dt><dd><input type="text" name="dateBirth" id="dateBirth" value="<%=model.dateBirth%>" required readonly/></dd>
                <dt><label for="pemail">Email </label></dt><dd><input type="email" id="pemail" maxlength="48" value="<%=model.personalEmail%>"/></dd>
                <dt><label for="phone">Phone </label></dt><dd><input type="text" id="phone" maxlength="20" value="<%=model.workPhones.phone%>"/></dd>
                <dt><label for="tags">Tags </label></dt><dd><input type="text" id="tags" value="<%=model.tags%>" /></dd>

              </dl>
            </div>
            <div class="clearfix"></div>
            <div class="app-block left bottom">
              <textarea id="otherInfo" class="edit-app" placeholder="Fedback of interviews..."  maxlength="500"><%=model.otherInfo%></textarea>

            </div>
            <div class="app-block right bottom">
              <dl class="person-info">
                  <dt><label for="nextAction">Next Action </label></dt><dd><input type="text" id="nextAction" maxlength="32" value="<%=model.nextAction%>" readonly/></dd>
                <dt><label for="jobPositionDd">Applied Job </label></dt>
                <dd>
				  <a id="jobPositionDd" data-id="<%=model.jobPosition?model.jobPosition._id:""%>" class="current-selected" href="javascript:;"><%=model.jobPosition?model.jobPosition.name:"Select"%></a>
                </dd>
                <dt><label for="departmentDd">Department</label></dt>
                <dd>
				  <a id="departmentDd" data-id="<%=model.department._id?model.department._id:""%>" class="current-selected" href="javascript:;"><%=model.department.name?model.department.name:"Select"%></a>
                </dd>
                <dt><label for="sourceDd">Source </label></dt>
                <dd>
				  <a id="sourceDd" data-id="<%=model.source%>" class="current-selected" href="javascript:;"><%=model.source?model.source:"Select"%></a>
				  <ul class="newSelectList hidden">
                    <li id="www.rabota.ua">www.rabota.ua</li>
                    <li id="www.work.ua">www.work.ua</li>
                    <li id="www.ain.net">www.ain.net</li>
                    <li id="other">other</li>
				  </ul>
                </dd>
                <dt><label for="workflowsDd">Stage</label></dt><dd id="selectWorkflow">
                  <a id="workflowsDd" data-id="<%=(model.workflow) ? model.workflow._id : ''%>" class="current-selected" href="javascript:;"><%=(model.workflow)?model.workflow.name:'Undefinded'%></a>
				</dd>
                <dt><label for="jobTypeDd">Job type</label></dt>
                <dd>
				  <a id="jobTypeDd" data-id="<%=model.jobType?model.jobType:''%>" class="current-selected" href="javascript:;"><%=model.jobType?model.jobType:'Select'%></a>
                </dd>
              </dl>
            </div>
            <div class="clearfix">
            </div>
			<div class="attach-container"></div>
            <div class="clearfix"></div>
            <div class="cropImages form" style="display:none;">
              <div class="formTitle">
                <h3 class="left">Crop Images</h3>
                <div class="clearfix"></div>
              </div><br />
              <div class="image_input" style="float: left;margin-right: 20px;"></div>
              <img class="image_output" />
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="dialog-tabs-item">
			<div class="assignees-container"></div>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
