<div id="top-bar-bonus" class="projectInfoTopBar">
    <div id="createBtnHolder">
        <a href="javascript;" class="fa fa-plus" title="Create" id="createBonus"></a>
        <a href="javascript;" class="fa fa-times" title="Remove"  id="removeBonus"></a>
    </div>
</div>
<table class="list task-list">
    <colgroup>
        <col width="2%"/>
        <col width="2%"/>
        <col width="28%"/>
        <col width="28%"/>
        <col width="20%"/>
        <col width="20%"/>
    </colgroup>
    <thead>
    <tr>
        <th class="centerCell"><input type="checkbox" id="check_all_bonus"/></th>
        <th class="centerCell">N</th>
        <th>Bonus Name</th>
        <th>Employee</th>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>
    </thead>
    <tbody id="bonusTable">

    <%bonus.forEach(function(bonus, index){ %>
        <tr data-index="<%= index %>" data-id="<%=bonus._id%>">
            <td class="centerCell"><input type="checkbox" value="<%=bonus._id%>" class="bonus-checkbox" /></td>
            <td class="centerCell"><%=index + 1 %></td>
            <td data-content="bonus" class="choseType" data-id="<%=bonus.bonusId._id%>">
                <%=bonus.bonusId.name%>
            </td>
            <td data-content="employee" class="choseEmployee" data-id="<%=bonus.employeeId._id%>">
                <%=bonus.employeeId.fullName%>
            </td>
            <td data-content="startDate" class="startDate">
                <div>
                    <%if (bonus.startDate) {%>
                    <%= formatingDate(bonus.startDate) %>
                    <%} else {%>
                        From start of project
                    <%}%>
                </div>

                <input id="<%=bonus._id%>StartDate" type="text" readonly/>
            </td>
            <td data-content="endDate" class="endDate">
                <div>
                    <%if (bonus.endDate) {%>
                    <%= formatingDate(bonus.endDate) %>
                    <%} else {%>
                    To end of project
                    <%}%>
                </div>

                <input id="<%=bonus._id%>EndDate" type="text" readonly/>
            </td>
        </tr>
    <% }) %>

    </tbody>
</table>