<div class="forInfoWrap">
    <div class="half-block left">
        <table class="list tableProjects">
            <caption>Project Team</caption>
            <thead>
            <tr>
                <th>Resource</th>
                <th>Department</th>
                <th>Job Position</th>
            </tr>
            </thead>
            <tbody id="projectTeam">
            <%var count = 0;%>
            <% projectTeam.forEach(function(element){ %>
            <tr>
                <td><%=element.fullName%></td>
                <td><%=element.department.name%></td>
                <td><%=element.jobPosition.name%></td>
            </tr>
            <% count++ %>
            <% })%>
            <tr>
                <td><%='&nbsp'%></td>
                <td><%='&nbsp'%></td>
                <td><%='&nbsp'%></td>
            </tr>
            <tr>
                <td>Total</td>
                <td><%='&nbsp'%></td>
                <td><%=count%></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="half-block right">

        <table class="list tableProjects">
            <caption class="anotherColor">Budget & Resources</caption>
            <thead>
            <tr>
                <th>Revenue</th>
                <th>Profit</th>
                <th>Cost</th>
                <th>Rate</th>
                <th>Hours</th>

            </tr>
            </thead>
            <tbody id="budget">
            <tr>
                <td><%='&nbsp'%></td>
                <td><%='&nbsp'%></td>
                <td><%='&nbsp'%></td>
                <td><%='&nbsp'%></td>
                <td><%='&nbsp'%></td>
            </tr>

            <% budget.forEach(function(element){ %>
               <tr>
                <td><%=currencySplitter(element.revenue.toFixed(2))%></td>
                <td><%=currencySplitter(element.profit.toFixed(2))%></td>
                <td><%=currencySplitter(element.cost.toFixed(2))%></td>
                <td><%=currencySplitter(element.rate.toFixed(2))%></td>
                <td><%=currencySplitter(element.hours.toFixed())%></td>
               </tr>
            <% })%>
            <tr>
                <td><%='&nbsp'%></td>
                <td><%='&nbsp'%></td>
                <td><%='&nbsp'%></td>
                <td><%='&nbsp'%></td>
                <td><%='&nbsp'%></td>
            </tr>
            <tr>

                <td><%=currencySplitter(budgetTotal.revenueSum.toFixed(2))%></td>
                <td><%=currencySplitter(budgetTotal.profitSum.toFixed(2))%></td>
                <td><%=currencySplitter(budgetTotal.costSum.toFixed(2))%></td>
                <td><%=currencySplitter(budgetTotal.rateSum.toFixed(2))%></td>
                <td><%=currencySplitter(budgetTotal.hoursSum.toFixed())%></td>
            </tr>
            </tbody>
        </table>
        </div>
</div>

<div class="forInfoWrap">
    <div class="half-block right">

        <table class="list tableProjects">
            <caption class="anotherColor">Project Values</caption>
            <thead>
            <tr>
                <th>Revenue</th>
                <th>Profit</th>
                <th>MarkUp</th>
                <th>Pr. Margin</th>
            </tr>
            </thead>
            <tbody id="project">
            <tr>
                <td><%=currencySplitter(projectValues.revenue.toFixed(2))%></td>
                <td><%=currencySplitter(projectValues.profit.toFixed(2))%></td>
                <td class="procent"><%=projectValues.markUp %></td>
                <td class="procent"><%=projectValues.radio%></td>
            </tr>
            </tbody>
        </table>


    </div>
    <div class="half-block left">
        <table class="list tableProjects">
            <caption>Bonus for Sales Managers</caption>
            <thead>
            <tr>
                <th>Resource</th>
                <th>Percentage</th>
                <th>Bonus</th>
            </tr>
            </thead>
            <tbody id="bonus">
            <% bonus.forEach(function(element){ %>
            <tr>
                <td><%=element.resource%></td>
                <td><%=element.percentage%></td>
                <td><%=currencySplitter((element.bonus/100).toFixed(2))%></td>
            </tr>
            <% })%>
            </tbody>
        </table>
    </div>

</div>

