<div class="half-block left" id="detailsLeft">
<table  class="list task-list">
    <thead>
    <tr><th class="header">Client's Team</th></tr>
    <tr>
        <th>Position</th>
        <th>Department</th>
        <th>Resource</th>
    </tr>
    <tbody id="listTable"></tbody>
</table>
    <div class="clearfix"></div>
    <table  class="list task-list">

    <tr><th class="header">Project Team</th>
    </tr>
    <tr>
        <th>Position</th>
        <th>Department</th>
        <th>Resource</th>
    </tr>
        <tbody id="ProjectTeam"></tbody>
    </table>
    <div class="clearfix"></div>
    <table  class="list task-list">

    <tr><th class="header">Bonus for Sales Managers</th>
    </tr>
    <tr>
        <th>Resource</th>
        <th>Percentage</th>
        <th>Bonus</th>
    </tr>
        <tbody id="Bonus"></tbody>
    </thead>

</table>
</div>
<div class="half-block right" id="detailsRight">
    <table  class="list task-list">
        <thead>
        <tr><th class="header">Project Info</th></tr>
        <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Days In</th>
            <th>Days Lef</th>
        </tr>
        <tbody id="ProjectInfo"></tbody>
    </table>
    <div class="clearfix"></div>
    <table  class="list task-list">

        <tr><th class="header">Budget & Resources</th>
        </tr>
        <tr>
            <th>Profit</th>
            <th>Cost</th>
            <th>Rate</th>
            <th>Hours</th>
            <th>Revenue</th>
        </tr>
        <tbody id="Budget"></tbody>
    </table>
    <div class="clearfix"></div>
    <table  class="list task-list">

        <tr><th class="header">Project values</th>
        </tr>
        <tr>
            <th>Revenue</th>
            <th>Profit</th>
            <th>MarkUp</th>
            <th>Pr.Radio</th>
        </tr>
        <tbody id="ProjectValues"></tbody>
        </thead>

    </table>
</div>