<div class="half-block left">
    <table class="list tableProjects">
        <thead>
        <tr> Project Team</tr>
        <tr>
            <th>Resource</th>
            <th>Department</th>
            <th>Job Position</th>
        </tr>
        </thead>
        <tbody id="projectTeam">
        <% projectTeam.forEach(function(element){ %>
        <tr>
          <th><%=element.fullName%></th>
          <th><%=element.department.name%></th>
          <th><%=element.jobPosition.name%></th>
        </tr>
        <% })%>
        </tbody>
    </table>

    <table class="list tableProjects">
        <thead>
        <tr> Bonus for Sales Managers</tr>
        <tr>
            <th>Resource</th>
            <th>Percentage</th>
            <th>Bonus</th>
        </tr>
        </thead>
        <tbody id="bonus">
        <% bonus.forEach(function(element){ %>
        <tr>
          <th><%=element.resource%></th>
          <th><%=element.percentage%></th>
          <th><%=(element.bonus/100).toFixed(2)%></th>
        </tr>
        <% })%>
        </tbody>
    </table>
</div>
<div class="half-block right">
    <table class="list tableProjects">
        <thead>
        <tr>Budget & Resources</tr>
        <tr>
            <th>Revenue</th>
            <th>Profit</th>
            <th>Cost</th>
            <th>Rate</th>
            <th>Hours</th>

        </tr>
        </thead>
        <tbody id="budget">
        <% budget.forEach(function(element){ %>
        <tr>
            <th><%=element.revenue%></th>
          <th><%=element.profit%></th>
          <th><%=element.cost%></th>
          <th><%=element.rate%></th>
          <th><%=element.hours%></th>
        </tr>
        <% })%>
        <tr>
            <th><%='&nbsp'%></th>
            <th><%='&nbsp'%></th>
            <th><%='&nbsp'%></th>
            <th><%='&nbsp'%></th>
            <th><%='&nbsp'%></th>
        </tr>
        <tr>

            <th><%=budgetTotal.revenueSum.toFixed(2)%></th>
            <th><%=budgetTotal.profitSum.toFixed(2)%></th>
            <th><%=budgetTotal.costSum.toFixed(2)%></th>
            <th><%=budgetTotal.rateSum.toFixed(2)%></th>
            <th><%=budgetTotal.hoursSum%></th>
        </tr>
        </tbody>
    </table>

    <table class="list tableProjects">
        <thead>
        <tr>Project Values</tr>
        <tr>
            <th>Revenue</th>
            <th>Profit</th>
            <th>MarkUp</th>
            <th>Pr. Margin</th>
        </tr>
        </thead>
        <tbody id="project">
        <tr>
        <th><%=projectValues.revenue.toFixed(2)%></th>
          <th><%=projectValues.profit.toFixed(2)%></th>
          <th><%=projectValues.markUp + ' %'%></th>
          <th><%=projectValues.radio + ' %'%></th>
        </tr>
        </tbody>
    </table>
</div>