<div id="searchContainer"></div>
<div>
    <table class="list task-list">
        <thead>
        <tr>
            <th><input type="checkbox" id="check_all" /></th>
            <th>N</th>
            <th class="oe_sortable" data-sort="project.projectmanager.name">
                Assigned<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable sortDn" data-sort="project.projectName">
                Project<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable" data-sort="project.workflow">
                Project Status<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable" data-sort="project.customer">
                Customer<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable" data-sort="employee.name">
                Employee<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable" data-sort="department.departmentName">
                Department<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable" data-sort="year">
                Year<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable" data-sort="month">
                Month<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable" data-sort="week">
                Week<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable" data-sort="rate">
                Rate<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable" data-sort="worked">
                Hours<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable" data-sort="Mo">
                Mo<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable" data-sort="Tu">
                Tu<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable" data-sort="We">
                We<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable" data-sort="Th">
                Th<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable" data-sort="Fr">
                Fr<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable" data-sort="Sa">
                Sa<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable" data-sort="Su">
                Su<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable" data-sort="isPaid">
                Status<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable" data-sort="revenue">
                Revenue<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th class="oe_sortable" data-sort="cost">
                Cost<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
            <th>
                Profit
            </th>
            <th class="oe_sortable" data-sort="amount">
                Amount<span class="arrow down">7</span><span class="arrow up">v</span>
            </th>
        </tr>
        </thead>
        <tbody id="listTable"></tbody>
        <tfoot id="listFooter">
        <tr>
            <td colspan="12"></td>
            <td><span id="hours">0</span></td>
            <td><span id="monHours">0</span></td>
            <td><span id="tueHours">0</span></td>
            <td><span id="wedHours">0</span></td>
            <td><span id="thuHours">0</span></td>
            <td><span id="friHours">0</span></td>
            <td><span id="satHours">0</span></td>
            <td><span id="sunHours">0</span></td>
            <td></td>
            <td><span id="revenue" class="money">0</span></td>
            <td><span id="cost" class="money">0</span></td>
            <td><span id="profit" class="money">0</span></td>
            <td><span id="amount" class="money">0</span></td>
            <td></td>
        </tr>
        </tfoot>
        <% wTracks.forEach(function(wTrack, index){ %>
        <tr data-id="<%=wTrack._id%>">
            <td class = "notForm"><input type="checkbox" value="<%=wTrack._id%>" class="checkbox listCB" /></td>
            <td data-content="number"><%=startNumber + index + 1%></td>
            <td data-content="assigned"><%=wTrack.project && wTrack.project.projectmanager ? wTrack.project.projectmanager.name : ''%></td>
            <td class="editable" data-content="project" data-id="<%= wTrack.project._id%>"><%=wTrack.project ? wTrack.project.projectName : ''%></td>
            <td data-content="workflow" data-id="<%=wTrack.project && wTrack.project.workflow ? wTrack.project.workflow._id : ''%>"><%=wTrack.project && wTrack.project.workflow? wTrack.project.workflow.name : ''%></td>
            <td data-content="customer" data-id="<%=wTrack.project && wTrack.project.customer? wTrack.project.customer.name : ''%>"><%=wTrack.project && wTrack.project.customer? wTrack.project.customer.name : ''%></td>
            <td class="editable" data-content="employee"><%=wTrack.employee ? wTrack.employee.name : ''%></td>
            <td class="editable" data-content="department"><%=wTrack.department ? wTrack.department.departmentName : ''%></td>
            <td data-type="input" class="editable" data-content="year"><%=wTrack.year%></td>
            <td data-type="input" class="editable" data-content="month"><%=wTrack.month%></td>
            <td data-type="input" class="editable" data-content="week"><%=wTrack.week%></td>
            <td data-type="input" class="editable" data-content="rate"><%=wTrack.rate%></td>
            <td data-content="worked"><%=wTrack.worked%></td>
            <td data-type="input" class="editable autoCalc" data-content="1"><%=wTrack['1'] ? wTrack['1'] : '0'%></td>
            <td data-type="input" class="editable autoCalc" data-content="2"><%=wTrack['2'] ? wTrack['2'] : '0'%></td>
            <td data-type="input" class="editable autoCalc" data-content="3"><%=wTrack['3'] ? wTrack['3'] : '0'%></td>
            <td data-type="input" class="editable autoCalc" data-content="4"><%=wTrack['4'] ? wTrack['4'] : '0'%></td>
            <td data-type="input" class="editable autoCalc" data-content="5"><%=wTrack['5'] ? wTrack['5'] : '0'%></td>
            <td data-type="input" class="editable autoCalc" data-content="6"><%=wTrack['6'] ? wTrack['6'] : '0'%></td>
            <td data-type="input" class="editable autoCalc" data-content="7"><%=wTrack['7'] ? wTrack['7'] : '0'%></td>
            <td><span class="<%=wTrack.isPaid ? 'done' : 'unDone'%>"><%=wTrack.isPaid ? 'Paid' : 'Unpaid'%></span></td>
            <td data-content="revenue" class="money"><%=(wTrack.revenue / 100).toFixed(2)%></td>
            <td data-content="cost" class="money"><%=(wTrack.cost / 100).toFixed(2)%></td>
            <td data-content="profit" class="money"><%=wTrack.profit%></td>
            <td data-content="amount" class="money"><%=(wTrack.amount / 100).toFixed(2)%></td>
        </tr>
        <% }) %>
    </table>
</div>
