/*== Main Colo =======================*/

@bg-main: #1C1C1C;
@tilte-color: #75C9B5;//for hover

@border-color-main: #4d7188;
@border-color: @border-color-main;
@border-color-selected: @bg-main-menu-selected; //lighten(@border-color-main, 30%);

/*==Main menu==========================*/

@bg-main-menu: #3F8A8E;
@bg-main-menu-selected: #75C9B5;

@span-color: @bg-main-menu-selected;

/*==Sub MENU, Top-bar =========================*/

@bg-submenu: @bg-main;
@submenu-text-color: #67809F;

@normal-submenu-text: #67809f;
@current-submenu-text: #75c9b5;
@non-active-submenu-text: desaturate(@normal-submenu-text, 19%);
@creatBtn-color: #a3bb3a;