//.list(@font-size: 12px, @defaultProgressColor: #f5f5f5, @defaultBorderColor: @list-border-color) {
//
//  color: @defaultColor !important;
//  font-family: @lucida-font;
//  width: 100%;
//  .anotherColor {
//    background-color: @forInfo-caption-color2;
//  }
//  tfoot {
//    tr {
//      border-bottom: 1px solid @defaultBorderColor;
//      background: inherit !important;
//      vertical-align: middle;
//    }
//    td {
//      padding: 3px 6px;
//      line-height: 18px;
//      font-size: @font-size;
//      text-align: right;
//      span {
//        padding-right: 0;
//      }
//    }
//  }
//
//  thead {
//    tr {                               //cheked
//      border-top: 0;                   //cheked
//      background: inherit !important;  //cheked
//      vertical-align: top;             //cheked
//    }                                  //checked
//
//    .subSalaryHead {
//      border-top: none;
//    }
//
//    th {
//      padding: 2px 6px;         //checked
//      line-height: 18px;        //checked
//      font-size: @font-size;    //checked
//      text-align: right;        //checked
//
//      &:nth-child(1), &:nth-child(2) { //ToDo #1
//        text-align: center;
//      }
//
//      input[type="checkbox"] {
//        margin-top: 2.5px;
//      }
//      &.oe_sortable, &.oe_sortable_sub {
//        cursor: pointer;                  //checked
//        .arrow {                          //checked
//          display: none;                  //checked
//          padding: 0 0 0 5px;             //checked
//          margin: 0;                      //checked
//          text-align: center;             //checked
//          width: 5px;                     //checked
//          height: 5px;                    //checked
//          font-weight: 100 !important;    //checked
//          cursor: pointer;                //checked
//          font-family: Icons;             //checked
//          text-decoration: none;          //checked
//          line-height: 23px;              //checked
//          background: none;               //checked
//        }
//        &.sortUp {                        //checked
//          .up {                           //checked
//            display: inline-block;        //checked
//          }                               //checked
//        }                                 //checked
//        &.sortDn {                        //checked
//          .down {                         //checked
//            display: inline-block;        //checked
//          }                               //checked
//        }                                 //checked
//      }
//      &.forCaption {
//        background-color: #1ebbea;
//
//      }
//      &:first-of-type {
//        width: 12px;
//
//        input {
//          cursor: pointer;
//        }
//      }
//    }
//  }
//
//  tbody {
//
//    tr {
//      &.greenAlarm {
//        border: 2px solid #90ee90;
//      }
//      &.canceledListItem {
//        color: grey;
//        .newSelectList {
//          color: #000;
//        }
//      }
//      border-top: @thin-border @defaultBorderColor;
//
//      &:last-child {
//        border-bottom: @thin-border @defaultBorderColor;
//      }
//      &.stage-cancelled,
//      &.stage-refused,
//      &.stage-contractend,
//      &.stage-lost {
//        text-decoration: line-through;
//      }
//      td {
//        .text-overflow;
//        cursor: pointer;
//        padding: 0 6px;
//        font-size: @font-size;
//        text-align: right;
//        border-right: @thin-border @defaultBorderColor;
//        border-bottom: @thin-border @defaultBorderColor;
//        color: @list-caption-color;
//        line-height: 20px;
//        &.red-border {
//          color: red;
//        }
//
//
//        &:nth-child(1), &:nth-child(2) {
//          text-align: center;
//        }
//
//        &.withSelect {
//          position: relative;
//        }
//
//        &[data-content="workflow"] {
//          position: relative;
//          padding: 0 15px;
//          overflow: visible;
//
//          .newSelectList {
//            top: 5px;
//            right: 15px;
//          }
//        }
//
//        progress {
//          width: 100%;
//        }
//
//        a {
//          color: @mainText-color;
//          display: inline-block;
//        }
//
//        a.stageSelect {
//          color: @mainText-color;
//        }
//        a.done {
//          color: #00c60b !important;
//        }
//
//        progress {
//          background-color: @defaultProgressColor;
//        }
//
//        progress::-webkit-progress-bar {
//          background-color: @defaultProgressColor;
//        }
//
//        progress::-webkit-progress-value {
//          background-color: #57B5E3;
//        }
//
//        &:first-of-type {
//          padding-left: 7px;
//          line-height: 20px;
//
//          input {
//            cursor: pointer;
//          }
//        }
//      }
//      .icon {
//        line-height: 20px;
//      }
//    }
//  }
//
//  tr:nth-child(odd) {
//    background-color: @defaultBgColorOdd-color;
//  }
//
//  tr:hover {
//    background-color: @defaultBgHover-color;
//  }
//}

.list(@font-size: 12px, @defaultProgressColor: #f5f5f5, @defaultBorderColor: @list-border-color) {
  font-family: @lucida-font;
  width: 100%;

  td, th {  //main themse for all list
    height: 20px;
    padding: 0 6px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    color: @mainText-color;
    line-height: 20px;
    font-size: 12px;
  }

  thead {
    tr {
      border: none;
      vertical-align: top;
    }

    th {
      font-size: @font-size;
      text-align: right;
    }
  }

  tbody {
    tr {
      border-top: @thin-border @defaultBorderColor;
    }

    td {
      border: @thin-border @defaultBorderColor;
      text-align: right;
    }
  }

  tfoot {
    td {
      text-align: right;
    }
  }
  thead, tfoot {
    tr {
      background: inherit !important; //hover should not work in a hover and footer tr
    }
  }

  .notForm {
    input{
      margin-top: 2px;
      cursor: pointer;
    }
  }

  .oe_sortable, .oe_sortable_sub { //style for sort arrows in thead
    cursor: pointer;
    position: relative;
    padding-right: 15px;
    .arrow {
      display: none;
      text-align: center;
      cursor: pointer;
      font-family: Icons;
      position: absolute;
      top: 2px;
      right: 3px;
    }
    &.sortUp {
      .up {
        display: inline-block;
      }
    }
    &.sortDn {
      .down {
        display: inline-block;
      }
    }

  }

  .enableTableOdd { // class to enabled table odd color (add to tbody)
    tr {
      &:nth-child(odd) {
        background-color: @defaultBgColorOdd-color;
      }
      &:hover {
        background-color: @defaultBgHover-color;
      }
    }
  }

  .centerCell { //������������ ����������� ������ (add to td)
    text-align: center;
  }

  &.enable_hover { // enable hover in table (add to table)
    tbody {
      tr {
        &:hover {
          background-color: @defaultBgHover-color;
        }
      }
    }
  }

}




.salary-list {
  tbody#listTable {
    .subRow {
      &:hover {
        background-color: transparent;
      }
    }
  }
}

.list2 {
  .list;
  table-layout: fixed;

  thead th:first-of-type {
    width: 15%;
  }

  .datepicker {
    width: 90%
  }

  .datepicker.notVisible {
    display: none;
  }

}

.ui-dialog {
  .list2 thead th, .list2 tbody tr td, .list2 tfoot tr td {
    text-align: left;
    line-height: 1;
    height: 20px;
  }
}

.margin(@t: 5px, @r: 5px, @b: 5px, @l: 5px) {
  margin: @arguments;
}

.tableFixed  { //  for table layout FIXED
  table-layout: fixed;
  text-overflow: ellipsis;
  white-space: nowrap;
}



