.top-bar(@defaultHeight: 30px, @defaultBackground: @bg-main, @defaultBorderColor: @border-color-main, @defaultH3Color: @creatBtn-color, @defaultMargin: 6px 0 0 0, @defaultPadding: 0 10px) {
  display: block;
  height: @defaultHeight;
  clear: both;
  margin: 5px 1% 0;

  h3 {
    margin: @defaultMargin;
    padding: @defaultPadding;
    color: @defaultH3Color !important;
    font-family: @title-font;
    font-weight: normal;
    float: left;
    overflow: visible;
  }
  &.banned {
    border-bottom: 0
  }

  .dateFilter {
    float: left;
    li {
      font-size: 12px;
      text-align: center;
      line-height: 30px;
      color: @mainText-color;
      .frameDetail {
        label {
          width: 10px;
        }
        input {
          width: 85%;
        }
      }
    }
    .customTime {
      label+input[type='text'] {
        margin-bottom: 5px;
      }
    }
  }
}