<div id="createBtnHolder" class="btnsBlock">
    <a href="javascript:;" class="btn blue slim icon-plus" title="Create" id="top-bar-createBtn">New</a>
    <h3>Payroll Structure Types</h3>
</div>

<div id="searchContainer"></div>
<div>
    <table class="list task-list">
        <col width="5%">
        <col width="95%">
        <thead>
        <tr>
            <th class="centerCell">N</th>
            <th data-sort="name">
                Name
            </th>
        </tr>
        </thead>
        <tbody id="listTablePayrollStructure" class="enableTableOdd"></tbody>
    </table>
</div>
