<div id="searchContainer"></div>
<div class="_tableWrap _tablePurchasePaymentsWrap">
    <table class="list task-list stripedList">
        <col width="30px">
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <col width="25%">
        <!--<col width="25%">-->
        <thead>
        <tr>
            <th class="">
                <label class="_customCHeckbox">
                    <input type="checkbox" id="checkAll"/>
                    <span></span>
                </label>
            </th>
            <th class="oe_sortable sortDn" data-sort="createdBy.date">Date<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="description">Reason<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="warehouse.name">Warehouse<span class="arrow down"></span><span
                    class="arrow up"></span></th>
          <!--  <th class="oe_sortable" data-sort="location.name">Location<span class="arrow down"></span><span
                    class="arrow up"></span></th>-->
            <th class="oe_sortable" data-sort="createdBy.user.login">Adjusted By<span class="arrow down"></span><span
                    class="arrow up"></span></th>

        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
    </table>
</div>