<div class="form-holder employee _projectsFormWrap">
    <form class="form employee" id="employeeForm" data-id="<%=model._id%>">
        <ul class="chart-tabs _materialTabs">
            <li><a href="javascript:;" class="active" id="overviewTab" >Overview</a></li>
            <li><a href="javascript:;" class="" id="timesheetTab">Time Card</a></li>
            <li><a href="javascript:;" class="countable" id="ordersTab">Orders<span></span></a></li>
            <li><a href="javascript:;" class="countable" id="invoicesTab">Invoices<span></span></a></li>
            <li><a href="javascript:;" class="countable" id="paymentsTab">Payments<span></span></a></li>
            <li><a href="javascript:;" class="" id="commentsTab">Other Info</a></li>
            <li><a href="javascript:;" class="" id="assigneesTab">Assignees</a></li>
        </ul>
        <div class="dialog-tabs-items _mainTabs">
            <div class="dialog-tabs-item active">
                <div class="_projectsOverviewTop">
                    <div class="_projectsOverviewForm">
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="projectName"
                                   name="projectName"
                                   value="<%=model.name%>"
                                   required
                                   maxlength="32">
                            <label class="_animate">Project Name</label>
                        </div>

                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   name="projectShortDesc"
                                   id="projectShortDesc"
                                   required
                                   value="<%=model.projectShortDesc%>"
                                   maxlength="32">
                            <label class="_animate">Project Short Description</label>
                        </div>

                        <div class="_animateInputBox _staticData" title="go to assignees tab for choose or change">
                            <span class="_staticLabel">Sales Manager</span>
                            <span class="_staticInfo">
                                    <%= (model.salesManager && model.salesManager.fullName) ? (model.salesManager.fullName): 'Not selected' %>
                                </span>
                        </div>

                        <div class="_animateInputBox _staticData" title="go to assignees tab for choose or change">
                            <span class="_staticLabel">Project Manager</span>
                            <span class="_staticInfo">
                                    <%= (model.projectManager && model.projectManager.fullName) ? (model.projectManager.fullName): 'Not selected' %>
                                </span>
                        </div>

                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Project Type</span>
                            <div class="_newSelectListWrap">
                                <a id="projectTypeDD" data-id="<%=model.projecttype?model.projecttype:''%>"
                                   class="current-selected" href="javascript:;"><%= model.projecttype ? model.projecttype : 'Select project type' %></a>
                            </div>
                        </div>

                        <div class="_animateInputBox _staticData" title="go to assignees tab for choose or change">
                            <span class="_staticLabel">Project Customer</span>
                            <span class="_staticInfo"
                                  id="customerDd"
                                  data-id="<%=model.customer?model.customer._id:''%>">
                                    <%= (model.customer && model.customer.fullName) ? (model.customer.fullName) : 'Not selected' %>
                                </span>
                        </div>

                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Status</span>
                            <div class="_newSelectListWrap">
                                <a id="workflowsDd" data-id="<%=(model.workflow) ? model.workflow._id : ''%>"
                                   class="current-selected" href="javascript:;"><%=(model.workflow)?model.workflow.name:'Undefinded'%></a>
                            </div>
                        </div>

                        <div class="_animateHealthBox">
                            <span class="_healthLabel">Health</span>
                            <div id="health" class="health-wrapper _healthWrapper">
                                <div class="_healthDd">
                                    <a href="javascript:;" data-value="<%=model.health%>" class="health<%=model.health%>">
                                    </a>
                                    <ul class="_healthDdList">
                                        <li>
                                            <div class="health1"></div>
                                        </li>
                                        <li>
                                            <div class="health2"></div>
                                        </li>
                                        <li>
                                            <div class="health3"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="_projectsOverviewGraphic" id="projectChart"></div>
                </div>
                <div id="forInfo" class="_projectsTablesWrap">
                    <div class="forInfo-half-block left" id="detailsLeft"></div>
                    <div class="forInfo-half-block right" id="detailsRight"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="dialog-tabs-item">
                <div id="timesheet" class="tableResponsive _projectTableVisible"></div>
            </div>
            <div class="dialog-tabs-item">
                <div id="orders"></div>
            </div>
            <div class="clearfix"></div>
            <div class="dialog-tabs-item" id="invoice">
                <div id="invoices"></div>
            </div>
            <div class="clearfix"></div>
            <div class="dialog-tabs-item">
                <div id="payments"></div>
            </div>

            <div class="clearfix"></div>
            <div class="dialog-tabs-item">
                <div id="comments">
                    <br>
                    <dt><label for="payment_method">Bank Account</label></dt>
                    <dd class="_newSelectListWrap">
                        <a id="payment_method" class="current-selected" href="javascript:;"
                           data-id="<%= (model.paymentMethod) ? model.paymentMethod._id : ''%>"><%=(model.paymentMethod) ? model.paymentMethod.name : 'Select'%></a>
                    </dd>
                    <dt><label for="payment_terms">Payment Terms</label></dt>
                    <dd class="_newSelectListWrap">
                        <a id="payment_terms" class="current-selected" href="javascript:;"
                           data-id="<%= (model.paymentTerms) ? model.paymentTerms._id : ''%>"><%=(model.paymentTerms) ? model.paymentTerms.name : 'Select'%></a>
                    </dd>
                    <div class="textarea-wrapper counterWrap">
                        <textarea type="text" class="projectDescriptionEdit _bigTextArea" name="description"
                                  placeholder="Add a Description..." id="description"
                                  maxlength="500"><%=model.description%></textarea>

                        <div class="counter-wrap">
                            <span class="counter-label">Characters left:</span>
                            <span class="counter-value" id="counterValue"><%= 500 - model.description.length %></span>
                        </div>

                    </div>

                    <div id="divForNote" class="_projectAttachField"></div>
                </div>
            </div>
            <div class="dialog-tabs-item">
                <div id="assignees">
                    <div id="assignees-container"></div>
                </div>
                <h3>Project Members</h3>
                <div id="projectMembers" class="projectMembers _projectTableVisible _tableAlignLeft">
                    <div id="projectMembers-container"></div>
                </div>
            </div>
        </div>
    </form>
</div>
