<h3><%=contentType%></h3>
<div id="createBtnHolder">
    <a href="#home/action-<%=contentType%>/Create" class="icon add left" title="Create" id="top-bar-createBtn">5</a>
    <a href="#home/action-<%=contentType%>/Edit" class="icon edit left" title="Edit" id="top-bar-editBtn">4</a>
    <a href="#home/action-<%=contentType%>/Remove" class="icon remove left" id="top-bar-deleteBtn" title="Remove">x</a>
    <%if(viewType=='kanban') {%><a id="kanban-settings-Btn" class="icon edit left" title="Kanban Settings">4</a><%}%>
</div>

<div id="template-switcher" class="right">
    <ul class="btn-list">
        <li><a href="javascript;" class="changeContentView icon icon-btn dark <%= (viewType == 'kanban') ? 'selected' : ''%>" data-view-type="kanban" id="kanbanBtn">r</a></li>
        <li><a href="javascript;" class="changeContentView icon icon-btn dark <%= (viewType == 'list') ? 'selected' : ''%>" data-view-type="list" id="listBtn">i</a></li>
    </ul>
</div>
<!--<div id="top-bar">-->
    <!--<h3>Dashboard Vacation</h3>-->
    <!--<ul class="dateFilter">-->
        <!--<li>-->
            <!--<span id="startTime">10/30/15</span> - <span id="endTime">10/30/15</span>-->
            <!--<i class="fa fa-caret-down"></i>-->
        <!--</li>-->
        <!--<li>-->
            <!--<ul class="frameDetail">-->
                <!--<li class="customTime">-->
                    <!--<span>-->
                        <!--<label>From <input readonly type="text" id="startDate"> </label>-->
                        <!--<label>To <input readonly type="text" id="endDate"></label>-->
                    <!--</span>-->
                <!--</li>-->
                <!--<li class="buttons">-->
                    <!--<button id="updateDate">Update</button>-->
                    <!--<a id="cancelBtn">Cancel</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->