<div class="form-holder">
    <form method="post" action="" id="createCategoryForm" class="form">
        <fieldset>
            <div class="inner">
                <h3 class="_dialogTitle">New Product Option</h3>
                    <dl class="department-info">
                        <dt><label for="optionName">Option Name</label></dt>
                        <dd><input type="text" class="title-input blueback" name="optionName" id="optionName"
                                   maxlength="32" placeholder="Option Name" required/><input type="text" hidden
                                                                                               required/></dd>
                    </dl>
                <div class="clearfix">
                </div>
            </div>
        </fieldset>
    </form>
</div>
