<h3><%=contentHeader%></h3>
<div id="createBtnHolder" class="createBtnHolder btnsBlock">
    <a href="#home/action-<%=contentType%>/Create" class="btn blue slim plus" title="Create"
       id="top-bar-createBtn">New</a>
    <a href="#home/action-<%=contentType%>/Edit" class="btn blue slim" title="Edit" id="top-bar-editBtn">Edit</a>
    <a href="javascript:;" class="btn blue slim" title="Remove" id="top-bar-deleteBtn">Delete</a>
</div>
<div id="template-switcher" class="template-switcher right">
    <ul class="btn-list changeContentIndex">
        <li><a href="javascript:;" class="icon2 icon-btn dark" data-shift="left" id="leftBtn">(</a></li>
        <li><a href="javascript:;" class="icon2 icon-btn dark" data-shift="right" id="rightBtn">)</a></li>
    </ul>
</div>
