<% collection.forEach(function(invoiceAging, index){ %>
<tr data-index="<%= index %>" data-id="<%=invoiceAging._id%>">
    <td class="centerCell"><%=index + 1 %></td>
    <td><%=invoiceAging.name%></td>
    <td><%=(invoiceAging.salesPerson) ? invoiceAging.salesPerson.name : ''%></td>
    <td><%=(invoiceAging.supplier) ? invoiceAging.supplier.name : ''%></td>
    <td><%=(invoiceAging.project) ? invoiceAging.project.projectName : ''%></td>
    <td data-content="zeroTotal"><%=invoiceAging.diffStatus === -1 ? currencySplitter(invoiceAging.paymentInfo.balance)
        : '&nbsp;'%>
    </td>
    <td data-content="fifteenTotal"><%=invoiceAging.diffStatus === 0 ?
        currencySplitter(invoiceAging.paymentInfo.balance) : '&nbsp;'%>
    </td>
    <td data-content="thirtyTotal"><%=invoiceAging.diffStatus === 1 ? currencySplitter(invoiceAging.paymentInfo.balance)
        : '&nbsp;'%>
    </td>
    <td data-content="sixtyTotal"><%=invoiceAging.diffStatus === 2 ? currencySplitter(invoiceAging.paymentInfo.balance)
        : '&nbsp;'%>
    </td>
    <td data-content="ninetyTotal"><%=invoiceAging.diffStatus === 3 ? currencySplitter(invoiceAging.paymentInfo.balance)
        : '&nbsp;'%>
    </td>
    <td data-content="moreTotal"><%=invoiceAging.diffStatus === 4 ? currencySplitter(invoiceAging.paymentInfo.balance) :
        '&nbsp;'%>
    </td>
</tr>
<% }) %>
<tr>
    <td colspan="5">Total</td>
    <td id="zeroTotal">&nbsp;</td>
    <td id="fifteenTotal">&nbsp;</td>
    <td id="thirtyTotal">&nbsp;</td>
    <td id="sixtyTotal">&nbsp;</td>
    <td id="ninetyTotal">&nbsp;</td>
    <td id="moreTotal">&nbsp;</td>
</tr>