<div id="createBtnHolder">
    <a href="javascript:;" class="fa fa-plus" title="Create" id="top-bar-createBtn"></a>
    <h3>Scheduled Pay</h3>
</div>

<div id="searchContainer"></div>
<div>
    <table class="list task-list">
        <col width="7%">
        <thead>
        <tr>
            <th class="centerCell">N</th>
            <th>
                Name
            </th>
        </tr>
        </thead>
        <tbody id="listTableScheduledPay" class="enableTableOdd"></tbody>
    </table>
</div>
