<% invoiceCollection.forEach(function(invoice, index){ %>
<tr data-id="<%=invoice._id%>">
    <td class="notForm">
        <label class="_customCHeckbox">
            <input type="checkbox" value="<%=invoice._id%>" class="checkbox
            <% if (!invoice.removable) { %>
            class=" checkbox notRemovable" disabled='disabled'
            <% } else {%>
            class="checkbox"
            <% } %>
            />
            <span></span>
        </label>
    </td>
    <td><%=(invoice.supplier && invoice.supplier.name) ? invoice.supplier.name: ''%>
    </td>
    <td><%=invoice.name%></td>
    <td><%=invoice.paymentDate%></td>
    <td><%=invoice.dueDate%></td>
    <td class="balance money"><%=currencySplitter(invoice.paymentInfo.balance)%></td>
    <td class="paid money"><%=(invoice.paymentInfo) ? currencySplitter(invoice.paymentInfo.paid) : '0.00'%></td>
    <td class="total money"><%=(invoice.paymentInfo) ? currencySplitter(invoice.paymentInfo.total) : '0.00'%></td>
    <td id='<%=invoice._id%>'>
        <%if(invoice.workflow){%>
        <%if(invoice.workflow.status === 'In Progress'){%>
        <span class="<%= invoice.workflow.status.toLowerCase().replace(' ', '') %>"><%= invoice.workflow.name %></span>
        <% } else {%>
        <%if(invoice.approved){%>
        <span class="<%=invoice.workflow.name.toLowerCase()%>"><%=invoice.workflow.name%></span>
        <% } else {%>
        <span class="notApproved">Not Approved</span>
        <%}%>
        <%}%>
        <% } else {%>
        <span> </span>
        <%}%>
    </td>
    <td><%=invoice.invoiceDate%></td>

</tr>
<% }) %>
