<div class="select<%=type%>">
    <div>
        <div class="formTitle">
            <h3><%=type%></h3>
        </div>
    <%if (property) {%>
    <div class="propertyContainer">

        <div class="propertyBox">
            <div class="propertyImg">
                <img src="https://static.hsappstatic.net/salesImages/static-1.38/avatars/default-company-avatar.gif" title="property" alt="property">
            </div>
            <div class="propertyBody">
                <span class="propertyFullName"><%=property.fullName%></span>
                <a href="javascript:;"><%=property.website%></a>
            </div>

            <a href="javascript:;" class="removeProperty" title="Remove <%=type%>" id="removeProperty">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
        <dl class="person-info">
            <dt>Name </dt>
            <dd data-id="name_first" class="editable"><%=property.fullName%></dd>

            <dt>Address</dt>
            <dt>Street :</dt>
            <dd data-id="address_street" class="editable"><%=property.address.street%></dd>
            <dt>City :</dt>
            <dd data-id="address_city" class="editable"><%=property.address.city%></dd>
            <dt>State :</dt>
            <dd data-id="address_state" class="editable"><%=property.address.state%></dd>
            <dt>Zip :</dt>
            <dd data-id="address_zip" class="editable"><%=property.address.zip%></dd>
            <dt>Country:</dt>
            <dd data-id="address_country" class="editable"><%=property.address.country%></dd>
            <dt>Phone:</dt>
            <dd data-id="phones_phone" class="editable"><%=property.phones.phone%></dd>
            <dt>Email:</dt>
            <dd class="editable"><%=property.email%></dd>
        </dl>
        <a class="btn" title="View All Properties" href="<%='/#easyErp/' + urlType + '/form/'+ property._id%> " id="showMoreButton">View All Properties</a>

    </div>
    <%} else {%>
        <a class="btn" title="Add <%=type%>" id="addProperty">Add <%=type%></a>
    <%}%>


</div>
</div>

