<div class="select<%=type%>">
    <div>
        <div class="formTitle">
            <h3><%=type%></h3>
        </div>
    <%if (property) {%>
    <div class="propertyContainer">

        <div class="propertyBox">
            <div class="propertyImg">
                <img src="https://static.hsappstatic.net/salesImages/static-1.38/avatars/default-company-avatar.gif" title="property" alt="property">
            </div>
            <div class="propertyBody">
                <span class="propertyFullName"><%=property.fullName%></span>
                <a href="javascript:;"><%=property.website%></a>
            </div>

            <a href="javascript:;" class="removeProperty" title="Remove <%=type%>" id="removeProperty">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
        <div class="person-info">
            <div class="propertyFormList">
                <label>Name</label>
                <div data-id="name_first" class="editable inputBox">
                    <input value="<%=property.fullName%>"/>
                </div>
            </div>

            <div class="propertyFormList">
                <label>Street:</label>
                <div  class="inputBox">
                    <input class="editable" data-id="address_street" value="<%=property.address.street%>"/>
                </div>
            </div>

            <div class="propertyFormList">
                <label>City:</label>
                <div  class="inputBox">
                    <input class="editable" data-id="address_city" value="<%=property.address.city%>"/>
                </div>
            </div>

            <div class="propertyFormList">
                <label>State:</label>
                <div  class="inputBox">
                    <input class="editable" data-id="address_state" value="<%=property.address.state%>"/>
                </div>
            </div>

            <div class="propertyFormList">
                <label>Zip:</label>
                <div  class="inputBox">
                    <input class="editable" data-id="address_zip" value="<%=property.address.zip%>"/>
                </div>
            </div>

            <div class="propertyFormList">
                <label>Country:</label>
                <div  class="inputBox">
                    <input class="editable" data-id="address_country" value="<%=property.address.country%>"/>
                </div>
            </div>

            <div class="propertyFormList">
                <label>Phone:</label>
                <div  class="inputBox">
                    <input class="editable" data-id="phones_phone" value="<%=property.phones.phone%>"/>
                </div>
            </div>

            <div class="propertyFormList">
                <label>Email:</label>
                <div  class="inputBox">
                    <input class="editable" data-id="phones_phone" value="<%=property.email%>"/>
                </div>
            </div>
        </div>

        <div class="propertySubmit">
            <a class="btn" title="View All Properties" href="<%='/#easyErp/' + urlType + '/form/'+ property._id%> " id="showMoreButton">View All Properties</a>
        </div>
        <div class="btnBlock">

            <a href="javascript:;" id="saveBtn" class=" btn btnRounded">Save</a>

            <a href="javascript:;" id="cancelBtn" class=" btn btnRounded">Cancel</a>
        </div>

    </div>
    <%} else {%>
        <a class="btn" title="Add <%=type%>" id="addProperty">Add <%=type%></a>
    <%}%>


</div>
</div>

