<ul class="thumbnail_birthday_list">

<% collection.forEach(function(model, index){ %>
<li data-index="<%=index%>">
    <div class="avatar">
        <div class="avatar_img" id="<%=model._id%>">
            <img class="ava" alt="" width="100" src="<%=model.imageSrc%>"/>
    </div>
    </div>
        <ul class="birthday_info">
            <li>
                <span class="user_name"><%=model.name.first%> <%=model.name.last%></span>
            </li>
            <li>
                <span class="birthday_day"><%= model.dateBirth %></span>
            </li>
            <li>
                <span class="birthday_day"><%=model.age%> years</span>
            </li>
           <!-- <li>
                <a href="javascript:;" class="readMore" data-id="<%=model._id%>">
                    <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                    Read More</a>
            </li>-->
        </ul>
</li>


    <% }) %>
</ul>
