<% collection.forEach(function(model, index){ %>
<div class="birthday-item" data-index="<%=index%>">
    <div class="date">
        <div class="inner">
            <h3><%=model.dateBirth%></h3>

            <h2><%=model.age%></h2>
        </div>
    </div>
    <div class="info" data-id="<%=model._id%>">
        <div class="top-wrapper">
            <div class="top">
                <a data-id="<%=model._id%>"><%=model.name.first%> <%=model.name.last%></a>
            </div>

            <div id="<%=model._id%>">
                <img class="ava" alt="" width="100" src="<%=model.imageSrc%>"/>
            </div>

            <div class=" text">
                <div class="half-block left">
                    <dl class="person-info">
                        <dt>Department:</dt>
                        <dd><%=(model.department) ? model.department.departmentName : ''%></dd>
                        <dt>Job Positon:</dt>
                        <dd><%= (model.jobPosition) ? model.jobPosition.name : ''%></dd>
                        <dt>Phone:</dt>
                        <dd> <%=model.workPhones.mobile%></dd>
                    </dl>
                </div>
            </div>
            <br/>
            <a href="javascript;" class="readMore" data-id="<%=model._id%>">
                Read more <i></i>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>
<% }) %>
