<div class="form-holder">
    <form method="post" action="" class="form" id="invoiceForm">
        <fieldset>
            <div class="clearfix"></div>
            <br/>
            <h3>Payroll Structure Type</h3>
            <div class="clearfix"></div>
            <br/>
            <span>Name: </span>
            <input id="payrollStructureName" maxlength="40" size="40" type="text" value="<%= model.name || '' %>">
            <br/>
            <br/>
            <br/>
            <div class="half-block left" id="earningComponents" data-id="earning">
                <div class="setting_element">
                    <a href="javascript:;" class="fa fa-plus" data-id="earning" title="Create"></a>
                    <h3>Earnings:</h3>
                    <a id="earningTypeDd" class="selected" href="javascript:;">Select</a>
                </div>
                <br/>
                <ul class="ui-sortable">
                </ul>
            </div>
            <div class="half-block right" id="deductionComponents"  data-id="deduction">
                <div class="setting_element">
                    <a href="javascript:;" class="fa fa-plus" title="Create" data-id="deduction"></a>
                    <h3>Deductions:</h3>
                    <a id="deductionTypeDd" class="selected" href="javascript:;">Select</a>
                </div>
                <br/>
                <ul class="ui-sortable">
                </ul>
            </div>
            <br/>
            <br/>
            <br/>
            <span id="resultFormula"></span>
        </fieldset>
    </form>
</div>
