<div>
    <div id="searchContainer"></div>
    <div class="_tableOpportunitiesWrap">
        <table class="list stripedList">
            <colgroup>
                <col width="42px">
                <col width="19%">
                <col width="12%">
                <col width="16%">
                <col width="13%">
                <col width="10%">
                <col width="10%">
                <col width="20%">
            </colgroup>
            <thead>
            <tr>
                <th class="centerCell">
                    <label class="_customCHeckbox">
                        <input type="checkbox" id="checkAll"/>
                        <span></span>
                    </label>
                </th>
                <th class="oe_sortable" data-sort="name">Opportunity Name<span class="arrow down"></span><span
                        class="arrow up"></span>
                </th>
                <th class="oe_sortable" data-sort="expectedRevenue.value">Expected Revenue<span
                        class="arrow down"></span><span class="arrow up"></span></th>
                <th class="oe_sortable" data-sort="customer.name.first">Customer Name<span class="arrow down"></span><span
                        class="arrow up"></span></th>
                <th class="oe_sortable" data-sort="nextAction.date">Closing Date<span class="arrow down"></span><span
                        class="arrow up"></span></th>
                <th class="oe_sortable" data-sort="workflow.name">Stage<span class="arrow down"></span><span
                        class="arrow up"></span></th>
                <th class="oe_sortable" data-sort="salesPerson.name">Assigned To<span
                        class="arrow down"></span><span
                        class="arrow up"></span></th>
                <th class="oe_sortable sortDn" data-sort="editedBy.date">Edited By<span class="arrow down"></span><span
                        class="arrow up"></span></th>
            </tr>
            </thead>
            <tbody id="listTable" class="enableTableOdd"></tbody>
        </table>
    </div>
</div>