<div id="searchContainer"></div>
<div class="_tableWrap _tableOrderList">
    <table class="list  stripedList order-list">
        <colgroup>
            <col width="42px">
            <col width="20%">
            <col width="14%">
            <col width="8%">
            <col width="10%">
            <col width="12%">
            <col width="13%">
            <col width="13%">
            <col width="10%">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell">
                <label class="_customCHeckbox">
                    <input type="checkbox" id="checkAll"/>
                    <span></span>
                </label>
            </th>
            <th class="oe_sortable" data-sort="name">Reference
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
            <th class="oe_sortable" data-sort="supplier.name">Supplier
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
            <th class="oe_sortable" data-sort="status.fulfillStatus">Received
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
            <th class="oe_sortable" data-sort="workflow.name">Status
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
            <th class="oe_sortable" data-sort="paymentBalance">Balance
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
            <th class="oe_sortable" data-sort="paymentsPaid">Prepaid
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
            <th class="oe_sortable" data-sort="paymentInfo.total">Total
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
            <th class="oe_sortable sortDn" data-sort="orderDate">Order Date
                <span class="arrow down"></span>
                <span class="arrow up"></span>
            </th>
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
        <tfoot id="listTotal"></tfoot>
    </table>
</div>