<div class="form-holder">
    <div class="inner">
        <div class="clearfix"></div>

        <dt><label class="createJobLabel" for="jobName">Job Name</label></dt>
        <dd>
            <input class="createJobInput" id="jobName"/>
        </dd>

        <dt><label for="productType">Product Type</label></dt>
        <dd>
            <a id="productType" class="current-selected" href="javascript:;">Select</a>
        </dd>

        <dt><label for="warehouse">Warehouse</label></dt>
        <dd>
            <a id="warehouse" class="current-selected" href="javascript:;">Select</a>
        </dd>
        <span class="_variantsLabel">Product Categories</span>
        <div id="variantsCategoriesBlock" class="_variantsBlock">
            <div class="_checkCategoriesWrap">
                <ul id="checkedProductCategories" class="_checkCategories"></ul>
                <span id="showBtn" class="_arrow"></span>
            </div>
            <ul id="productCategories" class="_categoriesList"></ul>
        </div>
    </div>
</div>