<h3><%=contentType%></h3>
<div id="createBtnHolder">
    <a href="javascript;" class="fa fa-plus" title="Create" id="top-bar-createBtn"></a>
    <a href="javascript;" class="fa fa-wrench" title="Edit" id="top-bar-editBtn"></a>
    <a href="javascript;" class="fa fa-check" title="Save" id="top-bar-saveBtn"></a>
    <a href="javascript;" class="fa fa-times" title="Remove" id="top-bar-deleteBtn"></a>
    <ul>
        <li>
            <button class="btn">
                <span title="Export to csv" id="top-bar-exportToCsvBtn">Export to Csv</span>
            </button>
        </li>
        <li>
            <button class="btn">
                <span href="javascript;" title="Export to xlsx" id="top-bar-exportToXlsxBtn">Export to Xlsx</span>
            </button>
        </li>
    </ul>
    <button id="top-bar-generateBtn" class="red disabled">Generate Invoice</button>
    <button id="top-bar-copyBtn" class="red disabled">Copy</button>
</div>

<div id="template-switcher" class="right">
    <ul class="btn-list">
        <li><a href="javascript;"
               class="changeContentView icon icon-btn dark <%= (viewType == 'list') ? 'selected' : ''%>"
               data-view-type="list" id="listBtn">i</a></li>
        <li><a href="javascript;"
               class="changeContentView icon icon-btn dark <%= (viewType == 'form') ? 'selected' : ''%>"
               data-view-type="form" id="formBtn">m</a></li>
    </ul>
</div>