<% salaryCollection.forEach(function(salary, index){ %>
<tr data-id="<%=salary._id%>">
    <td class = "notForm"><input type="checkbox" value="<%=salary._id%>" class="mainCB" /></td>
    <td class="icon left">5</td>
    <td class="month"><%=salary.month%></td>
    <td class="year"><%=salary.year%></td>
    <td class="total_calc_salary money"><%=Number(salary.calc.salary).toLocaleString('en')%></td>
    <td class="total_calc_onCard money"><%=Number(salary.calc.onCard).toLocaleString('en')%></td>
    <td class="total_paid_onCard money"><%=Number(salary.paid.onCard).toLocaleString('en')%></td>
    '<td class="total_diff_onCard
    <%if (salary.diff.onCard < 0) {%>
        negativeMoney"><%=Number(salary.diff.onCard * (-1)).toLocaleString('en')%></td>
    <%} else {%>
        money"><%=Number(salary.diff.onCard).toLocaleString('en')%></td>
    <%}%>
    <td class="total_calc_onCash money"><%=Number(salary.calc.onCash).toLocaleString('en')%></td>
    <td class="total_paid_onCash money"><%=Number(salary.paid.onCash).toLocaleString('en')%></td>
    <td class="total_diff_onCash
    <%if (salary.diff.onCash < 0) {%>
        negativeMoney"><%=Number(salary.diff.onCash * (-1)).toLocaleString('en')%></td>
    <%} else {%>
        money"><%=Number(salary.diff.onCash).toLocaleString('en')%></td>
    <%}%>
</tr>
<% }) %>
