<div id="searchContainer"></div>
<div>
    <table class="list salary-list">
        <col width="2%">
        <col width="2%">
        <col width="5%">
        <col width="5%">
        <col width="10%">
	    <col width="10%">
	    <col width="10%">
	    <col width="10%">
	    <col width="10%">
        <col width="10%">
        <col width="10%">

        <thead>
            <tr>
                <th><input type="checkbox" id="check_all" /></th>
                <th></th>
                <th class="oe_sortable" data-sort="month">Month<span class="arrow down">7</span><span class="arrow up">v</span></th>
                <th class="oe_sortable" data-sort="year">Year<span class="arrow down">7</span><span class="arrow up">v</span></th>
                <th class="oe_sortable" data-sort="calc.salary">CalcSalary<span class="arrow down">7</span><span class="arrow up">v</span></th>
                <th class="oe_sortable" data-sort="calc.onCard">CalcOnCard<span class="arrow down">7</span><span class="arrow up">v</span></th>
                <th class="oe_sortable" data-sort="paid.onCard">PaidOnCard<span class="arrow down">7</span><span class="arrow up">v</span></th>
                <th class="oe_sortable" data-sort="diff.onCard">DiffOnCard<span class="arrow down">7</span><span class="arrow up">v</span></th>
                <th class="oe_sortable" data-sort="CalcOnCash">CalcOnCash<span class="arrow down">7</span><span class="arrow up">v</span></th>
                <th class="oe_sortable" data-sort="paid.onCard">PaidOnCash<span class="arrow down">7</span><span class="arrow up">v</span></th>
                <th class="oe_sortable" data-sort="diff.onCard">DiffOnCash<span class="arrow down">7</span><span class="arrow up">v</span></th>

            </tr>
        </thead>
        <tbody id="listTable"></tbody>
        <!--<tfoot id="listTotal"></tfoot>-->
    </table>
</div>
