<% salaryCollection.forEach(function(salary, index){ %>
<tr data-id="<%=salary._id%>">
    <td class = "notForm"><input type="checkbox" value="<%=salary._id%>" class="mainCB" /></td>
    <td class="icon left">5</td>
    <td class="month"><%=salary.month%></td>
    <td class="year"><%=salary.year%></td>
    <td class="total_calc_salary"><%=salary.calc.salary%></td>
    <td class="total_calc_onCard"><%=salary.calc.onCard%></td>
    <td class="total_paid_onCard"><%=salary.paid.onCard%></td>
    <td class="total_diff_onCard"><%=salary.diff.onCard%></td>
    <td class="total_calc_onCash"><%=salary.calc.onCash%></td>
    <td class="total_paid_onCash"><%=salary.paid.onCash%></td>
    <td class="total_diff_onCash"><%=salary.diff.onCash%></td>
</tr>
<% }) %>
