<% quotations.forEach(function(quotation, index){ %>
<tr data-id="<%=quotation._id%>"
<%if (quotation.workflow && quotation.workflow.status === 'Cancelled') { %>
class="canceledListItem"
<%}%>>
<td class = "notForm centerCell"><input type="checkbox" value="<%=quotation._id%>" class="checkbox" /></td>
<td class="centerCell"><%=startNumber + index + 1%></td>
<td><%=quotation.project ? quotation.project.projectName : '-------'%></td>
<td><%=(quotation.project) ? quotation.supplier.name : '-------'%></td>
<td><%=(quotation.project) ? quotation.project.projectmanager.name : '-------'%></td>
<td class="total"><%=(quotation.paymentInfo) ? quotation.paymentInfo.total.toFixed(2) : '0'%></td>
<td><%=quotation.type%></td>
<td id='<%=quotation._id%>'>
    <a href="javascript:;" class="stageSelect"><%=quotation.workflow ? quotation.workflow.name: 'Undefinded'%></a>
</td>
<td><%=quotation.orderDate%></td>
</tr>
<% }) %>