<div class="form-holder _newForm">
    <form method="post" action="" id="createPersonsForm">
        <h4 class="_dialogMainTitle">Add New Order</h4>
        <div class="_formWrap">
            <div class="_formBlock _equal">
                <div class="_animateSelectBox _withInfo">
                    <span class="_selectTitle">Status</span>
                    <div class="_newSelectListWrap">
                        <a id="workflowsDd"
                           class="current-selected"
                           href="javascript:;">Select status
                        </a>
                    </div>
                    <span class="tips icon-info" data-id="workflowsDd"></span>
                </div>
                <div class="_animateSelectBox _withInfo">
                    <span class="_selectTitle">Supplier</span>
                    <div class="_newSelectListWrap">
                        <a id="customerDd" class="current-selected" href="javascript:;">Select supplier</a>
                    </div>
                    <span class="tips icon-info" data-id="customerDd"></span>
                </div>
                <div class="_animateSelectBox _withInfo">
                    <span class="_selectTitle">Bank Account</span>
                    <div class="_newSelectListWrap">
                        <a id="paymentMethod"
                           class="current-selected"
                           href="javascript:;">Select bank account</a>
                    </div>
                    <span class="tips icon-info" data-id="paymentMethod"></span>
                </div>
            </div>
            <div class="_formBlock _equal">
                <div class="_animateInputBox _withInfo">
                    <span class="_staticLabel">Order Date</span>
                    <input type="text"
                           name="orderDate"
                           class="_animate "
                           id="orderDate"
                           required
                           readonly
                           value=""
                           maxlength="48"/>
                    <span class="tips icon-info" data-id="orderDate"></span>
                </div>
                <div class="_animateInputBox _withInfo">
                    <span class="_staticLabel">Payment Due</span>
                    <input type="text"
                           class="_animate "
                           id="expectDate"
                           required
                           readonly/>
                    <span class="tips icon-info" data-id="expectDate"></span>
                </div>
                <div class="_animateSelectBox _withInfo">
                    <span class="_selectTitle">Cost List</span>
                    <div class="_newSelectListWrap">
                        <a id="priceList"
                           data-id=""
                           class="current-selected"
                           href="javascript:;">
                        </a>
                    </div>
                    <span class="tips icon-info" data-id="priceList"></span>
                </div>
            </div>
            <div class="_formBlock _equal">
                <div class="_animateSelectBox _withInfo">
                    <span class="_selectTitle">Warehouse</span>
                    <div class="_newSelectListWrap">
                        <a id="warehouseDd"
                           class="current-selected"
                           data-id=""
                           href="javascript:;">
                        </a>
                    </div>
                    <span class="tips icon-info" data-id="warehouseDd"></span>
                </div>
                <div class="_animateSelectBox _withInfo">
                    <span class="_selectTitle">Currency</span>
                    <div class="_newSelectListWrap">
                        <a id="currencyDd"
                           class="current-selected"
                           href="javascript:;">Select currency
                        </a>
                    </div>
                    <span class="tips icon-info" data-id="currencyDd"></span>
                </div>
                <div class="_animateSelectBox _withInfo">
                    <span class="_selectTitle">Assigned To</span>
                    <div class="_newSelectListWrap">
                        <a id="assignedTo"
                           class="current-selected"
                           href="javascript:;">Select assignee
                        </a>
                    </div>
                    <span class="tips icon-info" data-id="assignedTo"></span>
                </div>
            </div>
        </div>
        <div class="_formWrap">
            <div class="_formBlock">
                <div id="productItemsHolder"></div>
            </div>
        </div>
    </form>
</div>