<div>
    <div class="<%=weeklyScheduler.length ? 'checked' : ''%>">
        <span>Step 1 of 5</span>
        <a href="#easyErp/settingsEmployee">Weekly Scheduler</a>
        <span>Set up your weekly scheduler</span>
    </div>
    <div class="<%=scheduledPay.length ? 'checked' : ''%>">
        <span>Step 2 of 5</span>
        <a href="#easyErp/settingsEmployee">Scheduled Pay</a>
        <span>Set up your Scheduled Pay</span>
    </div>
    <div class="<%=payrollStructure.length ? 'checked' : ''%>">
        <span>Step 3 of 5</span>
        <a href="#easyErp/settingsEmployee">Payroll Structure Types</a>
        <span>Set up your Payroll Structure Types</span>
    </div>
    <div class="<%=bankAccounts.length ? 'checked' : ''%>">
        <span>Step  of 5</span>
        <a href="#easyErp/Accounts">Bank Accounts</a>
        <span>Set up your Bank Accounts</span>
    </div>
    <div class="<%=employees.length ? 'checked' : ''%>">
        <span>Step  of 5</span>
        <a href="#easyErp/Employees">Employees</a>
        <span>Add your Employees</span>
    </div>
</div>