<div id="searchContainer"></div>
<div class="_tableSalesInvoicesWrap">
    <table class="list stripedList">
        <colgroup>
            <col width="42px">
            <col width="14%">
            <col width="14%">
            <col width="14%">
            <col width="14%">
            <col width="7%">
            <col width="7%">
            <col width="7%">
            <col width="7%">
            <col width="7%">
            <col width="9%">
        </colgroup>
        <thead>
        <tr>
            <th class="centerCell">
                <label class="_customCHeckbox">
                    <input type="checkbox" id="checkAll"/>
                    <span></span>
                </label>
            </th>
            <th class="oe_sortable" data-sort="supplier.name.first">Customer<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="name">Invoice Number<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="paymentDate">Payment Date<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="salesPerson.name.first"><%= currentDb ? 'Assigned' : 'SalesPerson'%><span
                    class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="dueDate">Due<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="paymentInfo.balance">Balance<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="paid">Paid<span
                    class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="paymentInfo.total">Total<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="workflow.name approved">Status<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <th class="oe_sortable" data-sort="invoiceDate">Invoice Date<span class="arrow down"></span><span
                    class="arrow up"></span></th>
            <!--<th class="oe_sortable" data-sort="validated">Validated<span class="arrow down"></span><span-->
            <!--class="arrow up"></span></th>-->
        </tr>
        </thead>
        <tbody id="listTable" class="enableTableOdd"></tbody>
        <tfoot id="listTotal">
        <tr>
            <td colspan="6"></td>
            <td class="money"> <span id="balance"></span></td>
            <td class="money"><span id="paid"></span></td>
            <td class="money"><span id="total"></span></td>
            <td></td>
            <td></td>
        </tr>
        </tfoot>
    </table>
</div>
