<table class="list tableFixed _invoiceTable">
    <colgroup>
        <col width="200px">
        <% if (forSales) {%>
        <col width="200px">
        <% } %>
        <col width="60px">
        <col width="100px">
        <col width="80px">
        <col width="80px">
        <col width="30px">
    </colgroup>
    <thead>
    <tr class="productListItemsColumns _deleteHeader ">
        <th data-sort="Product">
            Product
        </th>
        <% if (forSales) {%>
            <th data-sort="jobs">
                Job
            </th>
        <% } %>

        <!--<th data-sort="scheduledDate">
            Scheduled Date
        </th>-->  <!--commented on 14 Mar, in quotationEdit commit -->
<!--        <% if (forSales) {%>
        <th  data-sort="hours">
            Hours
        </th>
        <% } else {%>
        <th  data-sort="quantity">
            Quantity
        </th>
        <% } %>-->
        <th  data-sort="quantity">
            Quantity
        </th>
        <th data-sort="unitPrice">
            Unit Price
        </th>
        <th data-sort="taxes">
            Taxes
        </th>
        <th data-sort="subtotal">
            Subtotal
        </th>
        <th class="deleteCell">
        </th>
    </tr>
    </thead>
    <tbody id="productList">

    </tbody>
</table>
<div class="clearfix"></div>
<div id="totalAmountContainer" class="_totalAmountContainer">

</div>