<div id="minScheduleDate">
        <span>

        </span>
</div>
<%var currencyClassVal;%>
<%if (model && model.currency && model.currency._id) {%>
    <%currencyClassVal = currencyClass(model.currency._id._id)%>
<%} else {%>
    <%currencyClassVal = "dollar"%>
<%}%>
<%var unTaxed;%>
<%var taxes;%>
<%var total;%>
<%var balance;%>
<table border="0" cellpadding="0" cellspacing="0" class="right calculateTotal">
    <tbody>
    <tr>
        <td>
            <label>
                Untaxed Amount
            </label>
        </td>
        <%if (model && model.paymentInfo && model.paymentInfo.unTaxed) {%>
        <%unTaxed = model.paymentInfo.unTaxed%>
        <%} else {%>
        <%unTaxed = "0.00"%>
        <%}%>
        <td class="<%=currencyClassVal%>"><span><span id="totalUntaxes"><%=currencySplitter(unTaxed)%>
        </span></span></td>
    </tr>
    <tr class="taxes">
        <td>
            <label>Taxes</label>
        </td>
        <%if (model && model.paymentInfo && model.paymentInfo.taxes) {%>
        <%taxed = model.paymentInfo.taxes%>
        <%} else {%>
        <%taxed = "0.00"%>
        <%}%>
        <td class="<%=currencyClassVal%>"><span><span id="taxes"><%=currencySplitter(taxed)%>
        </span></span></td>
    </tr>
    <tr class="totalAmount">
        <td>
            <label class="" data-original-title="" title="">Total</label>
        </td>
        <%if (model && model.paymentInfo && model.paymentInfo.total) {%>
        <%total = model.paymentInfo.total%>
        <%} else {%>
        <%total = "0.00"%>
        <%}%>
        <td class="<%=currencyClassVal%>"><span class=""><span id="totalAmount"><%=currencySplitter(total)%>
        </span></span></td>
    </tr>
    <%if (balanceVisible) {%>
    <tr class="balance">
        <td>
            <label>Balance</label>
        </td>
        <%if (model && model.paymentInfo && model.paymentInfo.balance) {%>
        <%balance = model.paymentInfo.balance%>
        <%} else {%>
        <%balance = "0.00"%>
        <%}%>
        <td class="<%=currencyClassVal%>"><span class=""><span id="balance"><%=currencySplitter(balance)%>
        </span></span></td>
    </tr>
    <%}%>
    </tbody>
</table>
