<div class="form-holder _newForm _employeeCreate">
    <form method="post" action="" id="createEmployeeForm">
        <h4 class="_dialogTitlePositioned">Create Employee</h4>
        <ul class="dialog-tabs">
            <li>
                <a href="javascript:;" class="active">Main</a>
            </li>
            <li>
                <a href="javascript:;" class="">Personal Information</a>
            </li>
            <li>
                <a href="javascript:;" class="">Job</a>
            </li>
            <li>
                <a href="javascript:;" class="">Notes</a>
            </li>
            <li>
                <a href="javascript:;">Assignees</a>
            </li>
        </ul>
        <div class="dialog-tabs-items">
            <div class="dialog-tabs-item active">
                <div class="_formWrap">
                    <div class="_avatarBlock">
                        <div class="avatar">
                            <div class="upload">Edit
                                <input type="file"
                                       value="Edit"
                                       id="inputImg"
                                       accept="image/*">
                            </div>
                            <canvas id="avatar"
                                    width="140"
                                    height="140">
                            </canvas>
                        </div>
                    </div>
                    <!--<div class="_avatarBlock">
                        <div class="avatar">
                            <div class="upload">Edit
                                <input type="file"
                                       value="Edit"
                                       id="inputImg">
                            </div>
                            <canvas id="avatar"
                                    width="140"
                                    height="140">
                                <input type="file"
                                       value="Edit"
                                       id="File1">
                            </canvas>
                        </div>
                    </div>-->
                    <div class="_formBlock">
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="first"
                                   autofocus
                                   required
                                   maxlength="32"/>
                            <label class="_animate">First Name</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="last"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">Last Name</label>
                        </div>
                        <div class="_animateInputBox">
                            <span class="_staticLabel">Date of Birth</span>
                            <input type="text"
                                   name="dateBirth"
                                   class="_animate"
                                   id="dateBirth"
                                   placeholder="Date of Birth"
                                   readonly/>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="mobile"
                                   required
                                   maxlength="20"/>
                            <label class="_animate">Personal Mobile</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="personalEmail"
                                   required
                                   maxlength="48"/>
                            <label class="_animate">Personal Email</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="skype"
                                   required
                                   maxlength="64"/>
                            <label class="_animate">Skype</label>
                        </div>
                    </div>
                    <div class="_formBlock">
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="LI"
                                   required
                                   maxlength="256"/>
                            <label class="_animate">LinkedIn</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="FB"
                                   required
                                   maxlength="256"/>
                            <label class="_animate">Facebook</label>
                        </div>
                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Source</span>
                            <div class="_newSelectListWrap">
                                <a id="sourceDd"
                                   class="current-selected"
                                   data-id="www.rabota.ua"
                                   href="javascript:;">Select source</a>
                            </div>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="workEmail"
                                   required
                                   maxlength="48"/>
                            <label class="_animate">Work Email</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   class="_animate"
                                   id="phone"
                                   required
                                   maxlength="20"/>
                            <label class="_animate">Work Phone</label>
                        </div>
                        <div>
                            <label>User Name</label>
                            <span type="text"
                                  id="userName"></span>
                        </div>

                        <!--<dl class="create-employee-info">-->

                        <!--<dt>-->
                        <!--<label>Username</label>-->
                        <!--</dt>-->
                        <!--<dd>-->
                        <!--<span id="userName" style="color: #757575; vertical-align: sub;"></span>-->
                        <!--</dd>-->
                        <!--</dl>-->
                    </div>
                </div>
                <div class="clearfix">
                    <div class="cropImages form" style="display:none;">
                        <div class="image_input" style="float: left;margin-right: 20px;"></div>
                        <img class="image_output"/>
                    </div>
                </div>
            </div>
            <div class="dialog-tabs-item">
                <div class="_formWrap">
                    <h4 class="_titleBlueBorder">Citizenship &amp; Other Info</h4>
                    <div class="_formBlock _equal">
                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Nationality</span>
                            <div class="_newSelectListWrap">
                                <a id="nationality"
                                   data-id=""
                                   class="current-selected"
                                   href="javascript:;">Select nationality</a>
                            </div>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   name="identNo"
                                   class="_animate"
                                   id="identNo"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">Identification №</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   name="passportNo"
                                   class="_animate"
                                   id="passportNo"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">Passport №</label>
                        </div>
                    </div>
                    <div class="_formBlock _equal">
                        <div class="_animateInputBox">
                            <input type="text"
                                   name="bankAccountNo"
                                   class="_animate"
                                   id="bankAccountNo"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">Bank Account №</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   name="otherId"
                                   class="_animate"
                                   id="otherId"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">Other Id</label>
                        </div>
                    </div>
                    <h4 class="_titleBlueBorder">Contact Information</h4>
                    <div class="_formBlock _equal">
                        <div class="_animateInputBox">
                            <input type="text"
                                   name="street"
                                   class="_animate homeAddress"
                                   id="employeeCreateStreet"
                                   required
                                   maxlength="60"/>
                            <label class="_animate">Street</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   name="city"
                                   class="_animate homeAddress"
                                   id="employeeCreateCity"
                                   required
                                   maxlength="60"/>
                            <label class="_animate">City</label>
                        </div>
                        <div class="_animateInputBox">
                            <input type="text"
                                   name="state"
                                   class="_animate homeAddress"
                                   id="employeeCreateState"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">State</label>
                        </div>
                    </div>
                    <div class="_formBlock _equal">
                        <div class="_animateInputBox">
                            <input type="text"
                                   name="zip"
                                   class="_animate homeAddress"
                                   id="employeeCreateZip"
                                   required
                                   maxlength="32"/>
                            <label class="_animate">Zip Code</label>
                        </div>
                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Country</span>
                            <div class="_newSelectListWrap">
                                <a href="javascript:;"
                                   name="country homeAddress"
                                   class="current-selected"
                                   id="employeeCreateCountry">Select country</a>
                            </div>
                        </div>
                    </div>
                    <h4 class="_titleBlueBorder">Status</h4>
                    <div class="_formBlock _equal">
                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Gender</span>
                            <div class="_newSelectListWrap">
                                <a href="javascript:;"
                                   class="current-selected"
                                   id="genderDd"
                                   data-id="male">Male</a>
                            </div>
                        </div>
                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Employment type</span>
                            <div class="_newSelectListWrap">
                                <a href="javascript:;"
                                   class="current-selected"
                                   id="employmentTypeDd"
                                   data-id="">Select employment type</a>
                            </div>
                        </div>
                    </div>
                    <div class="_formBlock _equal">
                        <div class="_animateSelectBox">
                            <span class="_selectTitle">Marital status</span>
                            <div class="_newSelectListWrap">
                                <a href="javascript:;"
                                   class="current-selected"
                                   id="maritalDd"
                                   data-id="married">married</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dialog-tabs-item" id="job">
                <div class="_formWrap">
                    <div class="_formBlock">
                        <table class="stripedList _employeeJobTable" id="hireFireTable">
                            <colgroup>
                                <col width="60px">
                                <col width="60px">
                                <col width="85px">
                                <col width="85px">
                                <col width="70px">
                                <col width="70px">
                                <col width="75px">
                                <col width="75px">
                                <col width="97px">
                                <col width="55px">
                                <col width="80px">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>Status</th>
                                <th>Date</th>
                                <th>Job position</th>
                                <th>Department</th>
                                <th>Manager</th>
                                <th>Job Type</th>
                                <th>Schedule</th>
                                <th>Contract</th>
                                <th>Scheduled Pay</th>
                                <th>Salary</th>
                                <th>Status info</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr class="transfer" data-id="0" data-content="hired">
                                <td>hired</td>
                                <td class="editable date"><%= moment(new Date()).format('D MMM, YYYY') %></td>
                                <td class="errorContent _newSelectListWrap">
                                    <a id="jobPositionDd" class="current-selected"
                                       data-id=""
                                       href="javascript:;">Select
                                    </a>
                                </td>
                                <td class="errorContent _newSelectListWrap">
                                    <a id="departmentsDd" class="current-selected"
                                       data-id=""
                                       href="javascript:;">
                                        Select
                                    </a>
                                </td>
                                <td class="_newSelectListWrap">
                                    <a id="projectManagerDD" class="current-selected"
                                       data-id=""
                                       href="javascript:;">Select
                                    </a>
                                </td>
                                <td class="errorContent _newSelectListWrap">
                                    <a id="jobTypeDd" class="current-selected"
                                       data-id=""
                                       href="javascript:;">Select
                                    </a>
                                </td>
                                <td class="_newSelectListWrap">
                                    <a id="weeklySchedulerDd" class="current-selected"
                                       data-id=""
                                       href="javascript:;">Select
                                    </a>
                                </td>
                                <td class="_newSelectListWrap">
                                    <a id="payrollStructureTypeDd" class="current-selected"
                                       data-id=""
                                       href="javascript:;">Select
                                    </a>
                                </td>
                                <td class="_newSelectListWrap">
                                    <a id="scheduledPayDd" class="current-selected"
                                       data-id=""
                                       href="javascript:;">Select
                                    </a>
                                </td>
                                <td class="editable" data-id="salary"></td>
                                <td>
                                    <input id="statusInfoDd"
                                           class="statusInfo"
                                           data-id=""/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="dialog-tabs-item">
                <div class="_formWrap">
                    <div class="_formBlock _thisNotes">
                        <div id="attach-container" class="_formNotes">
                        </div>
                        <div class="attachments _popupAttachments"></div>
                    </div>
                </div>
            </div>
            <div class="dialog-tabs-item">
                <div class="assignees-container _formWrap _innedFlexDiv"></div>
            </div>
        </div>
    </form>
</div>