<div class="form-holder">
    <form method="post" action="" id="editEmployeeForm" class="form">
        <fieldset>
            <div class="inner">

                <ul class="dialog-tabs">
                    <li>
                        <a class="active"
                           href="javascript:;">
                            Main
                        </a>
                    </li>

                    <li>
                        <a href="javascript:;"
                           class="">
                            Personal Information
                        </a>
                    </li>

                    <li>
                        <a href="javascript:;" id="jobTab"
                           class="">
                           Job
                        </a>
                    </li>

                    <li>
                        <a href="javascript:;">Assignees</a>
                    </li>

                    <li class="right withEndContract">
                        <span class="arrow">7</span>
                        <span class="endContractReasonList">End Contract</span>
                        <ul class="newSelectList">
                            <li>End Contract</li>
                            <li>Fired</li>
                            <li>Personal Issues</li>
                            <li>Other</li>
                        </ul>
                    </li>

                </ul>

                <div class="clearfix"></div>

                <div class="dialog-tabs-items">

                    <div class="dialog-tabs-item active">
                        <div class="left">
                            <div class="avatar">
                                <div class="upload">Edit
                                    <input type="file" value="Edit" id="inputImg">
                                </div>
                                <canvas id="avatar"
                                        width="140"
                                        height="140">
                                </canvas>
                            </div>
                            <div class="social">
                                <% if (model.social.FB){%><a class="facebook" href="<%=model.social.FB%>"></a><%}%>
                                <% if (model.social.LI){%><a class="linkedin" href="<%=model.social.LI%>"></a><%}%>
                                <% if (model.skype){%><a class="skype" href="skype:<%=model.skype%>?call"></a><%}%>
                            </div>
                        </div>

                        <div class="avatarInfoContainer employee">
                            <div class="half-block left">
                                <dl class="edit-employee-info">
                                    <dt>
                                        <label for="first">First Name</label>
                                    </dt>
                                    <dd><input type="text"
                                               class="blueback"
                                               id="first"
                                               value="<%=model.name.first%>"
                                               required maxlength="32"/>
                                    </dd>
                                    <dt>
                                        <label for="last">Last Name</label>
                                    </dt>
                                    <dd><input type="text"
                                               class="blueback"
                                               id="last"
                                               value="<%=model.name.last%>"
                                               required maxlength="32"/>
                                    </dd>
                                    <!--                <dt><label for="tags">Tags</label></dt><dd><input type="text" id="tags" value="<%=model.tags%>" maxlength="32"/></dd>-->
                                    <dt>
                                        <label for="dateBirth">Date of Birth</label>
                                    </dt>
                                    <dd><input type="text"
                                               name="dateBirth"
                                               id="dateBirth"
                                               value="<%=model.dateBirth%>"
                                               required readonly/>
                                    </dd>
                                    <dt>
                                        <label for="mobile">Personal Mobile</label>
                                    </dt>
                                    <dd>
                                        <input type="text"
                                               name="mobile"
                                               id="mobile"
                                               value="<%=model.workPhones.mobile%>"
                                               maxlength="20"/>
                                    </dd>
                                    <dt>
                                        <label for="personalEmail">Personal Email</label>
                                    </dt>
                                    <dd><input type="text"
                                               id="personalEmail"
                                               value="<%=model.personalEmail%>" required
                                               maxlength="48"/>
                                    </dd>
                                    <dt>
                                        <label for="skype">Skype</label>
                                    </dt>
                                    <dd><input type="text"
                                               id="skype"
                                               value="<%=model.skype%>"
                                               maxlength="32"/>
                                    </dd>
                                    <dt>
                                        <label for="LI">LinkedIn</label>
                                    </dt>
                                    <dd><input type="text"
                                               id="LI"
                                               value="<%=model.social.LI%>"
                                               placeholder="LinkedIn"
                                               maxlength="256"/>
                                    </dd>
                                    <dt>
                                        <label for="LI">Facebook</label>
                                    </dt>
                                    <dd><input type="text"
                                               id="FB"
                                               value="<%=model.social.FB%>"
                                               placeholder="Facebook"
                                               maxlength="256"/>
                                    </dd>
                                    <dt>
                                        <label for="relatedUsersDd">Related User</label>
                                    </dt>
                                    <dd>
                                        <a id="relatedUsersDd"
                                           data-id="<%=model.relatedUser?model.relatedUser._id:''%>"
                                           class="current-selected"
                                           href="javascript:;"><%=model.relatedUser?(model.relatedUser.login):'Select'%>
                                        </a>
                                    </dd>


                                </dl>
                            </div>

                            <div class="half-block left">
                                <dl class="edit-employee-info">
                                    <dt>
                                        <label>Job Position</label>
                                    </dt>
                                    <dd>
                                        <span id="jobPosition" data-id="<%=model.jobPosition ? model.jobPosition._id: ''%>"><%=model.jobPosition.name%></span>
                                    </dd>
                                    <dt>
                                        <label>Department</label>
                                    </dt>
                                    <dd>
                                        <span id="department"  data-id="<%=model.department ? model.department._id: ''%>"><%=model.department.departmentName%></span>
                                    </dd>
                                    <dt>
                                        <label>Manager</label>
                                    </dt>
                                    <dd>
                                        <span id="manager" data-id="<%=model.manager ? model.manager._id: null%>"><%=model.manager ? model.manager.fullName : ""%></span>
                                    </dd>
                                    <dt>
                                        <label>Job Type</label>
                                    </dt>
                                    <dd>
                                        <span><%=model.jobType ? model.jobType : ""%></span>
                                    </dd>

                                    <dt>
                                        <label for="sourceDd">Source </label>
                                    </dt>
                                    <dd>
                                        <a id="sourceDd"
                                           data-id="<%=model.source?model.source:''%>"
                                           class="current-selected"
                                           href="javascript:;"><%=model.source?(model.source):'Select'%>
                                        </a>
                                    </dd>

                                    <dt>
                                        <label for="workEmail">Work Email</label>
                                    </dt>
                                    <dd>
                                        <input type="text" id="workEmail" value="<%=model.workEmail%>" required
                                               maxlength="48"/>
                                    </dd>
                                    <dt>
                                        <label for="phone">Work Phone</label>
                                    </dt>
                                    <dd>
                                        <input type="text"
                                               name="phone"
                                               id="phone"
                                               value="<%=model.workPhones.phone%>"
                                               required maxlength="32"/>
                                    </dd>
                                </dl>
                            </div>

                            <div class="clearfix"></div>

                            <div class="clearfix"></div>

                            <div class="cropImages form" style="display:none;">
                                <div class="formTitle">
                                    <h3 class="left">Crop Images</h3>

                                    <div class="clearfix"></div>
                                </div>
                                <br/>

                                <div class="image_input" style="float: left;margin-right: 20px;"></div>
                                <img class="image_output"/>

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>


                    <div class="dialog-tabs-item">

                        <div>
                            <div class="formTitle left">
                                <h3 class="left">Citizenship &amp; Other Info</h3>

                                <div class="clearfix"></div>
                            </div>
                            <div class="half-block left">
                                <dl class="edit-employee-info">
                                    <dt><label for="nationality">Nationality</label></dt>
                                    <dd>
                                        <a id="nationality" data-id="<%=model.nationality?model.nationality:''%>"
                                           class="current-selected" href="javascript:;"><%=model.nationality?(model.nationality):'Select'%></a>
                                    </dd>
                                    <dt>
                                        <label for="identNo">Identification №</label>
                                    </dt>
                                    <dd><input type="text"
                                               name="identNo"
                                               id="identNo"
                                               value="<%=model.identNo%>"
                                               required maxlength="32"/>
                                    </dd>
                                    <dt>
                                        <label for="passportNo">Passport №</label>
                                    </dt>
                                    <dd><input type="text"
                                               name="passportNo"
                                               id="passportNo"
                                               value="<%=model.passportNo%>"
                                               required
                                               maxlength="32"/>
                                    </dd>
                                </dl>

                            </div>
                            <div class="half-block left">
                                <dl class="edit-employee-info">
                                    <dt><label for="bankAccountNo">Bank Account №</label></dt>
                                    <dd>
                                        <input type="text"
                                               id="bankAccountNo"
                                               name="bankAccountNo"
                                               value="<%=model.bankAccountNo?model.bankAccountNo:''%>">
                                    </dd>
                                    <dt><label for="otherId">Other Id</label></dt>
                                    <dd><input type="text"
                                               name="otherId"
                                               id="otherId"
                                               value="<%=model.otherId%>"
                                               required
                                               maxlength="32"/>
                                    </dd>
                                </dl>
                            </div>
                            <div class="clearfix">
                            </div>
                            <div class="formTitle left">
                                <h3 class="left">Contact Information</h3>

                                <div class="clearfix"></div>
                            </div>
                            <div class="half-block left">
                                <dl class="edit-employee-info">
                                    <dt>
                                        <label>Street</label>
                                    </dt>
                                    <dd>
                                        <input type="text"
                                               class="homeAddress"
                                               name="street"
                                               value="<%=model.homeAddress.street%>"
                                               maxlength="32"/></dd>
                                    <dt>
                                        <label>City</label>
                                    </dt>
                                    <dd>
                                        <input type="text"
                                               class="homeAddress"
                                               name="city"
                                               value="<%=model.homeAddress.city%>"
                                               maxlength="32"/>
                                    </dd>
                                    <dt>
                                        <label>State</label>
                                    </dt>
                                    <dd><input type="text"
                                               class="homeAddress"
                                               name="state"
                                               value="<%=model.homeAddress.state%>"
                                               maxlength="32"/>
                                    </dd>
                                </dl>

                            </div>
                            <div class="half-block left">
                                <dl class="edit-employee-info">
                                    <dt>
                                        <label>Zip</label>
                                    </dt>
                                    <dd>
                                        <input type="text"
                                               class="homeAddress"
                                               name="zip"
                                               value="<%=model.homeAddress.zip%>"
                                               maxlength="32"/>
                                    </dd>
                                    <dt>
                                        <label>Country</label>
                                    </dt>
                                    <dd><input type="text"
                                               class="homeAddress"
                                               name="country"
                                               value="<%=model.homeAddress.country%>"
                                               maxlength="32"/></dd>
                                </dl>
                            </div>
                            <div class="clearfix">
                            </div>
                            <div class="formTitle">
                                <h3 class="left">Status</h3>

                                <div class="clearfix"></div>
                            </div>
                            <div class="half-block left withPaddingLeft">
                                <dl class="edit-employee-info">
                                    <dt>
                                        <label for="genderDd">Gender</label>
                                    <dd>
                                        <a id="genderDd"
                                           data-id="<%=model.gender?model.gender:''%>"
                                           class="current-selected"
                                           href="javascript:;">
                                            <%=model.gender?(model.gender):'Select'%>
                                        </a>
                                    </dd>
                                    </dt>
                                </dl>

                            </div>
                            <div class="half-block left withPaddingLeft">

                                <dl class="edit-employee-info">
                                    <dt>
                                        <label for="maritalDd">Marital status</label>
                                    <dd>
                                        <a id="maritalDd"
                                           data-id="<%=model.marital?model.marital:''%>"
                                           class="current-selected"
                                           href="javascript:;">
                                            <%=model.marital?(model.marital):'Select'%>
                                        </a>
                                    </dd>
                                    </dt>
                                </dl>
                            </div>
                            <div class="clearfix"></div>
                            <div class="formTitle">
                                <h3 class="left">Resume</h3>

                                <div class="clearfix"></div>
                            </div>
                            <div class="attach-container">
                            </div>
                        </div>
                    </div>


                    <div class="clearfix"></div>

                    <div class="dialog-tabs-item" id="job">
                        <div class="clearfix"></div>

                        <table class="list" id="hireFireTable">
                            <thead>
                            <tr>
                                <th>Status</th>
                                <th>Date</th>
                                <th>Job position</th>
                                <th>Department</th>
                                <th>Manager</th>
                                <th>Job Type</th>
                                <th>Salary</th>
                                <th>Status info</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%_.each(model.hire, function(hire, key){ %>
                            <tr id="hire<%=key%>" data-id="<%=key%>" data-content="hire">
                                <td>Hired</td>
                                <td class="editable hireDate" data-id="hireDate"><%=model.hire[key].date%></td>
                                <td>
                                    <a id="jobPositionDd" class="current-selected" data-id="<%=model.jobPosition ? model.jobPosition._id : null%>" href="javascript:;">
                                    <%=model.hire[key].jobPosition ? model.hire[key].jobPosition.name : 'Select'%>
                                </a>
                                </td>
                             <td>
                                 <a id="departmentsDd" class="current-selected" data-id="<%=model.department ? model.department._id : null%>" href="javascript:;">
                                     <%=model.hire[key].department ? model.hire[key].department.departmentName : "Select"%>
                                 </a>
                             </td>
                      <td>
                          <a id="projectManagerDD" class="current-selected" data-id="<%=model.manager ? model.manager._id : null%>" href="javascript:;">
                              <%=model.hire[key].manager ? model.hire[key].manager.name.first + ' ' + model.hire[key].manager.name.last : "Select"%>
                          </a>
                      </td>
                      <td>
                          <a id="jobTypeDd" class="current-selected" data-id="<%=model.jobType?model.jobType:''%>" href="javascript:;">
                          <%=model.hire[key].jobType ? model.hire[key].jobType : "Select"%>
                      </a>
                         </td>
                      <td class="editable" data-id="salary"><%=model.hire[key].salary%></td>
                      <td>
                          <a id="statusInfoDd" data-id="<%=model.hire[key].info ? model.hire[key].info : ''%> " class="current-selected" href="javascript:;">
                              <%=model.hire[key].info && model.hire[key].info.length > 1 ? model.hire[key].info : "Select"%>
                          </a>

                      </td>
                  </tr>

                  <%if (model.fire && model.fire[key] && model.fire[key].date !==  model.hire[key].date) {%>
                  <tr id="fire<%=key%>" data-id="<%=key%>" data-content="fire">
                      <td>Fired</td>
                      <td class="editable fireDate" data-id="fireDate"><%=model.fire[key].date%></td>
                      <td><%=model.fire[key].jobPosition.name !== model.hire[key].jobPosition.name ? model.fire[key].jobPosition.name : ""%></td>
                      <td><%=model.fire[key].department.departmentName !== model.hire[key].department.departmentName ? model.fire[key].department.departmentName : ''%></td>
                      <td><%=model.fire[key].manager && model.hire[key].manager.name.last !== model.fire[key].manager.name.last ? model.fire[key].manager.name.first + ' ' + model.fire[key].manager.name.last : ""%></td>
                      <td><%=model.fire[key].jobType !== model.hire[key].jobType ? model.fire[key].jobType : ''%></td>
                      <td><%=model.fire[key].salary%></td>
                      <td><a id="statusInfoDd" data-id="<%=model.fire[key].info ? model.fire[key].info : ''%> " class="current-selected" href="javascript:;">
                          <%=model.fire[key].info ? model.fire[key].info : "Select"%>
                      </a></td>
                  </tr>
                  <% } %>
                  <% }); %>

                  </tbody>
                  </table>

                        <a id="update">Update</a>
                        </div>
          <div class="clearfix"></div>
          <div class="dialog-tabs-item">
              <div class="assignees-container"></div>
          </div>

          <div class="clearfix"></div>

      </div>
  </div>
</fieldset>
</form>
</div>
