<div class="form-holder">
    <fieldset>
        <div class="inner">
            <%var fulfillStatus = model.status ? model.status.fulfillStatus : 'NOT'; %>

            <ul class="_btnsBlockFixed">
                <li class="right">
                    <%if ((fulfillStatus !== 'NOT' && fulfillStatus !== 'NOA') || model.prepayment.date || model.stockReturns.date) {%>
                    <a id="viewJournalEntries"
                       class="icon-edit-list2 _viewEntries btn slim"
                       href="javascript:;" title="Journal Entries">
                    </a>
                    <%}%>
                    <button id="editButton" class="btn slim" title="Edit">
                        <span class="icon-pencil2"></span>
                    </button>
                    <button id="exportToPdf" class="btn slim" title="Download PDF">
                        <span class="icon-pdf"></span>
                    </button>
                    <button class="btn slim attach_file" id="attachment_file" title="Attach file">
                        <span class="icon-attach"></span>
                    </button>
                    <%var classNamePayment = model.workflow && model.workflow.status !== 'Done' ? 'activeItem' :
                    'passiveItem';%>
                    <%var classNameRefund = model.prepayment && model.prepayment.sum ? 'activeItem' : 'passiveItem';%>

                    <%if(model.workflow && model.workflow.status !== 'Done'){%>
                <li class="right fullfillOrderWrap icon-arrow-down2">
                    <a class="btn slim fullfillOrder" href="javascript:;">
                        <span>Payments</span>
                    </a>
                    <ul>
                        <li class="<%=classNamePayment%>">
                            <a class="prepay"><span class="fontBold">Make payment</span></a>
                        </li>
                        <li class="<%=classNameRefund%>">
                            <a class="refund"><span class="fontBold">Refund</span></a>
                        </li>
                    </ul>
                </li>
                    <%}%>
                    <%if(model.workflow && model.workflow.status !== 'Done'){%>
                    <button class="editButton btn slim" title="Go To Edit">
                        <span>Create Invoice</span>
                    </button>
                    <%}%>
                </li>
            </ul>
            <div class="clearfix"></div>
            <div class="_templateInvoiceWrp">
                <div id="templateDiv"></div>
                <div class="addingInfoWrp">
                    <div id="historyDiv" class="_pureTemplate"></div>
                    <div id="attachments" class="invoiceAttachments vvvvv"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </fieldset>

    <div class="clearfix"></div>
</div>