<div id="listTable">
    <% orders.forEach(function(order, index){ %>
    <% var currency = (order.currency && order.currency._id ?
                       order.currency._id.symbol :
                       '') %>

    <div data-id="<%=order._id%>"
        <% if (order.workflow && order.workflow.status === 'Done') { %>
            class="compactView notEditable"
        <% } else { %>
            class="compactView"
        <% } %>
    >
    <div class="checkboxRow willHidden">
        <label class="_customCHeckbox">
            <input type="checkbox"
                   value="<%=order._id%>"
                   <% if (!order.removable) { %>
                       class="checkbox notRemovable" disabled='disabled'
                   <% } else {%>
                       class="checkbox"
                   <% } %>
            />
            <span></span>
        </label>
    </div>
        <div class="compactRowWrap">
            <div class="compactRow">
                <div class="firstName _growed _mainTitle"><%- order.name%></div>
                <div class="_static willHidden"><%= order.supplier && order.supplier.name ?
                                            order.supplier.name.last :
                                            'Not selected'%>
                </div>
            </div>
            <div class="compactRow willHidden">
                <div class="_static"><%= order.orderDate %></div>
            </div>
            <div class="compactRow">
                <div class="total _static"><%= currency %> <%= (order.paymentInfo) ?
                                                        currencySplitter(order.paymentInfo.total) :
                                                        '0.00' %>
                </div>
                <div class="_growed willHidden"><%= order.workflow ?
                                            order.workflow.name:
                                            'Undefinded' %>
                </div>
            </div>
        </div>
    </div>
    <% }) %>
</div>