<div class="listWrap companiesList">
    <div class="listContentWrap">
        <div class="listContentTitle">
            <div class="dropDown">
                <a id="sortBy" class="icon icon-btn dropBtn">i</a>
                <ul>
                    <li class="oe_sortable" data-sort="fullName">
                        <span class="dropContent">Full Name</span>
                        <span class="fa fa-caret-up"></span>
                        <span class="fa fa-caret-down"></span>
                    </li>
                    <li class="oe_sortable" data-sort="address.country">
                        <span class="dropContent">Country</span>
                        <span class="fa fa-caret-up"></span>
                        <span class="fa fa-caret-down"></span>
                    </li>
                    <li class="oe_sortable" data-sort="email">
                        <span class="dropContent">Email</span>
                        <span class="fa fa-caret-up"></span>
                        <span class="fa fa-caret-down"></span>
                    </li>
                    <li class="oe_sortable" data-sort="phones.phone">
                        <span class="dropContent">Phone</span>
                        <span class="fa fa-caret-up"></span>
                        <span class="fa fa-caret-down"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div id="listContent" class="listContent">

        </div>
    </div>
    <div class="formContentWrap">
        <div class="formContentTitle">
            <span class="closeBtn"></span>
        </div>
        <div id="formContent" class="formContent">

        </div>
    </div>
</div>