<div id="listTable">
    <% companies.forEach(function(company, index){ %>
    <div class="compactView" data-id="<%=company._id%>">
        <div class="checkboxRow willHidden">
            <label class="_customCHeckbox">
                <input type="checkbox" value="<%=company._id%>" class="checkbox" />
                <span></span>
            </label>
        </div>
        <div class="compactRowWrap">
            <div class="compactRow">
                <div class="firstName _growed _mainTitle" data-key="name.first"><%- company.fullName %></div>
                <div class="country _static willHidden" data-key="address.country"><%= company.address.country %></div>
            </div>
            <div class="compactRow">
                <div class="email _growed" data-key="email"><%= company.email %></div>
                <div class="phone _static willHidden" data-key="phones.phone"><%= company.phones.phone %></div>
            </div>
        </div>
    </div>
    <% }) %>
</div>
