<table id="listTable">
    <% companies.forEach(function(company, index){ %>
    <tr class="compactView" data-id="<%=company._id%>">
        <td class="checkboxRow">
            <label>
                <input type="checkbox" value="<%=company._id%>" class="checkbox" />
            </label>
        </td>
        <td>
            <div class="compactRowWrap">
                <div class="compactRow">
                    <div class="firstName" data-key="name.first"><%- company.fullName %></div>
                    <div class="country" data-key="address.country"><%= company.address.country %></div>
                </div>
                <div class="compactRow">
                    <div class="email" data-key="email"><%= company.email %></div>
                    <div class="phone" data-key="phones.phone"><%= company.phones.phone %></div>
                </div>
            </div>
        </td>
    </tr>
    <% }) %>
</table>