<div class="form-holder _newForm">
    <form method="post" id="createPaymentForm">
        <h2 class="_dialogMainTitle"><%=title || 'Create Payment'%></h2>
        <div class="_formWrap _enlargedItemMargin">
            <div class="_formBlock _equal">
                <div class="_animateInputBox">
                    <span class="_staticLabel">Supplier</span>
                    <%if(invoice && invoice.supplier && invoice.supplier._id){%>
                    <span id="supplierDd"
                          class="_staticInfo"
                          data-id="<%=invoice.supplier._id%>">
                            <%=invoice.supplier.name.first + ' ' + invoice.supplier.name.last%></span>
                    <%} else {%>
                    <span id="supplierDd" class="_staticInfo">Nan</span>
                    <%}%>
                </div>
                <%if (prepayment) {%>
                <div id="prepaidAmountDd" class="_animateInputBox <%=currencyClass(currency._id)%>">
                    <input type="text"
                           name="paidAmount"
                           class="_animate"
                           id="prepaidAmount"
                           maxlength="10"
                           value="<%=invoice.paymentInfo ? invoice.paymentInfo.total - paymentsSum : 0%>">
                    <label class="_animate" for="prepaidAmount">Prepaid Amount</label>
                </div>
                <%} else {%>
                <div class="_animateInputBox <%=currencyClass(currency._id)%>" id="paidAmountDd" >
                    <input type="text"
                           name="paidAmount"
                           class="_animate"
                           id="paidAmount"
                           maxlength="10"
                           value="<%=invoice.paymentInfo ? invoice.paymentInfo.balance : 0%>"
                           required/>
                    <label class="_animate" for="paidAmount">Paid Amount</label>
                </div>
                <%}%>
                <div class="_animateSelectBox _additionalInputWrap">
                    <span class="_selectTitle">Bank Expenses</span>
                    <div id="bankExpensesAccount"
                         class="_newSelectListWrap _bankExpensesAccount">
                        <a id="bankExpensesAccountDd"
                           class="current-selected"
                           href="javascript:;">Select Account</a>
                    </div>
                    <div id="bankExpensesDd"
                         class="_additionalInput <%=currencyClass(currency._id)%>">
                        <input type="text"
                               id="bankExpenses"
                               name="paidAmount"
                               placeholder="Amount"
                               maxlength="10"
                               required
                               value=""/>
                    </div>
                </div>
                <div id="overPayment" class="hidden _additionalInputWrap">
                    <div class="_animateSelectBox" id="overPaymentAccount">
                        <span class="_selectTitle">Over Payment Difference</span>
                        <div class="_newSelectListWrap">
                            <a id="overPaymentAccountDd"
                               class="current-selected"
                               href="javascript:;">Select</a>
                        </div>
                    </div>
                    <div id="overPaymentDiffDd"
                         class="_additionalInputWrap <%=currencyClass(currency._id)%>">
                        <input type="text"
                               name="paidAmount"
                               id="overPaymentDiff"
                               class="_animate"
                               maxlength="10"
                               value=""
                               required
                               readonly/>
                    </div>
                </div>
            </div>
            <div class="_formBlock _equal">
                <div class="_animateInputBox">
                    <span class="_staticLabel">Payment Date</span>
                    <input id="paymentDate"
                           class="_animate extrainfo"
                           type="text"
                           placeholder="Select Payment Date"
                           name="paymentDate"
                           required>
                </div>
                <div class="_animateInputBox">
                    <span class="_staticLabel">Source Document</span>
                    <span class="_staticInfo"
                          id="paymentRef"
                          data-id="<%=invoice._id%>"><%=invoice.name%></span>
                </div>
                <div class="_animateSelectBox">
                    <span class="_selectTitle">Currency</span>
                    <div class="_newSelectListWrap">
                        <a id="currencyDd"
                           class="current-selected"
                           data-id="<%= currency && currency._id ? currency._id : null%>"
                           href="javascript:;">
                            <%= currency ? currency.name : ''%>
                        </a>
                    </div>
                </div>
                <div class="_animateSelectBox">
                    <span class="_selectTitle">Bank account</span>
                    <div class="_newSelectListWrap">
                        <a id="paymentMethod"
                           class="current-selected"
                           href="javascript:;">Select Bank account</a>
                    </div>
                </div>
                <div class="_animateInputBox" id='journalDiv'>
                    <span class="_staticLabel">Account</span>
                    <div class="_staticInfo" id="account"></div>
                </div>
            </div>
            <div id="differenceAmountContainer" class="half-block left hidden">
                <dt><label>Difference Amount</label></dt>
                <dd class="dollar"><span id="differenceAmount"></span></dd>
            </div>
        </div>
    </form>
</div>