<div class="form-holder">
    <form method="post" action="" class="form">
        <fieldset>
            <div class="inner">
                <div class="topInputHolder">
                    <h2>Payment</h2>
                </div>
                <div class="half-block left">
                    <dl class="opp-info">
                        <dt><label for="supplierDD">Supplier</label></dt>
                        <dd>
                            <%if(model && model.supplier && model.supplier._id){%>
                            <a id="supplierDd" class="" href="javascript:;"
                               data-id="<%=model.supplier._id%>"><%=model.supplier.fullName%></a>
                            <%} else {%>
                            <a id="supplierDd" class="" href="javascript:;">Select</a>
                            <%}%>
                        </dd>
                        <dt>
                            <label for="paidAmount">Paid Amount</label>
                        </dt>
                        <dd>
                            <input type="text" name="paidAmount" id="paidAmount" maxlength="10"
                                   value="<%=model.paidAmount ? model.paidAmount : 0%>" readonly/>
                            <span>€</span>
                        </dd>
                        <dt>
                            <label for="paymentMethod">Payment Method
                            </label>
                        </dt>
                        <dd>
                            <a id="paymentMethod" class="current-selected" href="javascript:;"><%=model.paymentMethod.name%></a>
                        </dd>
                    </dl>
                </div>
                <div class="half-block left">
                    <dl class="opp-info">
                        <dt><label for="paymentDate">Date</label></dt>
                        <dd><input id="paymentDate" class="extrainfo" type="text" name="paymentDate" value="<%=model.date%>" readonly/></dd>
                        <dt><label for="paymentRef">Payment Ref</label></dt>
                        <dd>
                            <input type="text" name="paymentRef" id="paymentRef" maxlength="20"
                                   value="<%=model.invoice.name%>" readonly/>
                        </dd>
                    </dl>
                </div>
                <div id="differenceAmountContainer" class="half-block left hidden">
                    <dt><label>Difference Amount</label></dt>
                    <dd><span id="differenceAmount"></span></dd>
                </div>
            </div>
        </fieldset>
    </form>
</div>