<table class="list2">
    <colgroup>
        <col width="15%">
        <col width="30%">
        <col width="17%">
        <col width="10%">
        <col width="13%">
        <col width="10%">

    </colgroup>
    <thead>
    <tr class="productListItemsColumns">
        <th data-sort="Product">
            Product
        </th>
        <% if (forSales) {%>
        <th data-sort="jobs">
            Job
        </th>
        <% } else {%>
        <th data-sort="description">
            Description
        </th>
        <% } %>
        <th data-sort="quantity">
            Quantity
        </th>
        <th data-sort="unitPrice">
            Price
        </th>
        <th data-sort="taxes">
            Taxes
        </th>
        <th data-sort="amount">
            Amount
        </th>
    </tr>
    </thead>
    <tfoot>
    <tr></tr>
    </tfoot>
    <tbody id="productList">
    <%if(!notAddItem){%>
    <tr>
        <td colspan="6" class="addProductItem">
            <a href="javascript:;">Add an item</a>
        </td>
    </tr>
    <%}%>
    <tr>
        <td colspan="6" class="invisible_border">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="6" class="invisible_border">&nbsp;</td>
    </tr>
    </tbody>
</table>
<div class="clearfix"></div>
<div id="totalAmountContainer" class="half-block right">

</div>

