<% collection.forEach(function(journalEntry, index){ %>
<tr data-index="<%= index %>" data-id="<%=journalEntry._id%>">
    <td class="notForm centerCell"><input type="checkbox" value="<%=journalEntry._id%>" class="checkbox"/></td>
    <td class="centerCell"><%=index + 1 %></td>
    <td><%=journalEntry.date%></td>
    <td><%=(journalEntry.journal && journalEntry.journal.name) ? journalEntry.journal.name : ''%></td>
    <td><%=journalEntry.debit ? journalEntry.debit : ''%></td>
    <td><%=journalEntry.credit ? journalEntry.credit : ''%></td>
</tr>
<% }) %>