<!--<div class="scroll-x">-->
    <table class="kanban opp">
        <tbody>
            <tr>
                <% workflowsCollection.forEach(function(workflow, index){ %>
                <td class="column" data-index="<%=index%>" data-status="<%=workflow.status%>" data-name="<%=workflow.name%>" data-id="<%=workflow._id%>">
                    <div class="columnNameDiv <%=workflow.name.toLowerCase()%>">
                      <h2 class="columnName">
						<span class="text"><%=workflow.name%></span>
						<span class="fold-unfold">8</span>
					  </h2>
                    </div>
                </td>
                <% }) %>
            </tr>
        </tbody>
    </table>
<!--</div>-->
